[2017-02-09 17:00] evandam commented on #968
Hi @willingc

Here's the log after I try running Jupyterhub with the `notebook_dir` and `default_url` set as above:
[code]

[2017-02-09 18:34] willingc commented on #968
@evandam Thanks for the additional debug output.

@minrk When you have time will you take a look at this as I'm not sure if this is a configuration issue or would be resolved by #925. Thanks!

[2017-02-09 21:13] jai11 opened #979 "As a developer wanted to know , Why we need jupyter terminal"
Hi! Thanks for using JupyterHub.

If you are reporting an issue with JupyterHub:

- Please use the [GitHub issue](https://github.com/jupyterhub/jupyterhub/issues)
  search feature to check if your issue has been asked already. If it has,
  please add your comments to the existing issue.

- Where applicable, please fill out the details below to help us troubleshoot
  the issue that you are facing.

[2017-02-09 21:13] jai11 commented on #979
As a developer wanted to know why jupyter terminal will be required.

Ans what are the use cases of it.

[2017-02-09 22:17] willingc commented on #979
Hi @jai11,

I'm not sure that I understand your specific question. It seems as if you are asking how to secure JupyterHub when used on a network. Here's the security section from the documentation: https://jupyterhub.readthedocs.io/en/latest/getting-started.html#security

[2017-02-10 07:39] rsinha25 opened #981 "Hub doesn't source /etc/profile for notebooks/lab spawned by it."
I am using the default spawner with JupyterHub and it does not seem to be loading the /etc/profile. Is there some setting that needs to be added to the hub config file? Opening Notebooks by default loads the /etc/profile properly.

[2017-02-10 08:24] rsinha25 commented on #946
Hi, closing this. It was an issue with lab.
Thanks.

[2017-02-10 08:24] #946 closed

[2017-02-10 14:04] funnelandhose opened #982 "Error 400, can't connect to the kernel"
Hello!

I've been checking out the other threads about this issue, but none of the answers seem to work for me...

I have apache running and it works when using http, but https with shibboleth is required in my system, which works so far.
I've tried as well nginx, but I can't use shibboleth here, but https works fine with sudospawner.

So, when using apache with shibboleth, https works fine till t

[2017-02-11 04:46] jai11 commented on #979
Thanks ,

My question was about the uses of jupyter terminal as a user of Jupyter .

Why I need jupyter terminal. What are the use cases or conditions where I really need terminal to use.

As might the jupyter is giving you a feature a terminal one. So jupyter team have thought of the use cases around it , why really a user needs it.

[2017-02-11 05:47] bla123454321 commented on #810
I am using pam_mount to connect to a cifs mount and it works very well when I use `pampylho` instead of `pamela`. The resources are mounted to "/home/$user/mnt".

Unfortunately, I still get a problem when multiple users (more than 1) want to connect to JupyterHub. The second user who wants to connect always gets a "invalid username or password" message. First one works (and it doesn't matter who i

[2017-02-12 03:06] remidebette commented on #367
https://github.com/jupyterhub/jupyterhub/issues/219

[2017-02-12 03:07] remidebette commented on #219
@goulou Your solution works fine for me so I will just go for it

Thank you!

[2017-02-13 13:18] minrk commented on #981
The default behavior of the Spawner is to `exec jupyterhub-singleuser` which does not initialize a shell. Right now, this can be changed to instantiate a shell by changing `c.Spawner.cmd` to point to a script, such as:

[code]

[code]

but we could also expose options to instantiate a shell in the LocalProcessSpawner.

[2017-02-13 14:29] minrk commented on #979
@jai11 are you referring to the terminal you see in the notebook web interface? This is useful when the notebook server is the only access point for a given environment. It lets you run shell commands more conveniently than in the notebook, such as `git`, `vi`, etc. This is the same reason there is the plain text editor as well.

If you want to force disconnects, the best way is to restart the use

[2017-02-13 14:37] jai11 commented on #979
Thanks Minsk as always..

Just wanted to make sure any other use case apart from OS commands..  We require Jupiter terminal..

[2017-02-13 14:41] #979 closed

[2017-02-13 16:54] yuvipanda opened #985 "cookie_id column in users table should be NOT NULL and UNIQUE"
**How to reproduce the issue**

Accidentally delete the jupyterhub database, and when recreating it from logs make cookie_id for more than one user be empty or the same dummy value.

**What you expected to happen**

The db schema complains, telling me 'nuh-uh'.

**What actually happens**

All users who have the same cookie_id value are redirected to the notebook of the user with the lowest id amon

[2017-02-13 17:10] yuvipanda opened #986 "Full value of cookie_secret not used as cookie_secret"
**How to reproduce the issue**

Changing the cookie_secret and restarting the hub process should log all users out (when their single-user servers are not running). So changing a random character towards the end of the cookie_secret should help.

**What you expected to happen**

Users are logged out.

**What actually happens**

No users are logged out, and everyone seems to continue to be logged i

[2017-02-13 17:10] yuvipanda commented on #986
I looked through the source code of tornado and can't seem to figure out if this is really happening (it just seems to be using a normal hmac value).

[2017-02-13 20:57] mrinmoyprasad commented on #963
Sorry for the late reply. Here is a screenshot of the error received. Unfortunately, I do not have the notebook, as I created another JupyterHub server and terminated the previous one.

Let me know if it helps

Thanks
Mrinmoy
![image001](https://cloud.githubusercontent.com/assets/8716532/22903019/284b99c2-f205-11e6-9ec1-667a6a0e005e.png)

[2017-02-13 21:05] willingc commented on #323
The current stable version is [JupyterHub 0.7.2](https://github.com/jupyterhub/jupyterhub/releases/tag/0.7.2). I'm going to close this issue. Please feel free to open a new issue if you see similar behavior with release 0.7.2. Thank you.

[2017-02-13 21:05] #323 closed

[2017-02-13 21:10] willingc commented on #401
Reviewed this issue https://github.com/sagemathinc/smc/issues/159#issuecomment-262465870 on SageMathCloud. It looks as if this is now working. I'm going to go ahead and close this issue. @williamstein please feel free to request reopening if there is more work to be done here.

[2017-02-13 21:10] #401 closed

[2017-02-13 21:14] willingc commented on #526
Let's go ahead and test this when implementing #986.

[2017-02-13 21:18] willingc commented on #558
We now have additional tests for usernames ([example](https://github.com/jupyterhub/jupyterhub/blob/18c65453fd8cbae4f9a86a18f7b6dad3719ce9aa/jupyterhub/tests/test_proxy.py#L138)). I'm going to close this issue.

[2017-02-13 21:18] #558 closed

[2017-02-13 21:27] willingc commented on #647
Closing this issue as resolved.

[2017-02-13 21:27] #647 closed

[2017-02-13 21:31] willingc commented on #735
I'm going to close as I believe this was addressed in https://github.com/jupyterhub/jupyterhub/pull/840.

[2017-02-13 21:31] #735 closed

[2017-02-13 21:37] willingc commented on #664
Closing as resolved.

[2017-02-13 21:37] #664 closed

[2017-02-13 22:24] willingc commented on #755
Hi! I'm going to close this issue. If you are having the same question with our most recent release 0.7.2, please file a new issue. Thanks! :sunny:

[2017-02-13 22:24] #755 closed

[2017-02-13 23:09] willingc commented on #759
Closing this issue as it's been inactive for several months. Please feel free to open a new issue at the [jupyter/help repo](https://github.com/jupyter/help) or reopen this issue. Thanks! :sunflower:

[2017-02-13 23:09] #759 closed

[2017-02-13 23:10] willingc commented on #742
Closing this issue as it's been inactive for several months. Please feel free to open a new issue at the [jupyter/help repo](https://github.com/jupyter/help) or reopen this issue. Thanks! :sunflower:

[2017-02-13 23:10] #742 closed

[2017-02-13 23:10] willingc commented on #760
Closing this issue since it appears to be resolved. Please feel free to leave an issue at [jupyter/help](https://github.com/jupyter/help) or leave a comment requesting this issue be reopened. Thanks to all!

[2017-02-13 23:10] #760 closed

[2017-02-13 23:11] willingc commented on #781
Closing this issue as it's been inactive for several months. Please feel free to open a new issue at the [jupyter/help repo](https://github.com/jupyter/help) or reopen this issue. Thanks! :sunflower:

[2017-02-13 23:11] #781 closed

[2017-02-13 23:12] willingc commented on #790
Closing this issue as it's been inactive for several months. Please feel free to open a new issue at the [jupyter/help repo](https://github.com/jupyter/help) or reopen this issue. Thanks! :sunflower:

[2017-02-13 23:12] #790 closed

[2017-02-13 23:13] willingc commented on #786
Closing this issue since it appears to be resolved. Please feel free to leave an issue at [jupyter/help](https://github.com/jupyter/help) or leave a comment requesting this issue be reopened. Thanks to all!

[2017-02-13 23:13] #786 closed

[2017-02-13 23:13] willingc commented on #787
Closing this issue as it's been inactive for several months. Please feel free to open a new issue at the [jupyter/help repo](https://github.com/jupyter/help) or reopen this issue. Thanks! :sunflower:

[2017-02-13 23:13] #787 closed

[2017-02-13 23:14] willingc commented on #798
Closing this issue as it's been inactive for several months. Please feel free to open a new issue at the [jupyter/help repo](https://github.com/jupyter/help) or reopen this issue. Thanks! :sunflower:

[2017-02-13 23:14] #798 closed

[2017-02-13 23:15] willingc commented on #803
Closing this issue since it appears to be resolved. Please feel free to leave an issue at [jupyter/help](https://github.com/jupyter/help) or leave a comment requesting this issue be reopened. Thanks to all!

[2017-02-13 23:15] #803 closed

[2017-02-13 23:16] willingc commented on #806
Closing this issue as it's been inactive for several months. Please feel free to open a new issue at the [jupyter/help repo](https://github.com/jupyter/help) or reopen this issue. Thanks! :sunflower:

[2017-02-13 23:16] #806 closed

[2017-02-13 23:17] willingc commented on #810
@minrk Thoughts?

[2017-02-13 23:19] willingc commented on #841
Closing this issue as it's been inactive for several months. Please feel free to open a new issue at the [jupyter/help repo](https://github.com/jupyter/help) or reopen this issue. Thanks! :sunflower:

[2017-02-13 23:19] #841 closed

[2017-02-13 23:21] willingc commented on #856
@parente I'm going to close this.

I recommend that users continue discussion or questions by opening a new issue in the https://jupyterhub/jupyterhub-example-kerberos repo.

[2017-02-13 23:21] #856 closed

[2017-02-13 23:22] willingc commented on #903
Closing this issue as it's been inactive for several months. Please feel free to open a new issue at the [jupyter/help repo](https://github.com/jupyter/help) or reopen this issue. Thanks! :sunflower:

[2017-02-13 23:22] #903 closed

[2017-02-13 23:30] willingc commented on #913
@minrk Should we close this issue as "out of scope" for JupyterHub since it is related to ambari and python2? Comments could still be added in the closed issue.

[2017-02-13 23:48] willingc commented on #918
@yxqd Are you still having an issue with this? If so, please try reinstalling configurable-http-proxy and nodejs. Thanks!

[2017-02-14 00:01] willingc commented on #947
Hi @sudipto84goswami,

Here's a link to documentation about how you could create a custom Spawner to meet your needs: https://jupyterhub.readthedocs.io/en/latest/spawners.html#writing-a-custom-spawner

Feel free to ask for help on the Gitter channel if you choose to do so. I'm going to close this issue as resolved.

[2017-02-14 00:01] #947 closed

[2017-02-14 00:08] willingc commented on #963
Hi @mrinmoyprasad,

Thanks for the update. Although I can't be completely sure since you don't have the notebook still, I agree with Min that the notebook is not saved as valid JSON. One way that this happens is if the user saves the notebook using the browser's save feature instead of using Jupyter's user interface for saving.

I'm going to close this issue. If you see it again, please let us kno

[2017-02-14 00:08] #963 closed

[2017-02-14 12:02] #985 closed

[2017-02-14 13:02] minrk commented on #913
@willingc yes, thanks

[2017-02-14 13:02] #913 closed

[2017-02-14 13:38] minrk commented on #986
I can update the code to use 32B easily enough (#988). But what's strange to me is that changing a very long cookie secret *does* log users out in my experience. The whole secret is indeed taken into account, even though it's wasteful (#526).

[2017-02-14 15:28] yxqd commented on #918
This was solved as you suggested. Thank you!

On Monday, February 13, 2017, Carol Willing <notifications@github.com>
wrote:

[2017-02-14 15:33] #918 closed

[2017-02-15 07:42] jaketbouma commented on #903
Apologies, had to turn to AD to get this going and left the github config behind.

[2017-02-15 10:02] raemounz commented on #379
May I know which location to edit the jupyter_notebook_config.py? I was able to embed the login in iFrame (after editing jupyterhub_config.py) but after user logs in, I got the content-security-policy issue.  I edited the jupyter_notebook_config.py inside /root/.jupyter.

[2017-02-15 10:08] shusson commented on #379
It depends on how you run your notebook server, by default it's `~/.jupyter`. See http://jupyter.readthedocs.io/en/latest/projects/jupyter-directories.html for more info

[2017-02-15 15:33] toolkit101 opened #990 "Accessibility Issue"
Hi! Thanks for using JupyterHub.

If you are reporting an issue with JupyterHub:

- Please use the [GitHub issue](https://github.com/jupyterhub/jupyterhub/issues)
  search feature to check if your issue has been asked already. If it has,
  please add your comments to the existing issue.

- Where applicable, please fill out the details below to help us troubleshoot
  the issue that you are facing.

[2017-02-15 20:29] willingc commented on #990
Hi @toolkit101,

Thank you for reporting this issue. We're sorry that this is not currently working with TTS. Thank you so much for mentioning the tool that you would use to do speech.

I'm going to go ahead and also open this issue on the notebook repo and JupyterLab repo as well. I will also mention this at our weekly developer meeting that are held on Tuesdays.

[2017-02-15 20:31] willingc commented on #990
FYI @ellisonbg @minrk

[2017-02-16 10:36] minrk commented on #990
Testing tools for TTS integration would be extremely helpful. Does anybody have experience with these?

[2017-02-16 15:48] willingc commented on #990
Here's a good starting point resource: https://pages.18f.gov/accessibility/tools/

[2017-02-16 17:17] SteveFelker opened #991 "Errors getting JupyterHub to launch"
Hi All,

  Hoping you can help me with errors getting JupyterHub to launch.  I have compiled and installed a fresh copy of Python3.6 on RHEL 6, then used pip to install jupyterhub (version jupyterhub-0.7.2).  When I try to start JupyterHub as root, I get the following error:

# jupyterhub
[I 2017-02-15 17:57:57.687 JupyterHub app:745] Writing cookie_secret to /usr/local/bin/jupyterhub_cookie_secre

[2017-02-16 17:36] ellisonbg commented on #990
Also, the IBM folks said that had teams that could help with that...maybe
ping Gino about that?

On Thu, Feb 16, 2017 at 7:48 AM, Carol Willing <notifications@github.com>
wrote:

--
Brian E. Granger
Associate Professor of Physics and Data Science
Cal Poly State University, San Luis Obispo
@ellisonbg on Twitter and GitHub
bgranger@calpoly.edu and ellisonbg@gmail.com

[2017-02-16 19:04] ponomarevsy commented on #742
After changing the private port to
[code]
my public port suddenly started to work!!! This is a major breakthrough. Now I need to figure out how to run jupyterhub as sudo so that other members of our team will be able to see files in their home folders.

[2017-02-16 21:02] ponomarevsy commented on #742
It works for other users if I run Jupyterhub as sudo. Thank you for time and effort!!!

[2017-02-16 21:46] willingc commented on #991
Hi @SteveFelker,

We would be happy to help. If you could post the output of `jupyter troubleshoot` after running it from the command line, that would help us. Thanks.

[2017-02-16 21:54] SteveFelker commented on #991
Thank you!  Here is the output from `jupyter troubleshoot`:

# jupyter troubleshoot
Traceback (most recent call last):
  File "/usr/bin/jupyter-troubleshoot", line 11, in <module>
    sys.exit(main())
  File "/usr/lib/python2.6/site-packages/jupyter_core/troubleshoot.py", line 59, in main
    environment_data = get_data()
  File "/usr/lib/python2.6/site-packages/jupyter_core/troubleshoot.py", line

[2017-02-17 01:08] willingc commented on #991
Thanks @SteveFelker. It looks like you are getting a conflict between Python 2.6 (see troubleshooting output) and Python 3.6 (see original issue output). JupyterHub only runs on recent versions of Python 3. What were the specific commands that you used when installing Python and then JupyterHub?

I would recommend trying:

`python3 -m pip install -U jupyterhub`

[2017-02-17 04:06] digglife commented on #291
Removing the existing container works for me. Thanks!

[2017-02-17 15:48] SteveFelker commented on #991
Hi Carol,

  Yes, I see that now.  How strange.  I am having flashbacks to perl library paths!

I downloaded the Python 3.6.0 source directly from python.org.  I tried a plain configure and also a configure --enable-loadable-sqlite-extensions.  Normal make, and then a make installalt so it ended up in /usr/local/bin.

For jupyterhub, I used:
  python3.6 -m pip install jupyterhub

I ran the command

[2017-02-17 16:09] SteveFelker commented on #991
Hi Carol,

  A quick update.  It appears that an older version jupyter was already installed on the original server.  I performed a clean installation of python (no configure options), jupyter, and jupyterhub on a different server.  jupyterhub still fails with the same error:

jupyterhub
[I 2017-02-17 09:06:04.648 JupyterHub app:745] Writing cookie_secret to /usr/local/bin/jupyterhub_cookie_secret

[2017-02-17 16:22] minrk commented on #991
@SteveFelker this is a common issue when building Python yourself. `sqlite3` is part of the standard library, and normally used by JupyterHub. However, if sqlite3 is not found, Python will build and install without this part of the stdlib instead of raising an error. The best thing to do is make sure that you have libsqlite3 when building Python. If you can't get stdlib sqlite3 to work, you can in

[2017-02-17 16:35] willingc commented on #991
Thanks @minrk. You beat me to this.

[2017-02-17 16:49] SteveFelker commented on #991
Thanks guys,
  Being new to python, how would I make sure that `sqlite3` is present and recognized, and if not, get it and enable it?  I see this folder: /usr/local/lib/python3.6/sqlite3, so I am inclined to believe it is at least partially installed.

  I attempted to install `pysqlite2` but got the following error:

python3.6 -m pip install pysqlite2
Collecting pysqlite2
  Could not find a versi

[2017-02-17 17:19] willingc commented on #991
What happens if you execute:

[code]

[2017-02-17 17:30] willingc commented on #991
You could also install the Anaconda distribution that includes Python 3.6 which would avoid having to build Python from source: https://www.continuum.io/downloads#linux

[2017-02-17 17:33] SteveFelker commented on #991
Not good:

python3.6 -m sqlite3 --version
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/runpy.py", line 183, in _run_module_as_main
    mod_name, mod_spec, code = _get_module_details(mod_name, _Error)
  File "/usr/local/lib/python3.6/runpy.py", line 142, in _get_module_details
    return _get_module_details(pkg_main_name, error)
  File "/usr/local/lib/python3.6/runpy.py", lin

[2017-02-17 17:49] willingc commented on #991
@SteveFelker Sorry I gave you the wrong command initially. Please try these:

[code]
or

[code]

[2017-02-17 17:55] SteveFelker commented on #991
Hi Carol,

  That worked better:

sqlite3 --version
3.6.20

which sqlite3
/usr/bin/sqlite3

find /usr -name sqlite3 -print
/usr/bin/sqlite3
/usr/lib64/python2.6/sqlite3          <-- could this be causing me a problem?
/usr/local/lib/python3.6/sqlite3

Steve

[2017-02-17 17:57] willingc commented on #991
I think what is happening is that the location of sqlite3 for python3 is not in your PATH. Adding it to the path might help.

[2017-02-17 18:15] minrk commented on #991
@SteveFelker sorry, that should have been `pip install pysqlite` not `pysqlite2`.

[2017-02-17 18:32] willingc commented on #991
@minrk The docs (and error message) on pysqlite say that Python3 is not supported. Message when running pip:

[code]

[2017-02-17 19:38] #526 closed

[2017-02-17 19:38] #986 closed

[2017-02-17 19:48] willingc commented on #982
Hi @funnelandhose,

Sorry about the delay in responding.

Are you using Ubuntu 14.04? [This comment](https://github.com/jupyterhub/jupyterhub/issues/219#issuecomment-242595818) as well as the thread it is in will likely help.

[2017-02-17 20:13] SteveFelker commented on #991
Yes Carol, you are correct.  I had previously tried to install pysqlite after pysqlite2 failed and got the same warning to use sqlite3.

As for my path, sqlite3 is in /usr/bin which is in my command path ($PATH).  I have no variable called $PYTHONPATH defined.  I put /usr/bin in it, but it didn't help.  I am guessing that $PYTHONPATH is for python libraries outside the default location (like with

[2017-02-17 20:49] willingc commented on #991
Please post output these commands:
[code]

For example on my system:

My $PATH contains `/usr/local/bin:/usr/bin` where python3 is found in `/usr/local/bin` and sqlite3 in `/usr/bin/sqlite3`. My $PYTHONPATH is empty.

[code]

[2017-02-18 00:14] SteveFelker commented on #991
Hi Carol,

My output up until trying to using sqlite3 in python is almost identical to yours.  My python is in /usr/local/bin, and sqlite3 is in /usr/bin.

echo $PATH
/usr/local/bin:/usr/local/sbin:/sbin:/bin:/usr/sbin:/usr/bin:/root/bin

echo $PYTHONPATH

which -a sqlite3
/usr/bin/sqlite3

sqlite3 --version
3.6.20

python3.6
Python 3.6.0 (default, Feb 16 2017, 10:46:02)
[GCC 4.4.7 20120313 (Red H

[2017-02-18 18:00] v3ss0n opened #992 "[Question] Is there real-time sharing support in Jupyterhub?"
Please feel free to close. I read a few years ago that this has been worked on. Jupyterhub have it now?

[2017-02-18 18:40] willingc commented on #992
Hi @v3ss0n,

You can refer to [this issue](https://github.com/jupyterhub/jupyterhub/issues/394) about the current state of notebook sharing and real time collaboration in a notebook.

[JupyterHub's roadmap](https://github.com/jupyter/roadmap/blob/master/jupyterhub.md) also gives additional information.

I'm going to close this as a duplicate of #394

[2017-02-18 18:40] #992 closed

[2017-02-18 19:06] v3ss0n commented on #992
thank you very much , so it is planned in 0.8 of jupyterhub ?

[2017-02-18 20:17] willingc commented on #992
Yes, as described in the roadmap. cc @minrk

[2017-02-20 09:43] minrk commented on #991
@willingc good catch, I hadn't seen that pysqlite doesn't support Python 3.

Then the issue really is to rebuild Python with sqlite support. Python will warn that it is not building sqlite, but it produces a lot of output during build, so it is easy to miss. Make sure you have the `sqlite-devel` (possibly sqlite3-devel) package installed before building Python, and save the Python build output so

[2017-02-20 09:46] minrk commented on #991
Conda can use environments, so you don't have to modify the existing install to install additional versions of packages in new environments. This includes Python itself. For instance, you should be able to do:

    conda create -n jupyterhub -c conda-forge jupyterhub

to install Python 3 and JupyterHub in a conda environment called `jupyterhub`. Then you should be able to launch JupyterHub with:

[2017-02-20 19:54] bloodymind opened #993 "The right Access to Jupyter"
Hi ,

i guess i'm the only who stacked on this :

![image](https://cloud.githubusercontent.com/assets/4992012/23139814/401765bc-f7a6-11e6-9ea2-c8c35a0cb8bc.png)

[2017-02-20 20:15] willingc commented on #993
Hi @bloodymind,

Would you mind clarifying your question? Also, what version of JupyterHub are you running? `jupyterhub --version`

Thanks!

[2017-02-20 20:26] willingc commented on #990
Hi @lbustelo, Do you have any suggestions for assistance on accessibility resources? Thanks.

[2017-02-20 21:08] kwotuveang3k4bk opened #994 "Share notebooks and data access between jupyterhub users"
I have a system with an increasing number of users analysing huge amounts of file based data within a set of jupyter notebooks. The data is located in the users home directories and is tracked with an Postgresql database, which basically acts as a global file system index for our data structure. Now the users want to collaborate and share their notebooks and data without the need of duplicating th

[2017-02-20 21:14] minrk commented on #994
Yes, [hubshare](https://github.com/jupyterhub/hubshare) is aiming for something along those lines, but it's still in planning stages.

[services](http://jupyterhub.readthedocs.io/en/latest/services.html) would be the place to start. JupyterHub has facilities for building and integrating additional web services for doing this kind of thing.

This could be provided at the single-user server level as

[2017-02-20 22:02] SteveFelker commented on #991
@minrk, thank you for the tips.  If possible, I would like to avoid using Conda, even with a different environment, because it is part of a package that we get from another company and can be upgraded or reinstalled, which would require me to keep reinstalling jupyterhub.  If that becomes the only option, I will deal with it, of course, but I would like to exhaust other options first.

I had insta

[2017-02-20 22:20] willingc commented on #991
Hi @SteveFelker,

@minrk There is an open bug on sqlite, Python3.6 and RHEL6 (https://bugs.python.org/issue29355).

A few things to try:

- Try building Python using the instructions in the Python Developers Guide (https://docs.python.org/devguide/index.html)
- Make sure to run `make clean` before rebuilding Python.
- If the above does not help, you could try to run `make altinstall` instead of `m

[2017-02-20 23:10] lbustelo commented on #990
I'll ask around, but our team is no longer handling accessibility for IBM.

Gino B.

[2017-02-20 23:45] SteveFelker commented on #991
@willingc,  I am not sure that my problem is the same as issue29355.  It appears that issue was resolved in sqlite3 version 3.7.4, so installed the latest version (3.17.0), replacing my old version (3.6.20), then I tried to recompile Python 3.6.0.  I got exactly the same compile error as before.

Steve

[2017-02-21 00:16] willingc commented on #991
See the code in the last link. It seems as if building against a newer version of sqlite should help.

https://github.com/pypa/manylinux/issues/90
https://github.com/pypa/manylinux/pull/93
https://github.com/pypa/manylinux/pull/93/commits/f8d94804838c00993700811cd8b50e6a10ab83da

[2017-02-21 03:29] animalize commented on #991
@SteveFelker , you may try to build CPython in this way:
http://stackoverflow.com/questions/26261080/compile-python-3-4-with-sqlite3
I installed SQLite 3.16.2 on a Debian-based system with tzot's method, no idea whether it will work on RHEL 6.

[2017-02-21 17:41] willingc commented on #990
Information from @parente during weekly dev meeting:

I’ve been out of the a11y space for a decade, but beyond automated testing, manual QA testing with NVDA for Windows or VoiceOver for Mac can be useful in revealing issues without paying a high cost for JAWS or other commercial screenreader options.

[2017-02-21 19:02] ryanlovett commented on #990
On March 6th, someone from [UC Berkeley's Web Accessibility Clinics](https://webaccess.berkeley.edu/evaluating/clinics) will review one of our hub instances. I can share details here and/or file separate bugs based on the review. One or two folks from the Jupyter dev team may be in attendance.

[2017-02-21 19:10] willingc commented on #990
@ryanlovett Thanks. I'll be up at Berkeley that week. Let me know if you need any help. Looking forward to seeing the results.

[2017-02-21 21:07] SteveFelker commented on #991
@willingc, I have already installed the latest version of sqlite3 (version 3.17.0), and I am getting the same errors trying to compile Python.  Which is why I mentioned above that I don't think issue 29355 is the cause.

@animalize, I am not having a problem with Python running the wrong version of sqlite3, I have only 1 version installed.  It's just refusing to include it in the build.

[2017-02-22 01:00] billgreenwald opened #995 "Launch a jupyterHub server while running a standard jupyter server"
Hi!

I currently have a jupyterHub server set up, as well as a local jupyter install that I can run via "jupyter notebook."

They both appear to use the same ".jupyter" directory in my home folder to store their settings.  To launch a jupyterHub server, I have to renamed my .jupyter directory, and then rename my .jupyter Hub directory to .jupyter.

Similarly, if I wish to launch a local server, I

[2017-02-22 02:43] animalize commented on #991
I removed old SQLite, then compiled & installed a new version of SQLite.
But it seems the old SQLite still stay in somewhere of my system, and CPython still try to link the old one during compilling.
I guess you are facing the same problem, otherwise you won't see "the same compile error as before". So try tzot's method in that stackoverflow question.

[2017-02-22 15:21] JoyMonteiro opened #996 "Redirect back to login page (PAM auth)"
Hi! Thanks for using JupyterHub.

I'm running jupyterhub 0.7.1, and I'm facing an issue similar to, but not the same as, some others have posted.

I'm using the vanilla configuration, with private port set to 10110 (following something similar posted in another issue), and public port set to 5010 (I tried values of 8010, 20202 also).

The hub is running on the same LAN as I am, and is listening on

[2017-02-22 15:29] SteveFelker commented on #991
@animalize, I was becoming tired of compiling things from source, so I just grabbed a pre-compiled copy of sqlist3.  It consisted of 1 file only: sqlite3.  There were no libraries, so I wouldn't even know what to change in my LD_RUN_PATH.  I gzipped the old version of sqlist3 so that nothing could find or use it, and put the new version in the same location (/usr/bin).  The new sqlite3 does work d

[2017-02-22 20:55] whitead opened #997 "JUPYTERHUB_SERVICE_PREFIX problem"
**How to reproduce the issue**

Add the [shared notebook as a service managed configuration example](https://github.com/jupyterhub/jupyterhub/tree/master/examples/service-notebook) to your jupyter configuration with the service name as `formgrader-class101`. Visit https://hub-url/services/formgrader-class101 and you'll see that `custom.css` and `custom.js` give 404s.

**What you expected to happen

[2017-02-23 10:01] funnelandhose commented on #982
Hi @willingc,

I didn't answer before because we have tried to reinstall the system.
Still doesn't work, this is the given error:

[code]

[2017-02-23 10:01] cschindlbeck opened #998 "Other users not able to log on to jupyterhub"
Hello,

i am trying to get jupyterhub working on a remote machine. I ssh'd to the machine and installed jupyterhub according to the instructions. I am able to log onto http://remote_pc_ip:8000/hub/login but my colleagues cant. The error says  ImportError: No module named 'ipython_genutils' but i checked and all required modules are installed on the remote machine. Is this a rights problem?
I launc

[2017-02-23 10:39] animalize commented on #991
@SteveFelker

Not this one, `sqlite3.h` is required for building CPython.

Anyway, it seems sqlite3_stmt_readonly() can be removed in CPython 3.6.1 ([issue29355](http://bugs.python.org/issue29355)), schedule:

- 3.6.1 candidate: 2017-02-27
- 3.6.1 final: 2017-03-13

If you don't mind using a release candidate, just wait a few days.
And [a topic FYI](http://stackoverflow.com/questions/6014332/issue

[2017-02-23 12:59] minrk commented on #998
When one user can login and others can't, especially if it's the user that is installing things, it is generally a filesystem permissions issue. You might check the permissions on the Python packages imported.

One thing to note is that I see you are using anaconda, but JupyterHub is running with the System Python in `/usr/local`. Is this intended? This is likely a PATH issue.

Check what you get

[2017-02-23 13:27] cschindlbeck commented on #998
Ok, so after doing `/usr/bin/python -m pip uninstall jupyterhub` i get

[code]

Now, `sudo jupyterhub` cant be found anymore. If i do `jupyterhub -f /etc/jupyterhub/jupyterhub_config.py
`
i get the error
`
Refusing to run JupyterHub with invalid cookie_secret_file. /var/log/jupyterhub_cookie_secret error was: [Errno 13] Permission denied: '/var/log/jupyterhub_cookie_secret'
`
If i set the rights t

[2017-02-23 14:10] minrk commented on #998
sudo clears the PATH for various reasons. You may want to use a launch script, such as:

[code]

Then you can:

    sudo bash launch-jupyterhub.sh

Or you could launch jupyterhub by absolute path:

    sudo /opt/anaconda/bin/jupyterhub

[2017-02-23 14:14] cschindlbeck commented on #998
ok, but i still get the error above when someone tries to log in besides me

[2017-02-23 14:17] cschindlbeck commented on #998
Ok but now i get an error

[code]
There seems to be something messed up in my configuration

[2017-02-23 15:04] minrk commented on #998
It should only need to be on the path for the jupyterhub user

[2017-02-23 20:19] willingc commented on #991
@animalize Thanks for following up. I did see the discussion on bugs.python.org about removing in 3.6.1. Thanks for your help here. :sunny:

@SteveFelker I would recommend using 3.6.1 either the release candidate or the final version.

I'm going to close this. If CPython 3.6.1 does not resolve this, please feel free to reopen. Thanks!

[2017-02-23 20:19] #991 closed

[2017-02-23 20:25] willingc commented on #982
@funnelandhose Thanks for the update. What node version is on the server that is not working? JupyterHub needs a recent version of node and some distros ship with an old version of node. See https://github.com/jupyterhub/jupyterhub#installation for installing a recent version of node on Ubuntu/Debian.

[2017-02-23 20:28] SteveFelker commented on #991
Will test compiling sqlite3 from source, and if that still doesn't help, I'll wait for python 3.6.1.

Thanks everybody for the help.

[2017-02-23 21:03] barrachri commented on #848
there is a way to disable the proxy in Jupyterhub ?

like overwriting the proxy_cmd ?

[2017-02-23 21:51] SteveFelker commented on #991
Not sure if this thread will take anything else since it's been closed, but I have an update that I'll try to post...

I grabbed the latest sqlite3 source and compiled it, then installed it in /usr/local/.
I then set my LD_LIBRARY_PATH to point to /usr/local:
export LD_LIBRARY_PATH=/usr/local/lib:/usr/local/include

Then I configured it using:
./configure --with-pydebug --enable-loadable-sqlite-ex

[2017-02-24 03:39] willingc commented on #991
Thanks @SteveFelker. Glad you are up and running. Thanks for passing along the details.

As a GitHub FYI, you can comment on closed issues as long as the maintainer has not locked the issue which prevents future comments. We don't typically lock our closed issues.

[2017-02-24 08:40] funnelandhose commented on #982
@willingc We had v4.8.0, but recently we tried installing 7.6 and still gave the same error.

We gonna try again ;)

Thanks for the help btw!

[2017-02-24 15:48] SteveFelker commented on #991
@willingc, well, I wouldn't say I'm up and running, but at least it isn't dying from library issues.  Now I have moved on to trying to figure out how to configure it so it actually starts.  Fortunately, it seems to be well documented, so I suspect that won't be too bad.  But if I run into trouble, I know where to come for help! :)
Steve

[2017-02-24 16:05] willingc commented on #991
Thanks @SteveFelker. Feel free to ask questions on the Gitter channel for JupyterHub too. If something is missing or confusing in the documentation, please leave us an issue (or PR :smile:) too since we're open to improving it for our users.

[2017-02-24 19:55] willingc commented on #994
Thanks @kwotuveang3k4bk for the feedback and @minrk for the responses.

I'm going to go ahead and close this issue as resolved, but I'm going to tag as reference.

[2017-02-24 19:55] #994 closed

[2017-02-24 19:57] willingc commented on #996
Hi @JoyMonteiro,

Sorry for the delay in responding. I've been traveling this week.

Would you mind upgrading to JupyterHub release 0.7.2 and see if the same issue is happening. Thanks.

[2017-02-24 19:59] willingc commented on #997
Thanks @whitead. Do you want to submit a PR or have us make the change?

[2017-02-24 20:09] willingc opened #999 "Create a gallery of interesting JupyterHub deployments"
Create a wiki page for JupyterHub deployments similar to the Jupyter and IPython galleries (https://github.com/jupyter/jupyter/wiki/A-gallery-of-interesting-Jupyter-Notebooks) to highlight actual deployments of JupyterHub.

[2017-02-24 20:34] penumbra- opened #1000 "Jupyterhub cant connect kernels and terminal"
Hi all,

Im trying to set up jupyterhub server on remote machine with ssh.
I installed anaconda with
`bash Anaconda3......`
and get in the anaconda enviroment with
`source ~/anaconda3/bin/activate`

Also, i installed jupyterhub via pip inside anaconda enviroment and command `which jupyterhub` returns `/home/lzivadinovic/anaconda3/bin/jupyterhub`

I set my jupyterhub_config.py file and i CAN acces

[2017-02-24 21:23] whitead commented on #997
Yeah, I can submit a PR but I'm pretty sure my workaround is not the correct fix. `JUPYTERHUB_SERVICE_PREFIX` should probably already have a trailing prefix. It is set at [`jupyterhub/services/service.py:239`](https://github.com/jupyterhub/jupyterhub/blob/c7d7dec40da074ce3a5e86b38bea6f731b3493e3/jupyterhub/services/service.py#L239) like so:

[code]

where `self.server` refers to a `Server` object

[2017-02-24 21:26] whitead commented on #997
Maybe this line in [`jupyterhub/apihandlers/service.py:17`](https://github.com/jupyterhub/jupyterhub/blob/4a8f51ed6d63ce9e728b9dd205c3111972adb812/jupyterhub/apihandlers/services.py#L17).

[code]

the `else ''` should be `else '/'`?

[2017-02-26 01:08] nickylimjj opened #1001 "Error when executing pytest on jupyterhub/test/"
execute ``pytest jupyterhub/tests``

I exepcted test to run to completion, but there was a ``ImportError: cannot import name TimeoutExpired``. I tried ``python3 -m pytest jupyterhub/test`` instead but ``test_api.py`` threw a whole string or 'E's.

Jupyter hub v0.8.0.dev

Running `jupyter troubleshoot` from the command line, if possible, and posting
its output would also be helpful.

[code]

Thanks

[2017-02-26 13:26] minrk commented on #1001
JupyterHub only runs with Python 3, so make sure that JupyterHub and pytest are installed in a Python 3 environment. For instance:

    pip install -r dev-requirements.txt -e .

from the JupyterHub repo.

[2017-02-26 15:17] minrk commented on #997
@whitead you are right that the SERVICE_PREFIX should indeed always end in a slash. The `service_model` is unlikely to be the source, because that's only for the REST API when asking where services are running, and `else` will only be triggered for services that have no web component. This can be doubly fixed:

1. ensure `Service.prefix` has a trailing slash by adding `+ '/'` to the end [here](htt

[2017-02-26 17:09] nickylimjj commented on #1001
Hi, I am still running into the issue even after running it in a virtual environment shown below
[code]

In running ``pytest jupyterhub/tests`` The following are the notable errors
[code]

The following is the `jupyter troubleshoot` output
[code]

PS: I am contributing as part of hackillinois 2017, where @willingc is mentoring here :)

[2017-02-26 19:00] minrk commented on #1001
Does it work if you delete this file: `/Users/nicky/sandbox/hackillinois2017/jupyter/jupyterhub/jupyterhub_cookie_secret` ?

Great! welcome to the project. Happy hacking!

[2017-02-26 19:23] nickylimjj commented on #1001
It worked! Thank you! I am thinking of adding that short note to the **contributing** guidelines if that sounds good. Creating the virtual environment really did the trick.

[2017-02-27 03:12] willingc commented on #1001
@nickylimjj Would you add the error and its resolution to the troubleshooting section of the docs? The file to edit is https://github.com/jupyterhub/jupyterhub/blob/master/docs/source/troubleshooting.md. Adding to the contributing guidelines would be helpful too.

Thanks @minrk for the troubleshooting help too.

[2017-02-27 03:12] #1001 closed

[2017-02-27 08:07] JoyMonteiro commented on #996
Hello @willingc , I just tried that, and now the singleuser server crashes before starting up. Here is the traceback:

[I 2017-02-27 09:04:31.620 JupyterHub spawner:783] Spawning jupyterhub-singleuser '--user="joy"' '--cookie-name="jupyter-hub-token-joy"' '--base-url="/user/joy"' '--hub-host=""' '--hub-prefix="/hub/"' '--hub-api-url="http://127.0.0.1:10110/hub/api"' '--ip="127.0.0.1"' --port=49818

[2017-02-27 09:31] cschindlbeck commented on #998
Sorry to bother again but i still geht the error above, below is my troubleshoot output.
Is this a path or rights problem?

[code]

[2017-02-27 11:42] linhjindo commented on #994
I see a simple way to share notebooks that create a soft link for other users
e.g.: ln -s /home/user_1/sharefolder /home/user_2/sharefolder
all files in the user_1 folder will be shared to user_2

[2017-02-27 18:59] whitead commented on #997
Thank you for the highly detailed instructions :+1: Your suggestions fix the problem. I've put it into PR #1003.

[2017-02-28 00:59] #997 closed

[2017-02-28 02:46] cailiang9 opened #1004 "suggest using s or srv instead of services in jupyterhub service url"
otherwise it will be too long when there is a long path after the service url:
jhub.prod.xxxx.com/services/pubnb/notebooks/path/to/notebook.ipynb
to
jhub.prod.xxxx.com/srv/pubnb/notebooks/path/to/notebook.ipynb would be better.

Or it is even better that we can configure http proxy like
pubnb.prod.xxxx.com/notebooks/path/to/notebook.ipynb.

Because of some reasons we want the pubnb service run wit

[2017-03-01 15:11] minrk commented on #995
You can set the JUPYTER_CONFIG_DIR environment variable in one environment or the other to make sure the env is different.

[2017-03-01 15:12] minrk commented on #848
You cannot disable the proxy. JupyterHub does not work at all without a proxy.

[2017-03-01 15:15] minrk commented on #1000
This indicates that a proxy and/or firewall is blocking websockets. Do you know of any proxy or firewall between you and the server?

[2017-03-01 15:18] barrachri commented on #848
I would use a proxy but not one controlled by JupyterHub.
It will be an external service with the same API of http-proxy.

Like this: https://github.com/yuvipanda/jupyterhub-nginx-chp

[2017-03-01 15:40] penumbra- commented on #1000
Yeah, there is like our academy network proxy at `proxy.academy_network:8080`
I asked our network admins to open port 443, and i set our jupyterhub on that port. How can I fix this? Any suggestions?

[2017-03-01 16:04] penumbra- commented on #1000
@minrk Yeah, there is like our academy network proxy at `proxy.academy_network:8080`
I asked our network admins to open port 443, and i set our jupyterhub on that port. How can I fix this? Any suggestions?

[2017-03-01 16:40] billgreenwald commented on #995
Thanks!

Just for reference to anyone else that sees this, and to check that I didn't do something odd, since we are using the batchSpawner and passing -V to use our personal environment variables, I had to wrap the setting of JUPYTER_CONFIG_DIR in an if statement to make sure it was only set during the jupyterHub sessions, and not my local notebook sessions.

[2017-03-01 18:50] minrk commented on #995
For future reference, what were the particular settings that you wanted to be different, if you can share?

[2017-03-01 18:52] minrk commented on #848
Ah. Then start the proxy outside JupyterHub and tell JupyterHub where it is. The Hub will only start the proxy if it's not already running. If you start the proxy with the default ports, you don't need to tell the Hub anything.

[2017-03-02 04:27] minrk commented on #1004
I don't think a few characters makes a significant difference here, and I would prefer to keep the clearer URL parts.

[2017-03-02 05:40] cailiang9 commented on #1004
User content would be a more important part to be clear in URL.

[2017-03-02 14:36] whitead commented on #999
How do you imagine highlighting a deployment? Like a description of how it's used and how it's deployed? I can't think of any compelling screenshots.

[2017-03-02 16:45] willingc commented on #999
@whitead I think text, scripts, and architecture diagrams would all be valuable. Screenshots would not be necessary. @zonca recently put a [deployment example in the HPC repo](https://github.com/jupyterhub/jupyterhub-deploy-hpc/tree/master/batchspawner-xsedeoauth-sshtunnel-sdsccomet). I've also been culling resources this past week which I hope to get in a more presentable state ([WIP doc](https:/

[2017-03-02 16:56] willingc commented on #1004
@cailiang9 Perhaps you could clarify what you mean by a *pubnb service*. While we do strive for user customization where possible, there will be cases where a user request is highly specific and custom. In this case, the request would fall outside our present development plan.

In this particular case, based on my understanding, I believe that you could develop a custom proxy with aliases to meet

[2017-03-02 17:06] billgreenwald commented on #995
We used to have each person in our group running their own personal jupyter notebook server on a head node in our cluster.  Each person set up their own port for use, and personal login information for their notebook session.

We recently installed the jupyterhub so that we could launch notebooks onto our compute nodes for interactive jobs.  However, sometimes we have batch jobs that use up all th

[2017-03-02 22:17] minrk commented on #995
Thanks! Most options that can conflict with the single-user server setup should perhaps be disabled in the SingleUser subclass of NotebookApp, which is why I asked. While the environment variables should allow you to opt-in to different configurations, I don't want you to have to do it just to get it working at all.

[2017-03-03 10:25] JoyMonteiro commented on #996
@minrk  It works now! I tried it with 0.7.1, since we are using it in "production". Thanks!!

[2017-03-03 10:25] #996 closed

[2017-03-03 14:15] barrachri commented on #848
the proxy will be nginx running inside docker.
I will give only the address of the api to JupyterHub.

`# Proxy is not controlled by JupyterHub
c.JupyterHub.proxy_cmd = ''`

[2017-03-03 15:32] johannjc commented on #999
At the University of Rochester, we've modified batchspawner to allow for independent selections of memory, cores, time, etc... instead of the simple drop down list for use on our slurm cluster.

[2017-03-03 15:51] whitead commented on #999
@johannjc The interface is very nice, you should get a screenshot of it.

I'm also at UR and made a deployment for Chemical Engineering. We do nginx reverse proxy, dockerspawner, google oauth/google drive, and supervisord. Pretty standard deployment, but I'll see if I can put together a few relevant config files. There is no public facing website for ours though that can be linked.

[2017-03-05 15:32] barrachri commented on #766
What is left to complete the named servers part ?

[2017-03-05 17:52] minrk commented on #766
We'll need UI for the multi-server case. Users are going to need to be able to list and manage their own servers.

We're also going to have to think carefully about what happens when a user first logs in, because right now that spawns their default server, which it maybe should not in the named server case.

Once we've figured out all of the database additions, we are also going to need an alembic

[2017-03-06 17:51] rgbkrk commented on #857
Oooh, this is right in line with the cluster/computational context I want to provide in the UI. Loving `nbresuse`.

[2017-03-07 12:32] JoshuaC3 opened #1010 "Running Jupyterhub as a Service from a virtual env"
**How to reproduce the issue**

I follow [these](https://www.youtube.com/watch?v=gSVvxOchT8Y&feature=youtu.be) instructions but as the current Anaconda release was 3.6 and there are conflicts with jupyterhub dependences. Therefore, I did
`source create -n jpserver python=3.5` and then `source activate jpserver`.
Then I installed jupyterhub within the jpserver virtual_env.

This all works nicely wh

[2017-03-07 13:04] stefanoborini commented on #836
This PR introduces a counterproblem that now everything is passed with quotes as part of the option, and the quotes are found in the invoked program option values. I am unsure how they get stripped in the singleuser.py process. My own implementation of singleuser.py stopped working because instead of getting `/user/path` I was getting `"/user/path"` as basename

[2017-03-07 17:26] stefanoborini opened #1011 "Master throws exception due to incorrect cookie change handler."
**How to reproduce the issue**

Just start the service

**What you expected to happen**

jupyterhub to start

**What actually happens**

[code]

should be change["new"].

**Share what version of JupyterHub you are using**

master

[2017-03-07 17:27] barrachri commented on #766
Thoughts about this ?

in case you use named_severs and you go to /user/{YourUser}
should you get an error or not ?

Do we need to think about the cookies ?

[2017-03-07 17:53] stefanoborini opened #1012 "Dynamic whitelist not possible"
I need a dynamic whitelist, possibly from a file. Currently, the only way to modify the whitelist is to restart jupyterhub. It would be better if one could change the whitelist without having to do so.

I tried to override whitelist in my authenticator with a property, but the application tries to set the normalized usernames back into the whitelist. This operation is clearly not possible if I am

[2017-03-07 19:09] uday2002 opened #1013 "Authentication issue while logging to Jupyterhub thru browser"
Hi,

I'm facing a authentication issues while logging to Jupyterhub. Please find the log:

[code]

Any help. Please let me know.

Thanks

[2017-03-08 02:08] barrachri commented on #1012
What about leaving the whitelist empty inside the config and create a dynamic_whitelist using the Authenticator ?

[2017-03-09 09:54] yungongzi commented on #444
I have also encountered the same problem
[code]
Looked at the wrong tips, and looked at the D drive, found the 'notebook' folder was gone. Find the 'notebook' folder, put it on the D drive, or create a new one.
problem solved!

[2017-03-09 16:40] JoshuaC3 commented on #518
@dominicfollett you said `I noticed there is no option to upload a file to a user's server, *except by an administrator(or user) logging in and explicitly doing so*` . How did you do this?

[2017-03-09 18:42] dominicfollett commented on #518
Hi Josh

yeah I think that is what I meant. You should be able to do it through the interface. It has been some time since I've looked at this, though.

[2017-03-09 20:52] rgbkrk commented on #219
This version works well for the first connection:

[code]

However, any reconnect or restart attempt ends up with new errors. They happen on close of the original websocket.

[2017-03-10 01:33] rgbkrk commented on #219
Of note, we were experiencing this with Apache 2.4.7 (current Trusty Ubuntu stable)

[2017-03-10 02:00] rgbkrk commented on #219
I can reproduce this really quickly with an Apache proxy fronted notebook by closing the current kernel:

[code]

The `WebSocket.close` function is a native function and I can't seem to catch the `WebSocket connection to '...' failed: One or more reserved bits are on: reserved1 = 0, reserved2 = 1, reserved3 = 1` error.

[2017-03-10 03:30] ianabc commented on #219
I'm on apache  Apache/2.4.6 (CentOS) and I'm using something like
[code]
I see the same behaviour closing websockets but only via the notebook restart action. Selecting kernel->restart leaves my browser in a loop trying to reconnect the kernel as described in  (https://github.com/jupyter/notebook/issues/1835).

If I do `Jupyter.notebook.kernel.ws.close()` in chrome's console I see one instance of

[2017-03-10 03:31] minrk commented on #1010
When it works in a shell but fails in a service, the issue is almost always related to the PATH. Services often start with the barest of bare environments, including only having a sparse PATH such as `/usr/bin:/bin`. There are a few ways to deal with this:

1. specify the absolute path to an executable
2. add environment variables to your service specification
3. launch a wrapper script that initi

[2017-03-10 03:35] minrk commented on #1011
This is new in traitlets 4.3. `setup.py` should be expressing this dependency now, if you do `pip install .`.

[2017-03-10 03:35] minrk commented on #1011
(or more specifically: `pip install --upgrade traitlets`)

[2017-03-10 03:37] minrk commented on #766
No, for two reasons:

1. The cookies are set on `/user/name`, which means that all the single-user servers below there will share the same cookie.
2. I hope to switch over to OAuth internally by the time we release 0.8, in which case the cookie paths won't be relevant anymore

[2017-03-10 03:39] minrk commented on #766
My current thought is that the default page and `/user/:name` send you to a (new) page where you can see your list of named servers and request new ones.

[2017-03-10 03:40] minrk commented on #1013
The failure is in sudospawner. This is typically a permission and/or PATH issue. What version of sudospawner do you have? What are the permissions on `which sudospawner`?

[2017-03-10 03:45] minrk commented on #1012
You should be able to do this with a custom Authenticator that overrides `check_whitelist`:

[code]

[2017-03-10 10:20] JoshuaC3 commented on #1010
I tried option 2 but this didn't work. I couldn't say why.

I then tried a different method of using `systemd`. This seems a lot more straight forwards. I posted my solution at the bottom of this [wiki page](https://github.com/jupyterhub/jupyterhub/wiki/Run-jupyterhub-as-a-system-service) for other users. Hopefully, it is ok to do that.

Thanks for your help.

[2017-03-10 11:12] uday2002 commented on #1013
Thanks Minrk, I solved the issue. I rolled back the Jupyter to the last day, It was working fine. Thanks.

Version is 0.6.0.

[2017-03-10 12:55] stefanoborini commented on #1011
ah! ok. Thanks!

[2017-03-10 12:55] #1011 closed

[2017-03-10 14:39] willingc commented on #766
@minrk FYI Ben Zaitlen has been doing quite a bit of work on OAuth for CA.

[2017-03-10 21:44] Geremia commented on #219
Unfortunately, that doesn't solve the issue for me in Firefox or Chromium.

[2017-03-11 01:53] ashkan-leo opened #1017 "JupyterHub Daemon 500 internal server error on some users"
I have created a service in Ubuntu 16.04 to start jupyterhub. Here is the unit file:

[code]

I can successfully login and use the notebook when using my credentials. However, when other users want to login, they get ```500: Internal Server Error```.

This is part of the log file I get when I try to login as some other user:
[code]

I am using Jupyterhub version 0.7.2.

The jupyter troubleshoot ou

[2017-03-11 14:01] hnmn opened #1018 "Can't launch jupyterhub"
can't launch jupyterhub . when i run 'jupyterhub' Command even i run 'jupyterhub --generate-config' it shows following error .i have python3.6 and latest pip3 .

Here is troubleshoot :

[code]

[2017-03-12 00:18] JMurph2015 opened #1019 "Jupyterhub with AFS home directories"
I would like to set up JupyterHub for use on a system where most users have home directories on an AFS system.
How to reproduce: attempt to log in to a Jupyterhub using an account which has an AFS directory as its home directory, and this directory is not writable by the local root.

**What you expected to happen**
Expected the write access to be delegated to the user login, and in theory the AFS

[2017-03-13 12:08] minrk commented on #1018
That is strange indeed. On What OS / distro / version?

[2017-03-13 12:13] minrk commented on #1019
There might be something wrong in how we handle PAM sessions for this use case. Something in the [kerberos example repo](https://github.com/jupyterhub/jupyterhub-example-kerberos) may prove helpful. It has a few tweaks with respect to PAM for kerberos to work.

This is concerning. Where is the indication that it is root?

[2017-03-14 09:19] feixialong opened #1020 "Failed to start proxy and Proxy failed to start with exit code 8"
Hi guys,
I have the jupyterhub running in Ubuntu14.04 server.  jupyterhub reports that it fails to start proxy.
Thanks!
root@DESKTOP-B47MQTN:~# jupyterhub -f jupyterhub_config.py --debug
[D 2017-03-14 17:12:09.683 JupyterHub application:555] Looking for jupyterhub_config in /root
[D 2017-03-14 17:12:09.684 JupyterHub application:577] Loaded config file: /root/jupyterhub_config.py
[I 2017-03-14 17:

[2017-03-14 11:20] feixialong commented on #1020
i have finished this question. when i use apt-get install npm nodejs-legacy in ubuntu 14.04 .i find the version of npm and nodejs in the repo is too low for jupyterhub current version. so ,i download the lastest version of node .and set the path ,it can work now.

[2017-03-14 11:21] #1020 closed

[2017-03-14 15:03] willingc opened #1021 "Clarify in node version for Ubuntu in docs"
Add a more prominent reminder to installation docs that a recent version of node is needed for JupyterHub and proxy on Ubuntu/Debian where an old version may be the operating system default.

[2017-03-14 15:04] willingc commented on #1020
@feixialong I'm glad that you resolved your issue.

**Resolution**

If proxy fails to start when using Ubuntu or Debian, check that you are using a recent version of node.

Opened documentation issue to clarify this point: #1021

[2017-03-14 15:11] barrachri commented on #839
Any experience with GlusterFS of Ceph?

[2017-03-14 15:18] barrachri commented on #766
It makes sense, I would also give the possibility to redirect /user/:name to something else, maybe you can define this inside the configuration.

I guess the best thing is just to redirect the user to the user page without spawning a server.

[2017-03-15 02:25] Mou5e opened #1022 "extra_log_handlers option prevents jupyterhub from starting"
I set extra_log_handlers with:
[code]
I mainly want log rotation.

This prevents JupyterHub from starting because traitlets seems to have difficulty copying the handler object:
[code]

I'm on jupyterhub 0.7.2 and traitlets 4.3.1.

[2017-03-15 10:33] minrk commented on #1022
I'd highly recommend *against* using extra_log_file, as it only captures the logs of the Hub itself, and you will lose information unless you are spawning the proxy and single-user servers separately using other systems that capture and manage logs. Capturing all output to a file and using external log managers (e.g. `logrotate` or `multilog`) tends to behave better.

[2017-03-15 19:51] Alexanderallenbrown opened #1023 "PAM Authentication errors on RHEL"
Similar to Issue #323 , I am getting PAM authentication errors when multiple users attempt to sign in.

Version is Jupyterhub 0.7.2

Workaround was commenting everything related to SELinux in /etc/pam.d/ but this seems like a dirty hack. Issue #323 was closed due to commenters using an older version of Jupyterhub, but because I'm using the latest version, I thought I'd reopen.

[2017-03-15 23:57] willingc commented on #1023
Hi @Alexanderallenbrown,

Would you mind sharing bit of information such as a traceback of the errors, the version of RHEL that you are using, and your jupyterhub_config.py? It would help us solve your issue.

Thanks!

[2017-03-16 10:21] Sentient07 opened #1024 "Unhandled error in API request after installing `conda_nb`"
I had faced this error on opening launching the browser after updating the `conda_nb` package
[code]

[2017-03-16 15:21] natbusa commented on #690
This is how I solved it

[code]

caveat: although notebook_dir is set to '/' it still looks for a lab directory in the file system. Other than that it works ok.

[2017-03-16 15:43] minrk commented on #1023
@Alexanderallenbrown does it work with this config:

[code]

?

[2017-03-16 15:45] minrk commented on #1024
This is a bug in the `nb_conda` package. I believe it will be fixed if you upgrade it:

    conda upgrade nb_conda

[2017-03-16 19:13] jsill14 commented on #109
@minrk  Do you need to ensure the load balancer sends the requests for the same user to the same Hub instance to ensure their data is there? If the data was stored or replicated across the Hubs could you spawn the users on any hub?

[2017-03-17 09:53] minrk commented on #109
Since a user's server is persistent, you have to make sure that the same Hub gets every request for a given user, at least while that user's server is running in order to route requests properly. This is in-memory state for the Hub, so it isn't shared across instances. The Hub can reconstruct this from information persisted to the database, and does this at startup, but it doesn't reconstruct the

[2017-03-17 10:52] laurikoobas opened #1026 "PAM authentication issues on Debian"
Seems to be broken similar to some older closed issues.

The issue: PAM authentication fails.

The longer version of the issue - the exact same code for the exact same (test) user works when called with python3, but does not work when called by jupyterhub (0.7.2).

I have a test user - testuser.
This is the code that works:
[code]

It outputs:
[code]

And this is the code that does not work, found

[2017-03-17 10:56] minrk commented on #1026
Your successful test output has `username = kaalikas`, not testuser. Are you running the Hub as kaalikas? Does login to the Hub work as kaalikas?

[2017-03-17 10:59] laurikoobas commented on #1026
Damit, well.. my testuser is named "kaalikas" and I wanted to replace it everywhere and failed :)

I'm running the hub as user "jupyterhub". Logging in with "jupyterhub" works actually. But any other user, either in admin list or not, does not work.

[2017-03-17 11:50] minrk commented on #1026
No problem,the situation is probably what I was trying to get at with that question. When the Hub can authenticate the user it is running as but not anyone else, this generally means that the Hub user (`jupyterhub`) doesn't have permission to check other users' passwords. On basic Linux systems, this means read permissions on the shadow password database (`/etc/shadow`). On Ubuntu, this file is ow

[2017-03-17 12:05] laurikoobas commented on #1026
All of that works. I guess I should have mentioned that I went through that guide to begin with.
[code]
[code]

[2017-03-17 12:14] minrk commented on #1026
Hm, so *as jupyterhub* the test script works, then as the same user jupyterhub doesn't? Does it matter which user attempts to login first? Are you running jupyterhub in the same terminal session where you are running the test, or via systemd/supervisor/etc.?

[2017-03-17 14:59] laurikoobas commented on #1026
Seems to be the case, but I may have more information below.

nope

Was running everything in terminal session.

Tried a few more things, just trying to be thorough.
First I tried the PAM test from the guide. Entered the correct password first and then incorrect one.
[code]
So I guess that works as expected?

Then I ran JupyterHub through sudo like this:
[code]
And tried to log in with jupyterhub

[2017-03-18 21:15] johnplaydrums opened #1028 "Python 2 kernel takes over 60 seconds to become ready"
Hello there, my python 2 kernels are taking a very long time to become ready. The kernel is "connected" within a couple seconds, but then takes another 60 seconds or longer to become "ready". Once it's ready the websockets are speedy. I'm scratching my head because I had JupyterHub deployed on EC2 in our staging aws account and everything was zipping along. Now I've deployed a virtually identical

[2017-03-19 00:23] yuvipanda opened #1029 "c.Spawner.port is not configurable"
**How to reproduce the issue**

1. Set `c.Spawner.port = 8888` in jupyterhub_config.py

**What you expected to happen**
1. `self.port` inside a Spawner should be 8888

**What actually happens**
1. `self.port` inside spawner is actually still 0

**Share what version of JupyterHub you are using**

0.7

I'm pretty sure it's just the `port` traitlet missing a `.tag(config=True)`

[2017-03-19 05:53] natbusa commented on #464
@gracehllee @Carreau
http://stackoverflow.com/questions/1210664/no-module-named-sqlite3

[2017-03-19 11:55] natbusa commented on #486
Hi @minrk
I am building a vagrant centos 7 box (aiming for a later install on RHEL 7)
Python is build from source  (Python 3.5.2)

pamela does not work here:

[code]

I am pretty sure this is the root cause for the thread above
Any idea how to debug/fix the pamela module?

[2017-03-19 14:46] natbusa commented on #486
Solved:

it turns out that this had nothing to do with sudo, but more with the fact that the user `jupyterhub` had no access to the /etc/shadow file. As reported by @ybarraud https://medium.com/@ybarraud/setting-up-jupyterhub-with-sudospawner-and-anaconda-844628c0dbee#.vnol2aao4 in case of non-root users make sure that you have access to the file.

One way of doing so if a system-wide sudo access

[2017-03-19 15:58] vbraun commented on #486
@natbusa this is not the issue here.

Also, your solution significantly reduces the security of your system. Unless you are the only user, jupyterhub should most definitely not have read access to /etc/shadow.

[2017-03-19 18:33] natbusa commented on #486
@vbraun thank you for your feedback. You don't need to take my word on it as this is currently the way non-root PAM is described on the jupyterhub pages. Please check it yourself https://github.com/jupyterhub/jupyterhub/wiki/Using-sudo-to-run-JupyterHub-without-root-privileges

If you have solved it in a better, more secure way, please do share your solution.

[2017-03-19 23:55] vbraun commented on #486
Well there isn't a more secure way, thats what this ticket is about. Currently you just can't use jupyterhub local user authentication if you require state of the art security (i.e.: you can once, you just can't log in a second time).

[2017-03-21 01:50] barrachri opened #1031 "Dead kernel"
I am playing with JupyterHub using Docker Swarm, everything works fine apart from this:

[code]

<img width="1165" alt="screen shot 2017-03-21 at 02 46 40" src="https://cloud.githubusercontent.com/assets/4802083/24129126/b130363e-0de0-11e7-944c-1afb142de267.png">

From the terminal I can see the process of the kernel, but then it dies.

What is strange for me is that the R-Kernel works fine and I

[2017-03-21 14:27] JoyMonteiro opened #1032 "Conflict with traitlets version"
Hello,

I had posted here a few weeks ago regarding an issue with the PAM authentication in jupyterhub not working ( #996). We solved the issue by upgrading my version of traitlets from 4.1.0 to 4.3.2.

I have two setups of jupyterhub, one with google auth and another with PAM auth (which is working with the above mentioned upgrade). I recently brought down the server with the google auth for main

[2017-03-21 15:49] willingc commented on #1032
@JoyMonteiro Thanks for the detailed update. We appreciate it :smile:

@minrk is traveling this week so there may be a delayed response. I'll take a look at this today and see if I see anything. Thanks!

[2017-03-21 15:53] willingc commented on #1031
@barrachri Thanks for the question. Just an FYI, I edited the log to display a bit cleaner. If you use 3 backticks (```) before and after the log text GitHub will render the log nicely :cookie:

[2017-03-21 16:08] barrachri commented on #1031
Thanks @willingc!

I resolved the issue.

If you run the Docker service specifying a command like `'command' : 'start-singleuser.sh` the IPython kernel crashes, if you put the command inside the image it works.

is this issue more related to IPython or IPykernel ?

[2017-03-21 16:10] willingc commented on #1028
Hi @johnplaydrums,

Hmm...could you share a log of the startup process running in debug? Thanks.

[2017-03-21 17:47] JoshuaC3 opened #1033 "Uploading Notebook to all Users"
Is it possible to upload an .ipynb, or even better a file containing some .ipynb and data, such that it goes into each users directory?

It is a similar request to this question [this question](https://github.com/jupyterhub/jupyterhub/issues/631) but I feel this is more about sharing live/custom notebooks. My aim is for each users to have the same notebook in the beginning and then to be able to e

[2017-03-21 21:09] JoyMonteiro commented on #1032
Thanks, @willingc for looking into it :) I'm sure it helps me too if things are explained in detail!

[2017-03-22 13:58] csbrown commented on #1023
I am having a similar issue related to pamela.  c.PAMAuthenticator.open_sessions = False works for me, python3 -m pamela -a '[other_user]' fails with [PAM Error 7] Authentication failure
, but python3 -m pamela -a '[current_user]' succeeds, and this is affecting jupyterhub.  This whole thread seems to be a problem with pamela, not with jupyterhub.  Gonna open a thread on the pamela github which, i

[2017-03-22 15:41] minrk commented on #1032
@JoyMonteiro can you show the output of `jupyterhub --debug` with traitlets 4.3 and your `jupyterhub_config.py`? I suspect that perhaps something is causing some or all of your config to be ignored.

[2017-03-22 16:05] csbrown commented on #1023
@Alexanderallenbrown is the user you're running jupyterhub under in the shadow group?  That cleared all of this up for me.

[2017-03-22 22:48] willingc commented on #1033
Hi @JoshuaC3,

One way that people teaching courses accomplish this is by using [nbgrader](https://github.com/jupyter/nbgrader). Here's an [example workflow from the docs](https://nbgrader.readthedocs.io/en/stable/user_guide/creating_and_grading_assignments.html#workflow-example-instructor-generating-an-assignment-release).

[2017-03-23 00:42] qingzhouzhen commented on #993
help! I am really confused what is the usename and password, I entered the username and password of my Linux, but is show me PAM authenticated failed? how could login? I just installed the jupyterhub

[2017-03-23 00:49] qingzhouzhen opened #1034 "how to login the jupyterhub the first time thourgh browser?"
Hi! Thanks for using JupyterHub.

If you are reporting an issue with JupyterHub:

- Please use the [GitHub issue](https://github.com/jupyterhub/jupyterhub/issues)
  search feature to check if your issue has been asked already. If it has,
  please add your comments to the existing issue.

- Where applicable, please fill out the details below to help us troubleshoot
  the issue that you are facing.

[2017-03-23 00:49] qingzhouzhen opened #1035 "how to login the jupyterhub the first time thourgh browser?"
Hi! Thanks for using JupyterHub.

If you are reporting an issue with JupyterHub:

- Please use the [GitHub issue](https://github.com/jupyterhub/jupyterhub/issues)
  search feature to check if your issue has been asked already. If it has,
  please add your comments to the existing issue.

- Where applicable, please fill out the details below to help us troubleshoot
  the issue that you are facing.

[2017-03-23 00:52] qingzhouzhen commented on #1035
I installed jupyterhub as doc ,when I launched the browser, and I input username and password of my Linux, but it show me PAM authenticate failed, help, what should I input?

[2017-03-23 02:10] willingc commented on #1035
Hi @qingzhouzhen,

Did you add your username to the whitelist in `jupyterhub_config.py`? Here's an example from the [documentation](https://jupyterhub.readthedocs.io/en/latest/getting-started.html?highlight=password#creating-a-whitelist-of-users) The user must be in the whitelist or PAM authentication will fail. Hope this helps.

[2017-03-23 02:11] willingc commented on #1034
Closing as duplicate of #1035

[2017-03-23 02:11] #1034 closed

[2017-03-23 15:46] JoyMonteiro commented on #1032
@minrk the hub is being used this week by students for their coursework. I think they should be done
within a week. Once that happens, I can bring the server down and try this.

Thanks, and will update soon!

[2017-03-23 16:37] willingc commented on #1032
Thanks @JoyMonteiro. Please let us know how it goes after the students wrap up their work.

[2017-03-23 23:30] ramnavan commented on #314
@minrk - Thank You! Can we use this same mechanism to point to S3 bucket or GitHub repo?

[2017-03-24 06:28] lk1983823 opened #1037 "pip3 install fail. Below is my code. Thanks!!!"
[code]

[2017-03-24 10:18] minrk commented on #1026
The substring not found suggests that perhaps testuser can't start its single-user server. Can you try:

    sudo -u testuser jupyterhub-singleuser

?

[2017-03-24 10:20] minrk commented on #1031
I don't really understand how specifying the command when starting vs in the image could make a difference. Maybe there is another option that's implicitly different when specifying the command in two different places? My guess is it has something to do with the allocated terminal.

[2017-03-24 10:21] minrk commented on #1028
Can you show `pip list` or `conda list` in the Python 2 and 3 envs? Something like this could be due to an old version of one of the kernel packages in Python 2.

[2017-03-24 10:30] minrk commented on #993
@qingzhouzhen if jupyterhub is run as you, then it will be your username and password. Other users will not be able to login by default. If it is run as root, it can be any username and password on the system. If it is run as any other user, jupyterhub will need to be given permission to check passwords (such as adding it to the `shadow` group on Ubuntu).

[2017-03-24 10:31] minrk commented on #314
@ramnavan this is only for directories. So the answer is yes, if you mount S3 with s3fs, or clone the github repo to the filesystem.

[2017-03-24 10:37] laurikoobas commented on #1026
Well, that just runs into a warning / error I don't know how to bypass:
[code]

[2017-03-24 10:37] minrk commented on #1037
That looks like pip has gotten itself confused. Can you try:

    pip3 install --upgrade setuptools pip

[2017-03-24 11:48] hani1814 opened #1038 "Daily Log Files"
Hi,

Is it possible to create daily jupyterhub log files. At the moment we direct the log >file when we start the hub.

Thank you

[2017-03-24 13:26] qingzhouzhen commented on #993
Thanks a lot, I logined my remote Linux through  Mobaxterm as root, and installed jupyterhub, I add root user and some other users to the whitelist of  jupyterhub_config.py, now other users added to the whitelist can login but root, how can root user login remotely? @minrk

[2017-03-24 13:28] qingzhouzhen commented on #1035
thanks a lot ,but I have an other problem as I described in #993

[2017-03-24 13:29] qingzhouzhen commented on #1035
thanks a lot ,but I have an other problem as I described in #993 @willingc

[2017-03-24 13:59] minrk commented on #1038
Yes, you can do this with [logrotate](http://www.linuxcommand.org/man_pages/logrotate8.html), or pipe to `logger` to use syslog instead of directly to a file.

For example, with this logrotate config file:

[code]

and run this daily by putting a script in `/etc/cron.daily/`:

[code]

Or use syslog:

    jupyterhub | logger -t jupyterhub

[2017-03-24 14:02] minrk commented on #993
if there is a root password, root can login. I probably wouldn't recommend allowing users to login to JupyterHub as root, though.

[2017-03-24 16:20] willingc commented on #1035
@qingzhouzhen I'm going to close this and we can continue any needed discussion in #993

[2017-03-24 16:20] #1035 closed

[2017-03-24 18:29] johnplaydrums commented on #1028
Hey! @minrk to start, here's `pip2 list`:
[code]

And `pip list`:
[code]

[2017-03-25 01:09] lk1983823 commented on #1037
@minrk  thanks, I solved the problem, with sudo pip3 install --upgrade six， sudo apt remove python3-pyparsing，   sudo pip3 install pyparsing

[2017-03-25 01:17] yuvipanda opened #1041 "v0.7.2 depends on too old a version of traitlets?"
It looks like 0.7.2 might be depending on traitlets>4.1, but in singleuser uses `change.new` syntax (rather than change['new'] syntax) which isn't supported until later.

[2017-03-25 02:20] #1037 closed

[2017-03-26 16:02] Anishkumarv opened #1042 "JupyterHub 404 error"
Hi Team,

I am new to jupyterhub, i hav configured jupyterhup in Redhat 6.6

root@HKLVADRDA01[bin] # ./jupyterhub --version
0.7.2

root@HKLVADRDA01[bin] # node --version
v6.10.1

root@HKLVADRDA01[bin] # ./python --version
Python 3.6.0 :: Anaconda 4.3.1 (64-bit)

root@HKLVADRDA01[bin] # ./configurable-http-proxy  --version
1.3.1

After started the proxy and jupyterhub when i tried to access jupyter

[2017-03-27 06:08] laurikoobas commented on #1017
Try adding a print(cmd) before line 58 at the spawner.py (https://github.com/jupyterhub/sudospawner/blob/master/sudospawner/spawner.py), see what it is trying to do.

[2017-03-27 10:37] #1038 closed

[2017-03-27 11:38] minrk commented on #1028
I don't see anything obvious. Do you perhaps have any IPython extensions (not notebook extensions) or startup files? Maybe these are doing something that takes a bit of time at startup.

[2017-03-27 11:39] #1029 closed

[2017-03-27 11:40] minrk commented on #1041
This is fixed by #973

[2017-03-27 11:40] #1041 closed

[2017-03-27 11:50] minrk commented on #1042
Looks like there might already be a proxy running that isn't set up correctly. Is that expected? If not, look for and shutdown any `configurable-http-proxy` instances and relaunch jupyterhub.

[2017-03-27 12:15] tguillemot opened #1045 "JupyterHub with Jupyter Kernel Gateway"
Hi and thanks for your job in JupyterHub. It's awesome !!!

Do you think it is possible to use JupyterHub with Jupyter Kernel Gateway instead of Jupyter Notebook ?
Maybe do you have an example ?

[2017-03-27 14:07] willingc commented on #1045
Hi @tguillemot,

Thanks for the kind words :-) I'm going to pass along your question to @parente for his thoughts.

[2017-03-27 14:10] willingc commented on #653
Closing this issue since work being done on Kubernetes/Data8 documentation will cover this.

[2017-03-27 14:10] #653 closed

[2017-03-27 14:13] willingc commented on #592
Closing without adding to docs since this is not getting user support questions. Marking as reference.

[2017-03-27 14:13] #592 closed

[2017-03-27 14:48] willingc commented on #833
Status update: The latest [nodejs package on EPEL is (nodejs-6.9.4-2.el7)](https://lists.fedoraproject.org/archives/list/epel-package-announce@lists.fedoraproject.org/message/2FQ6LQ373RURKRFBDDKD5DKBRDFKAKGF/) came out on 2-7-17.

If this resolves the issue, please let us know. Thanks.

[2017-03-27 14:50] #929 closed

[2017-03-27 14:58] #1013 closed

[2017-03-27 15:00] willingc commented on #945
Closing this issue as it's been inactive for several months. Please feel free to open a new issue at the [jupyter/help repo](https://github.com/jupyter/help) or reopen this issue. Thanks! :sunflower:

[2017-03-27 15:00] #945 closed

[2017-03-27 15:01] #951 closed

[2017-03-27 15:06] willingc commented on #968
Closing this issue since it hasn't been updated in a while. If it the issue still exists, please leave a comment requesting this issue be reopened. Thanks! 🌻

[2017-03-27 15:06] #968 closed

[2017-03-27 15:08] willingc commented on #982
@funnelandhose Are you still having the error?

[2017-03-27 15:09] willingc commented on #993
Closing this issue since it appears to be resolved. Please feel free to leave an issue at [jupyter/help](https://github.com/jupyter/help) or leave a comment requesting this issue be reopened. Thanks to all!

[2017-03-27 15:09] #993 closed

[2017-03-27 15:14] willingc commented on #999
Closed by #1014

[2017-03-27 15:14] #999 closed

[2017-03-27 15:18] willingc commented on #995
Closing this issue since it appears to be resolved. If the issue still exists, please leave a comment requesting this issue be reopened. Thanks to all!

Labeling the issue for Reference.

[2017-03-27 15:18] #995 closed

[2017-03-27 15:41] willingc commented on #998
@cschindlbeck I hope you were able to resolve the permissions and get things working. If not, please let us know what we can do to assist. Thanks.

[2017-03-27 15:44] willingc commented on #1000
@penumbra I hope you were able to resolve the proxy/firewall config and get things working. If not, please let us know what we can do to assist. Thanks.

[2017-03-27 15:57] willingc commented on #1004
Closing this issue since it appears to be resolved. Please feel free to leave an issue at [jupyter/help](https://github.com/jupyter/help) or leave a comment requesting this issue be reopened. Thanks to all!

[2017-03-27 15:57] #1004 closed

[2017-03-27 15:59] willingc commented on #1012
Closing this issue since it appears to be resolved. Please feel free to leave an issue at [jupyter/help](https://github.com/jupyter/help) or leave a comment requesting this issue be reopened. Thanks to all!

[2017-03-27 15:59] #1012 closed

[2017-03-27 16:13] willingc commented on #1010
Closing this issue since it appears to be resolved. Thanks @JoshuaC3 for posting your solution. I'm going to label this as Reference too. Thanks! 🌞

[2017-03-27 16:13] #1010 closed

[2017-03-27 16:15] willingc commented on #1024
Closing this issue since it appears to be resolved. Please feel free to leave an issue at [jupyter/help](https://github.com/jupyter/help) or leave a comment requesting this issue be reopened. Thanks to all!

[2017-03-27 16:15] #1024 closed

[2017-03-27 16:18] willingc commented on #1022
@Mou5e We recently added information to the docs on [rotating logs](https://jupyterhub.readthedocs.io/en/latest/troubleshooting.html#how-do-i-set-up-rotating-daily-logs) which should give you additional configuration info.

I'm closing this issue as resolved.

[2017-03-27 16:18] #1022 closed

[2017-03-27 16:19] willingc commented on #1031
Closing this issue since it appears to be resolved. Please feel free to leave an issue at [jupyter/help](https://github.com/jupyter/help) or leave a comment requesting this issue be reopened. Thanks to all!

[2017-03-27 16:19] #1031 closed

[2017-03-27 18:38] zoltan-fedor commented on #833
Thanks, just tested nodejs package on EPEL is (nodejs-6.9.4-2.el7) and unfortunately it does NOT resolve the issue. It is still the same.

[2017-03-27 19:14] willingc commented on #833
@zoltan-fedor Thanks for testing. 😞 that it didn't resolve the issue.

I have this on my radar to check monthly.

[2017-03-28 00:42] qingzhouzhen commented on #993
I still got that problem, The root user can not login from browser login page, but when I login the Control Panel through other users, I can start server of the root user, this is my jupyterhub_config.py
 c.JupyterHub.admin_access = True
c.Authenticator.admin_users = {'root','jupyterhubuser1', 'jupyterhubuser2', 'jupyterhubuser4'}
c.Authenticator.whitelist = {'root',  'jupyterhubuser1', 'jupyterhu

[2017-03-28 01:56] willingc commented on #993
Hi @qingzhouzhen,

I'm reopening this issue.

As @minrk stated, I wouldn't recommend allowing users to login as root. Instead, I would recommend setting up the `jupyterhub_config.py` to:

[code]

and use passwordless SSH key based access to the server for the admin users that need root access to the server. These users would have 'root' access through their SSH keys. [Ubuntu reference re: Disable

[2017-03-28 02:05] qingzhouzhen commented on #993
Why others can but me, I will keep looking for the answer, If you have any advice, tell me please

[2017-03-28 02:51] willingc commented on #993
What are you using for your server @qingzhouzhen? Server type (bare metal or vm)? Operating system?

[2017-03-28 03:13] qingzhouzhen commented on #993
Ubuntu 14.04.5 LTS,  and it is assigned by my company, every employee will get a root account and password, it uses just like bare metal, I think it is something like VPS of AWS

[2017-03-28 07:30] #1021 closed

[2017-03-28 09:58] minrk commented on #1045
If KernelGateway can use HubAuth for login, this should be possible. @ryanlovett has a tool for deploying ~any web application (RStudio, specifically) with JupyterHub.

@ryanlovett would you be interested in making your hub-auth-proxy tool a standalone project on the JupyterHub org? I think that would be generally useful.

[2017-03-28 11:17] funnelandhose commented on #982
Sorry, we have got problems on our platform and right now it isn't working so I am not able to try.
You can close this thread and I will update it later on. Thank you!

[2017-03-28 13:12] willingc commented on #982
Thanks @funnelandhose. 👍

[2017-03-28 13:12] #982 closed

[2017-03-28 18:55] johnplaydrums commented on #1028
Nope, just double checked and I haven't installed any iPython or notebook extensions, and don't have any startup scripts. I'm using a pretty vanilla jupyterhub setup. I'm trying to figure out what's changed in the environment from our staging and production aws accounts, because python 2 kernels run fine in staging. I run the exact same playbook to deploy jupyterhub in production and that's when t

[2017-03-28 20:07] ryanlovett commented on #1045
Sure, however:

-  I'm basically its only user at the moment so it might not be especially robust,
-  It is a notebook extension rather than the server substitute that @tguillemot was inquiring about,
-  It doesn't proxy web sockets.

[nbserverproxy](https://github.com/ryanlovett/nbserverproxy) - proxies arbitrary web services. Used by pycortex and nbrsessionproxy.

[nbrsessionproxy](https://githu

[2017-03-28 20:58] tguillemot commented on #1045
Thanks you for sharing your work @ryanlovett. I will have a look to your code tomorrow.

If I understand well the jupyterhub code, it seems that I need to define a new `SingleUserNotebookApp` which will inherit from `KernelGatewayApp` instead of `NotebookApp` but I have just begun the investigation so maybe I'm wrong.

[2017-03-29 11:26] minrk commented on #1028
Strange. I'm running out of ideas, but what is `zmq.zmq_version()` in both the notebook and Python 2 kernel environments?

[2017-03-29 11:30] minrk commented on #1045
@ryanlovett I think it's generally useful, and I'd like to make some demos out of it. I think we can make it work as a standalone layer in addition to the notebook extension

[2017-03-29 17:16] MDMBD commented on #323
[I 2017-03-29 19:06:08.184 JupyterHub app:1485] JupyterHub is now running at http://localhost:8000/
[I 2017-03-29 19:06:54.084 JupyterHub log:100] 302 GET / (@10.16.79.166) 4.89ms
[I 2017-03-29 19:06:54.101 JupyterHub log:100] 302 GET /hub (@10.16.79.166) 1.15ms
[I 2017-03-29 19:06:54.117 JupyterHub log:100] 302 GET /hub/ (@10.16.79.166) 2.81ms
[I 2017-03-29 19:06:54.126 JupyterHub log:100] 302 GE

[2017-03-29 17:18] MDMBD commented on #323
I can not open jupyterhub via centos7:

[2017-03-29 17:21] MDMBD commented on #323
I corrected this:
#session required pam_loginuid.so

and this

#%PAM-1.0
auth [user_unknown=ignore success=ok ignore=ignore default=bad] pam_securetty.so
auth       substack     system-auth
auth       include      postlogin
account    required     pam_nologin.so
account    include      system-auth
password   include      system-auth
# pam_selinux.so close should be the first session rule
session

[2017-03-29 17:22] MDMBD commented on #323
Thank you for your help

[2017-03-29 17:23] MDMBD commented on #323
I work on 4 VM centos 7 locally (https)

[2017-03-29 17:37] ryanlovett commented on #1045
Okay, sounds interesting. Just let me know if I can help with the demos or the standalone layer.

[2017-03-29 18:14] willingc commented on #1045
@ryanlovett :smile: @minrk Any thoughts on when we should move the repos under JupyterHub org? I think there are a number of folks that would make use of the RStudio goodness 👍

[2017-03-29 18:17] willingc commented on #323
@MDMBD It would help me a bit if you could clarify your question. Thanks!

[2017-03-30 04:31] laurikoobas commented on #1026
Well, I got it working finally after very very verbose logging and a lightbulb going off last night.

The [document ](https://github.com/jupyterhub/jupyterhub/wiki/Using-sudo-to-run-JupyterHub-without-root-privileges) about running sudospawner without root. It has the line about "Runas_Alias JUPYTER_USERS = zoe, wash". I went with the comments above it ("_Give the new user ..._") and assumed that

[2017-03-30 04:31] #1026 closed

[2017-03-30 04:40] laurikoobas commented on #1023
I finally managed to make it work under Debian (#1026), maybe the same thing works for you.

[2017-03-30 08:08] teored90 opened #1048 "Problem with environment variables and f2py"
I think this is not a bug of jupyterhub, but rather a problem with the configuration of environment variables and I need your help to understand where the problem is.

I have a fortran function compiled with `f2py` using the Intel `ifort` compiler. If I launch a python console or a jupyter notebook from my shell (that has the env variables such as `LD_LIBRARY_PATH` correctly set, I'm able to impor

[2017-03-30 08:12] MDMBD commented on #323
hi,

When I connect to the jupyterhub interface via a localhost: 8000 URL.
I receive an error message on my vm cento7:
Here's the message

1-If user no admin I receive this message:

[I 2017-03-30 09:53:35.951 JupyterHub app:1453] Hub API listening on http://10.16.36.29:54321/hub/
[W 2017-03-30 09:53:35.960 JupyterHub app:1174] Running JupyterHub without SSL.  I hope there is SSL termination happe

[2017-03-30 12:33] willingc commented on #1048
Hi @teored90,

I'm not familiar with using f2py, but it does seem as if there is a configuration issue when you compile the the module using f2py.

In addition to the Numpy documentation, here's another resource that may help you:

- http://folk.ntnu.no/magnud/Projects/F2PY.pdf

@minrk may have additional suggestions too.

[2017-03-30 13:44] cbienpourtoi commented on #1045
That would be a great feature to add!

[2017-03-30 14:01] minrk commented on #1045
I'm fine with doing this now, if @ryanlovett would like to

[2017-03-30 15:04] minrk opened #1049 "Raise 403 on authenticated user without access to single-user server"
Right now, when a user is logged-in and visits another user's server, they start the login redirect process. This can result in a redirect loop if the user shouldn't have access to the server.

Instead, if a user is identified and doesn't have access, the user should get a 403 instead of redirecting back to login.

The tricky bit is that 'authenticated' is generally determined by `if get_current_u

[2017-03-30 15:45] teored90 commented on #1048
Hi @willingc,

thanks for answering. The Fortran code is compiled once with f2py, then I'm able to use it in python if it is run under my user's shell. The problem is in the dynamic linker, but I don't really know the structure of jupyterhub and how it spawns kernels etc., so I don't know where to put my hands.

[2017-03-30 16:21] ryanlovett commented on #1045
Yes, that'd be great!

[2017-03-31 08:15] minrk commented on #1048
If you have set the environment variable for the jupyterhub process itself, there is a whitelist of environment variables for each user's subprocess to inherit:

[code]

Or, you can specify a particular value to be set in the spawner environments:

[code]

[2017-03-31 12:41] teored90 commented on #1048
Yes! That was it! Thank you very much.

[2017-03-31 12:41] #1048 closed

[2017-03-31 13:25] jai11 commented on #394
Any beta version for notebook sharing ? or code ?

[2017-04-01 08:39] Paperone80 opened #1051 "Problems with c.spawner.default_url and {username} when 'USER' <> PW_NAME"
Hi,

I am on a RHEL 7 server and the users are linked to a global active directory. I am using the Intel Python Distribution 3.5 with JupyterHub version 0.7.2.

It is setup in a way that any user can login with either "u+ID" or "U+ID" and PW, so the first letter can be lower or upper case. However, the $HOME is always /home/**U+ID**, ie upper case letter.

On the system with via

[code]

my enviro

[2017-04-02 23:18] johnplaydrums commented on #1028
`zmq.zmq_version()` is `4.1.6`.

So I found the cause. I use [s3fs fuse](https://github.com/s3fs-fuse/s3fs-fuse) to mount s3 buckets on each users notebooks directory, so their data will be saved if an instance needs to be terminated. When I unmount the buckets, python 2 kernels start up great. When I mount the buckets again, it slows down. Haven't quite figured out why, yet. Any help is appreciat

[2017-04-02 23:43] willingc commented on #1028
@johnplaydrums Great job finding the cause. You may wish to check if settings for caching changed between staging and production.

I'll leave this open since @minrk may have some ideas. Also @zonca may have some thoughts re: s3 as well.

[2017-04-03 08:44] simopal6 commented on #1018
Same error, on Slackware 14.1

[2017-04-03 11:21] minrk commented on #1051
Perhaps the simplest solution would be to change the username normalization to ensure uppercase instead of the default lowercase:

[code]

Does that work?

[2017-04-03 11:25] minrk commented on #1028
@johnplaydrums ah, then it might be all of the `stat` calls triggered during Python's initialization / imports. I believe that Python 3 improved the efficiency of this, reducing the number of redundant calls that are made. If those calls are slow on s3fs, it may make a big difference.

You can also test by trying to start a regular IPython session in the same working directory that the notebook se

[2017-04-03 16:37] tguillemot opened #1052 "JupyterHub as a backend only"
This issue is related to #1045 but I prefer open another issue to not pollute the previous one.

My plan is to use JupyterHub as a back-end to create / manage the `kernel_gateway` with a homemade notebooks front-end.

To do that, I want to :
1. modify JupyterHub to spawn `kernel_gateway` for each authenticated users
2. authenticate the users with foreign JWT tokens
3. define a REST API to launch a

[2017-04-03 16:39] tguillemot commented on #1045
Just some news of what I've done.
I have modified `single_user.py` to use the `KernelGatewayApp` instead of a `NotebookApp` (see [single-user.py](https://github.com/tguillemot/jupyterhub/blob/kernel-gateway/jupyterhub/singleuser.py#L575)) and even if the code needs to be clean it seems to work.

Not sure if it is the best way but it can be useful for #1052.

[2017-04-04 03:46] Paperone80 commented on #1051
Thanks for the quick reply! Yes, it worked like a charm!
Enabled in jupyterhub_config.py
[code]
and copied your code at the end of the **PAMAuthenticator configuration** part.

[2017-04-04 10:34] minrk commented on #1052
They can only have the same URL if all users should be sharing the same kernel_gateway instance (one route can only have one destination). If that's true, then they should all really be the same user as far as JupyterHub is concerned, and use a different bit of metadata to differentiate them.

[2017-04-04 12:15] jan-janssen opened #1053 "Mayavi extension in Jupyterhub"
Hello,

I run jupyter server 4.4.1  on Python 3.5 and I managed to setup mayavi in jupyter following their explanations: http://docs.enthought.com/mayavi/mayavi/tips.html

Now I try to use the same extension inside Jupyterhub, but I get the following error messages:
`[W 2017-04-04 14:08:44.347 JupyterHub log:100] 404 GET /hub/nbextensions/mayavi/x3d/x3dom.js?v=20170404140114 (username@127.0.0.1) 4

[2017-04-04 18:56] penumbra- commented on #1000
I didn't manage to resolve the issue. Our academy network managers are very strict so i hosted on localhost:8000 and i am just port forwarding via SSH/Putty to use it at home.

Security concern question, is it OK to use only http behind SSH tunnel or should i switch to self signed ssl keys (server are used by max 20 people on 3 different accounts; like "student", "admin1", "admin2")?

[2017-04-04 20:21] willingc commented on #1000
@rgbkrk @minrk Tossing this security question to you for the best approach. It seems at minimum SSL would be prudent.

[2017-04-05 10:00] minrk opened #1055 "add note, last-used to API tokens"
It would be handy to add a note and last-used timestamp to the API tokens table.

This would allow a "tokens" page to show a table of tokens with a note about what they are for (e.g. "single-user server" or "cull-idle script", enabling informed auditing / deletion of tokens, etc.

cf GitHub's [tokens page](https://github.com/settings/tokens):

<img width="773" alt="screen shot 2017-04-05 at 11 58

[2017-04-05 10:50] minrk commented on #1000
I can't speak with authority, but tunneling loopback to loopback interfaces should be okay because it is rather difficult to spy on localhost connections without root permissions on one machine or the other. Since the Hub itself is using localhost HTTP internally between the proxy and the Hub/single-user servers, the only increase in attack surface is localhost on your home computer.

[2017-04-05 11:11] minrk commented on #1053
I've opened https://github.com/enthought/mayavi/pull/498 to fix this upstream. The short of it is that it should be `"nbextensions/...` not `"/nbextensions...`, which lets requirejs load the right prefix.

[2017-04-05 12:03] minrk opened #1056 "allow creating new OAuth clients via REST"
Not sure if we need this, but since we are using OAuth now (#938), it may make sense to add REST API endpoints for creating new OAuth clients.

In its absence, services can always be added to the Hub config to generate new OAuth clients.

[2017-04-05 12:07] minrk opened #1057 "Auth token scopes?"
Since we have OAuth set up, we may consider the notion of scopes. However, I realize this does't really have anything to do with OAuth, but rather adding the notion of scopes to our existing API tokens.

This could change how services / servers ask the Hub if a given user should have access. Instead of asking "who is this?" and checking against a local set of permitted users, the service could ask

[2017-04-05 13:17] minrk opened #1058 "use environment variables to configure single-user server"
Right now, we have a mixture of environment variables and command-line arguments to configure the single-user server.  After working with deployments based on docker and kubernetes, and considering alternate single-user implementations based on JupyterLab, KernelGateway, etc. I think moving most, if not all, single-user inputs to environment variables from CLI args would make things simpler.

Ther

[2017-04-05 19:58] ramnavan commented on #1020
@willingc - My Jupyterhub environment has been working all along till yesterday. Since this morning though, I am getting Failed to start proxy error. This is in Linux

[2017-04-05 20:18] ramnavan opened #1059 "Proxy failed to start with exit code 8"
Jupyterhub version 0.7.2
Configurable-Http-Proxy version 2.0.0

I've been getting the error failed to start proxy since this morning. The same scripts I have been using for deployment has been working till this morning.

Jupyterhub Log Info:

[code]

[2017-04-05 20:28] willingc commented on #1059
@minrk There's some additional detail on the gitter channel.

[2017-04-05 20:33] willingc commented on #1059
@ramnavan https://github.com/jupyterhub/jupyterhub/issues/237#issuecomment-95594644 is an older issue with a similar error that seems to resolve by uninstalling and reinstalling globally.

[2017-04-05 20:35] willingc commented on #1020
See #1059.

[2017-04-05 21:04] willingc commented on #1059
Looks like this is the case of an old version of node. What is odd is that the same works with CHP 1.3.1.

From gitter:

node is v0.10.46
Using Amazon Linux AMI. AWS EMR uses this as default when spinning up an EMR cluster
Jupyterhub was working till yesterday evening for me though. Same OS image and same scripts.

[2017-04-06 06:00] yechangyao commented on #991
Hi I met exactly the same problems and after reinstalling python 3.6.1 the problem solved.
Just for information sharing.

[2017-04-06 08:49] minrk commented on #1059
CHP 2.0 drops support for versions of node unsupported by node itself. The base version is the oldest currently-active LTS version (4.0).  https://github.com/jupyterhub/configurable-http-proxy/pull/98 should get a better error message on attempted installation with unsupported versions of node.

[2017-04-06 10:23] kwotuveang3k4bk commented on #1053
Unfortunately, that is not working for me, which version do you use? I get:
`/user/username/notebooks/path/to/my/notebook/and/notebook/name/nbextensions/mayavi/x3d/x3dom.js`
but it should be:
`/user/username/nbextensions/mayavi/x3d/x3dom.js`
and previously it was:
`/nbextensions/mayavi/x3d/x3dom.js `

[2017-04-06 13:57] #553 closed

[2017-04-06 14:02] willingc commented on #1059
Closing this issue. Thanks for the quick addition @minrk.

@ramnavan Thanks for the report yesterday. If you with to use CHP 2.0.1, the Amazon Linux AMI will need to have a more recent version of node.

[2017-04-06 14:02] #1059 closed

[2017-04-06 18:19] jstaf opened #1060 "Deleting OS users causes Jupyterhub server to fail to start"
Jupyterhub does not properly check if a user exists when it attempts to start. If an OS user is deleted, Jupyterhub will crash until those users have been removed from Jupyterhub's database.

**How to reproduce the issue**

* Install Jupyterhub according to https://github.com/jupyterhub/jupyterhub/wiki/Using-sudo-to-run-JupyterHub-without-root-privileges.
* Create a test user (`useradd test`).
* L

[2017-04-06 21:27] willingc commented on #1060
Hi @jstaf,

Thanks for the well detailed issue report. Sorry you ran into this.

Currently, JupyterHub does not check for this use case which is described in the [documentation](https://jupyterhub.readthedocs.io/en/latest/g.tting-started.html#add-or-remove-users-from-the-hub) and summarized below:

I'm going to go ahead and label this as an "enhancement" for better "user experience".

[2017-04-07 07:36] qingzhouzhen opened #1061 "How could I run JupyterHub without root?"
How could I run JupyterHub with normal user?
 https://github.com/jupyterhub/jupyterhub/wiki/Using-sudo-to-run-JupyterHub-without-root-privileges
This guide still use sudo to run the JupyterHub. If I customed the Authenticator, then I can run Jupyterhub with normal user?

[2017-04-07 07:44] JoyMonteiro commented on #1032
Hello @willingc @minrk,

Here is the output, as promised. Turns out the Hub is crashing with traitlets 4.3.2 now.

Here is the output on a successful launch using traitlets 4.1.0:

[code]
The first error happens all the time, the fff@gmail.com does not exist part. That seems more to do with the Hub trying to find the UNIX user corresponding to the email ID, which does not exist. But the hub runs o

[2017-04-07 08:54] yuvipanda opened #1063 "Provide an easy way for authenticators to put things in auth_state"
The `User` ORM object has an `auth_state` column for authenticators to put misc info in. However, this isn't easily available for most authenticators to override - they usually just override the `authenticate` method, which can return only a username. When helping some students write an authenticator that needed to store state in `auth_state`, we realized the only real way is to re-implement the h

[2017-04-07 09:18] minrk commented on #1032
## tl;dr

try adding to `jupyterhub_config.py`:

[code]

which will ensure that a system user exists corresponding to each JupyterHub user.

## details

The `User fff@gmail.com does not exist` error [comes up when](https://github.com/jupyterhub/jupyterhub/blob/0.7.2/jupyterhub/auth.py#L403):

1. a `Local...` Authenticator is in use (e.g. `LocalGoogleOAuthenticator` or PAM)
2. the username doesn't

[2017-04-07 09:50] minrk commented on #1061
The guide uses sudo, but never to become root. It sets up restricted sudo permissions to allow the Hub user to become specific other users only to launch their notebook servers, nothing else.

[2017-04-07 11:06] minrk commented on #1060
The severity of the failure is specific to sudospawner, which relies on becoming the user in order to check if the user is running. Other Spawners, such as the default one, ought to have no such problems.

If SudoSpawner checked for user existence before`.poll()`, it would also have no such issue.

During JupyterHub startup, the following happens:

- iterate through users in db, check their validi

[2017-04-07 11:34] minrk opened #1064 "update docs for oauth"
- [x] update descriptions of how auth works
- [x] update service docs, pointing to new OAuth classes (existing docs / cookie-based auth still works)
- [ ] add new services.auth.OAuth classes to API docs

[2017-04-07 11:35] willingc commented on #1061
@minrk I made the guide on the wiki highlight the restricted purpose.

I'm going to recommend closing this. @qingzhouzhen, I hope @minrk's response helps.

[2017-04-07 12:18] minrk opened #1065 "Better support explicit auto_login Authenticators"
Some Authenticators want to auto-login users. For example:

- [tmpauth](https://github.com/yuvipanda/jupyterhub-tmpauthenticator) (generates temporary users)
- [REMOTE_USER](https://github.com/cwaldbieser/jhub_remote_user_authenticator/blob/master/remote_user/remote_user_auth.py) (user already logged in with Apache, get user info from headers)

However, automatically starting the login process is

[2017-04-07 12:49] JoyMonteiro commented on #1032
Thanks, @minrk.

We added the users manually to the config file, hence creating them was not an issue. We really don't want to create system users, since the people using this hub are mostly temporary users.

Does the system user get deleted if the corresponding hub user is deleted? Then, this could be a viable option.

I don't know what traitlets is doing, but if the issue is that `SudoSpawner` r

[2017-04-07 13:27] minrk commented on #1065
Another possible feature to add:

[code]

which is called when a request hasn't been authenticated via a cookie. This could be used to start the auto-login process where login info is already defined, which would reduce the need for auto-login Authenticators like tmpauth and REMOTE_USER to define any handlers, just a single method that returns a username from a handler.

[2017-04-07 14:27] minrk commented on #1032
Then SudoSpawner is probably not the right Spawner for you. SudoSpawner only does one thing: switch to another system user with `sudo` to run the notebook server. This doesn't make sense if you don't want there to be another user to switch to.

You are exactly right. It doesn't make sense that SudoSpawner would ever work with users that don't exist. Traitlets version shouldn't be relevant here, th

[2017-04-07 14:49] minrk commented on #1063
I haven't seen a real-world use case for `auth_state` yet, so it probably hasn't come up yet. There isn't a call that maps to `.authenticate` that gets the `User`. The calls that do are `.add_user` on creation / *first* login and `Authenticator.pre_spawn_start`, before launching the server.

Returning auth_state makes sense, but I'd make it a dict instead of a tuple. That way they are named fields

[2017-04-07 14:51] minrk commented on #1065
Arg, the `.get_user` preemptive login is mostly a no-go because it would need to go in `.get_current_user`, which has to be synchronous, but whitelist checking, etc. are async.

[2017-04-07 15:25] jstaf commented on #1060
Hmmmmm... although you do have documentation buried rather deeply saying what needs to happen (also, that's a broken link), Jupyterhub needs to be able to gracefully handle normal sysadmin activities like deleting users, regardless of which spawner gets used.

I think opt-in user removal is a good suggestion (and the default behavior of sudospawner, where failure to delete users results in a crash

[2017-04-07 15:37] willingc commented on #1060
@jstaf Sorry about the copy-pasta error in the link. I've fixed it above.

Yeah, I think this suggestion from @minrk makes good sense. Thanks for sharing your experience with us too.

[2017-04-07 17:00] JoyMonteiro commented on #1032
I'm using sudospawner to run the Hub as a lower privilege user, following the docs here:
https://github.com/jupyterhub/jupyterhub/wiki/Using-sudo-to-run-JupyterHub-without-root-privileges

When spawning new single user servers, I use `SameUserSpawner`, which should ideally not call `getpwnam()`, since I override those parts of `LocalProcessSpawner`. I have added some additional
logic to your versi

[2017-04-07 18:41] yuvipanda commented on #1063
The wikimedia JupyterHub install is still running an old hacked version of
JupyterHub because of this, and we also need this in Berkeley for OKPy
integrating authenticator (where we want to pass auth token to the user
container) & google drive integration (same thing). So I think there's
pretty good demand for this.

Agree that dict makes more sense!

On Fri, Apr 7, 2017 at 7:49 AM, Min RK <notifi

[2017-04-07 22:36] jrollins opened #1067 "infinite redirect post authentication behind apache reverse proxy"
Hello.  We're having an issue with infinite redirection after authentication.  I see that there have been similar such issues in the past, but none seem like what we're seeing, so we're filing a new report.  Hopefully this isn't a duplicate.

We're running jupyterhub behind an apache reverse proxy with the RemoteUserAuthenticator.  The authentication step seems to happens fine, and the user is pre

[2017-04-08 08:36] minrk commented on #1032
@JoyMonteiro JupyterHub only uses one Spawner, so you can't be using both SudoSpawner and SameUserSpawner at the same time. Your logs above show that sometimes one case using SudoSpawner and another using SameUserSpawner. If you are using SameUserSpawner, you also don't need elevated permissions.

Can you share your `jupyterhub_config.py` and your complete log from starting `jupyterhub --debug`?

[2017-04-08 09:26] minrk commented on #1060
#1069 adds the opt-in (`Authenticator.delete_invalid_users`) and fixes the bug where errors in Spawner.poll could prevent Hub startup.

[2017-04-08 10:17] JoyMonteiro commented on #1032
@minrk I'm attaching the output from three versions, and the config.
I have scrubbed them a bit, but none of the configuration information.

I also tried your suggestion, and did not pass the `SudoSpawner` argument during invocation.
I used to
[code]
This actually works! The server needs to run for a few days and people have to use it to verify this statement, but I'm able to start single user ser

[2017-04-08 16:44] willingc opened #1070 "Investigate Travis settings for passing test suite"
There are a number of times that Travis fails on only one Python version level (3.4, 3.5, 3.6). See if it is possible to configure Travis to pass if 2 of 3 versions pass and one fails due to spurious errors. @minrk Thoughts on this?

[2017-04-09 16:06] Bamieh opened #1071 "unable to use jupyter configs"
Hello,

I am trying to use a custom `pre_save_hook` via jupyter config file, however i am unable to get jupyterhub to detect it.
i have the config file saved at the user level and on global level aswell. i tried saving it as `ipython_notebook_config.py` in accordance to the documentation, and as `jupyter_notebook_config.py` according to jupyter docs, all my attempts are failing.

[code]

thanks

[2017-04-09 16:20] willingc commented on #1071
Hi @Bamieh,

What documentation are you using that is recommending this information since it is outdated? Jupyter does not have the concept of profiles since v4.0. This [reference](https://jupyter.readthedocs.io/en/latest/migrating.html#finding-the-location-of-important-files) explains the file structure when using Jupyter.

It is best to use `jupyter_notebook_config.py` for `pre_save_hook` as des

[2017-04-10 08:37] minrk commented on #1032
Since JupyterHub only uses one Spawner, this line:

[code]

should result in using SudoSpawner and ignoring the SameUserSpawner config in your `jupyterhub_config.py`. There was [a bug](https://github.com/ipython/traitlets/pull/250) in traitlets 4.0-4.2, where the reverse would happen: the config file would override options on the command-line. So in traitlets 4.2, the `--JupyterHub.spawner_class=.

[2017-04-10 09:37] minrk commented on #1070
I don't think Travis has any way of knowing if an error is spurious or not. A failure on one version of Python could just as easily be an actual incompatibility (e.g. using something new in 3.5). These spurious failures are ~always bugs in the tests themselves, often relating somehow to threadsafety, so they should be able to be fixed.

[2017-04-10 09:49] JoyMonteiro commented on #1032
Things make much more sense now!!

Thanks for the pointers for my config, it does indeed get rid of those warnings, and cleared some
misconceptions about how things work.

[2017-04-10 09:49] #1032 closed

[2017-04-10 10:04] minrk commented on #1063
Is your auth somewhere? What do you put the auth state and when, if ever, do you clear it?

[2017-04-10 10:44] Bamieh commented on #1071
@willingc thanks for the fast reply! i got the "outdated" information from [here](https://jupyterhub.readthedocs.io/en/latest/getting-started.html#spawners-and-single-user-notebook-servers)

i was able to use my configs using the "--configs" command when calling my spawner, however, i am unable to know where to put the config file for auto read? i have it inside `$HOME/.ipython/profile_default/jup

[2017-04-10 12:59] willingc commented on #1070
Got it. I'll keep an eye out for any patterns in failures. Closing this. Thanks @mirnk.

[2017-04-10 12:59] #1070 closed

[2017-04-10 17:05] yuvipanda commented on #1063
Nope, don't clear it. right now, my 'patched' JupyterHub just never clears
spawner state, since otherwise I'll just lose auth state when user
containers are respawned.

On Mon, Apr 10, 2017 at 3:04 AM, Min RK <notifications@github.com> wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2017-04-10 17:36] willingc commented on #1067
Hi @jrollins,

I suspect this is a configuration error. I'm far from an Apache expert but it looks as if the configuration for apache or the configurable-http-proxy has an extra '/' at the end of a setting. See following 3 lines.

[code]
@minrk please let us know if you see anything else.

[2017-04-11 09:49] alfonsonishikawa commented on #313
I fixed it configuring the following in jupyterhub_config.py:

`c.Spawner.cmd = ['fullpath-to/jupyterhub-singleuser']`

(maybe I have a later Jupyterhub version?)

[2017-04-11 11:47] minrk commented on #1067
I can't be 100% sure, but the `/jupyter//` *could* be related. I'm guessing this is due to a mismatch in the trailing slashes in your Apache config, where you have `Location /jupyter` (no trailing slash) and `ProxyPass http://127.0.0.1:8000/jupyter/` (trailing slash). You might try ensuring that the two match (either both have slashes or both lack them). You might also ensure a trailing slash on J

[2017-04-11 15:34] choldgraf opened #1073 "Come up with a list of common packages used for different scientific fields"
Per conversations with @yuvipanda, we'd like to get a list of packages that are commonly used in particular subdomains. This could be used to build "base stacks" for each domain that users could specify, which would alleviate some of the headache of listing dependencies etc.

We should:

* Figure out if such lists already exist.
* If not, put together a survey to ask people about their most common

[2017-04-11 18:10] jrollins commented on #1067
Thank you guys so much!  It hadn't occurred to me that the slashes would actually be a problem, but making them consistent worked!  I decided to canonicalize to no trailing slash.  No more infinite redirects, and I can get access to the single-user server, navigate to a notebook, and launch it.

However, I immediately run into a second problem in the window displaying the notebook:
[code]

Since t

[2017-04-11 18:10] #1067 closed

[2017-04-11 18:18] jrollins opened #1074 "websocket connections not making it through apache reverse proxy"
So after resolving issue  #1067 about infinite redirects after authentication, I started to run into a second problem:

The single-user server starts, and I'm able to navigate to a notebook and actually see it displayed.  However, once it's displayed the kernel status stays yellow with "connecting kernel...", and then I get the following error:
[code]
So it gets the initial display of the notebook

[2017-04-11 22:02] willingc commented on #1067
@jrollins Glad that we were able to help. 👍

On the other issue, I would double check the versions of the language kernels (ipykernel) to see if they are up to date.

[2017-04-11 22:22] jrollins commented on #1067
@willingc can you be more specific about what you mean about checking kernel versions?  How would I do that exactly?

We're currently using ipykernel 4.5.2.  How do we know which version should be compatible with the version of jupyterhub we're running?

[2017-04-11 22:44] willingc commented on #1067
Hi @jrollins, Typically, I would recommend running the latest ipykernel release (which  is 4.6.1 released today) when running JupyterHub though I have hub running with 4.5.2 which should work too.

It could be a permissions issue where you do not have read-write access: [see reference](https://github.com/jupyter/docker-stacks/wiki/Docker-recipes#host-volume-mounts-and-notebook-errors)

Anything in

[2017-04-11 23:15] jrollins commented on #1074
In another thread @willingc suggested it might be an issue with the version of the underlying ipykernel:

We're running ipykernel 4.5.2, but I'll look at possibly upgrading it

The singleuser server is running as the appropriate user, so I don't think it's a permission issue.  Haven't seen anything in the logs either that would suggest that was the problem.

I just tried using a fresh Chromium inc

[2017-04-11 23:16] jrollins commented on #1067
@willingc I'm moving this discussion over to the over to the new issue I opened for this new problem: #1074

[2017-04-11 23:30] jrollins commented on #1074
I'm also seeing that I can't stop the singleuser server from the control panel.  Clicking on the red "Stop My Server" button does nothing, but I see the following in the jupyterhub logs (hostname fqdn has been replaced with the string '__HOST__'):
[code]
Could these issues be related?  Does this provide a hint?

[2017-04-11 23:32] willingc commented on #1074
@jrollins Can you post your jupyterhub_config.py?

[2017-04-11 23:34] jrollins commented on #1074
@willingc sure:

[code]

[2017-04-11 23:35] willingc commented on #1074
Also, are there any firewall or browser extensions blocking the API request?

[2017-04-11 23:37] jrollins commented on #1074
@willingc There is an apache reverse proxy used for authentication, same as described in #1067:

[code]

[2017-04-11 23:48] willingc commented on #1074
@jrollins Apache can be a bit finicky to set up correctly I'm passing along an issue where there was a long discusssion: https://github.com/jupyterhub/jupyterhub/issues/219 There were some Apache modules to check if they are installed, websocket settings, and other settings. [This blog post](https://renatocunha.com/blog/2016/11/jupyterhub-apache/) may help too.
Also pinging @minrk for further tips

[2017-04-12 00:00] #1061 closed

[2017-04-12 02:43] jrollins commented on #1074
Ok, I might be making some progress...

(again below all fqdn hostname replaced with '__HOST__')

I installed a new apache config based on the renatocunha.com blog post:
[code]
This improved config fixed a different issue I was seeing, but still gives me the "Connection Error" when trying to communicate with the kernel.

I then started looking at the browser console and found these errors:
[code]

[2017-04-12 05:27] ianabc commented on #219
I have this problem on a bunch of hubs now, I haven't really figured out how to debug it. I've tried making local modifications to kernel.js within Chrome and saving them, but they never seem to be applied. The most likely thing I've found is [this websocket-sharp issue](https://github.com/sta/websocket-sharp/issues/120) which talks about problems with Chrome's handling of compression. If I can fi

[2017-04-12 08:41] mpekalski opened #1075 "Not starting after upgrading to Notebook 5.0"
I am running
- JupyterHub 0.7.0dev
- on Docker 1.12.6
- with Notebook  4.3.1

I wanted to upgrade to the latest Notebook 5.0. After doing so, I can see changes in the Notebook UI, but when I stop and remove the docker container and try to start it again it fails to start.
the UI gives error message

Spawner failed to start [status=ExitCode=1, Error='', FinishedAt=2017-04-12T08:37:34.271587492Z]

a

[2017-04-12 10:19] minrk commented on #1075
Looks like you are using an old development version of JupyterHub. I believe this was fixed in JupyterHub 0.7.0. I would recommend upgrading to JupyterHub 0.7.2, the current stable version.

[2017-04-12 13:54] mpekalski commented on #1075
Unfortunately it looks like it was not fixed. I have updated to the latest 0.7.2 (from git), but the error is still there.

[code]

[code]

[2017-04-12 15:23] mpekalski commented on #1075
If I understand correctly the latest version

https://github.com/jupyterhub/jupyterhub/blob/703ed7d21ef822d0dbde4b91c1dd7b2ccabee188/jupyterhub/singleuser.py

does not have `_static_custom_path_default`, so the problem is with spawner, right?

[2017-04-12 16:50] jrollins commented on #1074
Ok, so I'm convinced this is an issue with forwarding of the websocket connections.  In the browser I'm seeing:
[code]
and in the apache logs, a minute later I'm seeing:
[code]

I've been trying every combination I can come up with of <Location>, <LocationMatch>, ProxyPass, ProxyPassMatch, and nothing seems to work.  My apache foo is just not good enough.  Here's the last thing I tried:
[code]
I'm

[2017-04-13 14:42] philejmath opened #1078 "Accessing the Jupyter Server API when using Jupyterhub"
The documentation is unclear on how to access the [Jupyter Notebook API
](https://github.com/jupyter/jupyter/wiki/Jupyter-Notebook-Server-API) when using Jupyterhub.

[Jupyterhub Documentation](http://jupyterhub.readthedocs.io/en/latest/rest.html) states :
[code]
I setup a system wide jupyter_notebook_config.py in /etc/jupyter using "c.NotebookApp.token" expecting to be able to access the notebook

[2017-04-13 17:23] jrollins commented on #1074
I seem to have miraculously found a configuration that works.  I tweaked and cleaned up the apache config, and then went to test again, and everything happened to be working.

For the record, here is the config that is currently working:
[code]
I'm not sure which of my tweaks worked.  The biggest one I guess was moving it out of `<IfModule mod_proxy.c>` clause...

So I guess I'll call this issue r

[2017-04-13 17:23] #1074 closed

[2017-04-13 17:30] willingc commented on #1074
@jrollins Yay! Thanks for sharing this with the community. Sorry, I missed you yesterday (travel and migraines are not a happy combo). Keep us posted on how it works for you. Thanks.

[2017-04-14 13:12] #1071 closed

[2017-04-14 13:15] Bamieh opened #1079 "ERR_TOO_MANY_REDIRECTS when authenticating an extension."
hello,

I am trying to authenticate my own extension, i tried two main things, basically hitting the API, or using the authentication mixin, i would appreciate any help!

I registered an extension, and it works fine unauthenticated, but when i try to use the authentication mixin i get a 302 error on the routes with `ERR_TOO_MANY_REDIRECTS` in console. the authentication only works for services and

[2017-04-14 18:17] willingc commented on #1073
@choldgraf I would recommend checking out [jupyter/docker-stacks](https://github.com/jupyter/docker-stacks) as they provide a broad selection of commonly used package bundles.

[2017-04-14 18:46] willingc commented on #1075
Hi @mpekalski, Sorry for the delay. Several of us are on holiday vacation. Would you be able to share the output of the original exception that caused the second exception? Thanks!

[2017-04-14 18:48] choldgraf commented on #1073
Thanks for the suggestion! I think docker stacks is a great first start - I know Yuvi is trying to put together base images that are much more lightweight than this, and then have some dependency trees that are based on field. So a user could say "generate this jupyterhub and give me the python 3 stack + geosciences stack" or something like this.

[2017-04-14 19:54] Bamieh commented on #1079
What im trying to achieve from all of this is to  **add some pages** to the hub that uses the authentication of jupyterhub.

I have tried extensions and services:

1. **with services** i was able to easily authenticate the user but i was unable to achieve is creating multiple routes per service, i add as many routes as i want, with prefixes and all, but only the route with `/` is reachable.
[code]

[2017-04-14 20:13] krak3nnn opened #1081 "Spawner failed to start on PBS cluster"
**How to reproduce the issue**
Install the batchspawner plug-in and specify the Torque class.

**What you expected to happen**
After authentication, submit a single user notebook to the cluster and relay back the hub.

**What actually happens**
Job gets submitted and job id is seen in qstat but Jupyterhub returns this error:
"JUPYTERHUB_API_TOKEN env is required to run jupyterhub-singleuser. Did y

[2017-04-15 06:53] barrachri commented on #1057
How do you plan to manage the list of users?

Right now you have a list of users that can login in and the groups for single-server shared among different users.

[2017-04-15 15:25] tjcrone opened #1083 "DockerSpawner Spawner Failed to Start"
Hello I am having trouble starting a notebook using dockerspawner. I am getting a Spawner failed to start message. Here are the log messages and the docker logs output:

[I 2017-04-15 11:09:41.720 JupyterHub dockerspawner:449] Starting container 'jupyter-tjc' (id: ba60216)
[W 2017-04-15 11:09:51.721 JupyterHub web:1545] 500 GET /hub/user/tjc (::ffff:64.145.79.220): Spawner failed to start [status=

[2017-04-15 17:23] tjcrone commented on #1083
Logging in to the jupyterhub/singleuser image, it looks like jupyterhub is not installed. Is this possible?

root@berna:/etc/jupyterhub# docker run -i -t -u 0 jupyterhub/singleuser /bin/bash
root@ca18f43f8648:~/work# find / -name "*jupyter*"
/home/jovyan/.jupyter
/home/jovyan/.jupyter/jupyter_notebook_config.py
/usr/local/share/jupyter
root@ca18f43f8648:~/work#

root@berna:/etc/jupyterhub# docker

[2017-04-17 09:34] parente opened #1086 "notebook 5.0 favicon / favicon-busy fail to load"
**How to reproduce the issue**

Use notebook 5.0 with jupyterhub 0.7.2.

**What you expected to happen**

favicon.ico and favicon-busy.ico load properly and tab icon changes like when notebook 5.0 runs standalone.

**What actually happens**

404 Not Found hub/static/base/images/favicon.ico and hub/static/base/images/favicon-busy.ico

**Share what version of JupyterHub you are using**

0.7.2

[2017-04-17 18:39] y2kbowen opened #1087 "Jupyterhub cross origin requests"
I have read the documentation but still having an issue with jupyterhub cross origin requests.  I am running jupyter 4.3.0

I am making a request from my web application which when running under test has the  origin http://localhost:5000.  I am making the call from the client code to log into jupyterhub with the call:

[code]

This will return a cors exception on my browser. So I read this [issue

[2017-04-17 23:39] yuvipanda opened #1088 "Jupyterhub 0.7.2 does not work with a MySQL backend"
**How to reproduce the issue**

1. Setup a JupyterHub with mysql database backend, pointing to an empty database

**What you expected to happen**

2. JupyterHub creates the required tables in the database on start

**What actually happens**

It fails to start, with:

[code]

I think the group name needs to be smaller.

[2017-04-18 05:48] yuvipanda opened #1089 "Fractional memory / CPU limits / guarantees fail"
**How to reproduce the issue**

Set memory limit (or guarantee, or cpu limit / guarantee) to a non-integral spec:

[code]

**What you expected to happen**

(In supported spawners) memory limit is set to 1.5 gigabytes of RAM

**What actually happens**

JupyterHub refuses to start, with:

[code]

**Share what version of JupyterHub you are using**

0.72.

[2017-04-18 07:56] mpekalski commented on #1075
No worries. It is a popular holiday season. ;)
When I run `conda upgrade notebook` I get two packages upgraded
[code]

But coming back to logs. That is all I have from the docker image logs.
[code]

[2017-04-18 09:28] minrk commented on #1083
@tjcrone that's very odd. When I run those commands I get *loads* of results for `find`. What do you see in `/opt/conda` in the container? Or from `conda list`?

[2017-04-18 11:31] tjcrone commented on #1083
@minrk, well, what is more odd is that after removing the image and repulling it, everything seems to be where I expect it! Maybe there was something wrong with my image? Strange. Anyway, now it appears that a container is created and the server starts but there is some sort of redirect loop:

[I 2017-04-18 07:19:01.545 JupyterHub log:100] 302 GET /user/tjcrone (@216.151.180.169) 0.52ms
[I 2017-04

[2017-04-18 11:43] minrk commented on #1083
Can you restart the Hub and the proxy? Something's not right if the Hub is receiving requests at `/hub/user/tjcrone` after `Adding user tjcrone to proxy ...`

[2017-04-18 11:58] minrk commented on #1075
What's your base docker image? This is the key line in your container:

The jupyterhub package *in the image* needs to be upgraded. This could be because your image is based on a stale base image. Alternately, you could run:

    conda install jupyterhub=0.7

in container to get a compatible version of the jupyterhub-singleuser entrypoint.

[2017-04-18 12:18] tjcrone commented on #1083
I stopped the server, removed the database file, cleared my cookies, and I am still getting this error. Any other information I can provide to help fix this? Thank you!

[2017-04-18 14:52] minrk commented on #1057
This (or something like it) could limit the potential of a compromised single-user server. Since OAuth right now produces a token that gives access to do anything with the Hub on behalf of the visitor, I'm not okay with that being the case for 0.8.

One simple way to implement this is to separate the OAuth access token into something dedicated for the "Only identify the user" rather than an API to

[2017-04-18 19:07] tjcrone commented on #1083
@minrk I would be quite happy to try and fix this in my own fork if you think it is a bug. Can you suggest  the package/file that is likely to be the issue? I am new to jupyterhub development so I'm still learning where everything is. Thanks!

[2017-04-19 00:10] athornton commented on #1063
Agreed strongly that we need something along these lines; I'd also like to chop up authenticate() a little.  I just wrote a little thing ( https://github.com/lsst-sqre/ghowlauth ) that needed to duplicate the oauthenticate authenticate() functionality, because I needed to keep the access token around in order to get org membership and intersect that with an org whitelist.  It would be nice to have

[2017-04-19 10:31] mpekalski commented on #1075
The base image is `FROM jupyter/all-spark-notebook`

I upgraded the jupyterhub to 0.7.2 and notebook to 5.0 within the docker and now I get an error that
`Running as root is not recommended. Use --allow-root to bypass.`

I added `c.NotebookApp.allow_root=True` to jupyterhub_config.py but it does not help.

[2017-04-19 10:35] minrk commented on #1075
This would go in `jupyter_notebook_config.py` in the container, not jupyterhub_config.

[2017-04-19 12:34] minrk commented on #1079
@Bamieh try inheriting from IPythonHandler directly. The JupyterHub single-user server wrapper should take care of authenticating with the Hub.

[2017-04-19 13:53] minrk commented on #1083
Let's get some details for debugging Can you show the whole log of JupyterHub and the proxy, ideally after staring with `--debug` and `c.JupyterHub.debug_proxy = True`? What version of JupyterHub?

What URL are you visiting to connect to the Hub? Is it perhaps `localhost:8080` instead of `localhost:8000`? If so, make sure to use the *public* URL and not the Hub's internal URL.

[2017-04-19 13:54] minrk commented on #1081
cc @mbmilligan @zonca any idea for a cause for batchspawner to be failing to set env variables?

[2017-04-19 14:00] minrk commented on #1078
In JupyterHub 0.7, there is no mechanism for token authentication to single-user servers. Only cookies can be used. 0.8 supports using JupyterHub API tokens (#961), so we should make sure to update the docs to reflect that.

[2017-04-19 14:44] qingzhouzhen opened #1091 "Can jupyterhub installed under the normal user?"
Can jupyterhub installed under the normal user? How can I do it? custom the Authenticator?

[2017-04-19 14:53] tjcrone commented on #1083
[code]
I am connecting on port 443, but I have JupyterHub behind nginx, listening on 127.0.0.1:8000. I have the same issues when I take JupyterHub out from behind nginx, so I don't think this has anything to do with it. Here is my nginx config:

[code]
I will send the log file in a separate message if that's okay. Thank you!

[2017-04-19 15:04] minrk commented on #1086
Fixed by https://github.com/jupyter/notebook/issues/2430

[2017-04-19 15:45] mbmilligan commented on #1081
It would be helpful if we could see the configuration file as well and let us know the Torque version being used. My guess is that either you customized the submit script (as most sites will) and omitted the keepvars line, or else your version of Torque uses a different option for passing environment variables into the job environment.

[2017-04-19 16:32] willingc commented on #1091
Hi @qingzhouzhen,

I don't fully understand your question. Are you asking if you can run jupyterhub without being a privileged user (i.e. root)? If so, this [section of the documentation](https://jupyterhub.readthedocs.io/en/latest/quickstart.html#start-the-hub-server) and the following [wiki page on running JupyterHub without root privileges](https://github.com/jupyterhub/jupyterhub/wiki/Using-su

[2017-04-19 16:54] mpekalski commented on #1075
It worked, thank You.

For those who will have to add it in the future. I have home folders mapped to a storage outside of the docker, so by default each user should have its own config file. It is good to point to a notebook config file within the docker. For that I had to add path to a config file of a default docker user
`--config=/home/jovyan/.jupyter/jupyter_notebook_config.py`
to
`/usr/local

[2017-04-19 17:32] willingc commented on #1075
Hi @mpekalski, I'm glad you got it working :smile:

If you would like, please feel free to submit a PR to the [FAQ](https://jupyterhub.readthedocs.io/en/latest/troubleshooting.html) in the JupyterHub docs [doc source troubleshooting.md](https://github.com/jupyterhub/jupyterhub/blob/master/docs/source/troubleshooting.md) with anything that you think would be helpful for folks in the future :sunny:

[2017-04-19 17:32] #1075 closed

[2017-04-19 19:31] cekees opened #1094 "'xterm': unknown terminal type. on upgrade to 0.8.0.dev"
**How to reproduce the issue**

run a unix command like `top`

**What you expected to happen**

to get ouput of top command

**What actually happens**

'xterm': unknown terminal type.

**Share what version of JupyterHub you are using**

0.8.0.dev from 4df93cab049acde8059373a8ff4e7c0dc236bc0e

Running `jupyter troubleshoot` from the command line, if possible, and posting
its output would also be he

[2017-04-19 20:06] Bamieh commented on #1079
@minrk thanks, i got all 1 and 2 and 3 working now (3 with tokens instead of cookies)!

[2017-04-19 20:06] #1079 closed

[2017-04-19 20:07] Bamieh commented on #1079
@minrk i can submit a pull request adding examples with authentication for the 3 cases, what do you think?

[2017-04-19 20:37] willingc commented on #1094
Hi @cekees,

Hmm...I'm not certain why you are seeing this. Kicking this over to @minrk. Was there perhaps some recent change to the setting of LD_LIBRARY_PATH or TERM?

[2017-04-20 04:33] zonca commented on #1081
@minrk actually I have the same problem on Comet, I fixed it with this commit:

https://github.com/zonca/batchspawner/commit/a7449e388e06ae6c0b487d7fef29e53c0eefb305

I thought it was something wrong with my environment but it looks like it might be a larger issue.

[2017-04-20 07:59] minrk commented on #1094
There haven't been any changes I'm aware of. @cekees what's $TERM in Jupyter and the same variable in a normal terminal?

[2017-04-20 08:07] minrk commented on #1079
@Bamieh please do!

[2017-04-20 08:25] minrk commented on #1083
0.8.0.dev

I think this is it. The recent OAuth changes in master mean that JupyterHub 0.8 is going to need JupyterHub 0.8 *inside the container* for the single-user entrypoint. I would recommend running with the current stable version (0.7.x), but if you want to stick with master, you are going to need to install jupyterhub master inside your image, as well, to get the latest version of jupyterhu

[2017-04-20 08:36] minrk commented on #1087
Unlike the single-user notebook application, JupyterHub doesn't have configuration to disable cross-origin security features. Only token-authenticated requests can be made cross-origin.

[2017-04-20 10:11] tjcrone commented on #1083
Okay I think I will try the latter. I upgraded to master primarily because the last stable release would not properly log users out when they requested it. I'll let you know if I am able to fix this by installing master in the image. Thanks!

[2017-04-20 10:31] qingzhouzhen commented on #1091
No. I mean can I install jupyterhub when I login my PC as a normal user? not root user, i mean install , not run it. The document tells me to install jupyterhub with root user, but I want use normal user

[2017-04-20 12:49] cekees commented on #1094
Thanks. In the jupter terminal it's 'xterm'. Using !echo $TERM in a notebook cell it's xterm-color. Running /bin/bash on the container it's 'xterm'. I have an idea what is going on, and it doesn't directly have anything to do with jupyterhub, so I'm going to close this. The issues is coming from libtinfo or the ncurses install in my custom stack for the docker container. If I do `unset LD_LIBRARY_

[2017-04-20 12:49] #1094 closed

[2017-04-20 12:54] willingc commented on #1094
Glad you got it resolved by unsetting LD_LIBRARY_PATH.

[2017-04-20 12:59] willingc commented on #1091
You can install as a user; however, you will need the SudoSpawner described in the above wiki page.

[2017-04-20 13:19] qingzhouzhen commented on #1091
Do you mean I need to custom the spawnner?

[2017-04-20 14:49] willingc commented on #1091
You would use SudoSpawner https://github.com/jupyterhub/sudospawner which is one of several spawners that are available for JupyterHub. As an FYI, there will be a new release of sudospawner in the next day or two. Feel free to ask questions on the gitter channel for JupyterHub too.

[2017-04-20 15:04] puneetjindal commented on #742
@ponomarevsy: I am facing similar issue. My jupyterhub is not able to spawn processes and suddently it starts working

[2017-04-20 17:08] krak3nnn commented on #1081
@mbmilligan You pointed me in the right direction. I was missing the PBS -V option.

@zonca I was going through your commits and did run into this. Fortunately, I cloned your git well after that commit date.

At this point in time, the issue as been resolved. Thank you everyone for your help!

[2017-04-20 17:08] #1081 closed

[2017-04-21 00:50] toddpfaff commented on #833
I tested this today with centos 7 epel nodejs-6.10.1-2.el7.x86_64 and the problem still exists.

This issue is also discussed here: https://lists.fedoraproject.org/archives/list/nodejs@lists.fedoraproject.org/thread/F4G5CZI64IPIW5KNJK2B5M7QUX4X6JRA/#LPU5XR75NAWBU3WMUEFF56PNOVCLGYZN

@zoltan-fedor How did you make out with an nginx front-end to jupyterhub?

[2017-04-21 05:16] qingzhouzhen commented on #1091
Thanks a lot, my aim is to install jupyterhub under normal user and run it under normal user. I can install jupyterhub under normal user with SudoSpawner and run it under the same user, is that right?

[2017-04-21 09:24] minrk commented on #1091
Yes, you can install jupyterhub and sudospawner as a normal user. To use SudoSpawner, though, you need root permissions to configure sudo to grant jupyterhub specific permission to become other users, as described in the doc @willingc linked.

If you want to install and run *entirely without elevated permissions*, you need to select an Authenticator and Spawner that do not need elevated permission

[2017-04-21 09:31] Spritekin opened #1095 "Routing not working with remote swarm?"
Hi,
I'm using the latest jupyterhub at the moment (0.7) in a docker image.
I setup so it authenticates from LDAP and uses the DockerSpawner to launch a container in a remote swarm (running on a mesos cluster).

All seems fine, user authenticates, then its container starts on the cluster and I get this in the log:
[code]
As you can see the jupyter starts on 172.31.38.26:80, and I can manually go to

[2017-04-21 10:11] Spritekin commented on #1095
Sorry to ask this, but may someone please direct me to the point of the code that reads from the proxy table and executes the redirection?
Thanks!

[2017-04-21 10:19] minrk opened #1096 "run all Hub tests with tornado async"
One of the repeated sources of problems in the tests is the fact that the Hub is in a background thread in order to allow synchronous tests to make API requests with `requests.get`, etc.

In particular, there are concurrency issues with the database connections from both the test thread and the app thread (particularly rough, apparently, when not using sqlite as seen in #1092). This costs quite a

[2017-04-21 11:41] minrk commented on #1095
This sounds like base_url isn't getting set. One way this could happen is if you are using DockerSpawner with one of the Jupyter docker-stacks, you need to change the command to launch the single-user entrypoint:

[code]

[2017-04-21 11:46] minrk commented on #1095
Can you also show the logs from the container? `docker logs jupyter-grodriguez` should do it.

[2017-04-21 13:19] Spritekin commented on #1095
I think you are completely right. We have built a custom image and the spawner is trying to fetch a /user/grodriguez path in the containers... like:
[code]

So the 404 page is not from jupyterhub routing but from the container. Will update my image and report.

[2017-04-21 13:41] Spritekin commented on #1095
I did what you said and is still not working but definitely a change.
[code]

Which now leads to this interesting line:
The Jupyter Notebook is running at: http://0.0.0.0:8888/user/grodriguez/

And the jupyterhub when starting the container immediately says:
[D 2017-04-21 13:25:06.755 JupyterHub utils:87] Server at http://172.31.38.26:80/user/grodriguez responded with 302

Where it said 404 before

[2017-04-21 13:47] Spritekin commented on #1095
I see this again and again in the jupyterhub logs:
[code]

Like it gets in a cycle.

[2017-04-21 14:02] zoltan-fedor commented on #833
@toddpfaff , the nginx front-end works just fine. Since then I have deployed multiple Jupyterhub instances with NGinx front terminating SSL. Works very stable, no problems whatsoever.

[2017-04-21 14:15] Spritekin commented on #1095
Trying manually doesn't work either. I just get redirected.
[code]

Tried changing to the default jupyterhub/singleuser image. Same problem.

Any suggestions will be greatly appreciated.

[2017-04-21 15:39] NickolausDS commented on #1063
I have a similar need to have `authenticate` store things in `auth_state` for similar use cases described above.

[2017-04-21 16:14] athornton commented on #1063
What I'm doing for the time being is stashing it in a field in a subclassed authenticator, but that's also less than awesome.

[2017-04-22 08:20] Spritekin commented on #1095
I apologize, I think this question is no longer a problem with jupyterhub per se but with the image or maybe with the dockerspawner.

Closing it and thanks for the help!

[2017-04-22 08:20] #1095 closed

[2017-04-22 11:02] #1065 closed

[2017-04-22 14:38] minrk commented on #1063
It's really important that *credentials* of any kind (tokens, certs, etc.) never go in auth_state. That's an inappropriate place to store any kind of credentials. What *non-credential* information are people storing in auth_state?

[2017-04-22 15:24] minrk opened #1099 "allow Authenticators to invalidate cookies"
Some Authenticators need to **temporarily** store information such as credentials that should be passed to the Spawner environment. This is complicated by the fact that login, when the Authenticator may retrieve this info, and spawn, when the Spawner needs it, happen at different times and with different frequencies. For instance, there is not one login event per spawn, so the Authenticator cannot

[2017-04-22 17:33] yuvipanda commented on #1099
(lots of thoughts! Will respond in detail on Monday)

What do you think of just encrypting auth_state instead? We should attempt
to do a more detailed security analysis of when that will be a problem, and
I think with encryption it will be significantly better than without. I am
willing to write the code for this too.

We restart our hub a few times a day almost these days, and want to move
toward

[2017-04-22 17:38] yuvipanda commented on #1063
I wanna have LDAPAuth put other directory (such as uid, full dn, etc) info
into auth_state, and I also really don't want more things that change when
you restart hub process. Let's work on securing the tokens at rest rather
than throwing them all away.

On Apr 22, 2017 7:38 AM, "Min RK" <notifications@github.com> wrote:

[2017-04-22 17:46] yuvipanda commented on #1099
Securing data at rest is also a fairly common problem with fairly common
solutions (https://www.owasp.org/index.php/Cryptographic_Storage_Cheat_Sheet
lists some guidelines and there are others around). I would definitely like
to take this on and do it the right way rather than throw the whole thing
out.

On Apr 22, 2017 10:33 AM, "Yuvi Panda" <yuvipanda@gmail.com> wrote:

[2017-04-22 18:00] minrk commented on #1099
I'd rather avoid being responsible for doing this robustly. Right now, we store zero retrievable sensitive data in JupyterHub, and I have been hoping to keep it that way. Making the leap from zero to any is a big deal, and I'd rather not make it when we don't have to. The biggest thing for me from what you linked is "Only store sensitive data that you need". We simply don't need to persist that da

[2017-04-22 18:27] minrk commented on #1099
Invalidating auth state is still a problem we need to solve if a token is in the database or in memory, because you can't know that it's still a valid token without checking upstream. So the same problem needs to be solved whether auth state is persisted for a short or long time: it needs to be checked and re-fetched on spawn. Since that needs to happen anyway, I'd like to start by addressing that

[2017-04-22 19:52] yuvipanda commented on #1099
I agree we need to do both - and we shouldn't store it at rest if we can't guarantee we've used the absolute best practices for protecting it (including not storing when not required). I'll start doing a threat model + propose solutions in an issue next week for it. I think it might not be needed for GitHub, but it is for the MediaWiki one afaict (and probably for other ones too) - there's always

[2017-04-22 23:22] bourguig opened #1100 ""Download as" permission"
Hi,
I wonder if there is a way to grant/revoke "download as" permission for jupyter notebooks ?
Thanks for your help !

[2017-04-24 07:01] cschindlbeck commented on #998
Unfortunately not. Do you need more user information?

[2017-04-24 15:27] #1086 closed

[2017-04-24 22:17] y2kbowen commented on #1087
Thanks for the reply.  I want to followup to make sure I understand.

The request I am making is for login
http://10.7.135.5/hub/login

This call is to JupyterHub and not the single user instance.  Since JupyterHub doesn't have a way to set cross-origin allow values then I can't login to get the token and since I don't have a token I cannot login.  Is there another way that people are using to log

[2017-04-24 23:02] athornton commented on #1063
I want to send the GitHub ID, because I'm using that on the far end as my UID, and the list of organizations that this GH user belongs to.  Eventually I want to extend my authenticator to get the user's real name and email from the GitHub login, and send those over, so when I create the user it magically gets an appropriate .gitconfig and GECOS field.

I also would like some reasonable mechanism f

[2017-04-25 07:53] minrk commented on #1099
I will do a test implementation with GitHub, but I'm pretty consumed by OpenDreamKit grant review this week, so probably won't do too much before next week (possibly this Friday). It sounds like encrypting auth_state is the right thing to do (and dropping auth_state is out).

It's quite reasonable if other OAuth providers don't do the same thing as GitHub, which remembers that users have authorize

[2017-04-25 10:05] anujgupta82 commented on #1017
@ashkan-leo : Any progress ? we are facing exactly the same issue

[2017-04-25 11:45] ZelphirKaltstahl opened #1102 "How to disable all authentication?"
This is more a question than an issue, although an entry in the docs would be great.

I'd like to disable the login of JupyterHub, in order to use its facilities without the need to login. For example visitors could spawn docker containers with notebooks running in them and I don't care, what their user name is, since they are anonymous test users. However, they should still have their separate en

[2017-04-25 12:28] betatim commented on #1102
Have a look at #1065 and pointers in it. The issues is about automatically logging people in without password etc.

[2017-04-25 13:42] xhudik opened #1103 "/etc/shadow - proper permissions 0440 ?"
https://github.com/jupyterhub/jupyterhub/wiki/Using-sudo-to-run-JupyterHub-without-root-privileges#linux - is written that:
[code]
which will make
[code]

However, https://linux-audit.com/file-permissions-of-the-etc-shadow-password-file/ says /etc/shadow can be read only by root (600) only

Isn't your implementation dangerous?

[2017-04-25 17:27] rsinha25 opened #1104 "custom conda package for hub not installing it correctly"
Hi! I am trying to install jupyterhub on a server where I can't use pip. I have modified the login template file and I am trying to build the pip package into a conda installable using the following recipe:

meta.yaml:
[code]
build.sh:
[code]

The package builds successfully but on starting jupyterhub, it gives errors as it cant find the templates (login.html, error.html etc). I checked the /path/

[2017-04-25 17:35] willingc commented on #1104
Hi @rsinha25,

Have you considered using `conda install jupyterhub`? Is there some reason that you are creating the meta.yaml file?

[2017-04-25 17:36] rsinha25 commented on #1104
Hi, Yes, I have edited the login page for some custom things we needed.

[2017-04-25 18:00] rsinha25 commented on #1104
Here is the error I am getting on starting JHub, after installing the conda package I built from the above recipe:

[code]

[2017-04-25 18:03] willingc commented on #1104
Did you make sure to build the javascript/front end requirements, such as found in `package.json`?

[2017-04-25 20:35] ZelphirKaltstahl commented on #1102
@betatim Looks exactly like what I am looking for. I'll investigate that, thank you.

[2017-04-26 03:58] yhtang commented on #61
Hi all,
I was trying to add the IJulia kernel to my jupyterhub docker image but was unsuccessful. What I did was:
[code]
and then restart the jupyterhub application. However I can still only see the Python 3 option once logged in. The same procedure could give me the Julia option when combined with `jupyter notebook` on my laptop.

[2017-04-26 08:11] bneijt opened #1105 "Passwords beginning or ending with a whitespace are not supported"
Due to POST argument stripping, passwords with a beginning or ending whitespace are not allowed.

**How to reproduce the issue**
Set up a user password with an ending or beginning whitespace.

**What you expected to happen**
The user should be allowed to login with the password, given that the password should be any complicated sequence of characters the user can reproduce.

**What actually happen

[2017-04-26 14:01] willingc commented on #1102
Hi @ZelphirKaltstahl,

This may be helpful as well: https://github.com/yuvipanda/jupyterhub-dummy-authenticator I would not use it for anything serious though.

Thanks @betatim.

[2017-04-26 14:01] #1102 closed

[2017-04-26 14:31] Spritekin opened #1106 "User cookie not being created?"
Hi,
First, I apologize because I'm jumping from repo to repo. Its just because I'm new to this and I'm not sure about the code. I posted the base of my issue in the dockerspawner repo (https://github.com/jupyterhub/dockerspawner/issues/155) but now I think the problem might not be there.

Please bear with me as I try to analyse code that I don't fully understand. Correct me as much as you like.

I

[2017-04-26 14:45] Spritekin commented on #1106
I'm reading the dockerspawner code and found that it uses the self.user.server.cookie_name which is the same cookie used here. So it should be the same name and it should work.
[code]

 Now I really don't understand anything... sorry...

[2017-04-26 14:50] Spritekin commented on #1106
Maybe its a problem with my versions?
[code]

Is that correct? Maybe I should use the onbuild 7.2?

[2017-04-26 14:58] Spritekin commented on #1106
Yes it was indeed... sorry for all the trouble.

[2017-04-26 14:58] #1106 closed

[2017-04-26 15:08] willingc commented on #1106
Hi @Spritekin,

I'm glad that you resolved the issue. No trouble at all. We hope you enjoy using JupyterHub too.

[2017-04-27 12:47] evandam opened #1107 "Jupyterhub Not Recognizing Users' Groups"
I'm running Jupyterhub on RHEL 6.8, and facing permission issues when trying to read files from outside of a user's home directory.

The directory I'm trying to reach is `/data/lake/plds`, and it's permissions are `d---rwx---`. All users in the group that owns it should have full access, and no one else, but trying to read a file or even run `os.chdir(/data/lake/plds`)` results in a permission den

[2017-04-27 14:04] willingc commented on #1107
Hi @evandam,

Thanks for the detailed report. In your `jupyterhub_config.py` file, what are your settings for `notebook_dir` and `default_url`? The example below gives users access to the full tree:

[code]

Thanks!

[2017-04-27 14:25] evandam commented on #1107
Hi @willingc,

I just made the changes and restarted the hub, but still no luck. I'm able to navigate to `/data/lake` in JupyterHub, but the `plds` directory I'm trying to view is hidden.

I am able to see another directory in `/data/lake`, though. The only difference I can see is that it's permissions are 755 compared to 070. Could it be that it's using permissions of the root user instead of the

[2017-04-27 15:21] jpastuszek opened #1108 "AttributeError: 'NoneType' object has no attribute 'isatty': sys.stdin.isatty()"
**How to reproduce the issue**
500 while trying to log in with default config using anaconda3 installation.

**What you expected to happen**
Login to work.

**What actually happens**
500 error with exception logged:

[code]

**Share what version of JupyterHub you are using**
0.7.2

Running `jupyter troubleshoot` from the command line, if possible, and posting
its output would also be helpful.

If

[2017-04-27 15:55] jpastuszek commented on #1108
Looks like it does not like `0<&-` in init.d script which closes stdin as part of daemonizing. After I changed it it to `0</dev/null` and all is OK. I never had this problem with other software though. Also for some reason I needed to remove `jupyterhub.sqlite` for this to take effect.

[2017-04-28 02:19] Spritekin opened #1109 "Question: How do I pass arrays to JupyterHub in command line?"
Hi,
Jupyterhub traitlets allows me to specify almost every parameter in command line but some of them require sets.

For this one for example. I tried:
--Authenticator.admin_users={'grodriguez','ichan','dkoo'}
--Authenticator.admin_users='grodriguez','ichan','dkoo'
--Authenticator.admin_users=grodriguez ichan dkoo

But I always got:
[code]

Which is the proper way to pass a list to the app in comm

[2017-04-28 02:46] Spritekin commented on #1109
Aha!!! Found a very old thread but it had the answer... for those interested, enclose the whole option in quotes as:
[code]

Luck!

[2017-04-28 02:46] #1109 closed

[2017-04-28 11:01] minrk commented on #1108
This is a bug in each of ptyprocess and the notebook application, not handing the rare case when `sys.stdin` is None. Patches have been submitted to each repo (links above).

Since all of these issues are in the single-user notebook servers, removing jupyterhub.sqlite and the issue being fixed could have been a coincidence. What would have been needed is relaunching the Hub and starting a new sing

[2017-04-28 12:02] minrk opened #1110 "Check version of single-user servers"
It would be useful to check the version of single-user servers on spawn, and warn about possible incompatibilities. This is going to come up in 0.8 because OAuth changes how single-user servers authenticate with the Hub in an incompatible way.

Adding a `/api/jupyterhub/version` endpoint on the single-user server will allow us to check the version of servers we start and warn about possible compat

[2017-04-28 14:41] minrk commented on #1105
Good catch. Fixed by #1111

[2017-04-28 14:41] #1105 closed

[2017-04-28 14:50] willingc commented on #932
Hi @Habulinec,

Closing this issue as it's been inactive for several months and LDAPLocalAuthenticator has been added to ldapauthenticator. Please feel free leave a message if you would like us to reopen this issue. Thanks! :sunflower:

[2017-04-28 14:50] #932 closed

[2017-04-28 14:51] jpastuszek commented on #1108
Thank you very much for the info and explanation. I will use `0</dev/null` as a workaround for the time being.

[2017-04-28 19:16] yhtang opened #1112 "How to pass user password to spawner?"
Hi,

I am trying to modify the DockerSpawner to mount owncloud WebDAV path. I have set up an OpenLDAP server, and use LDAP authenticator for both jupyterhub and owncloud. As such I am wondering what is the 'correct' way to allow a user to enter password only once, for both authenticating into jupyterhub as well as for mounting the owncloud share within his docker container?

[2017-04-28 20:56] willingc commented on #998
Hi @cschindlbeck, Perhaps upgrading to a newer version of Anaconda would help as it looks like Anaconda is now at 4.3.1 and the outputs from earlier shows 3.5.2 being used.

I want to point out that we are currently working on a [Kubernetes deployment and documentation](https://github.com/jupyterhub/zero-to-jupyterhub-k8s) to help simplify the deployment of JupyterHub. Passing along as it may be o

[2017-04-28 20:58] willingc commented on #1000
Closing this issue as answered for JupyterHub's current implementation. If you have further questions, please feel free to leave an issue at [jupyter/help](https://github.com/jupyter/help) or leave a comment requesting this issue be reopened. Thanks to all!

[2017-04-28 20:58] #1000 closed

[2017-04-28 21:21] willingc commented on #1018
I'm going to go ahead and close this as it is likely the underlying distro or installation does not have the shared libraries/dll correctly installed [ref on ctypes](https://docs.python.org/3/library/ctypes.html#finding-shared-libraries). If you are experiencing this error still, please send us additional details and we would be happy to reopen this issue. Thanks! :sunny:

[2017-04-28 21:21] #1018 closed

[2017-04-28 21:23] willingc commented on #1019
Closing this issue as it's been inactive for over a month. Please leave us a note with the additional information requested and we will be happy to reopen this issue. Thanks! :sunflower:

[2017-04-28 21:23] #1019 closed

[2017-04-28 21:25] willingc commented on #1028
Closing this issue since it appears to be resolved. Please leave a comment requesting this issue be reopened if you have additional questions on this issue. Thanks to all! :sunny:

[2017-04-28 21:25] #1028 closed

[2017-04-28 21:33] willingc commented on #1091
Closing this issue since it appears to be resolved. Please feel free to leave questions on the JupyterHub gitter channel or leave a comment requesting this issue be reopened. Thanks to all! :sunny:

[2017-04-28 21:33] #1091 closed

[2017-04-28 21:36] willingc commented on #1052
Closing this issue since it appears to be have no further development action. Please feel free to leave questions on the JupyterHub gitter channel. Thanks to all! :sunny:

[2017-04-28 21:36] #1052 closed

[2017-04-28 21:37] willingc commented on #1023
Closing this issue since it appears to be resolved. Please feel free to leave an issue at [jupyter/help](https://github.com/jupyter/help) or leave a comment requesting this issue be reopened. Thanks to all! :sunflower:

[2017-04-28 21:37] #1023 closed

[2017-04-28 21:39] willingc commented on #810
Closing this issue as it's been inactive for several months. Please feel free to request reopening this issue if the issue persists. Thanks! :sunflower:

[2017-04-28 21:39] #810 closed

[2017-04-28 21:49] davidedelvento opened #1113 "Have jupyterhub pass options to jupyter"
This might be a documentation issue, but I thought submitting it anyway, since even so it's still an issue.

I'm using jupyterhub `v0.7.2` for python2, 3 and R notebooks and it's generally working great, so thanks for making such a good project available.

I need my jupyter notebook to use ipywidget, but I'm stuck with the [Widget Javascript not detected](https://github.com/jupyter-widgets/ipywidg

[2017-04-29 17:26] ktongsc opened #1114 "Error when Mysql server restarted"
**How to reproduce the issue**
Use Mysql as database and restart Mysql server after JupyterHub runs.

**What you expected to happen**
JupyterHub should as normal when Mysql server restarted.

**What actually happens**
504 Gateway Time-out shows in browser and get exception in log.
[code]
**Share what version of JupyterHub you are using**
The version is 0.7.2 via docker image jupyterhub/jupyterhub:

[2017-05-01 06:30] Spritekin opened #1115 "Question: IPs and ports in bridge mode"
Hi,
I have my jupyterhub running in docker using host networking. I need to move the hub to use AWS ECS and I don't have the hosted mode available.
So, I need to setup all to use bridge mode and I have some problems I hope someone may give me an idea.
I use Dockerspawner to run containers in a Swarm cluster. All goes ok in host network mode because I can specify my IPs to be the same as in the hos

[2017-05-01 15:38] willingc commented on #1115
Have you set this in your `jupyterhub_config.py`:
[code]
[Reference](https://github.com/jupyterhub/dockerspawner/tree/4e41d33b66208b6e4f9d471661ee4ec0de6364f3#using-docker-swarm)

Please share your networking and spawner configuration from `jupyterhub_config.py` and we can be more helpful.

[2017-05-01 15:52] willingc commented on #1114
Hi @ktongsc,

Did you restart jupyterhub after the database upgrade? Here's additional information on [upgrading database for JupyterHub](http://jupyterhub.readthedocs.io/en/latest/upgrading.html)

[2017-05-01 15:55] ktongsc commented on #1114
Hi, @willingc,

I did not do any upgrade on database. Just restarted Mysql and I expected JupyterHub is able to reconnect Mysql while it's restarted.

Thanks
Tony

[2017-05-01 16:00] willingc commented on #1113
Hi @davidedelvento,

I suspect that there is a configuration mismatch with the Python version used by the language kernel and the hub for widgets.

I'm going to pass this to @minrk for help on debugging your config.

[2017-05-01 16:05] willingc commented on #1114
Let me make sure that I understand the process you used:

- JupyterHub is running
- MySQL database is restarted while JupyterHub is running
- JupyterHub then outputs the error messages above

Do you still receive the error if you restart JupyterHub?

cc/ @minrk

[2017-05-01 16:07] ktongsc commented on #1114
Yes, exactly what I did for this error.

And the error is gone when I restarted JupyterHub.

[2017-05-01 16:17] davidedelvento commented on #1113
Thanks @willingc for the message. However I'm not clear what you mean, so let me rephrase my question. Is there a way (e.g. config file) to use jupyter command line options when running jupyterhub? Just using the jupyter command line options as command line options for jupyterhub does not work.

Just to be clear, I'm running the following (no virtualenv, no conda, no other versions of python insta

[2017-05-01 16:52] betatim commented on #1113
I think the general answer is "it depends on your spawner", as that is the bit of code responsible for starting the singleuser notebook server. Take a look at https://github.com/jupyterhub/jupyterhub/blob/master/jupyterhub/spawner.py#L230 which should work for the basic spawner (and probably others as well).

[2017-05-01 17:01] willingc commented on #1113
Sorry that I was not clear earlier. Let me try to clarify your questions to make sure that I understand them correctly. Initially, let's put the widgets aside.

- Can JupyterHub configure, from the command line `jupyterhub`, configuration options for Jupyter notebook servers that are spawned by JupyterHub?

The spawner is in charge of creating the single user Jupyter notebook servers. Which spawne

[2017-05-01 18:06] davidedelvento commented on #1113
Thanks @willingc and @betatim this helps me understand how things works. This is progress. However it's on one hand too much and on the other too little. Too much, because I can't have (and don't want) my users specifying their custom options, I just want to use the ones I specify. Too little because I tried to reverse engineer what I needed to do, but everything failed, probably because I'm still

[2017-05-01 19:56] davidedelvento commented on #1113
Trying to dig deeper into this, it seems that many people have this problem, see for example https://github.com/ipython-contrib/jupyter_contrib_nbextensions/issues/527 https://github.com/ipython-contrib/jupyter_contrib_nbextensions/issues/617 https://github.com/ipython-contrib/jupyter_contrib_nbextensions/pull/626 https://github.com/Jupyter-contrib/jupyter_nbextensions_configurator/issues/11 https

[2017-05-01 20:15] willingc commented on #1113
@davidedelvento Glad you solved your question.

I'm a documentation geek so I would be interested in (if you can remember back) where you first got stuck with installing and enabling ipywidgets (and its associated widgetsnbextension) with JupyterHub. That's where I would like to add documentation.

Just looking at your experience, were there any key tips or documentation that you feel would be hel

[2017-05-01 23:41] Spritekin commented on #1115
Hi @willingc
Yes, I have this option and I think it affects the notebooks only. As I said the hub works fine in docker networking host mode and the notebooks can connect back to the host. No problem there.

The problem is when I run the hub in docker bridge networking then the notebooks can't connect back to the hub (wit the error mentioned above). Is like the 8081 port is closed or just not liste

[2017-05-02 04:24] johnbotsis opened #1116 "jupyterhub"
[New Text Document.txt](https://github.com/jupyterhub/jupyterhub/files/969379/New.Text.Document.txt)

[2017-05-02 04:25] johnbotsis commented on #1116
500 : Internal Server Error

Spawner failed to start [status=1]

[2017-05-02 04:40] Spritekin commented on #1115
Ok I managed to make it work, I do not need to specify the --JupyterHub.ip, essentially just:
  --JupyterHub.proxy_api_ip='0.0.0.0' \
  --JupyterHub.hub_ip='0.0.0.0' \

[2017-05-02 04:40] #1115 closed

[2017-05-02 05:36] johnbotsis commented on #1116
Hi Carol,

What information do you need?

[2017-05-02 05:54] willingc commented on #1116
Hi @johnbotsis,

I usually don't open files so I missed that you provided some debug output. Thanks for passing along. The 500 errors are usually caused by a network configuration issue or an invalid token.

The [troubleshooting docs](https://jupyterhub.readthedocs.io/en/latest/troubleshooting.html#error-after-spawning-my-single-user-server) give more information about 500 errors. Make sure that y

[2017-05-02 09:32] minrk commented on #1116
@johnbotsis what's `python3 -m pip list`?

[2017-05-02 09:41] johnbotsis commented on #1116
alembic (0.9.1)
appdirs (1.4.3)
bleach (2.0.0)
boto3 (1.4.4)
botocore (1.5.37)
chardet (2.3.0)
click (6.7)
cloudpickle (0.2.2)
command-not-found (0.3)
dask (0.14.1)
decorator (4.0.11)
distributed (1.16.1)
docutils (0.13.1)
entrypoints (0.2.2)
HeapDict (1.0.0)
html5lib (0.999999999)
ipykernel (4.6.1)
ipyparallel (6.0.2)
ipython (6.0.0)
ipython-genutils (0.2.0)
ipywidgets (6.0.0)
jedi (0.10.2)
Jinja

[2017-05-02 09:50] minrk commented on #1017
Can you try with sudospawner 0.4? That may give a better error message. The most common issues with sudospawner are ensuring that permissions are configured correctly.

[2017-05-02 09:59] minrk commented on #1103
It is not. Giving a very specific group (the `shadow` group) access to the password database is common, as described in the doc you linked:

The default permissions on `/etc/shadow` on Ubuntu are `640`:

[code]

Our docs only cover how to get other distros into Ubuntu's default state.

[2017-05-02 09:59] #1103 closed

[2017-05-02 10:44] minrk commented on #1116
Hm, it's weird that there's no output from the single-user subprocess. Can you launch JupyterHub by hand outside systemd and see if you get the same errors? It's possible that you need to set PATH or some other environment variables in the systemd config.

[2017-05-02 10:47] minrk commented on #1107
@evandam are you using the default Spawner or another one? What version of JupyterHub?

[2017-05-02 10:56] minrk opened #1117 "encrypt auth_state"
auth_state was created to allow for things like remembering external uids, etc., but Authenticator authors increasingly want to use it to store credentials such as certificates and tokens created during login to be passed to Spawners via `Authenticator.pre_spawn_start`. Storing credentials as cleartext is no good, so we need to change auth_state from a JSON field to an encrypted data field, in ord

[2017-05-02 11:04] minrk opened #1118 "async syntax"
We're using tornado as our async runner and `@gen.coroutine` all over the place.

We could be using Python 3.5's `async def` and `await` syntax instead of `@gen.coroutine` and `yield`. There's no practical change in behavior that I know of (we'd still use tornado, just not tornado's Python 2-compatible syntax). I don't have a good sense for how many folks are relying on Python 3.4 to run JupyterHu

[2017-05-02 11:08] barrachri commented on #1118
Could we put this change in 0.8 and put Python 3.5 as requirement?
As they say on the website (http://www.tornadoweb.org/en/stable/guide/coroutines.html) we should see speed improvements.

[2017-05-02 11:36] minrk commented on #1114
I guess we aren't clearing/resetting mysql connections properly. There might be some sqlalchemy settings we can tweak to trigger reconnect when this happens, rather than dying.

[2017-05-02 11:38] minrk commented on #61
IJulia installs to a user-specific location by default, not system-wide (`/root/.local/share/jupyter/kernels/julia-0.5` above). You will need to make sure that you have a system-wide install of Julia packages, which don't quite recall how to do (maybe JULIA_PKGDIR env?). You will also have to move the kernelspec from `/root/.local/share/jupyter/kernels/` to `/usr/local/share/jupyter/kernels/` afte

[2017-05-02 15:36] davidedelvento commented on #1113
@willingc Thanks for asking. I don't have a good solution, but hopefully some hints that can help. I **think** I started with http://ipywidgets.readthedocs.io/en/latest/user_install.html and perhaps when I saw that jupyter command I thought something like *oh I'm running jupyterhub not jupyter, so I have to translate that in some way*. The suggestions I have to avoid others fall in the same trap a

[2017-05-02 16:03] willingc commented on #1113
@davidedelvento Thanks for the helpful feedback! Feel free to reach out on the Gitter channel if you hit any other roadblocks :sunny:

[2017-05-02 16:22] ktongsc commented on #1114
I tried to disable connection pool in sqlalchemy but the error still there.

[2017-05-02 17:30] evandam commented on #1107
Hi @minrk

I'm using a custom spawner that sources a shell script for environment variables, and then calls jupyterhub's:

[code]
I'm on JupyterHub version 0.7.1

Thanks!

[2017-05-02 20:48] angrylandmammal opened #1120 "GPU Support out of the box?"
Hi there!

I'm really struggling with setting up Jupyterhub for my team, and also being able to leverage my new shiny GPU!

I read through the entirety of this article: https://zonca.github.io/2016/10/dockerspawner-cuda.html

However, and sadly, it's outdated as I'm trying to use Ubuntu 16.04 (server), CUDA 8.0+. I'm working on it and have tiny bits of progress but the documentation here:

https:/

[2017-05-02 20:57] willingc commented on #1120
Hi @hayjoss,

This is the best resource for GPU that I have seen. @zonca, if you have a free moment, what if any differences would a more recent Ubuntu or CUDA have on this deployment.

PRs for documentation are welcomed :-) Feel free to copy it into this issue too.

[2017-05-03 00:20] yuvipanda commented on #1117
I've setup some time next week for this!

On Tue, May 2, 2017 at 3:56 AM, Min RK <notifications@github.com> wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2017-05-03 06:05] johnbotsis commented on #1116
Hi Min

Here is the results

---------------------------------------------------------
[I 2017-05-03 08:55:53.548 JupyterHub app:724] Loading cookie_secret from /root/jupyterhub_cookie_secret
[W 2017-05-03 08:55:53.745 JupyterHub app:365]
    Generating CONFIGPROXY_AUTH_TOKEN. Restarting the Hub will require restarting the proxy.
    Set CONFIGPROXY_AUTH_TOKEN env or JupyterHub.proxy_auth_token co

[2017-05-03 07:52] minrk commented on #1107
@evandam The group ids are assigned [here](https://github.com/jupyterhub/jupyterhub/blob/0.7.1/jupyterhub/spawner.py#L650-L661). If you've chosen a different Spawner, this step may be skipped. It's also possible it's failing for some reason, in which case you should see a "Failed to set groups" message on stderr of the affected single-user server.

You might also do some checking to verify that we

[2017-05-03 09:20] minrk commented on #1113
That's a good point. Something that could probably be clearer is that JupyterHub spawns regular single-user Jupyter notebook servers, so everything a user would do to configure their server (including extensions, etc.) applies in the same way to their server as launched by JupyterHub.

JupyterHub makes one very specific modification to the single-user server: it enables authentication via JupyterH

[2017-05-03 10:15] mikehamer opened #1121 "Redirect back to login page when accessing from different machine"
JupyterHub runs as expected when accessing it from the server machine; however, when accessing it from a different machine on the LAN, I am redirected back to the `/hub/login` page after logging in.

The issue occurs when jupyterhub is run as root, or as system user jupyter. The same issue occurs when running jupyterhub 0.7.2 or running the master branch (below output is from the master branch).

[2017-05-03 10:56] deisi opened #1122 "Tornado exception behind corporate proxy"
**Short**
Its impossible to run jupyterhub behind a corperate proxy.

**How to reproduce the issue**

installed jupyterhub as a local user with:

[code]

npm and packages were installed with sudo sytemwide.

start jupyterhub with:
[code]
In the config I only defined ssl key and certificate:

[code]

**What actually happens**
The server starts and I can connect with:

[code]
I can login using PAM C

[2017-05-03 11:36] hayjoss commented on #466
Sorry to resurrect this, but it's happening to me as well out of the box it using Ubuntu 16.04:

[code]

[2017-05-03 12:01] minrk commented on #1121
The same running server instance (without restarting the server) works when accessed from localhost and not when accessed from another machine on the LAN?

What really seems fishy is the lack of any requests ever being attempted to the single-user server through the proxy (i.e. this like `debug: [ConfigProxy] PROXY WEB /user/mike to http://127.0.0.1:50321`). Can you login at all from the remote ma

[2017-05-03 12:26] minrk commented on #1118
Potentially. What I don't know (and don't know how to discern) is how many people are running with 3.4 or earlier who would have difficulty upgrading to 3.5. In the context of JupyterHub, the performance difference should be pretty negligible, given that database operations and the like will generally dominate any Python call overhead.

I think marking this for 0.9 probably makes sense.

[2017-05-03 12:44] minrk commented on #466
@hayjoss the fix above is in master, but hasn't been released. Can you show the log statements from when the user is created and `pip list`?

[2017-05-03 12:46] mikehamer commented on #1121
I can login remotely to the server using, for example, ssh -X. I can then launch the server's webbrowser on my local machine, and can then use this browser log in to JupyterHub.

Using my local machine's browser I can access the /hub/login page, but not get any further.

I can confirm that when starting the server, my local machine is redirected to the /hub/login, and without restarting the server

[2017-05-03 12:48] minrk commented on #1122
Do you perhaps have an HTTP_PROXY or HTTPS_PROXY env variable set? The peculiar thing is the SSL version messages indicate that it's trying to use https to connect to an http-only server. I'm not sure precisely how that would happen, but some system-wide proxy config could be the culprit.

[2017-05-03 12:51] minrk commented on #1116
Indeed, this looks like the issue:

What is `head -n1 /usr/local/bin/jupyterhub-singleuser` ? Is it the Python you expect it to be? From the looks of your other tracebacks, it should be `#!/usr/bin/python3.5`. You may need to reinstall the jupyterhub package.

[2017-05-03 12:54] deisi commented on #1122
Hey, jep I do have a proxy set up. Proxy is set throughout NetworkManager, env variables and /etc/environment. In all three cases I configured  HTTP_PROXY, HTTPS_PROXY and NO_PROXY

oh man I hate this proxy. It always makes trouble. Any idea how to fix it?

[2017-05-03 12:55] deisi commented on #1122
Here is the config:

[code]

[2017-05-03 13:02] minrk commented on #1121
Is there a chance your browser is blocking cookies? Do other browsers work?

If you tunnel just the port, can you connect with your local machine's browser?

    ssh -L 9000:127.0.0.1:8000 <server>
    open http://localhost:9000

[2017-05-03 13:08] mikehamer commented on #1121
You've hit the nail on the head.

Chromium is apparently blocking cookies from the ip address. Giving the server a hostname on the LAN and accessing it via eg. http://mike-pc.local:8123 yields expected behaviour.

Thank you for your patience and assistance.

[2017-05-03 13:08] #1121 closed

[2017-05-03 13:35] minrk commented on #1122
Hm. It looks like no_proxy is set correctly (127.0.0.0/8 should exclude 127.0.0.1). Since JupyterHub itself should only be talking to localhost (unless you are using external auth), you could unset these environment variables for the JupyterHub process and see if it helps. I get a bit confused about which code is responsible for handling these things, but it's possible that whatever's dealing with

[2017-05-03 13:40] hayjoss commented on #466
Here is the full error:

[code]
Here is my `pip freeze`:

[code]

[2017-05-03 13:43] minrk commented on #466
@hayjoss and can you include the logs starting from JupyterHub launch? You may want to remove `jupyterhub.sqlite` to start fresh.

[2017-05-03 13:53] hayjoss commented on #466
Here is the boot-up log:

[code]
Will try removing the sqlite!

[2017-05-03 13:54] hayjoss commented on #466
Here is the boot up log:

[code]

Will try removing the sqlite file.

[2017-05-03 14:20] hayjoss commented on #466
I can't really quite pin down what happened, but I know for sure that the first time I authed in, my personal github user created it's own homedir with this config (I'm almost 100% certain of that - I suppose I could've tweaked something). But now when new people are signing in I get the 500 error and no directories are being created etc.

[2017-05-03 15:17] lcfcefyn opened #1123 ".so on FreeBSD"
Hello, we had install Jupyterhub in a freebsd server and we have problems initializing a C++ kernel, cling. We install every dependencies and cling throught pkg install. Well, the trouble is that the kernel dies and tries to restart but thereś no way.

[code]

Seems to be the format of the .so file. When we open it, has this,

[code]

Well, we have no idea how to correct this. If you can help us,

[2017-05-03 16:44] willingc commented on #1118
We'll likely get info about 3.4/3.5 usage at PyCon. I doubt many folks are using 3.3 still. I think 0.9 makes sense with an open door to pull into 0.8 if it simplifies reliability and testing during development and production.

[2017-05-03 19:24] kuldeepyadav opened #1124 "JupyterHub is unable to load module spawner modules"
Hi! Thanks for using JupyterHub.

If you are reporting an issue with JupyterHub:

- Please use the [GitHub issue](https://github.com/jupyterhub/jupyterhub/issues)
  search feature to check if your issue has been asked already. If it has,
  please add your comments to the existing issue.

- Where applicable, please fill out the details below to help us troubleshoot
  the issue that you are facing.

[2017-05-03 22:40] charnpreetsingh opened #1125 "Conflicting Sphinx Min Version"
I was trying to run the JupyterHub docs locally but came across conflicting Sphinx minimum versions.
Both `requirements.txt` and `environment.yml` had a minimum version of 1.3.6 while `conf.py` was enforcing a min version of 1.4

https://github.com/jupyterhub/jupyterhub/blob/master/docs/source/conf.py#L16

[2017-05-03 22:51] willingc commented on #1125
The minimum version in conf.py means that the version is guaranteed to be 1.4 or above not pinned to 1.4. We should be using one of the most recent builds of Sphinx 1.5.x.

[2017-05-03 22:55] willingc commented on #1125
As an FYI, @charnpreetsingh, to use recommonmark (https://github.com/rtfd/recommonmark/blob/master/recommonmark/__init__.py#L9) you must have 1.4 or above for Sphinx.

[2017-05-03 22:55] willingc commented on #1125
Do you want to submit a PR to update the requirements.txt and environment.yml?

[2017-05-03 22:57] charnpreetsingh commented on #1125
Yep, I can do that. I see that recommonmark is pinned to version 0.4.0 . Should that be updated too?

[2017-05-03 23:50] willingc commented on #1125
Let's leave recommonmark pinned. There's some nasty dependency stuff there with commonmark and markdown so let's keep it where it is for now. :-)

[2017-05-04 00:06] #1125 closed

[2017-05-04 08:24] johnbotsis commented on #1116
Hi Min

root@se01:~# head -n1 /usr/local/bin/jupyterhub-singleuser
#!/usr/bin/python3
------------------------------------------------
Any suggestion about reinstalling....

"pip3 install --ignore-installed  jupyterhub"   is enough

and what about configurable-http-proxy which is installed with npm ?

Thanks....

[2017-05-04 08:50] minrk commented on #1116
You can remove CHP with `npm remove -g configurable-http-proxy`, but it doesn't look like that's the issue here.

[2017-05-04 08:50] deisi commented on #1122
I unseted the env variables with:
[code]
and saw that the output of  ```env | grep proxy``` is empty.
Afterwards I started jupyterhub with `jupyterhub -f .jupyterhub/jupyterhub_config.py`
and also with `sudo -E jupyterhub -f .jupyterhub/jupyterhub_config.py`

In both cases I still get the same error. Do I also need to reset the NetworkManager proxy settings and possibly the cat /etc/environment se

[2017-05-04 12:05] minrk commented on #1124
My guess is that you have multiple Pythons installed (I see anaconda3 and a system-wide Python), and packages only installed in one and not the other. You can check with:

    head -n1 $(which jupyterhub)

which will show you the Python JupyterHub is using, e.g. `#!/usr/bin/python3`. Using that Python, you can run `/path/to/python -m pip list` and `/path/to/python -c 'import dockerspawner'` to ver

[2017-05-04 14:27] minrk commented on #1123
That's really bizarre. My guess is the cling kernel didn't install correctly. Since you used `pkg install`, that suggests to me that suggests to me that the cling FreeBSD package is not built correctly, but it could be an issue with cling itself. `libclingJupyter` should be a binary shared-library, not a shell script. It's probably best to bring this up with either the cling package or the maintai

[2017-05-04 14:50] hayjoss commented on #466
So basically to get this working with the config above, I just referenced:
https://github.com/jupyterhub/oauthenticator/blob/master/example/addusers.sh

Since I know who my users are I was able to simply add them via:
`sudo useradd -m -s /bin/bash $user`

I had to add their `notebooks` folder inside there as well as `chown` the dir properly. But at least now people can log in.

[2017-05-04 16:09] ashkan-leo commented on #1017
I restarted the machine and now JupyterHub is running without any issues. I don't have any idea what the problem was...

[2017-05-04 16:11] willingc commented on #1017
Glad you have it working now @ashkan-leo.

[2017-05-05 05:20] johnbotsis commented on #1116
Hi Min,

I reinstall jupyterhub but the problem still remain....
--------------------------------------------------------------------------------
Traceback (most recent call last):
 File "/usr/local/bin/jupyterhub-singleuser", line 3, in <module>
   from jupyterhub.singleuser import main
 ImportError: No module named 'jupyterhub.singleuser'
---------------------------------------------------------

[2017-05-05 14:16] dcervenkov opened #1128 "JupyterHub's sudospawner is flooding logs every 30 seconds for every user"
JupyterHub's sudospawner is flooding logs every 30 seconds for every user. I'm trying to understand why and if this is expected behavior. Other than this, JupyterHub is running fine, without any problems.

The log entries in question are
[code]
Every user seems to have his own timer, but it happens every 30 seconds for each logged user (or maybe user with open notebooks).

I understand this is rel

[2017-05-05 15:09] deisi commented on #1122
Now I also tried after disabling the proxy in NetworkManager and it didn't change anything.

[2017-05-05 15:52] willingc commented on #1128
Hi @dcervenkov,

I'm glad you have things working. I notice that you are running JupyterHub v0.6.1. The current stable release is [0.7.2](https://github.com/jupyterhub/jupyterhub/releases/tag/0.7.2). I would recommend upgrading to that release and letting us know if that does or does not resolve the logging. Thanks.

[2017-05-05 15:54] willingc commented on #1128
You may wish to check that you are using the current sudospawner release as well. The current release is [0.4.0](https://github.com/jupyterhub/sudospawner/releases/tag/0.4.0).

[2017-05-05 16:54] dcervenkov commented on #1128
Hi @willingc,

thanks for the speedy reaction. The sudospawner was also outdated (0.3.0). I upgraded both jupyterhub and sudospawner via pip. Unfortunately, now launching of jupyterhub fails. Relevant log part follows
[code]

Some googling pointed me to the command `jupyterhub upgrade-db`, however that failed too with the following output
[code]

Current output of `jupyter troubleshoot` for comple

[2017-05-05 17:04] dcervenkov commented on #1128
OK, I had to remove `/etc/jupyterhub/jupyterhub.sqlite` and `/etc/jupyterhub/jupyterhub_cookie_secret` and now it works. However, we are back to the inital problem - flooding logs every 30 seconds for every logged in user.

[2017-05-05 18:09] willingc commented on #1128
OK, thanks for the update. I'm glad upgrading though initially a challenge is now working.

@minrk Do you have any idea why the logs would be outputting so frequently?

[2017-05-05 22:03] JMurph2015 commented on #1019
Sorry this got left so long.  The workstation I was setting this up on promptly got package conflicted after this issue, so I hadn't gotten around to this since.  I'll let you guys know if I try again, I think some tweaks to the PAM loading process may make it workable.

[2017-05-05 22:53] parente commented on #1128
It's the check for server liveliness. I forgot the exact setting name at the moment but you can adjust it.

[2017-05-06 09:12] dcervenkov commented on #1128
@parente Thanks, I found it, the option is called `c.Spawner.poll_interval` and is located in `jupyterhub_config.py`. Setting a longer interval helps somewhat. But I still don't understand, why every user needs to poll the spawner. What is the rationale behind that? If I have a 100 users, by default, it will be polling it every 0.3 seconds on average.

[2017-05-08 06:15] johnbotsis commented on #1116
Hi Min

Finally the problem was permissions. All the files in the /usr/local/lib/python3.5/dist-packages had no  access to others. I changed directories to 775 and files to 664 and everything works fine now.

Maybe it was python and ubuntu installation issue.

Anyway thanks for your help.

jb

[2017-05-08 06:15] #1116 closed

[2017-05-08 08:26] minrk commented on #1128
Polling local processes is handled using [`os.kill(pid, 0)`](https://github.com/jupyterhub/jupyterhub/blob/0.7.2/jupyterhub/spawner.py#L834). In sudospawner, signals are sent [via the sudospawner mediator](https://github.com/jupyterhub/sudospawner/blob/0.4.0/sudospawner/spawner.py#L97) because only the process owner can call `os.kill`. *However*, if the process exists it will raise `PermissionErro

[2017-05-08 15:22] #1128 closed

[2017-05-09 17:06] evandam commented on #1107
Thanks @minrk. I ran the code block you sent in both a notebook through JupyterHub and a Python shell from the command line and noticed the same thing: Only one group is listed. However, I should have many more groups (seen through `os.getgroups()`)

I'm hoping to avoid a totally custom spawner, which is why my "custom" spawner just sources a script and then calls `jupyterhub-singleuser`. However,

[2017-05-10 11:48] jonny86 opened #1134 "Setting up Jupyterhub with SSL and passphrase on Debian-based Linux os"
Hello Everyone,
Thats my first github post !

I use Ubuntu 16.04 LTS and jupyterhub 0.7.2

I like to set up Jupyterhub with ssl support.
My ssl certicate needs a passphrase.

Previously i have set up the same configuration on an oracle linux system.
Once I executed the command
jupyterhub
A message prompted "Enter PEM pass phrase:"
I entered the passphrase
The jupyterhub server started succesfully

[2017-05-10 15:28] willingc commented on #1134
Welcome @jonny86.

Would you mind sharing the results of `configurable-http-proxy --version`? Thanks.

[2017-05-11 06:05] jonny86 commented on #1134
Hello willingc

Here are the requested results
configurable-http-proxy --version
2.0.1 (Kubuntu & Ubuntu Server doesnt work)
1.1.0(Oracle Linux works)

node --version
v4.2.6 (Kubuntu & Ubuntu Server doesnt work)
v0.10.42 (Oracle linux works)

[2017-05-11 06:47] jonny86 commented on #1134
I updated my node version on Oracle linux to the latest package that yum provides (v6.10.1)
and now i get the same error on oracle linux

[2017-05-12 13:46] dmvieira commented on #1083
Hey guys! It's just conda path that's not in path. Add it at jupyterhub_config.py:

`c.DockerSpawner.extra_create_kwargs = {"command": 'env PATH="/opt/conda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin" /usr/local/bin/start-singleuser.sh'}
`
Solved for me

[2017-05-12 14:40] willingc commented on #1083
Thanks @dmvieira for passing along your tip.

In `jupyterhub_config.py`, add:

[code]

I'm going to close this issue. @tjcrone, please let me know if you would like us to reopen.

[2017-05-12 14:40] #1083 closed

[2017-05-12 15:15] yuanzhou opened #1135 "Docker container cannot connect to hub API"
I'm running JupyterHub 0.7.2 on AWS EC2 instance of Amazon Linux. I installed docker and DockerSpawner to work with JupyterHub. And testing with PAM authentication, which works fine. And I could start and stop the docker container of a user with no issue. My only issue is after starting the docker container server of a user, I kept seeing this:

![capture](https://cloud.githubusercontent.com/asset

[2017-05-12 18:10] AbdealiJK commented on #682
I'm looking for this feature too and am wondering if you are open to contributions here ?

[2017-05-12 18:57] yuanzhou commented on #1135
And here is the output of `docker logs jupyter-demo`:

[code]

[2017-05-14 19:02] ryantuck opened #1136 "run a single shared notebook server using oauth"
I've been running a shared juypterhub server using an image from https://github.com/jupyter/docker-stacks

The nice thing about running a single jupyter notebook server is that people can easily share notebooks, and I don't want to give that up.

I'd like to use Google oauth for authentication instead of the password auth provided in that other repo, just like jupyterhub provides. But I *don't* wa

[2017-05-15 10:13] minrk commented on #1136
If you want to use a single notebook server, you can have a single user as far as JupyterHub is concerned, and map any OAuth user to that JupyterHub user. There is a method that transforms the upstream username into the JupyterHub username (normally, this just does `name.lower()`), but you could use it to transform allowed names into a single 'user' name:

[code]

Alternately, since you only want

[2017-05-15 17:23] evandam commented on #1107
Hi @minrk, just wondering if you had any updates or ideas on how to proceed on this one. As far as I can tell, my custom spawner is really just a small wrapper around `jupyterhub-singleuser`, but if there's another way I should be doing things like sourcing a shell script, I'm happy to try it out.

Thanks again!

[2017-05-16 11:01] minrk commented on #1107
I'm not sure. If you can poke around and find a call that gives you all of the desired gids for a given user when run as root, we can see if something needs to be updated. I'm not sure why/how you aren't getting the right group listing through the calls we currently use, but there may be something more robust we can try.

The short-term workaround, especially if you happen to know *a priori* what

[2017-05-16 14:24] willfurnass opened #1137 "configurable-http-proxy: error: "value" required in setHeader("x-forwarded-host", value)"
We've set up JupyterHub 0.7.2 and `configurable-http-proxy 2.0.0` (both installed from conda-forge) on a Centos 7 VM behind a Cisco Application Control Engine module that does TLS offloading.  I've therefore configured JH not to use SSL by commenting out the `ssl_cert` and `ssl_key` params in the JH config file.

We then get the above error.  Stack trace below:

[code]

Observed behaviour: holding

[2017-05-16 14:47] calz1 commented on #486
@willingc  I got this issue when trying out JupyterHub and it is quite confusing because PAM is the default setup. If this is still an outstanding problem, why close it?

[2017-05-16 15:33] willingc commented on #486
@calz1 Which version of JupyterHub are you using? The original issue was for version 0.5 and the current stable is 0.7.2. If you are using the current stable, I would recommend opening a new issue with details on your configuration and debug logs. Thanks!

[2017-05-16 15:43] calz1 opened #1138 "PAM authentication unreliable"
This seems similar to #486 .

I'm running this on CentOS 7:

I haven't opened the config file and am using the default PAM authentication while running jupyterhub as root via sudo. I can login fine once with my OS user called "data". When I login from another browser or another PC, I get invalid username or password in the web UI. I'm copying and pasting the username and password both times to eli

[2017-05-17 13:52] evandam commented on #1107
Hi @minrk

Closing this issue out - I followed your idea of subclassing `LocalProcessSpawner` and used another function to set gids and it worked like a charm! Here are my changes in case it's of any use to others down the road. I'm assuming it breaks the idea of keeping things platform-independent, but it works for my case on RHEL and likely other Linux/Mac systems.
jupyterhub_config.py:
[code]
m

[2017-05-17 13:52] #1107 closed

[2017-05-17 14:23] willingc commented on #1107
Thanks @evandam for sharing your solution with all. :cake:

[2017-05-17 15:33] yuanzhou opened #1140 "Clusters tab"
I'm running JupyterHub on a single AWS EC2 instance, not a cluster environment. But I see the Cluster tab after logging into the notebook. This server is spawned using DockerSpawner.

![capture](https://cloud.githubusercontent.com/assets/195873/26162366/94513a40-3af4-11e7-991f-94eacc804716.PNG)

Is there a way that I can hide this from my users?

[2017-05-18 13:02] Krzef opened #1141 "PySpark issue"
Hi Team,

We have some issue with PySpark kernel in Jupyterhub.
It works properly earlier (after **kinit** in terminal) but now it got stuck.

When we're running commands on terminal, then pyspark is working properly.
But in Jupyterhub, we got this:
[code]

Obviously, before using pyspark kernel in Jupyter, user already has been kinited.

Our pyspark **kernel.json**:
[code]

All directories are pr

[2017-05-18 18:05] athornton opened #1142 "Options form seems to kill page refresh"
**How to reproduce the issue**

Use an options form in the spawner.

**What you expected to happen**

With no options form, when I start a server, I get a page with a blue refresh button until it actually starts the container (I am using JupyterHub plus a slightly-modified Kubespawner, with Lab inside the Kube container), and then I am redirected there.

This is the behavior I expect.

**What actu

[2017-05-18 23:17] parente commented on #1141
How is your JupyterHub configured to launch notebook servers? Docker? Sudospawner?