[2022-02-15 10:09] minrk commented on #3745
@m0nzderr In 2.0, there is a scope `access:servers` that governs access to servers. Permission is no longer all or nothing. Non-admin users can now be granted access to one or more other servers without needing to be admins. For example, a scope like `access:servers!group=class-cs123` can be used to grant teachers access to the servers of students in their class.

I believe access to the admin UI

[2022-02-15 20:29] nhp002 opened #3796 "No attribute 'cookie_name' on HubAuth in JupyterHub 1.4.2"
### Bug description

#### Expected behaviour

Authentication method in Flask example should run without issues.

#### Actual behaviour

Authentication method fails because of an error that says: <code>'HubAuth' object has no attribute 'cookie_name'</code>

### How to reproduce

1. Use [JupyterHub 1.4.2 Flask Example](https://jupyterhub.readthedocs.io/en/1.4.2/reference/services.html#flask-example)

[2022-02-15 21:24] manics commented on #3796
The current version of JupyterHub is 2.1.1. Are you seeing the same problem with that version?

[2022-02-15 23:01] nhp002 commented on #3796
I believe the <code>cookie_name</code> HubAuth attribute is deprecated in newer versions. However, it appears to be broken for the older versions that should support it.

[2022-02-15 23:30] manics opened #3797 "Refine hub admin page based on individual access scopes"
### Proposed change
This is a follow-up from @minrk's comment https://github.com/jupyterhub/jupyterhub/pull/3790#issuecomment-1040109321

The hub admin page is no longer restricted to "full" admins, as RBAC scopes allow users to have some elevated privileges. For example a user may have access to servers in a group.

Currently the admin page requires `admin:users` `admin:servers`
https://github.co

[2022-02-16 04:46] kiwifb commented on #3737
Can someone post a working nginx configuration? I still have an empty panel after upgrading to jupyterhub 2.1.1.

[2022-02-16 08:40] eylenth commented on #2576
Hi, can someone take a look at this issue again?
It is still not solved

[2022-02-16 09:00] #2576 closed

[2022-02-16 10:47] meeseeksmachine commented on #2576
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/permission-denied-when-acl-is-configured/13036/1

[2022-02-16 12:57] rzo1 commented on #3780
I used `mod_dumpio` on an working instance (pre 2.0.1) for the sequence:

1. Navigate to JupyterHub
2. Perform a login

The related log can be found here: https://gist.github.com/rzo1/80026b7188ec1e5036039254a9cc9e80- I did replace the client ip as well as the domain name.

[2022-02-17 08:27] minrk commented on #3797
I _believe_ the admin page already mostly works if you have the necessary admin rights for subsets of users (the `needs_scope` decorator passes if you have access to _any_ resources, even subsets). This is thanks to the fully REST-api-based react admin page, so listing users will only return those you have read access to. It could get weird, though, if you have e.g. admin access to a subset, but r

[2022-02-17 22:10] yankee14 commented on #2011
Had this issue as well.

I debugged by inserting `echo` statements into both `~/.profile` and `~/.bashrc`. When opening a terminal in Jupyter, I see both `echo` statements fire. So they are getting sourced by Jupyter without having to modify either, at least at the time of writing.

Replaced `echo` statements with env var assignment I needed for my use case, which was `export HTTPS_PROXY=http://ex

[2022-02-18 10:41] ykazakov commented on #3737
@kiwifb this config works fine for me:
[code]

As mentioned above, I just changed `proxy_set_header Host $host;` to `proxy_set_header Host $http_host;`

![Screenshot 2022-02-18 at 11 40 24](https://user-images.githubusercontent.com/2140361/154667262-a624bfef-b607-400f-b638-d0c6bc1bd44f.png)

[2022-02-18 15:47] WilliamJudge94 commented on #3578
Hello everyone,

I have found an easier way than passing in the --collaborative flag into jupyterhub instances, but it requires editing one piece of jupyterlab source code.

1. Find where your jupyterlab is installed to.

- If you (username) installed jupyterlab with anaconda3, with virutal environment named test_env, with python=3.9 jupyterlab will have installed to this /home/username/anaconda3/

[2022-02-19 06:54] kiwifb commented on #3737
Yes, ssl is configured outside of location, I reverse proxy several jupyterhub from the same nginx instance and manage its configuration with ansible
[code]
It seems to work but if there are obvious mistakes, I am all hears.

[2022-02-20 03:17] simpleprogrammer2 commented on #1585
[yuvipanda](https://github.com/yuvipanda) this issue can be closeed

[2022-02-21 20:05] consideRatio commented on #2032
This isn't done here in the jupyterhub/jupyterhub project, but the jupyterhub-idle-culler is now a standalone project that documents it in its README here: https://github.com/jupyterhub/jupyterhub-idle-culler#how-it-works

I think there are some good options for various deployments of JupyterHub to provide configuration files overall, doing that directly is probably the way to go than supporting a

[2022-02-21 20:05] #2032 closed

[2022-02-21 20:06] consideRatio commented on #1585
@simpleprogrammer2 thank you! Note that you have now made a contribution to this project by helping us triage the issues! :heart: :tada:

Thank you @simpleprogrammer2 for being an active member of this community!

[2022-02-21 20:06] #1585 closed

[2022-02-22 00:15] consideRatio commented on #3592
This seems like a potential cause of this issue @minrk. Any ideas of a suggested change comes to mind?

https://github.com/jupyterhub/jupyterhub/blob/a3ea0f0449e9e19feff863b5f5cce4d8a4febf1f/jupyterhub/user.py#L945-L954

[2022-02-22 08:00] minrk commented on #3592
@consideRatio good eye! I think you're right that this is going to be the root cause. In most cases, failure to dispose of a previous spawner isn't an issue, but certain cases, especially with dynamic options, certainly will not fully reinitialize unless a new Spawner is instantiated. Should search Issues, I think this may be related to some other reports around spawners having 'stale' state.

Wil

[2022-02-22 10:13] minrk commented on #3767
Sorry, forgot I hadn't posted an answer to the last question.

There are two server implementations (`jupyter-server` and `notebook`) and (at least) two UIs/clients (`notebook/nbclassic` and `jupyterlab`). _Both_ clients are compatible with _both_ servers. In the example you gave, that means you've chosen to use the `notebook` implementation of the server, with `jupyterlab` as the _default_ UI.

I

[2022-02-22 22:49] rcthomas opened #3804 "Unable to disable user config with Jupyter Server"
The hub administrator is supposed to be able to prevent per-user notebook configuration scripts from running by setting

[code]

In the `jupyterhub_config.py` config.  This sets the environment variable `JUPYTERHUB_DISABLE_USER_CONFIG=1` for the spawned notebook server.  However this seems to be being ignored?

<details>
<summary>Using this Dockerfile</summary>

[code]

</details>

<details><summa

[2022-02-23 00:12] tylerpotts opened #3805 "Improved logging to improve ambiguous error messages"
### Proposed change

I'm using docker-compose to deploy my jupyterhub setup. In the process of upgrading one of my docker images, I ran into this error:

[code]
When looking into the line number in `user:800` [here](https://github.com/jupyterhub/jupyterhub/blob/main/jupyterhub/user.py#L799) the logger doesn't give a full traceback of the error. This line only allowed me to see where the error was

[2022-02-23 19:09] manics commented on #3804
It's a regression in 2.0.0 (works in 1.5.0)

[2022-02-23 19:42] manics commented on #3804
It's related to the interaction between JupyterHub and JupyterServer. The config is disabled in `NotebookApp` but not `ServerApp`

| JupyterHub version | `JUPYTERHUB_SINGLEUSER_APP` | `c.Spawner.disable_user_config = True` |
|---|---|---|
| 1.5.0 | notebook.notebookapp.NotebookApp | ✅ |
| 1.5.0 | jupyter_server.serverapp.ServerApp | ❌ |
| 2.0.0 | notebook.notebookapp.NotebookApp | ✅ |
| 2.0.0 | ju

[2022-02-23 19:46] consideRatio commented on #3804
@manics you are amazing! Thanks for all your investigative work!!

[2022-02-24 19:41] Holmes5 opened #3806 "Blank screen when trying to access JupyterLab"
### Bug description

When I start a JupyterHub server, JupyterLab works great at first. However, as the server is run for a longer time, attempts to access JupyterLab (the default interface) fail and you just get a white screen in your browser. `tree` is still accessible, and interestingly, invariably succeeds in loading JupyterLab when you click the Jupyter button there. Typing the same URL as yo

[2022-02-24 22:11] manics commented on #3806
Hi :wave: This sounds like a configuration problem, or an issue with JupyterLab, rather than a bug with JupyterHub. Do you mind posting this as a support question on https://discourse.jupyter.org/ instead? Thanks!

[2022-02-24 22:11] #3806 closed

[2022-02-25 09:52] tobi45 commented on #3780
I'd like to add headers dumped at the beginning of the method `check_referer` in `jupyterhub/apihandlers/base.py` of jupyterhub `2.1.1` when navigating to the admin page (`/admin`) (after successful login) (domain replaced by domain.de, ip by ip1 and ip2, cookie shortended):

[code]

Please let us know if we could be of any other help here.

[2022-02-25 14:24] rcthomas commented on #3804
Thanks @manics, did you look further into `jupyter_server` and get a sense of what happened or would it make sense for us to open an issue over there?

[2022-02-27 16:24] manics commented on #3780
[code]
This is a problem, obviously these headers should indicate a https connection

[code]
It's notable that the scheme (`https`) doesn't seem to be passed to JupyterHub in these logs. If it previously worked then arguably it was a bug since it means the protocols weren't correctly verified.

Can you try adding a header such as `X-Forwarded-Proto` to the Apache config?

[2022-02-27 18:30] manics commented on #3804
I haven't looked any further.

@blink1073 any chance you could give us some help?

[2022-02-28 07:35] rzo1 commented on #3780
Thanks for your reply.

I added `RequestHeader set "X-Forwarded-Proto" expr=%{REQUEST_SCHEME}` to my apache2 config, which seems to solve the problem:

1. I can spawn instances and stop them again
2. I can see the admin page and use it.

@manics Might be worth updating https://jupyterhub.readthedocs.io/en/stable/reference/config-proxy.html then...

[2022-02-28 14:41] blink1073 commented on #3804
It looks like [SingleUserLabApp](https://github.com/jupyterlab/jupyterlab/blob/886b2ab9999dd281d47e9970f60e7d3398e7020f/jupyterlab/labhubapp.py#L27) needs to add handling of [`disable_user_config`](https://github.com/jupyterhub/jupyterhub/blob/3ed345f4960f083b2d35c72b330254aa3cf31fe9/jupyterhub/singleuser/mixins.py#L370).  cc @fcollonval @jtpio

[2022-02-28 21:55] manics commented on #3780
@tobi45 Thanks, I've opened https://github.com/jupyterhub/jupyterhub/pull/3808

I know the header dumps from you and @rzo1 are different- but they provide different insightful clues which together was very helpful :smile:

configurable-http-proxy (CHP) sets some forwarding headers when proxying requests on to JupyterHub. In the absence of any other metadata it will pass on the details of the host

[2022-03-01 07:32] fcollonval commented on #3804
@blink1073 shouldn't it be `jupyter_sever.serverapp.ServerApp` as `SingleUserLabApp` is inheriting from it (as well as other alternative app)?

[2022-03-01 08:02] meeseeksmachine commented on #3700
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/is-there-anything-wrong-with-using-orm-user-instead-of-get-auth-state-to-customize-user-options/13199/2

[2022-03-01 12:49] blink1073 commented on #3804
I don't think so, this is Hub-level only.  cc @Zsailer

[2022-03-01 13:14] #3780 closed

[2022-03-01 13:52] manics commented on #3804
@blink1073 thanks for the clues.....

It looks like Jupyter-server calls `jupyter_config_path()`
https://github.com/jupyter-server/jupyter_server/blob/62607ce28576e50358217534161f9e7c4aab2611/jupyter_server/serverapp.py#L2142-L2157
which is defined in
https://github.com/jupyter/jupyter_core/blob/5ae115928f57ae55928d217f9221c68ef188153c/jupyter_core/paths.py#L213-L261
This could be relevant:
[code]

[2022-03-01 14:06] fcollonval commented on #3804
But that will block configuration from the environment too, isn't it? That is probably too broad.

[2022-03-01 18:38] ktaletsk opened #3811 "Documentation examplifies admin:services scope - but it doesn't exist"
### Bug description

I am trying to migrate to JupyterHub 2.1 from 2.0 and realized that my admin service does not work. I had the following configuration:

[code]

Following [the instructions in the docs](https://jupyterhub.readthedocs.io/en/2.1.1/reference/rest.html#updating-to-admin-services), I replaced the service and added the role:

[code]

After that, I am getting the error from JupyterHub

[2022-03-01 18:45] consideRatio commented on #3811
Could it be that you need to configure load_roles before services - because there is validation logic running just when you set `c.JupyterHub.services`?

[2022-03-01 18:58] ktaletsk commented on #3811
I just tried 2 things:
1. Remove `admin:services` from my `admin-role`. Error went away.
2. Keep `admin:services` and load roles *before* services. Error persists.

[2022-03-01 19:04] consideRatio commented on #3811
I think the answer is `admin:services` doesn't exist. See this list: https://jupyterhub.readthedocs.io/en/stable/rbac/scopes.html#available-scopes

What kind of change did you look to do? Use the JupyterHub REST API to add a JupyterHub registered service dynamically?

[2022-03-01 19:20] ktaletsk commented on #3811
@consideRatio thanks for clarification. If the scope does not exist, we should update the documentation here: https://github.com/jupyterhub/jupyterhub/blob/2dc2c99b4a8965e5526e37e8bff35842e937a838/docs/source/reference/rest.md?plain=1#L110-L123

I was trying to get the equivalent behavior to to the old (v1.x) admin services. In particular, I have cull-idle services and generic admin service which

[2022-03-01 19:47] consideRatio commented on #3811
@ktaletsk for jupyterhub-idle-culler specifically, see https://github.com/jupyterhub/jupyterhub-idle-culler#permissions and note that if you are working with a distribution of jupyterhub like z2jh or tljh, that should be setup automatically for you - and if not - we should fix it. I know it is setup automatically in z2jh at this point, but not yet released - will be for z2jh 2.0.0+.

[2022-03-01 19:48] consideRatio commented on #3811
## Action point

This issue can be resolved by updating this example to not reference an undefined scope like `admin:services`.

[2022-03-01 21:44] ktaletsk commented on #3811
@consideRatio speaking of idle-culler, I also noticed the duplicated and inconsistent docs for cull-idle configs:

1. Get Started -> External Services https://jupyterhub.readthedocs.io/en/2.1.1/getting-started/services-basics.html#configure-the-idle-culler-to-run-as-a-hub-managed-service
https://github.com/jupyterhub/jupyterhub/blob/f6230001bbc25bf4d9543b124ac2fb4a01c9b1a2/docs/source/getting-star

[2022-03-02 01:46] ErqingLi commented on #379
I have the same problem: once the iframe comes to the `user/username/tree?`page, it refuses to connect.
The solution mentioned by @zcesur works perfectly for me, though I use jupyterhub with DockerSpawner.

To my understanding, the key is to configure `c.NotebookApp.tornado_settings` in `jupyter_notebook_config.py`, which should be within the container we build.  So it won't work if I just configu

[2022-03-02 11:37] minrk commented on #1546
Access tokens cannot be transformed into full logins without a custom Authenticator or LoginHandler. They can only be used for API access e.g. via the Authorization header. Access tokens may have reduced permissions relative to a full login, so that should be taken into account.

[2022-03-02 12:12] #3766 closed

[2022-03-03 18:50] dkims commented on #3739
I have same problem. Did you resolve the problem?

[2022-03-04 09:03] #3811 closed

[2022-03-04 09:23] consideRatio opened #3814 "Update JupyterHub REST API permission examples with jupyterhub-idle-culler"
As mentioned in https://github.com/jupyterhub/jupyterhub/issues/3811#issuecomment-1055890231 by @ktaletsk, our docs provides inconsistent examples on how to configure jupyterhub-idle-culler with relevant JupyterHub REST API permissions.

It would be good to:
1. Be consistent across examples in this repo and with how permissions should be set to meet jupyterhub-idle-culler's needs
2. Link to jupyte

[2022-03-04 09:23] consideRatio commented on #3811
@ktaletsk thanks for your work and summary of the situation! I opened https://github.com/jupyterhub/jupyterhub/issues/3814 to represent what you observed!

[2022-03-04 18:10] szazs89 opened #3816 "Sorting option on the admin page considers only the servers listed on the current page"
### Bug description
Sorting option on the JupyterHub admin page considers only the servers listed on the current page.

#### Expected behaviour
All the servers should be sorted first and then paginated. (It may require to reload the list of servers...)

#### Actual behaviour
Clicking on one of the sorting option (User or Last Activity, e.g.) on the Admin page, sorts the list displayed on the curre

[2022-03-04 22:41] ktaletsk commented on #3814
I overlooked this discussion, but it might be relevant: https://discourse.jupyter.org/t/which-is-the-correct-way-to-cull-idle-kernels-and-notebook/8123/16

[2022-03-07 15:47] meeseeksmachine commented on #3780
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/cors-issues-behind-nginx-ingress-after-updating-to-jupyterhub-2-1-1/13308/1

[2022-03-07 15:47] meeseeksmachine commented on #3737
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/cors-issues-behind-nginx-ingress-after-updating-to-jupyterhub-2-1-1/13308/1

[2022-03-07 22:11] benz0li commented on #3707
Resolved in v2.2.0.

[2022-03-07 22:11] #3707 closed

[2022-03-08 17:59] GeatyRopz opened #3817 "Jinja error"
I wanted to install Jinja and got an error:

Collecting jinja
  Using cached Jinja-1.2.tar.gz (252 kB)
  Preparing metadata (setup.py) ... error
  error: subprocess-exited-with-error

  × python setup.py egg_info did not run successfully.
  │ exit code: 1
  ╰─> [7 lines of output]
      Traceback (most recent call last):
        File "<string>", line 2, in <module>
        File "<pip-setuptools-ca

[2022-03-08 18:37] #3817 closed

[2022-03-09 15:26] alejandrofm opened #3818 "View/Limit memory usage per user via admin view"
### Proposed change
To have more information/control of the instance resources used by Jupyterhub it would be nice and UX friendly to have in the admin panel: http://jupyterhub2.bi.etermax.net/admin Information about current memory usage, and as a plus it would be great to limit that for each user to that limit shows on each server via the jupyterlab-system-monitor plugin or similar.

### Alternat

[2022-03-10 08:43] minrk commented on #3818
This will require quite a bit of new JupyterHub APIs, since JupyterHub doesn't understand memory usage, nor a generic way to apply limits on a per-user basis.

I proposed adding generic metrics some time ago in https://github.com/jupyterhub/jupyterhub/issues/3101 which would help with one part, but I'm not sure how to turn that into applying limits via UI.

You _can_ set memory limits (if the Spaw

[2022-03-10 08:45] minrk commented on #3816
The user list REST API will need to [support ordering](https://github.com/jupyterhub/jupyterhub/blob/c23cddeb515dbcc0bc59c063ddba32d191624dcb/jupyterhub/apihandlers/users.py#L152) first, then the react API can make the appropriate request to update its list.

[2022-03-10 09:12] meeseeksmachine commented on #3797
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/c-authenticator-admin-users-vs-c-jupyterhub-load-roles-in-jupyterhub-2/13349/2

[2022-03-10 10:19] minrk commented on #3804
I think it's `nbclassic` that's loading this config (maybe notebook_shim? Unclear to me.), but technically any ExtensionApp could introduce the same problem.

The general issue is that each ExtensionApp may load its own config, have its own paths to search, and the patches applied by JupyterHub to the base ServerApp do not apply to extensions. When we put together JupyterHub, all Applications were

[2022-03-10 20:55] jwclark opened #3821 "Jupyterhub logout TypeError with xsrf_cookie_kwargs"
Jupyterhub version 2.1.1

If xsrf_cookie_kwargs (example below) are configured on Jupyterhub tornado_settings, the request to clear_cookie() in base.py clear_login_cookie during logout can result in the following error:

TypeError: clear_cookie() got an unexpected keyword argument 'Secure'

Example configuration:

[code]

It appears appears that the logout handler attempts to pass in all kwargs to

[2022-03-11 08:30] minrk commented on #3796
From those Dockerfiles, it looks like you probably have jupyterhub 2.1.1 in your service, since the install of jupyterhub doesn't specify a version, unlike the pin of 1.4.2 in the jupyterhub image. Can you run `pip list` in your `server` image? You can pin with `pip install jupyterhub==1.4.2` in your Dockerfile (or use requirements.txt / requirements.in).

[2022-03-11 08:33] minrk commented on #3797
Even now, it probably makes sense to add a new dedicated `access:admin-ui` scope to grant access to the admin UI itself. Not all functionality would work, but for the most part you would be able to take the actions you are permitted to take, while the actions you aren't would fail with an informative permission error. I think you may also need at least `list:users` for some users for it to work at

[2022-03-11 08:37] minrk commented on #3797
The above [discussion](https://discourse.jupyter.org/t/c-authenticator-admin-users-vs-c-jupyterhub-load-roles-in-jupyterhub-2/13349/2) for example, appeared to be for a valid case where a deployment really wants to give  a set of users the troubleshooting feature of restarting other users' servers. This would work today if they only have `[list:users, servers]` scopes, but the bar for access to th

[2022-03-11 08:42] minrk commented on #3821
Should be fixed by #3823

[2022-03-11 08:53] #3821 closed

[2022-03-14 18:58] consideRatio opened #3830 "Warning about rolling back dirty (Server) object(s) after Spawner.start is called"
It seems that spawning a user in z2jh's CI system leads to a warning is emitted about state of possible relevance not being saved.

[code]
_Link to github workflow logs [here](https://github.com/jupyterhub/zero-to-jupyterhub-k8s/runs/5542660863?check_suite_focus=true#step:20:317)._

This is seen in logs of current z2jh main branch where KubeSpawner 3 hasn't yet been merged, even though it is also

[2022-03-14 19:28] manics commented on #3830
There's a report here of the database not matching the server:port returned by the spawner, maybe related? https://discourse.jupyter.org/t/jupyterhub-checks-for-notebook-servers-at-wrong-port-at-startup/13050

[2022-03-15 08:46] nhp002 commented on #3796
Specifying the package version solved the problem. Thank you!

[2022-03-15 08:46] #3796 closed

[2022-03-15 09:02] tirear opened #3832 "Maybe a bug about module checking"
### Bug description

If I use conda to install only jupyterhub and python (conda install -c conda-forge python=3.9 jupyterhub), the following message showed as someone try to login:

[code]
I think the problem is the lines from 32 to 36 in jupyterhub/singleuser/app.py
[code]

I changed that with:
[code]
then the better message showed:
[code]
The above message let me know that I have to install jup

[2022-03-16 09:58] meeseeksmachine commented on #3737
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/can-not-get-admin-ui-in-jupyterhub-2-2-0/13372/6

[2022-03-17 12:37] IILolitaII opened #3836 "Autosave Failed"
### Bug description

When I have the word '''coalesce()''' in any cell, a save bug occurs

[2022-03-17 12:46] #3836 closed

[2022-03-17 12:53] consideRatio commented on #3836
Hi @IILolitaII!

I hope it is alright if I ask you to ask a question about this in discourse.jupyter.org instead even if you experience this issue in a JupyterHub context, it is not clear that this is a bug in the software JupyterHub that needs to be resolved.

For someone to help out track down what this is about, more information will be required. You could come a long way by providing screensho

[2022-03-17 12:59] IILolitaII commented on #3836
Hi [consideRatio](https://github.com/consideRatio)!

I tested it with different JupyterHub's and had the same issue. But ok, I will ask a community, thanks!

[2022-03-18 08:25] minrk commented on #3832
There was a typo where we were skipping storing the error in `_import_error`. Fixed by #3837

[2022-03-18 09:03] #3832 closed

[2022-03-19 17:56] Streeter220 opened #3838 "Running applications in a multiuser environment"
Hi, i have jupyterhub/lab running in docker, and using dockerspawner for notebooks. I am having a problem where users are using the same port for web applications. User A is using port 5000 for his application in his notebook container, then user B does the same using port 5000 but then the port is already in use. Is there a way to use server-proxy or something similar to allow containers to use s

[2022-03-24 11:51] minrk opened #3842 "Improve filter language on oauth confirmation page"
Right now, the oauth confirmation page with `read:users:name!user=x, read:users:groups!user=x` says:

This is because each 'base' permission has a description ("Read users' group membership"), and we _append_ to that information about the filter ("Applies to " + "only you" in this case)..

But this is not the clearest way to present the information. It would be more natural to say:

### Proposed c

[2022-03-25 22:24] muh-hassani opened #3844 "Admin page still blank by updating from jupyterhub=2.0.0 to jupyterhub=2.2.2"
When I upgraded to jupyterhub=2.0.0, I had a proper restart of the jupyterhub and changes to the database schema were applied. By jupyterhub=2.0.0, the admin panel is available, and showing the users' activity, but when I update jupyterhub to 2.2.2, the admin panel becomes almost blank. Strangely, after the update, the admin panel includes only a gray bar which states jupyterhub 2.0.0.
The jupyter

[2022-03-27 07:56] chopley opened #3846 "Latest build v4.0.0b5 fails on import from Aesara?"
### Bug description
After pulling latest master (`commit 9c2ba7afc829fef5799068a0215a53b0f69da7c0`) I am unable to load pymc4.

First issue sees to be out of date `Aesara` library in `requirements.txt` (change from 2.5.1 to 2.5.3) but second issue is a `ImportError: cannot import name 'CType' from 'aesara.graph.type'`

#### Expected behaviour
`import pymc as pm` correctly loads

#### Actual behavi

[2022-03-27 08:10] #3846 closed

[2022-03-28 12:28] Roger-GOAT commented on #488
same issue. Anyone has a idea?

[2022-03-29 15:03] scbarton commented on #3844
I was able to fix this by stopping the jupyterhub server, deleting `jupyterhub.sqlite`, and then restarting the server.

[2022-03-30 13:51] itcarroll commented on #2167
Imma stale-bot myself.

[2022-03-30 13:51] #2167 closed

[2022-04-02 06:19] aabdulsalams commented on #379
Thank you, this solved my problem

[2022-04-03 14:53] linroex commented on #219
Is anyone use Cloudflare Access to protect jupyter and setting proxy success? when I disable cloudflare, it work, but if I enable cloudflare, it fails (websocket)

[2022-04-04 17:18] connorourke opened #3854 "Persistent 503 errors for some users, but not all"
### Bug description

I have a jupyterhub server up and running, with users able to log on, as am I. However some users get a 503 error and are unable to log on, and it is not temporary - the problem is persistent.

If I remove the user account, and get them to log on again and recreate the account the problem goes away.

#### Expected behaviour

The users should be able to log on

#### Actual beha

[2022-04-04 18:29] tryauuum opened #3855 "JupyterHub checks wrong server url after restart"
### Bug description
I use a subclass of BatchSpawner (created for Univa Grid Engine), JupyterHub 2.0.0. If I restart JupyterHub it uses wrong url to check if user's server is still running. It concludes that server is not running and deletes cluster job.

#### Expected behaviour
Cluster jobs should survive JupyterHub restart

#### Actual behaviour
logs contain lines like these (note port 0)
`Verif

[2022-04-06 09:06] minrk commented on #3854
I believe the odds are that the server in question is not running at the port in the configuration. This could be:

1. it is running, but not at the expected port (database inconsistency)
2. it is not running at all, but jupyterhub hasn't noticed (spawner poll bug)

Both should be fixed by stopping and starting the affected server(s).

If it persist across restart, then logs for the server itself

[2022-04-06 13:42] connorourke commented on #3854
Thanks @minrk - where can I find the jupyterhub/server logs? Can't see them.

[2022-04-06 13:55] minrk commented on #3854
Logs of the hub itself  will depend on how you started it, but you posted them in the issue description already. If you are using systemdspawner, you can use `journalctl` to [get logs of user servers](https://tljh.jupyter.org/en/latest/troubleshooting/logs.html?highlight=journalctl#user-server-logs
):

[code]

[2022-04-06 15:18] LukasMueller187 commented on #1784
Sadly this is still not possible. This did cost me a few hours just to figure out that it is not possible to extend page.html. This should be mentioned on the wiki page.
Would appreciate a fix!

[2022-04-07 08:11] minrk opened #3858 "Runtime / user-granted roles and scopes"
### Proposed change

For sharing and user-initiated collaboration, I think we want the ability for users to _grant_ other users permissions. Right now, to collaborate, admins must grant minimum sharing permissions _at all times_. This works for protyping purposes, and single-group deployments, but not in general

For simplicity, the first implementation of RBAC only allows roles to be defined in c

[2022-04-07 08:12] meeseeksmachine commented on #3858
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/refining-server-scopes-in-role-definitions/13760/4

[2022-04-07 23:06] ktaletsk commented on #3858
This would help a lot! Currently I have to run wrapper to restart JupyterHub to add individual sharing roles for each user. https://github.com/ktaletsk/jupyterhub-rtc-config-wrapper

[2022-04-08 00:57] chenjpu opened #3860 "Spawner support for nomad"
### Proposed change
NoamdSpawner

### Alternative options

### Who would use this feature?

### (Optional): Suggest a solution

[2022-04-08 01:32] whisere opened #3861 "spawn failed for user after jupyterhub restart, received signal 15, stopping"
### spawn failed for user after jupyterhub restart, log shows
received signal 15, stopping
SingleUserLabApp notebookapp:2052] Shutting down 0 kernels
SingleUserLabApp notebookapp:2067] Shutting down 0 terminals

#### Expected behaviour

#### Actual behaviour

### How to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Your personal set up

 - OS: Redhat 8.5

[2022-04-08 01:40] whisere commented on #3861
restarting the user's container and the spawn process shut it down again.

[2022-04-08 06:25] #3861 closed

[2022-04-08 06:29] manics commented on #3860
Hi! JupyterHub is designed to be extensible and highly customisable. Anyone can write and publish their own spawner, see https://jupyterhub.readthedocs.io/en/stable/reference/spawners.html

If you want to try and find others who are interested in working with you on this try posting on https://discourse.jupyter.org/

[2022-04-08 06:30] #3860 closed

[2022-04-08 08:31] meeseeksmachine commented on #3861
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/spawn-failed-for-user-after-jupyterhub-restart-received-signal-15-stopping/13799/1

[2022-04-12 21:23] MrPlumbum82 opened #3865 "Admin page doesn't load table"
### Bug description
The `Admin` page in the Jupyterhub `Control Panel` loads an empty page if a single user from a list of `n` users does not have a spawned playbook (server).

#### Expected behaviour
I would expect to see the complete table/list of users and their spawned playbook servers.
<img width="1310" alt="Screen Shot 2022-04-12 at 3 22 27 PM" src="https://user-images.githubusercontent.com/

[2022-04-13 08:47] dithwick opened #3866 "Uncaught exception when JupyterHub tries to communicate with SingleUserLabApp on compute node"
### Bug description

batchspawner-singleuser starts correctly on the compute node and communicates back to the hub to indicate this. JupyterHub shows:

`Server ready at [/user/username/]`

and redirects to /user/username/lab?

but this then shows a

[code]

to the user.

I originally posted this under the batchspawner (https://github.com/jupyterhub/batchspawner/issues/242) as that is what I'm usin

[2022-04-15 17:39] jbaksta opened #3868 "Admin Interface "Spawn Page" and "Access Server" button do not include base_url"
### Bug description
I've updated my dev instance of JupyterHub to the latest 'JupyterHub 2.2.2 20220414152639' that was in the conda-forge repos at the time, but noticed that the Spawn Page button doesn't render the link with base_url and therefore gives a 404 message (at least when behind nginx reverse proxy.

#### Expected behaviour
Include the base_url in the rendering for the button.

#### Act

[2022-04-16 14:11] minrk commented on #3868
I believe this was fixed by #3827 which has not yet been included in a release

[2022-04-16 16:41] jbaksta commented on #3868
Thanks. As it's merged, do we know the timeline for next release when it'll be included?

[2022-04-16 18:13] minrk commented on #3868
I think by the end of the month

[2022-04-19 01:11] keith6014 opened #3870 "Version 2.2.0 redirect issue with proxy"
### Bug description

Able to authenticate fine with proxy (nginx). In the jupyterhub-logs I see
Authenticated with token <APIToken...>

Then I see
[SingleUserLabApp log:189] 302 GET /user/USER/oauth_callback?code=[secret]&state=[secret] -> /user/USER/lab?

Starting from 2.2.0 release when using remote_user plugin (https://github.com/cwaldbieser/jhub_remote_user_authenticator) web browser is giving

[2022-04-19 12:26] Betristor opened #3871 "Classic jupyter instead of jupyterhub page"
### Bug description
I deployed jupyterhub on our lab server for a little team. I changed my service to jupyterlab by manually entering lab without changing configurations. But after I write some configurations in my own `jupyter_notebook_config.py` and restarted the service, the default page with jupyterhub control panel disappeared, and classic jupyter page is what I get when I accessed the servi

[2022-04-19 12:49] #3871 closed

[2022-04-19 12:54] Betristor commented on #3871
OK, thanks.

[2022-04-19 20:01] manics commented on #3870
It looks like someone has posted a similar issue on the Jupyter forum
https://discourse.jupyter.org/t/changes-in-proxy-from-2-1-1-to-2-2-2/13914
I'll therefore close this issue to avoid duplicating effort.

[2022-04-19 20:01] #3870 closed

[2022-04-23 22:18] code-review-doctor opened #3873 "Missing `f` prefix on f-strings"
Some strings looks like they're meant to be f-strings but are missing the `f` prefix meaning variable interpolation won't happen.

https://github.com/jupyterhub/jupyterhub/blob/a588a0bfa39691793a6b8f788b112d8189179134/jupyterhub/handlers/pages.py#L499
https://github.com/jupyterhub/jupyterhub/blob/a588a0bfa39691793a6b8f788b112d8189179134/jupyterhub/spawner.py#L233
https://github.com/jupyterhub/jupy

[2022-04-24 04:19] whoareyou2021 commented on #2989
2 years late, but better late then never.
I created a user and install jupyterlabs (or you can install jupyternotebook) and it spawned a instance perfectly.

[2022-04-24 04:31] Betristor commented on #3871
[Updated] I rebooted the whole system so as the jupyterhub service. But my own service is still started with classic jupyter interface.

[2022-04-24 16:58] tlehmann7 commented on #3797
This has nothing to do with the issue itself, but I am currently writing my bachelor thesis and I am referring to this thread respectively this problem. From my perspective an extra scope for seeing the Admin UI would make sense, my question is if there are any updates regarding this. Are you actually planning to implement this feature? Thanks in advance for an answer,
with kind regards,
Tim

[2022-04-27 15:58] orboan opened #3875 "Issue in the documentation"
Hello,

this is an issue, to my understanding, in the documentation, in particular in the README file in:

[service-announcement](https://github.com/jupyterhub/jupyterhub/tree/main/examples/service-announcement)

I already asked a fix for this README in discourse forum, but as I am getting no responses I decided to publish it here. My apologies if this is not the right place to submit issues in th

[2022-04-28 02:42] DPnice commented on #3866
encountered the same problem

[2022-04-29 09:55] minrk commented on #3797
admin-ui scope added in #3878

[2022-04-29 10:13] #3014 closed

[2022-04-29 12:00] fxheng opened #3879 "Manage jupyterlab image"
Hi all,
I'm currently using jupyterhub on a swarm platform and will be soon migrating on K8s.
Currently I 'm managing my jupyterlab image separatly from jupyterlab instance. I Make some evolution on my labs(I have different version of them, each dedicated to different users, and i managing many version per lab(so if a new lib version screw someone works, he can keeps it old version to finish his t

[2022-04-29 13:05] consideRatio commented on #3879
I think its out of scope for JupyterHub to be aware about images in general, but it doesn't mean your ideas are bad or so, just that it can't be developed as part of this project.

If you want to discuss a feature idea like this to develop in a new project, which could make sense to develop open source for everyone to use, please refer to the discourse.jupyter.org forum.

Thanks for being an activ

[2022-04-29 13:05] #3879 closed

[2022-04-29 13:45] rcthomas commented on #3875
Maybe this example should be replaced with a link to the [more fully developed service](https://github.com/rcthomas/jupyterhub-announcement), similar to how cull-idle-servers was moved out?

[2022-04-29 16:24] fxheng commented on #3879
Initially I though it is my own issue and was ready to handle it separatly.
But considering that the image configuration thing are currently are, from my point of view badly handle by the spawner class, I think it can be interresing to rework it a bit and swpawner class aware of a by image configuration.

Here is a part of my configuration :
[code]
It's a simple case where i'm offering the users 2

[2022-04-29 20:09] carnil commented on #3304
CVE-2020-36191 appers to have been assigned for this issue.

[2022-04-29 22:24] manics opened #3880 "Admin shutdown button doesn't offer any options"
### Bug description
Reported in https://discourse.jupyter.org/t/what-does-the-shutdown-hub-button-really-do/14023

The Shutdown button in the admin interface causes an instant(?) shutdown, it does not offer options to keep the proxy or singleuser servers running.

#### Expected behaviour

It looks like there's code to show a dialog:
https://github.com/jupyterhub/jupyterhub/blob/6be3160d7487bb362df

[2022-04-30 17:20] manics opened #3881 "API shutdown doesn't call cleanup"
### Bug description

If a POST is sent to the shutdown API endpoint http://localhost:8000/hub/api/shutdown, either through the shutdown button on the admin page, or by making a request to the API with curl, `cleanup()`:
https://github.com/jupyterhub/jupyterhub/blob/107dc02fd0698eaff11125829a947863275f32ef/jupyterhub/app.py#L2871-L2872
is not called

#### Expected behaviour

The hub should shut dow

[2022-05-03 14:22] dithwick commented on #3866
@DPnice I don't know if this helps you but I have finally worked out why this is failing for me.

The JUPYTERHUB_OAUTH_SCOPES environment variable was ended up as

`JUPYTERHUB_OAUTH_SCOPES=[\access:servers!server=username/\
`

rather than (something like)

`JUPYTERHUB_OAUTH_SCOPES='["access:servers!server=username/", "access:servers!user=username"]'
`

in the shell environment that was starting th

[2022-05-04 10:17] socar-grab opened #3884 "Admin Dashboard for checking user's usage time"
### Proposed change

Currently, admin manages the user's server, and access some information such as created time and last activity time.
It would be easier for admins to manage system if there is a simple table-type dashboard where admins can check how much server users have used.

### Alternative options

I don't come to mind

### Who would use this feature?

all of jupyterhub admins

### (Optio

[2022-05-05 10:00] minrk commented on #3880
Indeed, this is in the transition from the old admin page to the new react one. I believe `admin.js` is unused and can be removed.

[2022-05-05 10:59] minrk commented on #3884
We don't have any counters accumulating time-used. This would be a whole new kind of activity tracking before this information is collected.

How would you define 'how much server' is being used? It's not clear to me what kind of metric this would be, or how we'd collect it.

[2022-05-05 11:04] minrk commented on #3865
I suspect this has been fixed by one of the recent admin page PRs such as #3834

[2022-05-05 11:24] minrk commented on #3881
Should be fixed by #3886

[2022-05-05 11:25] minrk commented on #3868
Working on release with this fix: https://github.com/jupyterhub/jupyterhub/pull/3887

[2022-05-05 11:25] #3868 closed

[2022-05-05 15:27] socar-grab commented on #3884
I just thought that it could just track the server when it goes up and when it goes down. If so, it would be able to store the up & down time of each server in a new table(maybe its columns can be username, server name, event(up&down), timestamp, ...)
Finally a client can get the usage time for each server through the API.

e.g) A server up at 2022/05/05 00:00:00 AM, down at at 2022/05/05 10:00:00

[2022-05-05 19:16] #3881 closed

[2022-05-06 14:00] minrk commented on #2724
On one level, lots of recent activity suggests maybe it's _not_ something ready to be ossified by pushing it upstream. Features in JupyterHub are a lot harder to change.

I think the main task is to draft a proposal (even a sketch PR) of a feature set in the base Spawner that would satisfy KubeSpawner and ProfileSpawner (or at least _reduce_ the amount they need to do themselves). I think it's wel

[2022-05-06 17:59] petebachant commented on #2615
+1! Just realized today how easy it is to delete a named server and its PVC.

[2022-05-09 09:26] bbrauns opened #3890 "Documentation: Example with custom /jhub/ location leads to 400 Bad Request with files/folders containing whitespace characters"
### Bug description

The apache reverse proxy documentation [1] has an example for running jupyterhub under the /jhub/ location. Unfortunately the line `RewriteRule /jhub/(.*) ws://127.0.0.1:8000/jhub/$1 [NE,P,L]` prevents opening folders or renaming files with a containing whitespace characters. It always leads to a 400 Bad Request error from apache. Removing the `NE` flag prevents this issue: `R

[2022-05-10 06:18] bveeni opened #3893 "Integration of 3D slicer notebook in JupyterHub"
Hi,
With jupyter hub, I am trying to integrate 3D slicer, which can be accessed by multiple user.
Since slicer-notebook is single user instance , where multiple user end up seeing same session. So, in order to provide different session for different user, our goal is to integrate 3D slicer notebook in Jupyter Hub.
 Currently, I found we have only Python notebook available, not Slicer.
I would like

[2022-05-10 06:27] #3893 closed

[2022-05-10 08:22] #3890 closed

[2022-05-11 16:56] rayanbettis opened #3896 "Approved changes"
https://github.com/electron/electron/pull/34140#pullrequestreview-966739705

[2022-05-11 22:10] #3865 closed

[2022-05-11 22:25] tlehmann7 opened #3897 "Setting JupyterHub.admin_access does not change anything"
### Bug description
By default, accessing other user Servers should be disabled. This is not the case. If I comment out the line in the config, so that it is set to False, its still possible to access user servers. Yes, I saved the config and restarted the Hub. Standard Installation without changes.

#### Expected behaviour
Access to other servers is denied

#### Actual behaviour
Access is always

[2022-05-12 05:59] admi2u opened #3898 "hub api only mode not working"
###
Hi, I want to deploy jupyterhub in 'api only mode', so i add c.JupyterHub.hub_routespec = "/hub/api/" in jupyterhub_config.yaml, and install jupyterhub 1.4.2 successfully.
After this the hub container tips '_Using custom route for Hub: /hub/api/. Requests for not-running servers may not be handled._'.
But the hub ui pages can still be accessed in the web browser.
Are there any other configurat

[2022-05-12 07:15] #3898 closed

[2022-05-12 07:19] consideRatio commented on #1675
@yuvipanda do you know if this was worked towards? I recall you deployed something like this.

I closed #3898 just now but wanted to see if there was documentation about something like this.

[2022-05-12 11:37] manics commented on #2128
No response, closing

[2022-05-12 11:37] #2128 closed

[2022-05-13 09:53] #3045 closed

[2022-05-13 09:53] #3897 closed

[2022-05-13 09:56] #3896 closed

[2022-05-13 12:38] benz0li opened #3900 ""Spawn Page" on admin page does not work with default server"
### Bug description

Default server: Clicking "Spawn Page" at `/hub/admin#/` points to `/spawn/<user>undefined`.

#### Expected behaviour

Default server: Clicking "Spawn Page" at `/hub/admin#/` points to `/spawn/<user>`.

#### Actual behaviour

See bug description.

Works as expected for named server, i.e. link points to `/spawn/<user>/<server>`.

### How to reproduce

1. Go to `/hub/admin#/`
1.

[2022-05-13 18:26] tmtabor opened #3901 "Admin page not displaying named servers when they are stopped"
### Bug description

The admin page only displays named servers that are actively running. Stopped servers are not displayed at all. This is a regression when compared to JupyterHub 1.x's functionality.

#### Expected behaviour

I would expect the admin page to list all servers on the hub, including named servers, regardless of whether they are stopped or running.

#### Actual behaviour

The admin

[2022-05-18 13:01] jbaksta commented on #3901
Confirming this as well. It'd be nice to have that functionality back in some regard so that if named servers need to be removed manually, it can be done easily through the GUI.

[2022-05-18 13:02] jbaksta commented on #3900
Confirmed on my dev setup as well.

[2022-05-20 16:35] Geekly commented on #1018
Realizing this is an old issue, but it kept showing up in my own search, so I thought I would include my fix here. I was running into this issue on a Synology NAS.

Inside pamela.py, `cytpes.CDLL.find_library()` was not finding "libpam.so". It wouldn't do it at the python prompt either.

I added `cdll` to the imports:

`from ctypes import cdll`

and replaced

`LIBPAM = CDLL(find_library("pam"))`

[2022-05-22 09:56] icankeep opened #3902 "Timeout causes failure when the hub service is republished"
## basic info
JupyterHub version: 1.3.0

We have made some extensions based on jupyterhub and customized the spawner based on our internal container service.

We have a headache every time we release the hub service, because it often has a greater impact on user usage. For example, this time, when we released the service, it seemed that the probe request of the user container accumulated too much

[2022-05-22 10:00] icankeep commented on #3902
Before the release, there were 800 servers in the hub. After the release, there are only more than 100 servers in the hub, but the containers of the disappeared servers are still alive.

[2022-05-22 10:01] icankeep commented on #3902
Is there an elegant way to solve this problem?

[2022-05-22 13:08] manics commented on #3902
Hi! JupyterHub 1.3.0 is quite old. Do you still see the same behaviour with the latest version 2.3.0?

If you so see the same problem could you provide us the exact steps to reproduce the issue, including your JupyterHub configuration?

Do you still see this problem with one of the public open-source spawners?

[2022-05-22 13:12] manics commented on #3866
@dithwick It sounds like you've concluded the issue was with how you (or BatchSpawner) set `JUPYTERHUB_OAUTH_SCOPES`? Is that correct? If so can we close this issue?

[2022-05-22 13:14] manics commented on #3844
Closing, as this sounds like a caching or installation issue. If you still have problems please post on the [community forum](https://discourse.jupyter.org/).

[2022-05-22 13:14] #3844 closed

[2022-05-22 13:15] manics commented on #3838
In general we ask that JupyterHub GitHub issues are used for bugs and development discussions, with support being handled on the [community forum](https://discourse.jupyter.org/) where more people hang out, and the rest of the community can benefit from these discussions. Hope you understand 😀.

[2022-05-22 13:15] #3838 closed

[2022-05-22 13:17] manics commented on #964
JupyterHub has support for OAuth in services

[2022-05-22 13:17] #964 closed

[2022-05-22 13:19] manics commented on #414
They are, and have been for a while :smile:

[2022-05-22 13:19] #414 closed

[2022-05-22 13:22] manics commented on #1805
Closing, as this is related to the Authenticator (e.g. https://github.com/jupyterhub/oauthenticator) and not JupyterHub directly.

[2022-05-22 13:22] #1805 closed

[2022-05-22 13:24] manics commented on #1780
Closing based on the above comments

[2022-05-22 13:24] #1780 closed

[2022-05-22 13:25] manics commented on #1766
No response, closing.

[2022-05-22 13:25] #1766 closed

[2022-05-22 13:26] manics commented on #1737
No response, closing. This sounds useful though, so probably best built as an add-on to JupyterHub

[2022-05-22 13:26] #1737 closed

[2022-05-22 13:27] manics commented on #1664
No response, closing.

[2022-05-22 13:27] #1664 closed

[2022-05-22 13:29] manics commented on #1385
From the above comments it sounds like there's no concrete steps to be taken, so closing.

However, if someone has time this would make a nice tutorial on the [Jupyter community forum](https://discourse.jupyter.org/).

[2022-05-22 13:29] #1385 closed

[2022-05-22 13:30] manics commented on #1270
No response, closing

[2022-05-22 13:30] #1270 closed

[2022-05-22 13:31] manics commented on #1179
IIRC there have been a few database related fixes since the last comment. Is anyone still running into issues with recent JupyterHub versions?

[2022-05-22 13:32] manics commented on #1058
This was done in 2.0.0!

[2022-05-22 13:32] #1058 closed

[2022-05-22 13:35] manics commented on #1310
DockerHub builds are no longer automated. This means the README on https://hub.docker.com/r/jupyterhub/jupyterhub/ can be manually updated. Perhaps it should link to https://jupyterhub.readthedocs.io/en/stable/quickstart-docker.html ?

[2022-05-22 13:36] manics commented on #2599
This currently works.... no idea if it was fixed in JupyterHub or Python/Pip :smile:

[2022-05-22 13:36] #2599 closed

[2022-05-22 13:39] manics commented on #2592
Closing, given that it's a 2 min delay I assume someone would have mentioned if this was still a problem!

[2022-05-22 13:39] #2592 closed

[2022-05-22 13:41] manics commented on #2589
https://github.com/jupyterhub/jupyterhub/pull/2594 fixed some problems. Escaping or server names most likely needs ot be handled at the spawner level since each spawner has different requirements on valid names.

[2022-05-22 13:41] #2589 closed

[2022-05-22 13:42] manics commented on #2569
Closing, since there's a solution and we're also discussing moving the repo to make it more prominent.

[2022-05-22 13:42] #2569 closed

[2022-05-22 13:45] manics commented on #2376
@minrk We've had a few years to consider this, based on your experience of using or modifying the relevant components do you think this is still something to aim for?

[2022-05-22 13:46] #2305 closed

[2022-05-22 13:48] manics commented on #2151
Closing as it's been a while

[2022-05-22 13:48] #2151 closed

[2022-05-22 13:50] manics commented on #2120
Closing, sounds like this was resolved as far as JupyterHub is concerned. systemdspawner is in a separate repo.

[2022-05-22 13:50] #2120 closed

[2022-05-22 13:50] #2087 closed

[2022-05-22 13:51] manics commented on #2049
What are the next steps here?

[2022-05-22 13:55] manics commented on #1994
Closing as we're actively discussing moving the JupyterHub announcement extension to the org or a related org

[2022-05-22 13:55] #1994 closed

[2022-05-22 13:58] manics commented on #2288
We have `pre_spawn_hook` `auth_state_hook` `post_stop_hook`.
If there's a need for a new hook I think it makes sense to describe the requirements in a new dedicated issue.

[2022-05-22 13:58] #2288 closed

[2022-05-22 14:03] manics commented on #2954
https://github.com/jupyterhub/jupyterhub/pull/3413 added pagination, and the culler is in its own repo https://github.com/jupyterhub/jupyterhub-idle-culler

[2022-05-22 14:03] #2954 closed

[2022-05-22 14:05] manics commented on #2937
Closing, as this is due to internal configurable `cache_max_age` and not a security issue.

[2022-05-22 14:05] #2937 closed

[2022-05-22 14:08] manics commented on #2634
It's the default in 2.0.0!

[2022-05-22 14:08] #2634 closed

[2022-05-22 14:10] manics commented on #2624
I think this only applies to the admin pages when accessed through a browser, as a mitigation against cross-site request attacks. Making an API directly with a token should not require referer.

[2022-05-22 14:10] #2624 closed

[2022-05-22 14:10] manics commented on #2623
Closing, as this is related to the Authenticator and not JupyterHub

[2022-05-22 14:10] #2623 closed

[2022-05-22 14:16] manics commented on #3134
@rcthomas You added the original code in https://github.com/jupyterhub/jupyterhub/pull/2555

What are your thoughts on erroring instead of ignoring Exceptions in `run_auth_state_hook`?

[2022-05-22 14:20] manics commented on #3112
Closing, as this now applies to a separate repo (which unfortunately has limited maintenance at the moment)

[2022-05-22 14:20] #3112 closed

[2022-05-22 14:21] manics commented on #3108
Closing, this is probably best handled as a separate service, since there are multiple implementations of the singleuser server

[2022-05-22 14:21] #3108 closed

[2022-05-22 14:23] manics commented on #3099
@yuvipanda Are you still hitting this problem with the latest JupyterHub?

[2022-05-22 14:25] manics commented on #3097
It looks like this was fixed at some point, https://jupyterhub.readthedocs.io/en/stable/events/server-actions.html looks fine to me:
![image](https://user-images.githubusercontent.com/1644105/169700214-dc60ee1f-4bca-41e0-965b-1046eee5bfe4.png)

(though https://github.com/pydata/pydata-sphinx-theme/issues/205 is still open)

[2022-05-22 14:25] #3097 closed

[2022-05-22 14:26] manics commented on #3070
Hi! I this still a problem with the latest JupyterHub (2.3.0)? How many users/tokens does it take until you see performance problems?

[2022-05-22 14:27] manics commented on #3034
Closing.....

[2022-05-22 14:27] #3034 closed

[2022-05-22 14:27] manics commented on #3033
This was fixed, if you see any further problems please open a new issue (or a PR if you're able to!)

[2022-05-22 14:27] #3033 closed

[2022-05-22 14:33] manics commented on #2985
Closing, as there have been no further reports and no examples of reproducing the problem

[2022-05-22 14:33] #2985 closed

[2022-05-22 14:34] manics commented on #2984
JupyterLab (or more technically jupyter-server) is the default in 2.0.0

[2022-05-22 14:34] #2984 closed

[2022-05-22 14:35] #2841 closed

[2022-05-22 14:36] #2827 closed

[2022-05-22 14:37] #2814 closed

[2022-05-22 14:37] #2813 closed

[2022-05-22 14:38] manics commented on #3198
You should be able to use a combination of options_form and profiles to pass custom parameters.

[2022-05-22 14:38] #3198 closed

[2022-05-22 14:38] #2673 closed

[2022-05-22 14:41] #3117 closed

[2022-05-22 14:41] manics commented on #2848
This was fixed by moving to GitHub Workflows instead of a Docker Hub automated build

[2022-05-22 14:41] #2848 closed

[2022-05-22 14:43] manics commented on #3011
RBAC introduced in JupyterHub 2.0.0 allows fine-grained control of permissions via roles, users and groups
https://jupyterhub.readthedocs.io/en/rbac/

Are there any concrete steps that need to be taken here?

[2022-05-22 14:46] manics commented on #3113
There are some security related headers that should not be set by default as they can cause problems. For example `Strict-Transport-Security` expiry times are enforced by the browser with no user overrides. This could therefore cause big problems for anyone using JupyterHub in a test or development environment.

I think it's reasonable to add some good documentation though.

[2022-05-22 14:48] #3447 closed

[2022-05-22 14:49] #3410 closed

[2022-05-22 14:50] #3408 closed

[2022-05-22 14:51] deepxg commented on #2624
Haven't thought about this in a long time, but are you sure? I'm just looking at lines like this: https://github.com/jupyterhub/jupyterhub/blob/aa0ce1c88a8e34da1779cb13d3f36f81a6a24df7/jupyterhub/apihandlers/base.py#L70

[2022-05-22 14:51] manics commented on #3400
The command is configurable:
https://github.com/jupyterhub/jupyterhub/blob/b18a05c2c8a8ff86f9255bc2abaa356c418d3dd3/jupyterhub/auth.py#L805-L826

[2022-05-22 14:52] #3400 closed

[2022-05-22 14:52] #3374 closed

[2022-05-22 14:59] manics commented on #3371
Hi! The [Jupyter community Discourse forum](https://discourse.jupyter.org/) continues to grow in popularity, and it's where most of the Jupyter community have decided to congregate.

In an ideal world we'd maintain multiple resources for documenting and discussing issues to cater to all users, but in practice most Jupyter projects are maintained by volunteers with limited time. Discourse is config

[2022-05-22 14:59] #3371 closed

[2022-05-22 15:00] #3263 closed

[2022-05-22 15:00] manics commented on #3258
Does this still occur?

[2022-05-22 15:01] manics commented on #3228
The admin pages have had a big overhaul. Is this problem still present?

[2022-05-22 15:02] manics commented on #3197
The mentioned PRs were merged.

[2022-05-22 15:02] #3197 closed

[2022-05-22 15:03] #3182 closed

[2022-05-22 15:03] manics commented on #3170
Closing as it sounds like it's related to the external spawner

[2022-05-22 15:03] #3170 closed

[2022-05-22 15:06] manics commented on #3423
I think keeping custom state out of the JupyterHub database makes sense, especially as it reduces complexity.
`auth_state` should be accessible with the new RBAC implementation.

Should we close this?

[2022-05-22 15:09] manics commented on #3634
Sounds like this was resolved

[2022-05-22 15:09] #3634 closed

[2022-05-22 15:09] #3606 closed

[2022-05-22 15:10] manics commented on #3577
Closing as this was answered

[2022-05-22 15:10] #3577 closed

[2022-05-22 15:12] manics commented on #3540
Fixed by https://github.com/jupyterhub/jupyterhub/pull/3886

[2022-05-22 15:12] #3540 closed

[2022-05-22 15:12] #3536 closed

[2022-05-22 15:13] #3491 closed

[2022-05-22 15:14] #3489 closed

[2022-05-22 15:14] #3485 closed

[2022-05-22 15:15] manics commented on #3479
@droctothorpe Do you have a concrete description of the changes you'd like to make?

[2022-05-22 15:19] manics commented on #3525
@GeorgianaElena What did you decide we should do here?

[2022-05-22 15:21] manics commented on #2845
See this new issue describing an overall plan https://github.com/jupyterhub/jupyterhub/issues/3688

[2022-05-22 15:21] #2845 closed

[2022-05-22 15:21] manics commented on #2779
See this new issue describing an overall plan https://github.com/jupyterhub/jupyterhub/issues/3688

[2022-05-22 15:21] #2779 closed

[2022-05-22 15:42] droctothorpe commented on #3479
Going to close this, Simon. Thanks! Pivoted to other work streams.

[2022-05-22 15:42] #3479 closed

[2022-05-23 08:19] betatim commented on #3113
I wonder if the answer to "these headers should be set by default" depends on how you run your JupyterHub. I for example assume that you will use a reverse proxy of some kind (Ingress provider for k8s, traefik for single VM, etc) that provides things like HTTPS (enforcement). If you do, that is the right place to add headers like `Strict-Transport-Security`.

Some of the other headers are mostly(?

[2022-05-23 08:37] GeorgianaElena commented on #3525
Thanks for the ping @manics! I believe next thing here would be to decide if excluding admin usernames from [matching the `username_pattern`](https://github.com/jupyterhub/jupyterhub/blob/main/jupyterhub/auth.py#L248-L261) is a sensible choice or not.

- On one side, I believe it is ok for admins to be excluded from matching this pattern. This is because sometimes hub admins are not members of the

[2022-05-23 14:16] rcthomas commented on #3134
The pre-spawn hook errors instead of ignores, so changing this to match sounds good to me.

[2022-05-23 17:35] choldgraf commented on #3525
When you say "exclude from the `username_pattern` matching" what you mean is "will be allowed access to the hub, even if they do not match `username_pattern`", is that right? If so, then I think this is a reasonable choice - any admin user should also have access to the hub IMO.

[2022-05-24 15:50] Carreau opened #3905 "Bump moment.js (CVE-2022-24785 , not affecting hub)."
As seen on https://github.com/jupyter/security/issues/35 ([CVE-2022-24785](https://github.com/advisories/GHSA-8hfj-j24r-96c4), not affecting hub).

It might be unclear to teams deploying jupyterhub if moment.js is used client or server side, but it might still be a good idea to bump the minimum version just to make sure there is no false-positive flags.

[2022-05-24 21:37] jbaksta commented on #3228
I would say with the new search feature implemented has alleviated this issue, IMO anyway. I think there are certainly tradeoffs that happened, but yes the search is *extremely* useful.

[2022-05-25 07:20] dithwick commented on #3866
Hi @manics, yes I believe that's the case. Happy to close the issue!

[2022-05-25 07:20] #3866 closed

[2022-05-25 08:08] minrk commented on #2376
I do think it's a valuable goal to help spawner/authenticator authors get test suites going. I'm not sure if the trade-off of the complexity of defining the fixtures/customization options vs 'just get something working' vs priorities is going to work out, though. Maybe it belongs in a standalone `pytest-jupyterhub` package?

The Jupyter server [pytest plugin](https://github.com/jupyter-server/jupy

[2022-05-25 08:39] minrk commented on #3525
I'd like to avoid special-casing treatment of admin users, especially as I think we should be trending towards deployments not having any admin users, and instead using role assignments. Anything that only applies to admins is an impediment to that. So anything that applies to 'users' should also apply to admins, who are just users with a specific `admin` role assignment.

[2022-05-25 08:40] minrk commented on #3423
@manics I think so, 'for now' at least. We can revisit later, but I'd like to try to keep the mental model of JupyterHub as a _component_ of possibly larger, more feature-rich deployments (e.g. BinderHub), rather than JupyterHub being sufficiently extensible to _become_ such an application.

[2022-05-25 09:18] #3119 closed

[2022-05-25 09:41] minrk commented on #3113
The JupyterHub process doesn't normally terminate SSL, so it wouldn't be right to set HSTS on JupyterHub itself (the _proxy_ or other SSL terminating layer is the right place)

Setting nosniff makes sense, at least.

[2022-05-25 09:46] minrk commented on #3258
'attached to a different loop' has baffled me for ages. I've never been able to track it down or reproduce it in a debugging environment. I'm fairly sure it's a failure to cleanup / await a background resource, but I don't know what because our own stack isn't part of any traceback.

The proxy_port could probably be changed to be unique.

[2022-05-25 09:49] minrk commented on #2624
[Yes](https://github.com/jupyterhub/jupyterhub/blob/aa0ce1c88a8e34da1779cb13d3f36f81a6a24df7/jupyterhub/apihandlers/base.py#L121-L122), referer is only checked for cookie auth. Token-based auth doesn't check referer.

[2022-05-25 10:39] #3905 closed

[2022-05-25 10:43] #3134 closed

[2022-05-25 10:50] consideRatio commented on #3258
I'm not sure what still occur, but I think an action point related to this issue is to report any intermittent failures we observe to this issue over some time.

@minrk @manics are you willing to commit to reporting to this about intermittent issues in tests for a while going onwards? I figure it can suffice to link out to the github workflow run that failed if in a hurry, but otherwise a screensh

[2022-05-25 12:12] minrk commented on #3258
Yes, I'll paste any intermittent failures I notice in here.

[2022-05-25 12:19] minrk commented on #3901
This is because the admin page only uses information available via the API, and the API doesn't list stopped servers (it should!). Adding stopped servers to the API should solve this, probably without any modification to the admin UI. Just need to decide if including stopped-servers should be opt-in (maximum backward-compat, some performance cost for lots of users) or just always-on.

[2022-05-25 12:47] GeorgianaElena commented on #3525
I didn't think  about the roles aspect , but this ⬆️ makes sense to me @minrk! Thanks for explaining it!
I believe I should close this issue, then.

[2022-05-25 12:54] slavistan commented on #1489
Hi :-) Is there anything new concerning this issue? I'm looking to host a workshop using jupyterhub. The participants will work mainly in notebooks, but occasionally there'll be the need to display a browser window (the graphical application in question), as we'll be doing automated UI testing and it sure would be nice to see the moving parts move once in a while.

Does somebody have any idea or a

[2022-05-27 04:14] cateto commented on #2145
Red Hat 4.8.5-44 also has this problem. Thanks @minrk

[2022-05-27 13:14] Bbllaaddee opened #3912 "Fresh installation on Ubuntu 22.04 doesn't open"
### Bug description

Fresh installation on Ubuntu 22.04 machine gives 404 error while trying to access the hub.
This happens both using ubuntu repos and pip (this will be the preferred method from now on).
Doing exactly the same on an Arch linux machine gave me a working hub, which can signal a distro-specific error.

#### Expected behaviour
Open at least some version of the hub (login page, for e

[2022-05-27 15:21] hg77 commented on #1363
I also ran into this issue (note http vs https):
[code]
I stumbled upon https://github.com/jupyterhub/jupyterhub/pull/3701#issuecomment-1002750092 and then understood that I was missing
[code]
from https://jupyterhub.readthedocs.io/en/latest/reference/config-proxy.html .

So RTFM solved it for me.

[2022-05-27 18:51] manics commented on #3912
It looks like you've also posted on https://discourse.jupyter.org/t/cant-open-jupyterhub-with-not-found-and-econnrefused/14263 where you say there's something else listening on port 8081. I'll close this to avoid duplicate discussions.

[2022-05-27 18:52] #3912 closed

[2022-05-27 18:57] mcornella opened #3913 "sqlite DB URI error check shows incorrect path"
When jupyterhub is configured with a sqlite DB URI (e.g. on Google Cloud's Dataproc Hub), if the sqlite DB connection fails, jupyterhub tries to detect DB path errors. The code below does a split on `:///`, which removes the root `/` character, so the check will incorrectly look for a relative path.

https://github.com/jupyterhub/jupyterhub/blob/9649a57e3457757d3a081c12fabb5fa6b712b67a/jupyterhub/

[2022-05-27 19:55] manics commented on #3258
If you want a permanent record of the logs you can download them and attach them as a text file.

[2022-05-30 10:02] DTvGe45vc opened #3916 "Jupyterhub: Not updating activity"
### **Bug description**

Jupyterhub installed by helm chart version 1.2.0

Notebook can't run after start

**Notebook Log**
`Event log
Server requested
2022-05-30T09:42:26.671381Z [Normal] Successfully assigned sever-test/jupyter-dtvge45vc to cl1ipvrh40gqcu5gvm6h-itac
2022-05-30T09:42:30Z [Normal] AttachVolume.Attach succeeded for volume "pvc-1b0fc0ab-6c33-437e-9830-88e0441a424f"
2022-05-30T09:42:

[2022-05-30 10:08] #3916 closed

[2022-05-31 12:07] kuhbrille opened #3917 "ssl not working with DER cert format"
Hi,

I try to get Jupyterhub with ssl working in our environment.
When I create a self signed cert with openssl, it runs and I can access hub with Edge browser, but only in the non secured way.
But it works.

We have trusted certs for our server in DER format which includes the keys already.
When I try to use those, Jupyterhub is not starting because of ERR_OSSL_PEM_NO_START_LINE.

I can use opens

[2022-05-31 12:14] #3917 closed

[2022-06-03 15:09] #3144 closed

[2022-06-03 15:40] yuvipanda commented on #3099
I think so - I've started culling via notebook config as well, which has helped. So I don't notice if this still happens...

[2022-06-03 19:10] ryansczarny opened #3929 "403 : Forbidden Action is not authorized with current scopes; requires any of [admin:users]"
I am attempting to setup users for our JupyterHub and am running into issues.

Hub version = 2.3.0
Python 3.6.8
Running in a Python venv, not in Anaconda

I have tried a couple of different things to get this up and working:
1. Adding the users to admin_users and setting admin_access to true
[code]
2. Creating roles for the admins (using and expanding upon what is in the Roles [page](https://jupyt

[2022-06-06 14:43] consideRatio commented on #3258
Error, address in use showed up in https://github.com/jupyterhub/jupyterhub/runs/6757079641?check_suite_focus=true.

![image](https://user-images.githubusercontent.com/3837114/172184129-80d09624-4c13-4404-b0fa-9b3508573496.png)

[2022-06-07 22:51] dbricare opened #3933 "Unable to create users with certain characters in the admin control panel"
### Bug description

From the admin control panel I'm unable to create new users if the username contains '.' or '@' as you might find in an email address.

There is no problem with usernames of this format if they are added from a userlist when the hub launches.

Characters '-' and '_' seem to be ok but I haven't tried every non-alphanumeric character.

#### Expected behaviour

I would expect to

[2022-06-08 07:27] minrk opened #3934 "Debug hooks for Spawners"
### Proposed change

It is often the case that the logs of the single-user server are key to debugging spawn failures. However, the JupyterHub logs can only mention something like `The logs for $user may contain details` in the failure message because how to access the logs is different for every Spawner.

It would be nice if Spawners could customize the failure handling to:

1. show a custom mess

[2022-06-08 07:31] minrk commented on #3933
@NarekA @naatebarber sounds like something's not handled correctly in the form input

[2022-06-08 07:51] minrk commented on #3913
`:///path` is a [_relative_ path](https://docs.sqlalchemy.org/en/20/dialects/sqlite.html#connect-strings). An absolute path has four slashes: `sqlite:////var/run/db/...`.

(I do not know why!)

[2022-06-08 07:54] minrk commented on #3913
Actually, why is explained in the link:

[2022-06-08 08:00] minrk commented on #3929
The above config granting the roles is commented out - make sure the config lines are actually executed:

[code]

Note that this is granting the permissions to 3 kinds of entities:

- the _users_ user1 and user2
- the idle-culler service, which is perhaps overkill, and
- the group `admin-group`, which I suspect makes the individual user assignments redundant (are they in this group?)

Check the [i

[2022-06-08 08:12] zzkristy commented on #3588
it works!
thanks!

[2022-06-08 08:49] minrk commented on #3900
Fixed by #3935

[2022-06-08 09:01] minrk commented on #3902
It's strange that there would be contention on the spawner checks, because those are [awaited](https://github.com/jupyterhub/jupyterhub/blob/1.3.0/jupyterhub/app.py#L2443-L2452) before _starting_ the proxy check, so there shouldn't be a lot of concurrent actions going on. It may be that the Spawner class is not actually completing its checks when they are awaited, and starting some background task

[2022-06-08 09:10] minrk commented on #3933
Fixed by #3936

[2022-06-08 09:23] icankeep commented on #3902
Thank you for your replies, we really want to experience the new features through the upgrade. I read the upgrade documentation before, and it says that upgrading jupyterhub to 2.x requires shutting down the servers of all users. This is unacceptable to us, so we did not upgrade.

[2022-06-08 09:24] icankeep commented on #3902
We split the proxy layer and the hub, so that there is no problem with the above

[2022-06-08 09:32] icankeep commented on #3902
And our cull-idle process is also split into an independent process. It used to be a sub-service of the hub, and it will start quickly after the hub restarts. I think this behavior is inappropriate.

[2022-06-08 10:13] #3588 closed

[2022-06-08 10:25] minrk commented on #3830
This warning does not seem to occur in the latest tests. I suspect this has been fixed by #3859. Mutating an ORM object without calling `db.commit()` is definitely wrong and would lead to warnings like this.

In general, dirty db is a cause for concern, because it means state has been attempted to insert into the db, but was not. However, if it was, as it appears, #3859, it should not be an issue

[2022-06-08 12:41] minrk commented on #3902
More complete startup logs (especially with `--debug`) may help. I'm not sure what the Hub would be doing that would slow down a simple http request to the proxy for 30 seconds if the proxy is indeed running and available. Presumably it's something in the Spawner, but only logs during the time between the start of the request and its eventual timeout can tell us.

Does your hub have `pycurl` avail

[2022-06-08 12:47] consideRatio commented on #3830
Thanks for sharing insights about this @minrk, closing this as resolved!

[2022-06-08 12:47] #3830 closed

[2022-06-09 04:31] suevii opened #3938 "documentation page "JupyterHub REST API" is empty"
### Bug description

Hi, when I was reading the doc I found this page empty:
https://jupyterhub.readthedocs.io/en/latest/reference/rest-api.html#
<img width="1177" alt="image" src="https://user-images.githubusercontent.com/20682164/172764130-701c3883-a25d-41ee-ba6a-b3a52f2c8c1d.png">
Want to know if it's deprecated or just forgot to fulfill.

#### Expected behaviour
The page is removed if it's dep

[2022-06-09 07:49] mcornella commented on #3913
Here's the error output from DataprocHub:
[code]
as you can see, the sqlite database is configured to be in `sqlite:///home/jupyter/.jupyterhub/jupyterhub.sqlite` and the help error message incorrectly assumes it to be at `/home/jupyter/home/jupyter/.jupyterhub/jupyterhub.sqlite`.

[2022-06-09 08:12] mcornella commented on #3913
Confirmed to have been an error in DataprocHub. Now the `jupyterhub_config.py` file has the correct format:
[code]
Closing as not a bug in JupyterHub.

[2022-06-09 08:12] #3913 closed

[2022-06-10 17:50] #3929 closed

[2022-06-15 13:07] Jnnsm opened #3952 "Logout doesn't work properly when hub is on Iframe"
### Bug description

Iframe embedded jupyterhub doesn't log out. It works fine outside of iframe, my guess is that cookies aren't cleared properly since all 'set-cookie' from 'logout' request have a SameSite warning.

![Screen Shot 2022-06-15 at 10 00 16](https://user-images.githubusercontent.com/28005990/173833309-dd185f03-cad8-4c88-bc01-549d562e2727.png)

#### Expected behaviour

Expected user t

[2022-06-23 17:13] ryanlovett opened #3956 "Possible race condition with idle-culler"
### Bug description

The following has shown up in several of our hubs' logs when they get redeployed and start up:
[code]

The idle culler is running and does appear to be working.
#### Expected behaviour

idle-culler would be able to access the api endpoint without error, or this async-y condition is accounted for and emits a message instead of an exception.

### How to reproduce

This is on hub

[2022-06-23 19:12] consideRatio commented on #3956
So this happens once, but no more, or a few times but then no more? Hmmm, is the credentials for the jupyterhub-idle-culler not loaded into jupyterhub fast enough to be accepted?

https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/87326ff4f97c9f74e48939661d7154f2aa77c2a6/jupyterhub/files/hub/jupyterhub_config.py#L384-L390

I note [that z2jh's config](https://github.com/jupyterhub/zero-to-ju

[2022-06-23 20:19] ryanlovett commented on #3956
Sorry, my original report was flawed. This is actually happening much more often, e.g. thousands of times, and continously, over a couple of days. I had sorted /hub/admin to view running users but it seems to only sort entries on that page, not by all users. In looking directly at the age of running pods (which I should have done), I see that many are as old as a couple weeks and the hub reports n

[2022-06-23 20:23] yuvipanda commented on #3956
We're running master of z2jh, so this could be something there.

[2022-06-23 21:51] consideRatio commented on #3956
Ah, I presume this will be resolved by configuration fix in https://github.com/berkeley-dsep-infra/datahub/pull/3475 and go ahead and close this for now.

[2022-06-23 22:28] ryanlovett opened #3957 "A new search at /hub/admin should initialize page to 0"
### Bug description

If I navigate to the second page of users (`/hub/admin#/?page=1`), then use the search field to try to find someone, search returns empty results. If I navigate back to the first page then initiate a search, it returns results matching the search term.

Search will return _some_ results on page > 0 if I use a short search time like `a`. So if I start the search while viewing p

[2022-06-24 10:20] minrk commented on #3957
Yes, indeed the search is currently purely an in-page filter when you are looking at the users. It should instead probably be moved to the server-side.

The users-per-page should probably also be exposed somewhere in the UI

[2022-06-27 09:50] psulowsk opened #3959 "Jupyterhub configuration behind the proxy"
Hello,
I have 2 issues related to jupyterhub installation behind my proxy server:
1. While using dummy authentication everything works fine. While using github authentication, immediately after providing the github credentials, I receive a message that the site is unreachable.

I guess that I need to set up the http_proxy, https_proxy and no_proxy environment variables with my proxy IP address to

[2022-06-27 10:02] #3959 closed

[2022-06-29 11:35] afshin opened #3961 "Long-running JupyterLab instance on JupyterHub crashes with `received signal 15, stopping`"
This is a cross-post of [an issue originally opened in JupyterLab](https://github.com/jupyterlab/jupyterlab/issues/12702) by @RanadeepPolavarapu.

We are not sure what the root cause of it is and thought it prudent to post here in case it looks familiar to you folks.

### Bug description
Description from the original issue:

### How to reproduce
Steps to reproduce from original issue:

### Your pe

[2022-06-29 11:54] manics commented on #3961
That ConfigProxy error just means the JupyterHub proxy couldn't connect to the singleuser server, since it's crashed this is to be expected.

I can't see anything JupyterHub related so far. Have you tried reproducing the error without JupyterHub, i.e. running the container directly?

[2022-06-29 17:03] RanadeepPolavarapu commented on #3961
These are the reproduction steps with JupyterLab + JupyterHub setup:

## Reproduction Steps
1. Create a decent number of kernels running at the same time with notebooks open. In our case 7 kernels were active.
2. Let it sit for days with your browser active on the page or in the background.
3. It will randomly disconnect the JLab when it crashes.3

However, this issue happens inconsistently so we

[2022-07-01 20:04] vivian-rook commented on #3099
we're seeing this in jupyterhub 2.3.0
Though the traceback points to mixins.py rather than singleuser.py, so perhaps different?
[code]
A few more notes here https://phabricator.wikimedia.org/T310622

[2022-07-04 15:15] djangoliv opened #3963 "[admin-ui] bootstrap"
In the jsx/package.json file, I think there are some inconsistencies:

"react-bootstrap": "^2.1.1",  # is compatible with bootstrap 5
 "bootstrap": "^4.5.3", # is compatible with react-bootstrap 4

and if I'm not mistaken, the bootstrap used is the one embedded by jupyterhub which is v3.4.1 ...

I know react-bootstrap is very little used but the situation is quite confusing.

It would be nice to u

[2022-07-04 19:47] manics commented on #3963
This part is fine, there are two web interfaces bundled with JupyterHub:
- The original UI seen by users https://github.com/jupyterhub/jupyterhub/blob/2.3.1/package.json which uses v3.4.1
- A new admin app built as a separate react app (https://github.com/jupyterhub/jupyterhub/tree/2.3.1/jsx which uses the newer bootstrap

We should probably update the latter to bootstrap 5.

[2022-07-06 07:18] consideRatio opened #3965 "`announcement_login` etc can't be set falsy to override `announcement`"
My expectation was that I could set the `c.JupyterHub.template_vars` named `announcement_login` explicitly to a falsy value to disable an announcement for a specific page. It seems that the code is that only if `announcement_login` is Truthy, its value will override `announcement`.

The value of being able to do so, is to easily configure `announcement` in one place and set `announcement_login` to

[2022-07-07 02:41] HuangBugWei opened #3966 "autocomplete for jupyterhub"
Recently I've built up jupyterhub service, I found out that we should press ```Tab```  to check out the autocomplete list.
I want to set autocomplete of my jupyterhub service as Google Colab that the autocomplete list can automatically show up when typing.
I've refered to this method https://stackoverflow.com/a/57897999 but it seems does not work for me. Is the problem cause by the different betwe

[2022-07-07 07:37] #3966 closed

[2022-07-07 19:30] sarasensible commented on #2049
Trying to enable metrics for Jupyterhub now I'd really benefit from this `Describe a default setup using Prometheus including config samples.` It's unclear for example how to set Prometheus metrics up via Helm on Kubernetes.  Would love to see some examples.

[2022-07-09 23:48] minrk commented on #3963
We should also update the main pages to bs5. I've actually put a little time into it, but it's a bit of a pain because we need to migrate to SCSS, etc.

[2022-07-09 23:50] minrk commented on #3965
Makes sense! Want to take a stab at it?

[2022-07-12 14:05] consideRatio opened #3973 "Should we test our lower required version bounds with an old or modern python version?"
We have a test against the oldest dependencies we declare support for, given this, we test against them. But, we only do it for the oldest version of Python we support currently.

Should we instead test the oldest versions supported together with the latest python version, or stick with oldest deps + oldest python?

[2022-07-13 02:35] minrk commented on #3973
I think it makes sense to have a single 'oldest of everything' entry. The oldest versions of some dependencies may not work with the latest versions of Python. I think that's not our problem, though, and shouldn't be something we have to debug in our tests. We don't anywhere claim that the oldest supported sqlalchemy works with the latest Python, and we shouldn't require our oldest sqlalchemy to w

[2022-07-13 05:50] consideRatio commented on #3973
Thanks okay! I figure it depended on how we see the intent of the lower version bound in our requirements.txt - lowest possible for oldest python supported is the current meaning - that is fine!

[2022-07-13 05:50] #3973 closed

[2022-07-13 17:47] minrk commented on #3099
Culling via notebook config is using the notebook server's own more detailed idle-culling mechanisms , rather than relying on JupyterHub's coarse-grained activity information. You can see references to 'MappingKernelManager' in the [idle-culler readme](https://github.com/jupyterhub/jupyterhub-idle-culler).

A 403 on the activity request should generally mean that the API token used by the server h

[2022-07-14 23:49] minrk opened #3979 "Require hostname-label-safe usernames?"
### Proposed change

Define a strict pattern at the jupyterhub level for usernames, e.g. that of a DNS label, which would be:

- 3-63 chars
- contains only ascii letters, numbers, hyphen
- lowercase
- starts and ends with letter or number (i.e. not hyphen)

This would simplify a lot of things because we'd know that usernames don't need to be escaped anywhere, and building URLs, pod names, etc. wou

[2022-07-15 06:37] consideRatio commented on #3979
This complexity is similar to what i saw in GitLab, where usernames with a . in it got into trouble with their logic to provide (username).(hostname)/(project) urla for their GitLab Pages functionality - an added dot caused issues, and also other characters that cant be allowed in a domain name.

They have no solution, github doesnt either - they suggest changing the username for this situation.

[2022-07-15 08:20] manics commented on #3979
I think this is the deciding factor. Ideally we'd impose restrictions on all(?) resource names used in JupyterHub, but given the restrictions have been lax for so long, and we've already had multiple PRs to fix escaping (along with tests which should ensure there are no regressions) it might be that it's easier to accept it as it is?

It'll be helpful to sketch out some example upgrade steps, to s

[2022-07-15 11:42] consideRatio commented on #3979
### Notes from brainstorming

My gut feeling is that migrating usernames is very complicated to document and help people do, as it relates both to authenticators, and persistent resources created based on a previous username (PVC resources in kubespawner for example). But enforcing something fresh going onwards is more reasonable to accomplish - but then the complexity would just rise as we would

[2022-07-16 17:33] EmericT opened #3981 "Add "Last seen" column in admin page"
### Proposed change

I just updated jupyterhub. There used to be a Last seen column in the admin panel, and this was a feature I used a lot. Now there is a "Last activity" column instead, which show "Never" if no server is running. As I use the culling system anyway, this column is rarely of any use.

I would like to have the "Last seen" column back.

### (Optional): Suggest a solution
I'm not flu

[2022-07-16 19:39] EmericT commented on #3981
I managed to apply the patch by hand, it seems it does what I want. I'm still wondering why anyone would prefer have the "server last activity" instead of "user last activity" on a user table. If this is a bug, the patch is easy and I can now confidently submit a pull request if this helps.

[2022-07-18 04:37] minrk opened #3982 "Preparing for 3.0"
I believe the updated scopes work is ready to release with https://github.com/jupyterhub/jupyterhub/pull/3877, which means starting the release process. The first decision in preparing this release is: do we call it 2.4 or 3.0?

Todo list:

- [x] Review/merge remaining PRs
- [x] Review docs for new/changed features
- [x] changelog PR
- [x] Decide 2.4 vs 3.0 (details below)

[@manics](https://githu

[2022-07-18 12:17] manics commented on #3982
I think 3.0 makes sense given the DB change.

From the point of view of maintaining our distributions (Z2JH, TLJH) do you think any JupyterHub upgrade that requires a manual step by an administrator (in this case `jupyterhub upgrade-db`) could count as a major change?

[2022-07-18 13:06] consideRatio commented on #3982
I lean towards 3.0 due to the need to do a db-upgrade =/

I consider the following:
1. Going for 2.4 would be disruptive for people that needs to make a db-upgrade and bumped to the new minor version even though they have a `2.*` pin for example.
2. Going for 3.0 would make it obvious for people to look in the changelog for breaking changes.
3. Going for 3.0 could make people think they need to up

[2022-07-18 14:27] consideRatio commented on #3982
I know that the entire dask ecosystem currently now only support py38-py310, to me, that sounds reasonable as well. If we drop python only as part of major releases, and want to avoid going for major releases just because of it, dropping them a bit earlier makes sense i think. Also, I think staying somewhat more modern is very reasonable as well in my mind.

Is dropping both py3.6+py3.7 an option?

[2022-07-18 23:19] yuvipanda commented on #3979
IMO this ship has sailed  unfortunately. There are two cases where this will be violated:

1. UUIDs as names (LTI authentication comes to mind, where the uids sent through are often longer than 63 chars)
2. Emails, so they have `@` in them.

This change would require that users be renamed everywhere, and resources that currently use usernames in them (and are not required to be dns safe) would nee

[2022-07-18 23:28] yuvipanda commented on #3979
Particularly, this means you can't actually assume you don't need escaping anywhere else, and you're going to have to double escape in some places.

[2022-07-18 23:32] yuvipanda opened #3983 "Can not add new users via the admin interface at all"
### Bug description

When adding users via the admin interface, users get this error message:

![image](https://user-images.githubusercontent.com/30430/179632889-9b1c1614-bdaf-4f3c-9322-686f1aebc6f3.png)
(from https://github.com/2i2c-org/infrastructure/issues/1516#issuecomment-1188410929)

(from https://github.com/2i2c-org/infrastructure/issues/1516#issuecomment-1188410929)

Looking at the logs,

[2022-07-18 23:48] yuvipanda commented on #3983
If I change the 'admin' checkbox, that is reflected in the JSON:

<img width="114" alt="image" src="https://user-images.githubusercontent.com/30430/179635434-64e0a524-ee73-4f22-9d2d-383c68981396.png">

But not the username list.

[2022-07-19 00:09] yuvipanda commented on #3983
This is fixed by https://github.com/jupyterhub/jupyterhub/pull/3936, for exactly the reason @minrk states - the client side username validation code was eating the hub usernames!!!

[2022-07-19 00:09] yuvipanda commented on #3983
Ah, this is actually a duplicate of https://github.com/jupyterhub/jupyterhub/issues/3933! nvm :)

[2022-07-19 00:09] #3983 closed

[2022-07-19 02:38] minrk commented on #3982
OK, let's go with 3.0!

I feel better about the db-upgrade rule than the Python one, but I think we can adopt both to be extra conservative. We can also review that again when it comes time to drop 3.7.

3.6 went EOL in December, 3.7 is estimated to come in a year (2023-06). I don't anticipate continued support for 3.7 at least through EOL being a problem.

Given how limited JupyterHub's Python ne

[2022-07-25 03:00] wuyueandrew opened #3986 "about static resource redirect"
### Proposed change

i'm designing a jupyterhub+jupyterlab+enterprise gateway solution for data scientist.
Kernelspecs are supported by enterprise gateway.In fact, it can work but the logo of kernelspec's cannot be shown on jupyterhub cause it's on enterprise gateway.
The request of kernelspec's logo is sent to hub http://hub/kernelspecs/python_kubernetes/logo-64x64.png
And i think the real url is

[2022-07-25 13:12] manics commented on #3986
Hi! JupyterHub starts the singleuser server, but it's up to the singleuser server to correctly generate all paths. For instance, there's an environment variable `JUPYTERHUB_SERVICE_PREFIX=/user/binder-examples-conda-yi99w4um/` which provides the server prefix.

Since the image is inside JupyterLab you'll need to take that into account.

[2022-07-25 13:12] #3986 closed

[2022-07-27 00:12] sarathsund opened #3990 "Jupyter Hub stalls when choosing "Restart Kernel and Run All Cells" for R notebooks (IRKernel)"
Describe the bug
After the manul kernel restart in the existing notebook session, the notebooks freeze and become inaccessible

To Reproduce

Go to Kernel
Click on ‘Restart’
Accept the prompt message
The notebook stalls/halts with no access

Expected behavior
The notebook should re -establish connection after kernel restart

R : 4.1.0
jupyterhub : 1.5.0
IPython : 8.4.0
ipykernel : 6.15.1
ipywidget

[2022-07-27 05:17] wuyueandrew commented on #3986
Thanks，i'll try later

[2022-07-27 07:41] #3990 closed

[2022-07-27 18:36] consideRatio opened #3991 "ci: test against python 3.11"
As @minrk noted in https://github.com/jupyterhub/jupyterhub/pull/3976#issuecomment-1184975768, we can't yet do this

[2022-07-28 15:58] davidedelvento commented on #2583
I am experiencing exactly this problem, so frustrating that the stack trace does not say anything useful. Was it ever solved??

[2022-07-28 17:19] abinshihab commented on #1472
Hi I have the same issue and I need your help please

[2022-07-28 17:56] sarathsund commented on #3990
Hello @minrk  can you help to have a look at this? I wanted to know if this bug actually exists or something very specific to my installation?

[2022-07-28 18:14] consideRatio commented on #3990
@sarathsund please ask a general question like this on https://discourse.jupyter.org.

[2022-07-28 19:04] sarathsund commented on #3990
sure noted. thanks

[2022-07-29 09:02] minrk commented on #3991
Since gevent is technically optional, we could get tests running by producing a requirements.txt and omitting gevent, as [described here](https://stackoverflow.com/questions/52126116/prevent-pip-from-installing-some-dependencies):

1. `pip-compile requirements.txt > frozen.txt` (resolves all dependencies)
2. `grep -v gevent frozen.txt > without-gevent.txt` (remove gevent)
3. `pip install --no-deps

[2022-07-30 16:38] #3965 closed

[2022-08-01 07:31] minrk commented on #3981
@EmericT I think it's just a bug, if you'd like to make a PR that would be great!

[2022-08-01 07:32] minrk commented on #3961
Do you have idle culling enabled? Checking the JupyterHub logs may be useful.

[2022-08-01 07:54] EmericT commented on #3981
I just did : https://github.com/jupyterhub/jupyterhub/pull/3995

[2022-08-01 08:50] consideRatio commented on #3981
@EmericT thanks for helping us out with this! Since the fix is not yet merged, you can leave this open and in the PR looking to fix this, you can update your PR description to include `fixes #3981` or `closes #3981` and once its merged - it will close this issue.

[2022-08-01 09:37] vwoloszyn opened #3996 "AzureAdOAuthenticator: "/" as part of the username."
Hello, I would like to report a bug about AzureAdOAuthenticator

[W 2022-08-01 09:22:21.101 JupyterHub auth:486] Disallowing invalid username 'woloszyn vinicius (xc-dx/epe4)'.
[W 2022-08-01 09:22:21.101 JupyterHub base:768] Failed login for unknown user
[W 2022-08-01 09:22:21.124 JupyterHub log:189] 403 GET /hub/oauth_callback?code=[secret]&state=[secret]&session_state=[secret] (@10.224.0.5) 295.6

[2022-08-02 08:10] minrk opened #3999 "admin ui should use pagination API"
### Proposed change

The admin UI is the main place where we consume probably-paginated data, but it doesn't opt-in to the paginated API by sending the `Accept: "application/jupyterhub-pagination+json"` header.

### Who would use this feature?

The admin UI.

### (Optional): Suggest a solution

1. add `Accept: "application/jupyterhub-pagination+json"` [here](https://github.com/jupyterhub/jupyterhu

[2022-08-02 12:31] #3981 closed

[2022-08-03 14:14] naatebarber commented on #3999
I can look into this :+1:

[2022-08-03 17:14] naatebarber commented on #3999
Would also like to take this as an opportunity to simplify the handling of pagination on the FE. Previously we had pagination state stored in both Redux and url params. I think we should pick one source of truth if possible.
Redux seems to have a couple libraries that help it save state on window reload, maybe worth looking into?

[2022-08-04 07:23] minrk commented on #3999
Sure! URLs should generally have priority top priority over everything, since you want to be able to type in a URL and have that do what was requested. Loading stale, invisible state over explicit values in the URL is generally a recipe for frustration.

[2022-08-04 14:25] naatebarber commented on #3999
Sounds good, I'll work on moving the majority of our pagination state handling to react router in that case.

[2022-08-05 10:28] minrk commented on #3999
closed by #4002, thanks @naatebarber!

[2022-08-05 10:28] #3999 closed

[2022-08-05 10:29] minrk commented on #3957
I was wrong about how the name filter is updated. It's a server API request, so this should be quite doable.

@naatebarber can you update the name filter so that offset is also reset to 0 when the name filter changes?

[2022-08-05 18:41] danilopeixoto opened #4003 "http_timeout vs start_timeout"
### Bug description

The timeout in the hub level fails first and suppresses the spawner errors.

https://github.com/jupyterhub/jupyterhub/blob/main/jupyterhub/user.py#L747

[code]

Since the spawner and hub uses the same `timeout`, in some cases the hub server will fail first. Should we use `http_timeout` in the hub?

#### Expected behaviour

Log spawner errors to users (value errors at least)

#

[2022-08-08 03:46] LTKy opened #4004 "Unhandled error starting single user spawner"
An error occurred while starting jupyterhub, and the error stacks are as follows:
[code]

Don't know how to fix it, ask for help.

[2022-08-08 08:07] consideRatio commented on #4004
Hi!

Please ask for help in discourse.jupyter.org and include details on how and where you have installed and configured jupyterhub.

[2022-08-08 08:07] #4004 closed

[2022-08-09 09:37] consideRatio opened #4007 "Trusted JupyterHub services: would bypass an authorize prompt"
When a JupyterHub registered service interacts with JupyterHub to verify the identity of the user, the user must first confirm to JupyterHub that its acceptable. At least that is how I understand this screen when visiting `/services/configurator/` at the moment.

![image](https://user-images.githubusercontent.com/3837114/183615257-b90e912b-0bb9-4f2c-9305-e9f63bea3b73.png)

## Question / feature re

[2022-08-09 17:07] middleforkgis opened #4009 "'Server Not Available or Unreachable' should be an icon, not a popup modal."
### Proposed change
The 'Server Not Available or Unreachable' popup should be converted to a notification icon instead.
We run JH through a corporate firewall and every time the VPN hiccups the notification modal appears.  Clicking dismiss on the modal only results in it popping up again a few seconds later. This will go on ad nauseum until I either close the browser window or the VPN connection i

[2022-08-09 21:56] bgeneto opened #4010 "trim username to avoid creating of several notebook_dir volumes"
### Proposed change

I think it would be better if you do a `user.name.rstrip()` (maybe in the login form) in order to avoid the dummy authenticator to spawn several `notebook_dir` for the "same" username but with spaces in the end. I've recently accessed my jupyterhub via tablet and the keyboard automatically added a space after completing my username. To my surprise all my notebooks (ipynb files

[2022-08-10 07:00] minrk commented on #4009
This is actually a feature request for https://github.com/jupyterlab/jupyterlab - that's where the code for this dialog (and all UI for single-user servers) resides.

[2022-08-10 07:05] minrk commented on #4007
@consideRatio we have this feature! ([since 1.1](https://jupyterhub.readthedocs.io/en/2.3.1/changelog.html?highlight=oauth_no_confirm#id97)) #4012 should improve its visibility.

[2022-08-10 07:05] #4010 closed

[2022-08-10 07:17] minrk commented on #4003
http_timeout should generally be much _less_ than start_timeout.

These are timeouts for two separate operations:

- `start_timeout` waits for the server to actually start. Often a long time, and varies a lot based on how the Spawner works
- `http_timeout` only starts when the server is _expected to be running_, so should be short and almost never require custom config, and shouldn't be affected b

[2022-08-10 07:18] #3982 closed

[2022-08-10 07:22] minrk commented on #3979
An alternative here is a _recommended_ non-default configuration that satisfies this (or similar Spawner-specific) condition. We have `normalize_username`, `validate_username`, and `username_pattern` as customization points, so it's possible to have a _deployment_ make these guarantees even if JupyterHub  in general does not.

One (mostly cosmetic, but has usability consequences) problem this coul

[2022-08-10 07:30] #4007 closed

[2022-08-10 09:36] #3991 closed

[2022-08-13 07:51] superfive666 opened #4014 "OAuth Callback should make `error` key optional"
### Bug description
<img width="678" alt="image" src="https://user-images.githubusercontent.com/7760702/184474502-b7d1e035-dba7-42e9-a28e-438ed18efc08.png">
The handler expects the `error` argument in the URL string to be passed in (regardless if there is any error).
Otherwise the tornado.web will throw "Missing argument error" exception:
https://github.com/tornadoweb/tornado/blob/master/tornado/w

[2022-08-13 07:53] superfive666 commented on #4014
<img width="624" alt="image" src="https://user-images.githubusercontent.com/7760702/184474687-d3898485-960e-494e-898f-6486b10ae731.png">

[2022-08-13 08:21] consideRatio commented on #4014
Beautiful issue writeup!!!! Thank you @superfive666!

It seems that get_argument maybe not work as i think was expected, where the second argument would be the default value. Or there is another line of code of relevance maybe?

- Do you have a stacktrace associated with the error?
- What version lf jupyterhub is used?

[2022-08-13 08:33] superfive666 commented on #4014
@consideRatio Apparently the `jupyter.log` only has one line of error which prints out the GET request (as described in the issue statement).
And if you check the code in the tornado web implementation, it says:
<img width="768" alt="image" src="https://user-images.githubusercontent.com/7760702/184475953-6eed0b16-a694-40ca-bffd-5f9cf0bbf3b0.png">

I guess we can use the default value there to prev

[2022-08-13 08:35] superfive666 commented on #4014
@consideRatio  we are using jupyterhub `JupyterHub 1.4.1 20220813081717` from AWS EMR integration.

[2022-08-13 08:42] superfive666 commented on #4014
@consideRatio Anyway, I managed to bypass this error by using the following redirect_uri:
`https://example.com/hub/oauth_callback?error=`.
This will provide the get argument function with a default value, and when there are actual errors, the `get_argument` function will take the last value that appear in the url parameters (the default value will be overwritten).
The above bypass redirect URI wor

[2022-08-13 09:59] consideRatio commented on #4014
Hmmmm I fail to find code that would cause a missing argument error in jupyterhub 1.4.1, not sure how to proceed in this issue.

[2022-08-14 14:19] superfive666 commented on #4014
@consideRatio you can find it here:
https://github.com/jupyterhub/jupyterhub/blob/2096c956db8cb64b67f59eea51d252fe346d37a0/jupyterhub/services/auth.py
branch: `1.x`, line 1195

I guess is the same for all branches.

[2022-08-14 15:33] ren276 commented on #4014
hey @superfive666 i would really like to fix this issue . Can you guide me through it+

[2022-08-14 18:00] consideRatio commented on #4014
Is that line throwing an error? Are you sure? That has a default fallback in case error isnt defined right?

[2022-08-14 19:12] manics commented on #4014
Hi! I've tried to reproduce the problem, but haven't been able to. Please can you provide a minimal reproducible example with JupyterHub 2.3.1?

[2022-08-15 02:17] superfive666 commented on #4014
@consideRatio Yes, that is the line.
@manics please see screenshot of replicated error log on server side:
<img width="1438" alt="image" src="https://user-images.githubusercontent.com/7760702/184566435-53523f7b-0f2b-460a-a4fa-9707e6827d2b.png">

Referring to the screenshot above, it is calling the web.py function `get_argument` function:
https://github.com/tornadoweb/tornado/blob/master/tornado/we

[2022-08-15 02:21] superfive666 commented on #4014
@manics in the issue statement, the steps to reproduce is what I did:
<img width="661" alt="image" src="https://user-images.githubusercontent.com/7760702/184566913-4aebae19-fb9a-410d-93e3-82cb6de723f6.png">

[2022-08-15 10:02] minrk commented on #4014
https://github.com/jupyterhub/jupyterhub/blob/2096c956db8cb64b67f59eea51d252fe346d37a0/jupyterhub/services/auth.py
branch: 1.x, line 1195

That's not where the error is raised. That handler doesn't serve `/hub/oauth_callback`, it only runs in single-user servers and services (`/user/:name/oauth_callback`). `/hub/oauth_callback` is a custom handler added by `oauthenticator`, which also sets the def

[2022-08-15 10:46] superfive666 commented on #4014
Hi @minrk , thanks for pointing it out. Yes, you are right, the error is from the check error in the oauthenticator (15.0.1):
<img width="756" alt="image" src="https://user-images.githubusercontent.com/7760702/184621487-37ab10d2-e78d-4b06-9c93-9e652324f763.png">

The code is the same as the one screenshot in my previous reply.
Anyway, is just my own suggestion on the coding style.
And I have manag

[2022-08-15 10:55] superfive666 commented on #4014
@minrk oh, and the web.py is accepting `Union[None, str,  _ArgDefaultMarker]` as the default parameter
<img width="633" alt="image" src="https://user-images.githubusercontent.com/7760702/184623143-83e20809-a508-4e7c-861d-31064b95fa90.png">
So if you pass in a `bool` to the default keyward argument will trigger a warning message from your python linter :) as well

[2022-08-15 13:20] minrk commented on #4014
What version of tornado do you have? (complete `pip freeze` would be super helpful, that's why we request it in the issue template) And which class in oauthenticator are you using? I don't know what's different about your environment, but all the calls I've found call get_argument with a default, which means it won't raise. It _will_ raise if `code` or `state` is missing, as it should. I've also f

[2022-08-15 14:14] superfive666 commented on #4014
@minrk Hi, the full list of pip freeze is very long and I don't think the rest of the packages matter. And the line regarding the tornado version is screenshot as below:
<img width="737" alt="image" src="https://user-images.githubusercontent.com/7760702/184650887-3b928e7d-867b-4768-a6f2-45313dee2df7.png">

I am not an expert in python but as mentioned, we used JupyterHub from AWS EMR cluster which

[2022-08-15 14:37] minrk commented on #4014
Ah, custom installs without versions makes things tricky to track down since it's not reproducible and doesn't include version information. All I know is that the calls to `get_argument` we've found in both jupyterhub and oauthenticator do _not_ raise, so they are not likely to be the source of the reported error. So either there's a call somewhere to `get_argument("error")` that _doesn't_ specify

[2022-08-15 14:50] superfive666 commented on #4014
I totally agree.
There are number of applications in the AWS EMR cluster that require SSO/SAML/LDAP integration. If hitting one small error means having to read tons of code on github is an absolute nightmare.

Since your assessment on the original code does not have any bug and my current workaround does not throw any further errors, I will just close this thread. :)

[2022-08-15 14:50] #4014 closed

[2022-08-15 18:22] dcnadler opened #4015 "Change username length requirment"
### Proposed change
Change the min length of username from 3 to 2: https://github.com/jupyterhub/jupyterhub/blob/main/jsx/src/components/EditUser/EditUser.jsx#L130

Our organization uses last name as usernames and people with two-letter last names cannot be added through the front-end.

### Alternative options
None

### Who would use this feature?
Those who want 2-letter usernames

[2022-08-16 11:45] minrk commented on #4015
Just to be clear, did you only encounter this issue editing users via the admin UI? JupyterHub doesn't prohibit 2-character usernames in general.

[2022-08-16 11:53] minrk commented on #4015
The client-side validation should all be removed, I think #4016 finishes that.

[2022-08-16 13:53] RanadeepPolavarapu commented on #3961
@minrk We do have idle culling enabled but the users who experienced this issue are exempt from idle culler.

[2022-08-17 01:12] dcnadler commented on #4015
Correct. We can add users with 2-letter usernames fine with `jupyterhub_config.py`, it was just the front-end that prevented it.

Thanks for the fix!

[2022-08-17 09:00] minrk commented on #3961
Can you include the logs from the hub starting a bit _before_ the shutdown signal (the logs given start only after the Hub has noticed it shut down, not when the shutdown is requested)? Maybe also cloud logs relating to the `jupyter-johndoe` pod?

Since it's getting signal 15 (SIGTERM), I _strongly_ suspect something is explicitly terminating the pod from outside. The fact that JupyterHub is _reac

[2022-08-18 14:42] RanadeepPolavarapu commented on #3961
I checked the kube event logs to see if it's resource exhaustion but we have log rotation on Docker daemon level inside the EKS nodes enabled so disk usage from our metrics was well within the limit. The CPU and memory usage was also within the limit.

When we trigger a shutdown from Hub itself by hitting the stop server button we see the SIGTERM 15 log still. Logs of this case where trigger a shu

[2022-08-18 19:18] RanadeepPolavarapu commented on #3961
Here is the Hub logs prior to the shutdown:

[code]

[2022-08-18 20:50] ryanlovett opened #4017 "Database error when hub tries to add existing group"
We enabled groups on a hub, and they seemed to be working fine for a little while, but users started to see 500 errors on logging in. One traceback indicated that the hub attempted to add an already existing group to the ORM database. The groups are based on course enrollments which we obtain from our Canvas LMS as users login. Unfortunately I don't have other tracebacks.

Here is the traceback fr

[2022-08-19 08:33] minrk commented on #4017
Is there any chance `user["groups"]` could have the same group name occurring twice? Looking at the code for sync_groups, I think it would try to create a group that doesn't exist once for each occurrence in `user["groups"]`

[2022-08-19 08:37] minrk commented on #4017
The alternative is that the `orm.Group.name.in_` query isn't actually working. That would be harder to track down and deal with.

[2022-08-19 09:01] minrk commented on #4017
I was able to reproduce that exact error by making e.g. `user["groups"] = ["new-group", "new-group"]`, which is fixed by #4019. If you still have access to logs, you should see `Creating new group 'canvas::1497305::student' for user XYZ` multiple times shortly before the traceback if this is indeed the problem.

[2022-08-19 09:55] minrk commented on #3961
The Hub logs at least confirm my suspicion that the Hub is _not_ shutting down the server, nor is it jupyter-server's internal culling. It is definitely _something else_. I think only kubernetes events / cluster logs will be able to shed light on this, not anything from Jupyter.

[2022-08-19 15:54] #4017 closed

[2022-08-20 00:05] ryanlovett commented on #4017
@minrk I can confirm! In similar instance, I see a log entry of the form:
[code]

Followed by:
[code]

Ten with one entry, six with two entries, and one with three.

We will apply the fix soon, except the first week of class is next week so we'll wait for a more quiet time to do it.

Thanks!

[2022-08-22 08:35] minrk commented on #4017
Great! that means you can apply the same fix in your custom hook by calling the same `sorted(set(group_names))` before returning it, so that JupyterHub doesn't get new groups twice.

[2022-08-22 21:11] ebebpl opened #4020 "Documentation issue: c.JupyterHub.port is deprecated but not indicated in doc"
### Bug description

In the docs in url: https://jupyterhub.readthedocs.io/en/stable/getting-started/networking-basics.html
it states that:
[code]
But in the latest Jupyterhub 2.x.x the generated config file states the above property is deprecated:
[code]

#### Expected behaviour

The readthedocs document should mention the non-deprecated property not the deprecated property.

[2022-08-26 12:54] minrk commented on #1677
Coming back to this after consequences in https://github.com/jupyterhub/kubespawner/issues/627

I think it makes sense to have a stop timeout, where we cancel `Spawner.stop` after `Spawner.stop_timeout`. For both timeout errors and other unhandled errors in Spawner.stop, we go back to the 'active' state. This will require `stop` to eventually succeed before the server can start again. This would b

[2022-08-28 10:18] metoru opened #4023 "Spawn failed"
I’m running Jupyterhub on K8s cluster . the error “Spawn failed: Server didn’t respond in 30 seconds” occurs when logging in as a user. and This problem only occurs in a specific image, but this image was used normally before.

error
![image](https://user-images.githubusercontent.com/46242303/187068987-39b9db7b-0cfa-4c48-9cde-c744a4ac355c.png)
log
![image](https://user-images.githubusercontent.com

[2022-08-28 10:18] metoru commented on #4023
您好，我已经收到你的邮件

[2022-08-28 13:05] consideRatio commented on #4023
@metoru please raise this request for help in discourse.jupyter.org, its likely not a bug to be tracked for developers of the jupyterhub software itself, but a configuration issue with regards to how you have deployed your jupyterhub.

For others to help you, include as much details about your installation as you can.

[2022-08-28 13:05] #4023 closed

[2022-08-29 12:25] blair-anson opened #4024 "Users unable to restart their own server"
Hi, recently upgraded JupyterHub from 1.1.0 to 2.3.1. After upgrading our users are no longer able to use
File -> Hub Control Panel -> Stop My Server
the following error is shown
[code]

Looks like I might have to add a role to the jupyterhub_config.py to bestow "delete:servers" but I don't understand how to write one to apply to all users. Can you please help?

[2022-08-30 10:28] ajcollett commented on #4024
Hello, I am seeing the same on my deployment.

There seems to be a change in the way certain bit of the UI query the backend.

I am using helm to deploy my instances, and when comparing stable and beta deployments (roughly correspond to your hub versions) I see the web UI in the beta deployment does queries the API directly, whereas the previous stable webUI does not use the /API.

I am not sure w

[2022-08-30 10:50] ajcollett commented on #4024
Hello again,

Okay I know what my trouble is. I set `hub.baseUrl` to a sub path for my instances.

The API doesn't seem to like that, as when I deploy to a '/' path, it works happily. So my "/some_sub_path/" is causing my issues.

Do you run your Jupyterhub instance on a sub path?

[2022-08-31 02:01] blair-anson commented on #4024
Thanks for looking into this @ajcollett.
I do not set `hub.baseUrl`. But you did give me an idea though. I run a CDN (CloudFront) in front of the jupyter server, it acts like a proxy and it handles https termination etc. I just tried accessing the jupyter server directly and when using the Hub Control Panel to restart the server the error does not appear.
So something in the new jupyterhub/lab ver

[2022-08-31 07:22] ajcollett commented on #4024
@blair-anson this is actually the case with my situation too.

I tested removing the path without going through out reverse proxy, Pomerium.

When I test **with** the path, but bypassing Pomerium, then it works.

So this is probably a headers thing. I'll also look into this.

[2022-08-31 13:01] BShraman opened #4025 "Not able to Spawn single-user notebook on Kubernetes cluster using kubespawner"
### Bug description

Hi Folks!
I am trying to spawn single-user notebook on Kubernetes cluster using kubespawner . I am able to login using LDAP authenticator and I can see corresponding Kubernetes instance has been created in Kubernetes cluster. But service is not able to respond.
I tried with increasing http_timeout and start_timeout but no luck yet and hoping to get some advice what might have

[2022-08-31 13:09] ajcollett commented on #4024
So, my issue seems to stem from here:
https://github.com/jupyterhub/jupyterhub/blob/7a48da1916cad8668c8d9aa5f2019b236354cb94/jupyterhub/utils.py#L743

I see `Blocking Cross Origin API request. Referer: https://myhost/hub/admin, X-Forwarded-Host: myhost, Host URL: http://myhost/hub/`

In the hub logs, but I don't know where to convince jhub it's actually https. The browser is at https, and so are a

[2022-08-31 13:10] manics commented on #4025
This looks like a duplicate of https://discourse.jupyter.org/t/spawn-single-user-notebook-on-kubernetes-cluster-using-kubespawner/15569

[2022-08-31 13:10] #4025 closed

[2022-08-31 14:02] ajcollett commented on #4024
Okay, I managed to get things working in my case.

I had to set the nginx ingress on K8s to use ssl as well as Jupyterhub, then my reverse proxy via Pomerium would work. So somewhere in the chain the wrong scheme was being passed down.

For your case, maybe you need to use HTTPS between your server and CloudFlare?

You may need to set CloudFlare SSL to strict, see here: https://stackoverflow.com/q

[2022-09-02 20:36] ckoliber opened #4027 "JupyterHub API support `spawner_options_form`"
I'm using JupyterHub in API only mode,

I need to get profile options before creating a server, but there is no way to use `GET` methods to get them

[2022-09-02 21:46] rcthomas opened #4028 "Controls for JupyterHub API tokens"
JupyterHub has a [REST API](https://jupyterhub.readthedocs.io/en/stable/reference/rest.html) that can be accessed using an API token.  The API token can be created at in the Hub UI at `/hub/token` or through a [POST](https://jupyterhub.readthedocs.io/en/stable/reference/rest-api.html#/default/post_users__name__tokens) to the REST API itself.  In the Hub UI a user can create a token with expiration

[2022-09-05 07:50] minrk commented on #4028
Thanks for writing this up!

Allowing users to manage other users' tokens (assuming they have permission) should be pretty straightforward. The API already does this and the UI behind `/hub/token` should be pretty easy to update to support `/hub/token/:user`.

I think there are other ways we can make token revocation easier (it can only be done now by token _id_, not if you only have the token its

[2022-09-05 07:52] minrk commented on #4027
We'd need to change how Spawners handle user-options to make them discoverable before they can be GETable. Right now, handling of options is an opaque one-way method, so there's no way for JupyterHub to ask Spawners what options are supported. I think this is an appropriate thing to try to do, especially in connection with #2724. I'm sure someone is going to tell me to use jsonschema for this. The

[2022-09-05 13:38] GeorgianaElena commented on #4020
Thanks for catching and reporting this @ebebpl! The docs should be indeed updated with latest info.

A PR to fix this issue would be very appreciated and a great [first JupyterHub contribution](https://github.com/jupyterhub/jupyterhub/blob/main/CONTRIBUTING.md) ✨
The source of that docs page is this file https://github.com/jupyterhub/jupyterhub/blob/main/docs/source/getting-started/networking-basi

[2022-09-05 13:49] GeorgianaElena commented on #3938
I will close this issue since it could not be reproduced and it seems it's a personal settings problem, rather than a JupyterHub bug. Please feel free to reopen or open a new one if you spot other issues happening. Thanks ✨

[2022-09-05 13:49] #3938 closed

[2022-09-05 16:46] #3957 closed

[2022-09-05 19:59] ckoliber commented on #4027
@minrk
Thanks for clarification

[2022-09-05 20:05] mxab commented on #3860
Hi,
I started to work on a Jupyter Spawner for Nomad here: https://github.com/mxab/jupyterhub-nomad-spawner :)

[2022-09-08 06:26] sokratisg commented on #3961
@RanadeepPolavarapu care to share some more details or even a hint, of course provided you can without exposing sensitive info.

We're having a similar, occasional issue but so far haven't invested the time we'd need to track it down.

In your case was it caused by something running on k8s (ie. cluster-autoscaler) or something completely different?

[2022-09-08 12:06] adarshverma19 opened #4030 "How to execute a command on Jupyter Notebook Server Terminal via the Rest API or any Method"
I have deployed Jupyterhub on Kubernetes following this guide <a href="https://zero-to-jupyterhub.readthedocs.io/en/latest/">link</a>, I have setup nbgrader and ngshare on jupyterhub using this guide <a href="https://nbgrader.readthedocs.io/en/stable/configuration/jupyterhub_config.html">link</a>, I have a Learning management system(LMS) similar to moodle, I want to view the list of assignments bo

[2022-09-08 12:36] #4030 closed

[2022-09-09 07:17] minrk opened #4031 "Better error message when no auth available"
Since RBAC, when a request is made without any credentials (or rejected due to XSS checks), logs will have a message like this:

[code]

This message can give the impression that the user may be lacking required scopes, when the issue is that no credentials are acknowledged at all (often due to our XSS checks as seen [here](https://discourse.jupyter.org/t/requires-any-of-read-servers-not-derived-f

[2022-09-09 07:25] #3304 closed

[2022-09-09 23:32] hsadia538 commented on #4020
Hi,
I would like to work on this issue.

[2022-09-10 00:04] ebebpl commented on #4020
Thanks @hsadia538 you can work on it.

[2022-09-10 10:26] takeshi-yashiro opened #4033 "admin-react.js not found in v3.0.0 docker image"
### Bug description

The latest version of official docker image, `jupyterhub/jupyterhub:3.0.0` does not contain admin-react.js file, which results in blank hub admin page.

The lack of this file can be confirmed by entering the container and running the following command.

[code]

I assume `yarn build` and `yarn place` need to be added in `Dockerfile`, as adding `admin-react.js` generated with th

[2022-09-10 10:36] benz0li commented on #4033
@minrk I can confirm this issue.

[2022-09-10 14:42] #4033 closed

[2022-09-11 23:55] rcthomas opened #4036 "Servers returned by REST API users endpoint is a dictionary (not list) of dictionaries"
### Bug description

[JupyterHub's REST API docs](https://jupyterhub.readthedocs.io/en/stable/reference/rest-api.html) include an example response from [`GET /users`](https://jupyterhub.readthedocs.io/en/3.0.0/reference/rest-api.html#/default/get_users), with the value of `"servers"` depicted as a list of dictionaries.  However, my Hub's API returns it as a single dictionary of dictionaries, with

[2022-09-12 00:07] rcthomas opened #4037 "Add a read-only server state scope"
### Proposed change

JupyterHub's RBAC provides a subscope for `admin:server_state` under `admin:servers` that grants permission to read and also write users’ server state.  As far as I can tell there is not a read-only scope for server state.  The `read:servers` subscope under `servers` (also under `admin:servers`) excludes server state.  I would like to define a role that has permission to read

[2022-09-12 08:20] minrk commented on #4037
There is no write API for server state, so `admin:server_state` _is_ read only, despite the description. I'll check, and we can probably deprecate the name in favor of a new, accurate `read:server_state`.

[2022-09-12 12:58] minrk commented on #4036
Yes, just a documentation issue. user.servers has always been a dict; the docs should reflect that.

[2022-09-12 13:03] OnlyBelter commented on #781
These 3 lines should be added at the very beginning!

[2022-09-12 23:24] danilopeixoto opened #4038 "Named server limit per user indeed"
Would it be doable to set `named_server_limit_per_user` type as Callable as well?

[code]

### Proposed change

Open to discussion.

### Alternative options

- Introduce `named_server_limit_hook`
- Introduce `named_server_limit` attribute per user
- Introduce general quota service

### Who would use this feature?

Administrator needs to set how much server each user is limited to spawn simultaneou

[2022-09-13 11:00] djangoliv opened #4040 "Since jupyterhub3, We can no longer call app.main with arguments"
I call jupyterhub programmatically like this

[code]
It works fine in jupyterhub2, but not with jupyterhub3

Since commit b0b7378e2, argv is passed in loop.run_sync. But loop.run_sync take `time out` for argument, not argv.

`task = asyncio.ensure_future(self.launch_instance_async(argv))`
became
`loop.run_sync(self.launch_instance_async, argv)`

Maybe, it should be something like this:

`loop.run_

[2022-09-14 04:10] Abhi3linku opened #4041 "CVE-2022-31129 moment issue in jupyterhub"
### Bug description
We can see one issue being report with respect to the moment. CVE-2022-31129. Hence Can any one plz confirm if this is a real issue or a false positive.

#### Expected behaviour

#### Actual behaviour

### How to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Your personal set up

 - OS:

 - Version(s):

<details><summary>Full environmen

[2022-09-14 09:53] minrk commented on #4041
This CVE does not affect any version of JupyterHub, which does not call moment on user-provided strings. The latest version of JupyterHub (3.0) uses the patched moment.js `2.29.4`.

[2022-09-14 10:15] consideRatio commented on #4041
Since there is no action point, I'll close this as resolved.

[2022-09-14 10:15] #4041 closed

[2022-09-15 08:28] minrk commented on #4040
closed by #4039

[2022-09-15 08:28] #4040 closed

[2022-09-15 10:05] nibheis opened #4043 "Spawner / ProgressAPI only flushing events once the server is ready"
Hello JupyterHub community,

We are running a custom spawner here at EPFL - a kind of mix between `systemd` and `ssh` spawner (our hub spawns jupyterlab containers as systemd units on remote servers). It's been running great for the last 3 years now.

This week, we made custom html/css templates for our Hub and I thought it was a good time to also pimp up the event log on the spawning page. Curren

[2022-09-15 10:30] minrk commented on #4038
Yes, allowing a Callable here should be just fine.

[2022-09-15 15:46] guidocioni opened #4044 "Can not start jupyterhub as service due to database after upgrade"
### Bug description
Everything used to work fine until I made the update to jupyterhub 3.0.0.

Now my service is failing with

[code]
I logged in as sudo and tried to run EXACTLY the same command as in the service in the interactive shell

[code]
this works fine.

But it fails in the service.

I tried to perform `jupyterhub upgrade-db` multiple times as normal user or root but I still get this iss

[2022-09-15 19:32] shubham0473 commented on #4020
I have submitted a PR that closes this issue #4022. Please review and accept.

[2022-09-15 19:50] zitrosolrac commented on #3162
@SonakshiGrover Could you tell me what config properties you used to fix this issue?

[2022-09-15 20:43] manics commented on #4043
Hi! I've just tested progress events with JupyterHub 3.0.0, and they're working fine for me.

If you think you've found a bug please could you give us a minimal reproducible example? If you don't think it's a bug then we usually try and handle support on the [Jupyter Community Forum](https://discourse.jupyter.org/), the big advantage of that forum is that others can benefit from the discussions.

[2022-09-16 08:09] nibheis commented on #4043
Hi @manics,

Thanks for the tips. Yes, I should probably have asked in the forum. However, I did my homework and searched everywhere before reporting this bug :
https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/1090
https://discourse.jupyter.org/t/custom-spawner-spawn-progress-troubleshooting/11846
...
all I found was not providing much clues and solutions.

Also, I am using a spawner th

[2022-09-16 08:13] nibheis commented on #4043
Anyway, I'll join the forum and start a new discussion on the topic.

[2022-09-16 09:08] minrk commented on #4044
When running the manual upgrade-db, is it run in the directory with your jupyterhub.sqlite database file?

[2022-09-16 09:36] guidocioni commented on #4044
Yes, I also tried to just remove it and let it create again.
I’m always in the home.
I’m wondering if maybe when running as a service it is saving the sqlite file somewhere else? I didn’t set any custom location in the config file.

[2022-09-16 12:32] minrk commented on #4044
If you are seeing this error, the database file definitely still exists. It is saved in the current working directory where the process runs, if you haven't specified a location in the config file.

You can set it explicitly in your jupyterhub_config.py with e.g.

[code]

[2022-09-16 12:49] guidocioni commented on #4044
I still don't know why it was failing with the service but I solved by explicitly providing `db_url` when starting it.

[code]

[2022-09-16 12:49] #4044 closed

[2022-09-17 01:15] hsadia538 commented on #4036
Hi, @minrk I want to work on the issue.

[2022-09-17 01:39] hsadia538 commented on #4036
Hello,
I looked into the documentation and was able to find the Swagger specification generating the API documentation but still was not able to figure out where the example area is building from. `source/_static/rest-api.yml` has the complete Swagger with schema but examples are not defined here. Can you give me some pointers or ideas as to where should I look?

Thank You

[2022-09-17 01:50] hsadia538 commented on #3814
Hi ,
I want to work on this documentation issue.

[2022-09-18 11:23] shree256 commented on #4036
Have raised a PR(#4047) that closes this issue. Please review.

[2022-09-19 07:07] minrk commented on #4044
This probably means you haven't yet found where it's running. You might `find / -name jupyterhub.sqlite'. It could be at `/jupyterhub.sqlite`.

You may want to set [WorkingDirectory](https://www.freedesktop.org/software/systemd/man/systemd.exec.html#WorkingDirectory=) to something explicit.

[2022-09-19 20:24] relyativist opened #4048 "Error 500 unsupported operand type"
### Bug description

After logging in jupyterhub, 500 error with spawner occurs.

#### Expected behaviour

Jupyter should spawn container

#### Actual behaviour

I have an error 500 : Internal Server Error
Unhandled error starting server

### How to reproduce

1)    add Dockerfile:

    FROM jupyterhub/jupyterhub:2.0
    RUN pip install dockerspawner
    COPY jupyterhub_config.py /srv/jupyterhub

[2022-09-19 20:26] #4048 closed

[2022-09-22 11:36] manfuin commented on #4024
I have this issue on k8s. In my case it comes down to the fact that Nginx Ingress does not respect the X-Forwarded-* headers coming from upstream proxy.
The fix is to enable this option: https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#use-forwarded-headers

[2022-09-22 14:36] manics commented on #4043
Closing, this is being answered on https://discourse.jupyter.org/t/spawner-progressapi-only-flushing-events-once-the-server-is-ready/15867

[2022-09-22 14:36] #4043 closed

[2022-09-22 23:20] nicobasile opened #4051 "Rename "Delete File" to "Move to Trash"
### Proposed change

### Alternative options

### Who would use this feature?

### (Optional): Suggest a solution

[2022-09-22 23:27] nicobasile opened #4052 "Request for accuracy: Rename "Delete" to "Move to Trash""
### Bug description

In the Jupyterhub UI, the user has the option to "Delete" the file the have selected.
However, the actual behavior of "Delete" is to move the file to $HOME/.local/share/files/Trash

This caused some problems for my team when we wondered why storage space wasn't being cleared after "Delete"ing a file. Renaming this option to "Move to Trash" would be more accurate and mimic what

[2022-09-22 23:27] #4051 closed

[2022-09-22 23:31] manics commented on #4052
The deletion behaviour and UI is controlled by the singleuser server (e.g. JupyterLab or notebook), and the underlying operating system. JupyterHub doesn't have any influence on it.

[2022-09-22 23:31] #4052 closed

[2022-09-22 23:33] nicobasile commented on #4052
whoops, i'll post the issue there instead

[2022-09-27 13:46] BenGig opened #4055 "Check DB health in HealthCheckHandler"
### Proposed change

Health check currently only checks whether the web server is responding, AFAIK it returns without further processing.

We observed situations where the SQlite DB got corrupted, or the underlying filesystem went into readonly mode. The service appeared to be healthy, but requests returned errors and wasn't healthy at all.

The behavior can be simulated by deploying a hub (I'm r

[2022-09-28 12:23] Temidayo32 commented on #3875
@orboan are you working on the issue? Or is there anyone working on it?

[2022-09-28 15:47] scho3034 commented on #3739
Any updates on this? I am facing the same issue

[2022-09-29 11:15] maciejkul opened #4056 "Disable CORS scheme and port validation inside JupyterHub"
### Proposed change
In base.py, line 83 is code for Cross Origin API request validation:
[code]
It's very strict, validation cover scheme, port, hostname and URL path. It's cause issue if people use passive load balancing with SSL termination.  Issue is:
[code]
Request headers ORIGIN and REFERER are  **https://jupyter.local** , when expected is **http://jupyter.local**. There is no possibility to

[2022-09-29 12:35] manics commented on #4056
Hi! This is being removed in
https://github.com/jupyterhub/jupyterhub/pull/4032

Would you mind looking at that PR and giving your feedback there? Thanks!

[2022-09-29 15:49] Vivek-kkaushik opened #4057 "how to pass current user UID in singleuser jupyter container notebook"
hard coded UID value inside "runAsUser: xxxx" creating like , each files and folders has generic ownership for all users.
We have to use unique uid in notebook container so that maintain unique owner of files/folder.

kubespawner_override:
        extra_container_config:
          securityContext:
            runAsNonRoot: true
            #runAsUser: xxxx
            runAsGroup: xxxx

[2022-09-29 15:54] #4057 closed

[2022-09-30 03:05] BhavyaT-135 commented on #4020
Hey @ebebpl, if no one is working on this issue at the moment, could I give it a try?😊

[2022-09-30 03:18] ebebpl commented on #4020
@BhavyaT-135 you can go ahead if no pending fix or PRs.

[2022-09-30 07:44] #4038 closed

[2022-10-01 20:07] monil28 commented on #4036
I would like to work on this issue.

[2022-10-01 22:48] BhavyaT-135 commented on #4020
Hi @ebebpl, I have created a pull request addressing the mentioned issue. Kindly take a look and suggest any changes if required. 😊

[2022-10-02 06:28] Temidayo32 commented on #4036
@hsadia538 Are you still working on it?

[2022-10-02 12:15] Temidayo32 opened #4059 "`get_config()` not defined in `testing/jupyterhub_config.py`"
In the `testing/jupyterhub_config.py` , I noticed the `get_config()` function is  not defined.

I can't say exactly. Perhaps, it might have something to do with why my server fails to connect and returns a timeout.
`asyncio.exceptions.TimeoutError: Server at http://127.0.0.1:53369/user/temicoder/ didn't respond in 30 seconds`

[2022-10-02 13:20] Temidayo32 opened #4060 "Update "tip" in building documentation locally in the Contribution documentation"
I noticed the Windows command for viewing the html files in browser was not stated.

#Fix:
Add the Windows command for viewing built documentation in browser

[2022-10-02 13:30] Temidayo32 commented on #4060
I am working on this issue

[2022-10-02 21:28] mahamtariq58 commented on #4036
I would like to work on this issue !

[2022-10-02 21:41] hsadia538 commented on #4036
Hi all
I am not working on this anymore

[2022-10-03 14:12] #4060 closed

[2022-10-03 19:42] Temidayo32 commented on #3080
@choldgraf @willingc can I know the way forward with this issue? @willingc it seems you are trying to imply the linked file above handles the issue because I can see the documentation there does document the structure of the repository, or what's do you think is left to be done?

[2022-10-03 21:24] manics commented on #4036
@hsadia538 Make sure you check-out the comments on the previous PR https://github.com/jupyterhub/jupyterhub/pull/4047
You'll need to do some investigation, or reach out to someone with more knowledge of swagger, so that you can define a dict-of-dict with variable field names.

[2022-10-04 03:04] Temidayo32 commented on #4059
Oh, okay. Got it

[2022-10-04 12:14] #4059 closed

[2022-10-04 14:52] mahamtariq58 commented on #4036
@ Temidayo32  are you working on this issue?

[2022-10-04 18:06] angelahess opened #4062 "User Redirect Forces Simple View"
### Bug description
When using a shareable link, the URL of format `<endpoint>/hub/user-redirect/lab/tree/<path>` is redirected to `<endpoint>/user/<userID>/doc/workspaces/auto-Z/tree/<path>`

This converts a /**lab**/tree link to a /**doc**/../tree link. Switching from lab -> doc defaults the user into simple mode, which is not ideal.

#### Expected behaviour

Persist the /lab/ or /doc/ from the

[2022-10-05 12:32] mahamtariq58 commented on #4036
@manics I am trying to solve this issue ..Can you guide me that is it just the documentation issue or coding issue?

[2022-10-06 17:58] angelahess commented on #4062
Turns out this is intended behavior! I had the setting Status Bar > Start Mode set to `single` and not default.

I had been wondering what that setting did...

[2022-10-06 17:58] #4062 closed

[2022-10-07 08:10] Temidayo32 commented on #3080
I am working on this

[2022-10-08 19:35] akashthedeveloper commented on #4020
Hey, @ebebpl I would like to work on this issue, can you please help me to understand this issue and assign it to me?

[2022-10-08 19:47] ebebpl commented on #4020
@akashthedeveloper this issue already fixed by another user so no longer need further work.

[2022-10-08 20:10] akashthedeveloper commented on #3875
Hey, @GeorgianaElena I would like to work on this issue can you please assign it to me?

[2022-10-09 08:28] MrOrero commented on #3875
Hi, @GeorgianaElena I am an Outreach applicant, I would like to work on this issue, I have already started working on it, can it be assigned to me?

[2022-10-09 14:40] akashthedeveloper commented on #4020
Thanks, @ebebpl for clarifying but can you please close this issue if it is solved?

[2022-10-09 15:11] charlesjman commented on #4036
Is anyone still working on this issue?

[2022-10-09 15:40] manics commented on #4036
@mahamtariq58 It's a documentation issue. https://github.com/jupyterhub/jupyterhub/pull/4047 made a start, but it's not that simple, as the response is a dictionary of server dictionaries.

[2022-10-10 06:49] minrk commented on #3875
@Temidayo32 are you still working on this? I can assign it to you, or let someone else take it if you are doing something else.

[2022-10-10 07:27] minrk commented on #4020
@akashthedeveloper The pull requests are open, it will be closed when they have been reviewed and merged. You can see the links on the right hand side:

![Screen Shot 2022-10-10 at 09 26 04](https://user-images.githubusercontent.com/151929/194816395-e6211599-0d53-429e-b484-b13112b359be.png)

and linked in the conversation:

![Screen Shot 2022-10-10 at 09 26 35](https://user-images.githubuserconten

[2022-10-10 13:40] priyankade commented on #3099
I am facing the same issue:
[code]

I am trying to spawn the single-user server on the nodes in docker swarm mode, and this is the error I get.
The docker container spawned on the node stays alive for 3-4 minutes and tries to connect to Hub and then fails with the above error.
Although, Hub API (using internal IP) is reachable from within the container in node:

[code]

A docker network is created

[2022-10-10 16:13] Temidayo32 commented on #3875
@minrk Yeah, assign it to me.

[2022-10-10 16:32] bl-aire opened #4078 "Add accessibility testing to JupyterHub testing tools"
The importance of building a product with accessibility in mind from the design/development phase cannot be overemphasized. There’s this option and then there is the option of building a product, deploying it and then looking for means to make it accessible.

The former saves time and resources that is why I am proposing this solution.

### Current behavior

Currently, no accessibility testing too

[2022-10-10 16:34] bl-aire commented on #4078
Hello @sgibson91,

I have made corrections.

[2022-10-10 17:26] Emenyi95 commented on #4078
Hello here. My name is Emenyi Nelly and I am Outreachy intern for this session. An Android and Python developer from the under-represented region in Cameroon. i am very excited to start working with JupyterHub. Please can this issue be assigned to me please.

[2022-10-10 20:22] Suldana commented on #4031
**I can do this pls assign me**

[2022-10-10 20:55] bl-aire commented on #4078
Hello Nelly,

I am currently working on this. We could look at it together if you are interested.

[2022-10-10 23:58] mutmainaho commented on #4078
Hello @bl-aire would like to work on this project with you

[2022-10-11 00:51] bl-aire opened #4082 "Update documentation with details about how developers can build products that are inclusive"
"The Web is fundamentally designed to work for everyone, not minding their hardware, software, language, location, or ability. When a Web product this goal, it is accessible to people with a diverse range of hearing, movement, sight, and cognitive ability"

Unfortunately, not every developer knows or takes the time to implement Web Content Accessibility guidelines (WCAG)

### My idea:

With issue

[2022-10-11 00:55] bl-aire commented on #4082
Hello @minrk @sgibson91 ,

This I related to #4078 which I am working on. And I would love to work on it.

[2022-10-11 01:20] Emenyi95 commented on #4078
On Tue, 11 Oct 2022 at 00:59 Mutmainah Odunewu ***@***.***>
wrote:

Yes sure. Let’s get started then.

[2022-10-11 02:15] Achele commented on #3875
Hi, @GeorgianaElena I am an Outreachy applicant, I would like to work on this issue.

[2022-10-11 02:51] Achele commented on #4020
hi @ebebpl i would like to work on this issue

[2022-10-11 02:54] ebebpl commented on #4020
@Achele please read earlier comments this is already done by others.

[2022-10-11 04:31] iLynette commented on #4082
Hello @bl-aire I would love to work on this one, is it possible?

[2022-10-11 05:28] bl-aire commented on #4082
Hello Lynette,

I am working on it but I can reach out to see how we can look at it together.

[2022-10-11 05:34] bl-aire commented on #4082
Hello Lynette,
I am currently working on this as it is related to an issue I created earlier.

[2022-10-11 05:36] bl-aire commented on #4078
Please can I get your email address?

[2022-10-11 05:36] bl-aire commented on #4078
Please can I get your email address?

[2022-10-11 05:56] iLynette commented on #4082
Okay @bl-aire good luck with it😊

[2022-10-11 06:56] bl-aire commented on #4082
Thank you 🙏

[2022-10-11 08:23] metoru commented on #4023
您好，我已经收到你的邮件

[2022-10-11 08:31] Emenyi95 commented on #4078
***@***.***

On Tue, 11 Oct 2022 at 06:36 Blaire ***@***.***> wrote:

[2022-10-11 12:13] bl-aire commented on #4078
I thought to keep track of my progress with this issue.

So far, using axe-selenium-python, I have been able to create a test which when run tests the accessibility of a placeholder site (https://google.com).
- On the terminal, information about parts of the site that have accessibility issues are highlighted so developers can make corrections.
- And a json file gets created which continues more i

[2022-10-11 16:18] sgibson91 commented on #4082
@bl-aire I think the project would _love_ a guide on which tools to use to test accessibility, what aspects should/can be tested, and how to construct/automate those tests. However, I feel this is a task that can be tackled during the internship itself, rather than the contribution period, if that makes sense?

[2022-10-11 16:22] bl-aire commented on #4082
It totally makes sense. I would like to know if creating issues only are accepted as contributions in this project please.

[2022-10-11 16:37] manics commented on #4082
@bl-aire How familiar are you with the architecture of JupyterHub / JupyterLab / Jupyter-server? The UI component of JupyterHub is relatively small, though is still worth analysing for accessibility (being small means it should be more tractable). If you're interested in the accessibility of the notebook user interfaces that's a separate component- there's some discussions on
https://discourse.jup

[2022-10-11 16:43] Achele commented on #4020
my bad,  @ebebpl thanks for the clarification.

[2022-10-12 07:07] minrk commented on #4082
Yes, I think creating clearly expressed issues describing problems to solve and approaches to take absolutely counts as a contribution. Thank you for opening these!

[2022-10-12 07:53] bl-aire commented on #4082
Noted

Thank you 🙏

[2022-10-12 07:59] Suldana commented on #3952
Please Asign me this to fix

[2022-10-12 09:23] Emenyi95 commented on #4078
Hello @bl-aire I am ready to  join you on this. Please how do we proceed?

[2022-10-12 09:24] Emenyi95 commented on #4078
nellynkafu@gmail.com is my email.

[2022-10-12 09:24] Emenyi95 commented on #4078
nellynkafu@gmail.com is my email.

[2022-10-12 09:36] Temidayo32 commented on #3875
@minrk  Fixed this issue. Check out the commit https://github.com/jupyterhub/jupyterhub/commit/482c0548393ec7b6cb6dd21e8560ba89953c7ef7

[2022-10-13 04:06] falyne commented on #3842
hi @minrk i'm Falyne an outreachy applicant. I am interested in trying out this issue but need some guidance.
Please how do I access the Oauth confirmation page? to get a better understanding.

[2022-10-13 08:17] elham9449 opened #4107 "Time limitation on uers"
Hi everyone!

Jupyterhub is installed on a server that I am responsible for administering. I would like all users to be restricted to only using Jupyterhub (their notebooks) for 12 hours per day.

I would appreciate your assistance in this matter.

What is its configuration?

[2022-10-13 08:18] #4107 closed

[2022-10-13 08:38] bl-aire commented on #4078
Okay. Noted

[2022-10-13 14:08] minrk commented on #3842
Most of the text here is produced by the [describe_raw_scopes](https://github.com/jupyterhub/jupyterhub/blob/5997614f452a3cfebfa541800012a914d37f3ec8/jupyterhub/scopes.py#L1020) function, which is called [here](https://github.com/jupyterhub/jupyterhub/blob/5997614f452a3cfebfa541800012a914d37f3ec8/jupyterhub/apihandlers/auth.py#L353).

I think the principal goal is improving the output of that func

[2022-10-14 13:44] julietKiloRomeo commented on #4024
I agree that #4032 will fix this. Until then we are using a patch in apihandlers/base.py that fixes the stopping of servers and also the progress bar + redirect during spawn. You can see the patch in the comments for #4032 .

We are running behind apache and the problem comes from some internal traffic being upgraded to https and then hitting the `Blocking Cross Origin API request` because the hos

[2022-10-15 16:08] kamzzy commented on #4036
I would like to work on this issue if no one is working on it

[2022-10-15 16:13] kamzzy commented on #4031
@minrk
can i get assigned to this task if no one is working on it

[2022-10-15 16:29] kamzzy commented on #3684
can i work on  this task

[2022-10-19 13:20] connorourke commented on #3854
I am still seeing this issue. Is there some cache somewhere for users that needs to be cleared?

The logs pulled out for an example user are:

[code]

Clicking the server restart has no effect

[2022-10-19 16:00] Chinazaekpere-Ike commented on #3854
Hi @jywarren

This ` is called a Back tick and it basically makes modifying code easier for future purposes

Example,
Rather than having this (In Js)

`1     let action = 'dance' `
`2     alert ('I want to ' + action + ' all day')`

We can write -->

`1     let action = 'dance'`
`2     alert(```I want to ${action} all day```)`

The second is more efficient because it's easier to maintain. Supposin

[2022-10-20 00:01] liliyao2022 commented on #4031
@minrk, Hi can I work on it, please? Thanks!

[2022-10-20 01:14] liliyao2022 opened #4138 "404 Error when try to "edit this page" on JupyterHub homa page"
### Bug description

#### Expected behaviour

#### Actual behaviour

### How to reproduce

1. Go to 'https://jupyterhub.readthedocs.io/en/stable/#'
2. Click on 'edit this page
3. See a 404 error

### Your personal set-up

 - OS:

 - Version(s):

<details><summary>Full environment</summary>

[code]
</details>

<details><summary>Configuration</summary>

[code]
</details>

<details><summary>Logs</sum

[2022-10-20 04:28] Joel-Ando opened #4143 "[(update roles.md)](https://github.com/jupyterhub/jupyterhub/pull/4141)"
@sgibson91 i finally summited the documentation pull request [(here)](https://github.com/jupyterhub/jupyterhub/pull/4140l)

_Originally posted by @Joel-Ando in https://github.com/jupyterhub/outreachy/issues/86#issuecomment-1284900939_

[2022-10-20 04:30] #4143 closed

[2022-10-21 03:37] 3qiu commented on #4138
Hi @minrk ! I'm an outreachy applicant and still looking for an issue to solve.

I found this 404 error on the webpage and would like to fix it.  I couldn't find this webpage or content in my vsCode after I git clone the overall jupterhub project.  How to get access to this page? https://jupyterhub.readthedocs.io/en/stable/#
<img width="1098" alt="Screen Shot 2022-10-20 at 11 37 08 PM" src="https:

[2022-10-21 07:27] minrk commented on #4138
@3qiu please go ahead!

[2022-10-21 11:36] teshomem commented on #3709
I am experiencing same issue. Could you share your experience? What did you clear out?

[2022-10-24 12:08] anhdle14 opened #4165 "Using `Juno` iOS app on JupyterHub endpoint cause redirect loop or 404: Not Found"
### Bug description

1. Deploying JupyterHub on local server (ArchLinux + SystemdSpawner + OAuthenticator)
2. Using Tailscale and Proxy to advertise local server via direct connection with HTTPS and OAuth (<https://jupyter.example.com>)
3. Using Juno on iOS to connect to the JupyterHub endpoint (<https://jupyter.example.com>)
4. Able to sign in but can't open notebook or lab.

#### Expected behavi

[2022-10-24 12:13] minrk commented on #4165
This looks like the single-user server is expecting the classic notebook but it isn't available. You might be missing the `notebook` package and/or `jupyterlab` if that's what you expect. Can you share `pip list` in the single-user environment?

[2022-10-24 13:25] anhdle14 commented on #4165
[code]

[2022-10-25 01:35] gepcel commented on #3331
If I'm guessing right, a linked folder (pointed to the shared folder) was created while the user account was created. So you might try finding that and making a linked folder for existing users manually.

[2022-10-25 08:04] minrk commented on #4165
And setting `c.Spawner.default_url = '/lab'` doesn't work? With that, you wouldn't get sent to `/tree/`.

You can `pip install nbclassic` to get the classic notebook handlers registered.

[2022-10-25 17:29] anhdle14 commented on #4165
will close the issue now, that being said maybe we should include `nbclassic` into the bundle of jupyterhub as well?

[2022-10-25 23:41] nikita-balyschew-db commented on #932
I have the same issue, I want to run the LocalGitLabOAuthenticator and let the local user being created locally with luseradd, because it exists in LDAP, if it doesn't exist and give control to SudoSpawner but SudoSpawner can't run because the user isn't created and added to the group which allows issuing the sudo command. I would be glad if someone could help.

[2022-10-26 10:04] djangoliv opened #4174 "No more delete server button on admin page"
### Bug description

Since react admin page there is no more "delete server" button on stopped server.

![servers](https://user-images.githubusercontent.com/13416971/197997999-58f78132-f7e6-499d-86e1-e791403e1086.png)

#### Expected behaviour

As admin, I need the possibility to delete stopped servers.

#### Actual behaviour

Can't delete stopped servers in UI.

[2022-10-27 12:12] minrk commented on #4174
@naatebarber @NarekA can you have a look?

[2022-10-27 13:02] minrk commented on #4165
No, we definitely shouldn't include nbclassic as a dependency in jupyterhub, since that's only for single-user environments are there are many different options. It does work with just jupyterlab, without nbclassic.

`/tree/` is not required for jupyterhub, that's specific to nbclassic (or the older `notebook` package). If you have jupyterlab or retrolab, or any other jupyter-server-based single-u

[2022-10-27 20:16] kabanala opened #4183 "stateless and High Availability of jupyterhub in kubernetes"
### Proposed change
We want to Scale Jupyter Hub from a single instance into multiple instances , as traffic / user activity increases.
We want users to switch between multiple instances / pods of the Jupyter Hub deployment.
When jupyter Hub pods goes down or crash , User should not see any disruption for their work
Our scope and goal is to only implement the above enhancements for Kubernetes base

[2022-10-27 20:22] kabanala commented on #4183
@srinivasanmanoharan

[2022-10-27 21:41] manics commented on #4183
Hi! Please could you add your ideas to this existing issue: https://github.com/jupyterhub/jupyterhub/issues/1932
Thanks!

[2022-10-27 21:41] #4183 closed

[2022-10-28 03:43] FukoH opened #4184 "Print spark dataframe more friendly for reading"
### Proposed change

I come across this problem with pyspark.
When I call foo.show(),if the foo dataframe contains too many columns, the result won't be printed in a single row in jupyter notebook.Instead it will be splitted into two rows,and not easy to read for human.How can I solve this problem?Could it be printed more friendly for reading?

[stackoverflow](https://stackoverflow.com/questions/7

[2022-10-28 06:53] minrk commented on #4184
I'm not quite sure what the issue is, but display of Spark dataframes is handled by pyspark, not any Jupyter package.

If the issue is more generally very wide terminal output in jupyterlab, I believe that is open at https://github.com/jupyterlab/jupyterlab/issues/4208

[2022-10-28 06:53] #4184 closed

[2022-10-28 08:37] MarcSkovMadsen commented on #3416
Making it easy for users to deploy dashboards like ContainDS is really lowering the entry point for many users to get their data and models to something close to "production". I hope it will be supported.

[2022-10-28 11:25] minrk commented on #3416
@MarcSkovMadsen I think ContainDS dashboards should work just fine without any Hub extension mechanisms beyond what we have today. It should:

1. operate as an external service
2. consume the JupyterHub REST API

I don't believe there's anything CDSDashboards does that requires running in-process in the Hub, and I would strongly encourage the project to follow the BinderHub model of running as a s

[2022-10-28 17:17] kabanala commented on #1932
Proposal:

We want to Scale Jupyter Hub from a single instance into multiple instances , as traffic / user activity increases.
We want users to switch between multiple instances / pods of the Jupyter Hub deployment.
When jupyter Hub pods goes down or crash , User should not see any disruption for their work
Our scope and goal is to only implement the above enhancements for Kubernetes based deploym

[2022-10-28 18:55] elham9449 commented on #1017
Hi everyone
The same problem is occurring to me

What can I do to resolve this issue?

[2022-10-31 11:24] minrk commented on #1932
Thanks for your sketch! I think I've outlined everything above that needs to be solved in the Hub to allow more than one Hub pod to talk to the same database without conflict. The proxy part is already fully solved if you use traefik (long-since the default in littlest jupyterhub, hit some snags that stopped a migration in z2jh). CHP can also be fully HA if you use CHP's redis backend.

[2022-11-01 03:30] icejean opened #4189 "The terminal user is root when spawn with --allow-root"
Hi,all,
I'm not familier with jupyterhub and get a problem now.
I install jupyterhub on an ubuntu 18 server, with the configuration below:
[code]
If I comment out the line spawner_class or the line "--allow-root", it can't spawn to a user server and I'll get a message of timeout after 30 seconds. If I keep these lines,  it will spawn to a user server, but I can see that it's running as root, but n

[2022-11-01 06:02] #4189 closed

[2022-11-01 11:07] nikita-balyschew-db opened #4191 "LocalAuthenticator.create_system_users not working"
I want to run the LocalGitLabOAuthenticator and let the local user being created with luseradd (because it exists in LDAP) if it doesn't exist and then give control to SudoSpawner. But SudoSpawner can't run because the user isn't created and therefore not added to the group which allows issuing the sudo command.

This happens because of the method of how the user is checked for existence in this c

[2022-11-01 12:09] kaivalyapendse opened #4192 "Jupyter Hub embedding in Web Application Failing with cross-origin error."
We are trying to integrate the Jupyter Hub into our web application. The integration is based on embedding the Jupyter Hub URL using `iframe` in the HTML. We are able to embed the login page but not able to go ahead. The error we are getting is:

`Blocked autofocusing on a <input> element in a cross-origin subframe.`

The configuration is as follows:

in **jupyterhub_config.py**:

c.JupyterHub.tor

[2022-11-01 20:21] manics commented on #4192
This is a duplicate of https://discourse.jupyter.org/t/jupyterhub-integration-in-web-application/16590

[2022-11-01 20:21] #4192 closed

[2022-11-02 05:01] 382420058 opened #4194 "Unable to log in"
### Bug description

I've deployed via docker, but I don't have an account or password, please tell me the default values

#### Expected behaviour

None

#### Actual behaviour

None

### How to reproduce

None

### Your personal set up

None

[2022-11-02 05:36] #4194 closed

[2022-11-02 07:30] icejean commented on #4189
Addressed by myself at last, it’s only because I’v run jupyter notebook before.
According to the past at [500 error in Jupyterhub](https://stackoverflow.com/questions/47605853/500-error-in-jupyterhub), it is a BUG which just conflicts with the notebook configuration ~/.jupyter.
As soon as I remove $HOME/.jupyter away, everything works fine.

[2022-11-03 13:37] nikita-balyschew-db commented on #4191
I found one possible solution myself. iIf someone else is interested here it goes:

`python
def pre_spawn_hook(spawner):
    username = spawner.user.name
    try:
        check_call(['sudo', 'luseradd', '-g', 'juhusers', username])
    except Exception as e:
        print(f'{e}')
c.SudoSpawner.pre_spawn_hook = pre_spawn_hook
`

[2022-11-03 15:42] 3qiu opened #4197 "Unaligned Text Blocks on JupyterHub REST API Page (Mobile View)"
### Bug description

The webpage was not built to fit the mobile view
#### Expected behaviour
The texts should be clear and aligned within the text border

#### Actual behaviour
Text Blocks on JupyterHub REST API Page are not unaligned and some texts are blocked when viewing the webpage on mobile phones.

### How to reproduce
Need to update the styling file to make it mobile friendly.

1. Go to ht

[2022-11-03 19:37] wudstrand opened #4198 "Authenticating via REST API"
### Bug description
I am trying to use the hubs REST API from a custom UI and wanted to avoid using an API token and instead use the custom keycloak OAuth authenticator I have setup. Currently the authenticator works when using the provided hub UI, but I cannot figure out how to authenticate with it via the REST API. After combing through the documentation, I've only been able to find information

[2022-11-03 20:10] liliyao2022 commented on #4078
Hey, as far as I know, eslint-plugin-jsx-ally is deprecated now; please consider eslint-plugin-jsx-a11y instead.

"11" not "ll"

[2022-11-03 20:23] wudstrand commented on #4198
Similar [issue](https://discourse.jupyter.org/t/access-user-defined-api-by-jupyter-server-proxy-through-curl/12860/2) posted on the jupyterhub forum

[2022-11-03 20:34] bl-aire commented on #4078
Hello,

Okay, I will make corrections now. Thanks

[2022-11-03 20:39] wudstrand commented on #4198
[Forum Post](https://discourse.jupyter.org/t/authenticating-via-rest-api/16642)

[2022-11-03 20:39] consideRatio commented on #4198
I'll close this as resolved by my reply in https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/2926

[2022-11-03 21:07] wudstrand commented on #4198
I am trying to follow your [suggested workaround](https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/2926#issuecomment-1302489664) and I am running into some issues. Since I am not running the jupyterhub UI I cannot access the api token page referenced in your [link](https://jupyterhub.readthedocs.io/en/stable/reference/rest.html), and without the code from the `/hub/api/oauth/authorize`

[2022-11-03 21:08] wudstrand commented on #4198
I am trying to follow your [suggested workaround](https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/2926#issuecomment-1302489664) and I am running into some issues. Since I am not running the jupyterhub UI I cannot access the api token page referenced in your [link](https://jupyterhub.readthedocs.io/en/stable/reference/rest.html), and without the code from the `/hub/api/oauth/authorize`

[2022-11-03 22:49] csaroff commented on #3961
For me, this happened because the pod ran out of memory. Would be nice if this could be surfaced to the user in a more obvious way.

With autoscaling and culling enabled, my first instinct was that the culler was the root cause. The node that the pod was running on was scaled down before I got a chance to run a `kubectl describe node` so it wasn't clear that the pod was running out of memory.

Luc

[2022-11-03 23:31] wudstrand commented on #4198
Related [Github Issue](https://github.com/jupyterhub/jupyterhub/issues/506)

[2022-11-03 23:36] #4198 closed

[2022-11-04 19:24] trallard commented on #4082
hey y'all chiming in here @bl-aire  thanks for your contributions in the area of accessibility (these are much needed and welcome) - I would highly suggest dropping by the jupyter accessibility calls to see what other folks in the community are working on regarding accessibility in the Jupyter space

A few of us (me included) are working on accessibility testing for JupyterLab and Jupyter notebook

[2022-11-04 19:49] sgibson91 commented on #4082
Hi @trallard 👋🏻

It definitely shouldn't! Hub has a few pages that aren't from Notebook or Lab (spawn, admin, token) so we should align with the accessibility team on what tools and best practices we should be adopting in Hub repos as a common toolkit once work kicks off in earnest next month.

@bl-aire I endorse Tania's offer to visit the accessibility team if you have the time, they're awesome p

[2022-11-04 22:53] wudstrand commented on #4198
I ended up using a service to handle api calls and interaction with the `jupyterhub` and `jupyter-server`. We are leaving the auth to our company `api-gateway`.

[2022-11-05 07:46] bl-aire commented on #4082
I had a look at https://github.com/jupyter/accessibility and the page dedicated to improving project Jupyter's accessibility on the Discourse forum. It helped me understand the project and current measures that have been taken to improve accessibility. I definitely will join the team and contribute in any way I can.

Thank you so much

[2022-11-05 07:53] bl-aire commented on #4082
I certainly will. And I am looking forward to learning and contributing in any way I can.

[2022-11-05 19:37] bl-aire commented on #4197
Hello @3qiu, are you working on this?

[2022-11-06 20:47] bl-aire commented on #4197
@minrk @sgibson91

Hello, I would love to work on this if it hasn't been assigned to anyone.

[2022-11-06 21:22] 3qiu commented on #4197
No, please go ahead to solve it.  Thank you!

[2022-11-06 21:35] bl-aire commented on #4197
Okay. Thanks

[2022-11-08 11:34] bl-aire commented on #4197
Thank you @sgibson91 , I will go through it now

[2022-11-10 05:35] scruel commented on #323
@chicagobuss

Your method not works on Ubuntu 22.04.1 LTS
[code]

[2022-11-10 06:35] scruel opened #4203 "PAM Authentication failed"
### Bug description
Tried to run jupyterhub without root user by wiki instructions:
https://github.com/jupyterhub/jupyterhub/wiki/Using-sudo-to-run-JupyterHub-without-root-privileges
Different part is that we used conda to install jupyterhub rather than root by this article:
https://medium.com/swlh/how-to-install-jupyterhub-using-conda-without-runing-as-root-and-make-it-a-service-59b843fead12

But

[2022-11-11 09:22] minrk commented on #4203
This suggests rhea doesn't in fact have permission to check other users' passwords. It's possible selinux is interfering, I'm not sure.

For the password check, you can try `sudo -u rhea -s` first.

[2022-11-15 15:06] Aknc34 opened #4212 "gt"
### Bug description

#### Expected behaviour

#### Actual behaviour

### How to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Your personal set up

 - OS:

 - Version(s):

<details><summary>Full environment</summary>

[code]
</details>

<details><summary>Configuration</summary>

[code]
</details>

<details><summary>Logs</summary>

[code]
</details>

[2022-11-15 16:14] #4212 closed

[2022-11-15 16:31] consideRatio opened #4213 "`post_auth_hook` documentation update"
https://github.com/jupyterhub/jupyterhub/blob/730fe5a44690dbae73309361f4be20672118fb07/jupyterhub/auth.py#L399-408

[`post_auth_hook` documented here](https://jupyterhub.readthedocs.io/en/stable/api/auth.html#jupyterhub.auth.Authenticator.post_auth_hook) provides some functionality, and with how users can have roles etc, I think its extra relevant to update a description on how it works in relatio

[2022-11-16 07:50] consideRatio opened #4217 "Agreement to make flake8 config stricter"
# Change proposal

I suggest we make our flake8 config a bit stricter and simpler. First in #4216 I've made it simpler by removing redundant configuration and such. Following that, I suggest we make it even stricter and simpler, and then make flake8 happy based on that.

Practically, these are the changes I suggest, and below I clarify what would change for each statement no longer ignored.

[code

[2022-11-16 08:49] minrk commented on #4217
I _think_ a couple of `# noqa` marks will be better on `__init__` than ignoring the files altogether. Since most init files it is just the import statement(s) that are likely to have misdiagnosed lint, that shouldn't be too much to manage.

I actually _really_ dislike F841. I don't think it helps anything, and it causes unnecessary churn (e.g. when an output was used, but its use gets deleted, mul

[2022-11-16 09:06] manics commented on #4217
:+1: on using `# noqa` or similar for `__init__.py`

I'm in favour of stricter flake8 config, but to cater for different preferences could we have a required flake8 config, and optional/recommended config where the main maintainers of a repo can decide?

[2022-11-16 09:28] Armelabdelkbir opened #4218 "Failed to connect to http://n:80/user/myuser/ ([Errno -2] Name or service not known)"
Hello, since few days ago  i'm trying to install a sandbox with jupyterhub on YARN cluster + LDAP, with version 1.4.1 as my production environment to do some tests, i follow this documentation
https://jupyterhub-on-hadoop.readthedocs.io/en/latest/manual-spawner.html
my application seems to be running with an application_id on yarn with no errors after login,
`[I 2022-11-16 09:17:35.578 JupyterHub

[2022-11-16 09:38] consideRatio commented on #4217
Thanks for feedback @minrk! I'll go for a PR omitting a change with regards to F841.

---

I'm onboard with not enforcing F841 as we currently don't, it is a pro/con evaluation. But I react abit to you saying you don't see it helps anything @minrk. Don't you see some value about being strict about?

For example help to do a thorough cleanup of logic as it evolves over time.

[code]

A flake8 warni

[2022-11-16 10:05] minrk commented on #4217
That's absolutely a valid point!

If you mean suggest removing unused code that the linter didn't catch, sure I would, if I noticed. Your hypothetical example is certainly a valid one, where a potential optimization may be made, though there are no issues of correctness at stake.

I don't share this opinion, generally, especially when it comes to factors other than correctness, and F841 doesn't co

[2022-11-16 10:14] minrk commented on #4217
btw, if we pick up [autoflake](https://github.com/PyCQA/autoflake) we can automatically remove unused imports in pre-commit (and unused variables for F841, though that's a trickier one since it still requires human thought for whether stateful functions should be left without assignment vs stateless function calls removed entirely)

[2022-11-16 10:17] consideRatio commented on #4217
I agree! I did not mean to say there was an intrinsic value in strictness, or that it is overall turning out to be a net positive. I meant to say that I see a value arise generally from strictness: an ability to make assumptions based on the strictness.

Good example, I was also thinking especially of the tests when considering the downsides of F841.

I'm at ease with the judgement call to not go

[2022-11-16 10:54] manics commented on #4217
If we think `autoflake` works everywhere we could add it to
https://jupyterhub-team-compass.readthedocs.io/en/latest/team/repository-code-standards.html#preferred-tools-and-pre-commit-hooks

[2022-11-16 11:04] minrk commented on #4217
I've never tried it, so maybe give it a shot in one or two places for a bit first, before propagating everywhere? I just learned it existed 2 days ago.

[2022-11-16 14:46] ArafatAbdussalam commented on #4213
Hi @consideRatio @minrk I am an Outreachy applicant.

 My past contribution revolved around grammatical errors and I will like to make further progress in other aspects of documentation writing. Having gone through the discussion here, I realized this is an issue I could work on. I will very much appreciate it if I am being guided. I will like to make an update to the code description referenced a

[2022-11-16 16:13] Harlool opened #4220 "Jupyter logo link behavior change"
Hello,

After upgrading JupyterHub from 1.4.2 to 3.0.0, the behavior of the JupyterHub logo (in the banner) has changed when using the combination of below parameters that allow users to navigate the whole filesystem from their notebook server but still start in their home directory:

c.Spawner.default_url = '/tree/home/{username}'
c.Spawner.notebook_dir = '/'

In JupyterHub 1.4.2, the JupyterHub

[2022-11-17 07:19] caiquanyou commented on #3884
Usage time stat is Very needed, now I can only use the last activity time to accumulate,Hope this feature will be added

[2022-11-17 11:30] minrk commented on #4220
This could be a bug, or it could be a version mismatch between the Hub and user environments.

Can you share the startup logs for the user environment where this happens? Also, `pip freeze` and/or `conda env export` for the user environment will help.

[2022-11-18 08:57] Harlool commented on #4220
The upgrade has been done in a sandbox server where JupyterHub is installed in a conda environment and started by a system account. Then users just logs in JupyterHub and clicks on the logo for testing purpose. Users don't have any personal conda environment at this point. I can only share the conda env export of the JupyterHub environment: [jupyterhub conda env.txt](https://github.com/jupyterhub/

[2022-11-18 09:25] minrk commented on #4220
There are a lot of moving parts! This is apparently a change in nbclassic, which has made it so the logo URL is no longer controlled by default_url, which I think is a bug: https://github.com/jupyter/nbclassic/issues/182

[2022-11-21 15:33] consideRatio opened #4224 "ci: intermittent selenium test"
As seen [in this github workflow run failure](https://github.com/jupyterhub/jupyterhub/actions/runs/3515164623/jobs/5890079884#step:12:115), a test is failing. But it does so intermittently.

[code]

I'm not sure what the fix is for this test, but perhaps its relates to a configuration option to automatically spawn a server after logging in or not? Where we end up getting redirected to the spawn p

[2022-11-21 19:53] manics commented on #4224
Sounds like a race condition? Sometimes the singleuser server starts quickly, sometimes it's slightly slower so the pending page temporarily shows before going to the final page. It should be possible to update the test to be robustly handle both cases.

[2022-11-22 08:37] minrk commented on #4224
Yup, I think we need a more detailed wait or a longer timeout

[2022-11-22 08:56] #4224 closed

[2022-11-22 13:12] consideRatio opened #4226 "What should be part of the jupyterhub source distribution artifact?"
In the [current source distribution (sdist)](https://pypi.org/project/jupyterhub/#files), we seem to package a few things that I wonder if we should.

- docs/
- onbuild/
- ci/
- Dockerfile

Is there guidance on what should and shouldn't be part of the source distribution in a PEP or similar?

[2022-11-24 08:03] minrk commented on #3961
I think having an annotation for stopped servers that records _why_ they stopped last would be super useful. I think that's going to be quite challenging for the different Spawner implementations, but should be doable.  It should be easy enough to at least distinguish between:

- explicitly shutdown, and by whom (this will tell you: user shutdown, idle culler)
- shutdown cleanly (e.g. internal sel

[2022-11-24 09:00] minrk opened #4228 "migrate remaining rst files to myst"
We still have several doc pages in .rst format, while most are .md.

@consideRatio proposed migrating to myst, which I agree we should do, and it may be good to get done before the docs-reorg internship gets underway in a few weeks.

The challenge is the following open PRs (mostly from the outreachy application period last month) touch these rst files:

- [ ] #4209:
  - docs/source/contributing/se

[2022-11-24 09:37] Paul2708 commented on #4033
Although the issue is fixed, it seems that the latest build of `jupyterhub/jupyterhub:3.0.0` does not contain the bug fix.
Is it planned to rebuild the image, or should we wait for the next release?

[2022-11-24 12:46] consideRatio commented on #4033
The image will be unchanged as we don't want to overwrite existing releases, so getting a 3.0.1 or 3.1.0 out is required for this.

[2022-11-24 13:31] minrk commented on #4033
I'll work on making a 3.1 release next week, I think

[2022-11-24 23:46] consideRatio commented on #4220
This seems to be tracked now in jupyter/nbclassic#182, so I'll go for a close of this issue here in jupyterhub. If this was incorrect we can just reopen it!

[2022-11-24 23:46] #4220 closed

[2022-11-30 07:19] jiayuasu opened #4231 "Empty Admin panel on JupyterHub 3.0.0"
### Bug description

JupyterHub 3.0.0 shows an empty Admin panel while JupyterHub 2.3.1 shows the correct panel with the same config.

#### Expected behaviour

![image](https://user-images.githubusercontent.com/10948864/204731081-5a35d29d-264a-411a-acac-f42b39f45eee.png)

#### Actual behaviour

![image](https://user-images.githubusercontent.com/10948864/204731210-f081af1e-a65d-4a55-898b-0dad12522c

[2022-11-30 10:02] somnath0796 opened #4235 "Custom route for localhost H2O UI screen"
I am looking for implementation where post user authentication using a certain kernel, I want to let the user access localhost:54321 UI page  for H2O flow. It should be accessible from https://hostname/hub/user/username/lab/abc.ipynb/h2o that should be routing to localhost:54321. This server will be running in the background on base system.

If anyone has implemented a similar approach, looking fo

[2022-11-30 10:06] manics commented on #4235
Have a look at https://github.com/jupyterhub/jupyter-server-proxy/

If you need more help please use https://discourse.jupyter.org/
Thanks!

[2022-11-30 10:07] #4235 closed

[2022-11-30 13:11] minrk commented on #4231
This is a duplicate of #4033, fixed by #4034. We're planning to make a new release in the next week.

[2022-11-30 13:11] #4231 closed

[2022-11-30 18:11] connorourke opened #4238 "getpwname error"
### Bug description

A user is getting a `Unhandled error starting jupyter-cm2435's server: "getpwnam(): name not found: 'username'` error when trying to log in.

Previously the user has been able to log in.
#### Expected behaviour

User should be created on the system if, as in this case, the user doesnt exist.

I'm using
`c.JupyterHub.authenticator_class = LocalAzureAdOAuthenticator`

and have
[

[2022-11-30 20:52] #4238 closed