[2016-09-26 23:16] SruthiBhavanam commented on #647
Yes, I can stop the server and delete the user with no issues.

[2016-09-27 14:03] mrinmoyprasad opened #783 "LDAP Authenticator does not allow multiple bind template"
c.LDAPAuthenticator.bind_dn_template configuration only takes one value? I have my users spread across multilple OUs

For Eg: 'cn={username},ou=Developers,ou=All Users,dc=abc,dc=ds,dc=xyz,dc=com'
'cn={username},ou=Analysts,ou=All Users,dc=abc,dc=ds,dc=xyz,dc=com'
'cn={username},ou=Bigdata,ou=All Users,dc=abc,dc=ds,dc=xyz,dc=com'

Is there a way I can use multiple bind template in this configuratio

[2016-09-27 15:05] yourinoelnelson opened #784 "Issue when using supervisor or systemd"
When I run jupyterhub on its own I have no issue whatsoever, it runs great, I am authenticating with LDAP into our company Active Directory server which is great. However, when I try to start the server using supervisor it spins up fine but when I go to login I get this error:

[code]
I am going a little stir crazy trying to troubleshoot this. Any help would be appreciated!

[2016-09-27 16:51] #775 closed

[2016-09-28 13:51] mausch commented on #590
I just ran into this situation... I was expecting jupyterhub to pull the image rather than me having to pull it manually on the host. Should I file a feature request about this? Is it something anyone is already working on? Thanks.

[2016-09-28 14:56] mrinmoyprasad commented on #783
Issue created here on source repository
https://github.com/jupyterhub/ldapauthenticator/issues/21

Thanks
Mrinmoy

[2016-09-28 14:56] #783 closed

[2016-09-28 15:32] #784 closed

[2016-09-28 15:44] yourinoelnelson opened #786 "Supervisor can't find proxy"
When I run jupyterhub outside of supervisor it works great but when I use supervisor I get this:

[E 2016-09-28 11:37:16.978 JupyterHub app:976] Failed to find proxy ['configurable-http-proxy']
    The proxy can be installed with `npm install -g configurable-http-proxy`
[I 2016-09-28 11:37:18.965 JupyterHub app:622] Loading cookie_secret from /srv/jupyterhub/cookie_secret
[W 2016-09-28 11:37:19.00

[2016-09-28 16:17] willingc commented on #786
Hi @yourinoelnelson, Would you mind providing some additional information about how you are configuring and running jupyterhub in your environment?

Are you using [configurable-http-proxy](https://github.com/jupyterhub/configurable-http-proxy) when trying to run with or without supervisor?

cc @minrk for any insights

[2016-09-28 16:38] willingc commented on #774
@cindyburian Just looping back to your question to see if you have additional questions or if Min's suggestion helped. :smile:

[2016-09-28 17:09] yourinoelnelson commented on #786
I have installed everything following the remote server install that is linked in the wiki. When I run it without supervisor jupyterhub is calling configurable-http-proxy without issue.

My config goes as follow:

[code]
JupyterHub is run without docker, straight onto the server. Each user have an account.
I am running it at the root level.
To me it seems as if supervisor does not load the path to

[2016-09-28 17:11] yourinoelnelson commented on #786
Should I configure the line below for the absolute path?

`c.JupyterHub.proxy_cmd = ['configurable-http-proxy']`

[2016-09-28 17:22] yourinoelnelson commented on #786
I tried this:
c.JupyterHub.proxy_cmd = ['/opt/miniconda3/bin/configurable-http-proxy']

And that seemed to take care of the proxy issue but now I have this issue:

I 2016-09-28 13:18:55.063 JupyterHub ldapauthenticator:149] LOGIN SUCCESSFUL!
[I 2016-09-28 13:18:55.129 JupyterHub spawner:467] Spawning jupyterhub-singleuser --user=youri --port=51208 --cookie-name=jupyter-hub-token-youri --base-url=/

[2016-09-28 17:34] hani1814 opened #787 "No module named pyspark"
I''ve done a fresh install of jupyterhub only to notice that spark-kernel has been replaced by toree. I've hit an issue with submitting jobs and would be grateful if you could assist

`When I run the code, I get the following error

Error from python worker:
  /usr/local/bin/python2.7: No module named pyspark

the kernel is set-up as follows:

{
  "language": "python",
  "display_name": "Apache To

[2016-09-28 18:09] yourinoelnelson commented on #786
I think I narrowed down all these issue to the fact I setup supervisord to get started on reboot and there must be some issue with the PATH being loaded. If I launch supervisord by itself not through the `service supervisord start` cmd it spins up jupyterhub without issue.
I guess the real question is what do I need to do edit in the` /etc/init.d/supervisord` so that it has the correct PATH depend

[2016-09-28 19:44] minrk commented on #786
Most service tools start with an extremely bare environment by default. For this reason, I often have my supervisor (or other service-launching tool) jupyterhub.conf actually run a `launch.sh`, in which I ensure that a full shell environment is loaded.

You can also set PATH in the environment part of your jupyterhub.conf:

    environment=PATH=/usr/local/bin:/usr/bin:....

[2016-09-28 20:23] yourinoelnelson commented on #786
I used your suggestion for the jupyterhub.conf already and it works pretty well. It is just when I try to have supervisor get launched on any system restart, to make sure jupyterhub is always up and running. I think the .init script I used (the one posted above) is somehow not loading the full environment even though if have the  `PATH=/usr/local/bin:/usr/bin:....` as you have mentionned.

[2016-09-29 08:37] Loulybob commented on #760
I've tried deleting the cookie secret and letting the hub regenerate one and also creating one myself and in both cases the same problem occurs. As for the container image I've been using `jupyter/systemuser` and I don't believe that would be causing this kind of problem?

[2016-09-29 08:54] minrk commented on #786
There's a PATH in your init.d/supervisord, which you can edit. But if you set the PATH in the jupyterhub.conf, it should take precedence over anything inherited from supervisor.

[2016-09-30 14:27] minrk commented on #590
Please do open a feature request on jupyterhub/dockerspawner. I don't believe anyone is working on that, but it shouldn't be too much work.

[2016-09-30 15:03] minrk commented on #787
You might check on your system where pyspark has been installed, and make sure that's on the PYTHONPATH env in the kernelspec. This should probably happen as part of the toree installation, but it's possible that the underlying spark has been upgraded/changed.

[2016-09-30 20:59] jai11 opened #790 "running notebooks can be seen by different users from running tab."
if you click on running tab,

notebooks and terminal can been seen  not launched by the user but running on instnace.

[2016-09-30 21:29] willingc commented on #790
Hi @jai11, I'll need some additional information to understand your issue or question. First, is this the running tab that you mean?

<img width="1221" alt="screen shot 2016-09-30 at 14 26 12" src="https://cloud.githubusercontent.com/assets/2680980/19007482/1952966a-871a-11e6-9ece-319cd2a1b9ed.png">

Next, what is your jupyterhub deployment configuration? OS? Docker or not?

Also, what authenticat

[2016-10-02 02:10] jai11 commented on #790
@willingc  Yes thats the running tab I meant.

OS level, using ldap authenticator . spawner is customized one.

[2016-10-03 07:08] lordloh opened #791 "Is docker image usable?"
I attempted to use the jupyter hub as -

[code]

I had to modify ports to avoid port conflicts.

I then created a user and set the password. Followed by a configuration file and set the ports. Here is the result of `ps aux`

[code]

This is my log from `docker log jupyterhub`

[code]

The last line of this log shows that port 42306 is not reachable. It was never forwarded. How do I fix this? What

[2016-10-03 09:03] minrk commented on #791
The jupyterhub base image only has what it needs to run the Hub itself, not single-user servers. When the Hub is in a container, typically single-user servers are in separate containers, rather than the same container. If you want to run single-user servers in the same container, you can, but you will need to install additional packages (mainly `pip install notebook` for the most basic).

[2016-10-03 09:08] minrk commented on #109
To run JupyterHub with multiple instances behind a load-balancer, you would have to ensure that the load balancer sends requests for the same user to the same Hub instance every time.

[2016-10-03 09:10] lordloh commented on #791
Thank you, I gathered that from docs and issues. I started by thinking that single user servers and the hub were mutually exclusive. And figured from the logs that they were not. I am not able to figure out how to stringing the jupyterhub container to spawning single-user-server containers  on each user login.

Are there docs describing this?

Thank you :-)

[2016-10-03 09:14] minrk commented on #791
https://github.com/jupyterhub/jupyterhub-deploy-docker is a repo containing a full deployment of JupyterHub via docker-compose, where the Hub is in a container, and DockerSpawner is used to spawn the single-user servers.

[2016-10-03 09:28] minrk commented on #790
Can you show a screenshot? These listings are only populated from in-memory objects that have been created when the notebook server spawns things, so I'm not sure how they would get extra items from other users.

[2016-10-03 20:55] cindyburian commented on #774
Sorry for the slow reply - was out all last week.  This fixed it!  One step closer...  Thanks!

[2016-10-03 20:55] #774 closed

[2016-10-04 09:24] hani1814 opened #792 "Jupyter and Kerberos Cluster"
Hi,

I've got a kerborised hadoop cluster that requires a kerberos ticket to run jobs.

-Does jupyter support kerberos authentication and passing on tickets to the cluster?

-Alternatively, we can have a proxy kerberorised account that can impersonate users on the cluster with some form of whitelist

Look forward to your feedback

Hani

[2016-10-04 11:48] vhp1360 commented on #317
Hi,
I tried to ran

 as service  in

according [Run jupyterhub as a system service](https://github.com/jupyterhub/jupyterhub/wiki/Run-jupyterhub-as-a-system-service) after i ran
[code]
below messages were appear :-)

● jupyterhub.service - Jupyterhub
   Loaded: loaded (/usr/lib/systemd/system/jupyterhub.service; disabled; vendor preset: disabled)
   Active: failed (Result: exit-code) since Mon 201

[2016-10-04 11:59] willingc commented on #317
Thanks @vhp1360. :cake: I've added the post you referenced to the [community section of the wiki](https://github.com/jupyterhub/jupyterhub/wiki/Community-Deployment-Notes) since it may help others too.

[2016-10-04 13:52] laurikoobas commented on #637
How did you solve it? I'm facing a very very similar problem.

[2016-10-04 16:09] jai11 commented on #790
@minrk , Here I am using single static user for spawning the single server. and jupyter login users are ldap ones.   so might that be an issue to show all running ones.

[2016-10-04 16:37] minrk commented on #790
Can you post some details about your Spawner? It sounds a bit like your Spawner might be re-using a single server for all users, which would have this effect.

[2016-10-04 18:08] jai11 commented on #790
I am using https://github.com/jupyterhub/jupyterhub/blob/master/jupyterhub/spawner.py

functions def set_user_setuid(username,path) and def _try_setcwd(path):  only.

calling set_user_setuid(username)  function from return call of make_preexec_fn of spawner.

[2016-10-04 18:33] jai11 commented on #790
just in above username is static .. means every time I am running single server with same  user and which is a OS user.

[2016-10-04 19:02] lordloh commented on #219
I am getting a "Blocking Cross Origin API request".

[code]

what do I need to change in my jupyterhub config file?

[2016-10-04 19:14] lordloh commented on #532
I am getting -
[code]

And the error on the browser is -
**Creating Notebook Failed**
An error occurred while creating a new notebook.
Not Found

[2016-10-04 21:16] lordloh commented on #219
What worked for me was -
[code]
The websocket part had to come before the the http part.

[2016-10-05 01:53] armaanreza opened #794 "500 : Internal Server Error"
I have created a system user and password and tried to login into Jupyterhub but getting "500 : Internal Server Error Failed to start your server. Please contact admin."

I have installed Jupyterhub in our hadoop cluseter (edge node) and I am using putty to access edge node. We have installed Anaconda before. We want to use Anaconda (Python27) as standalone and want to use Jupyterhub for user auth

[2016-10-05 07:02] jgsogo commented on #637
I can't remember. I was able to make it work, although I'm not convinced with it. Several issues:
 * I was not able to register new users through jupyterhub interface, I have to do it from the server terminal.
 * Readonly notebooks work ok, but anyone can delete them ¡!

I'm really interested on using it again, but now it is turned off and at this moment I have no need, neither time, to investigat

[2016-10-05 07:05] laurikoobas commented on #637
I found the solution after several days of digging - I was proxying all the traffic to an internal server and it switched the protocol from ws: to http:. After I added a rule before it to proxy the ws traffic separately, it started to work.

[2016-10-05 07:45] robinaly commented on #681
Hi @steverweber , this sounds very useful. Would you be willing to share the complete code?

[2016-10-05 10:59] minrk commented on #790
If it's a different notebook server process, then you won't see any terminals or notebooks from other server processes.

[2016-10-05 14:19] vhp1360 opened #795 "raise KeyError("User %s does not exist." % user.name)"
Hi developers,
i encountered very confusable error, i tried to create jupyterhub.service but after start , it return

the complete messages are:

   Loaded: loaded (/usr/lib/systemd/system/jupyterhub.service; enabled; vendor preset: disabled)
   Active: failed (Result: exit-code) since Wed 2016-10-05 17:39:28 IRST; 5s ago
  Process: 1538 ExecStart=/usr/bin/jupyterhub --JupyterHub.spawner_class=sud

[2016-10-05 14:49] steverweber commented on #681
sure.. when time permits i'll setup a repo with the code and some directions.

[2016-10-05 16:10] vhp1360 opened #796 "case insensetive"
Hi developers,
there is a bug,
i defined *Test* user and add it in jupyterhub_config.py file like `c.Authenticator.whitelist = {'Test'}` but when i tried to run `/usr/bin/jupyterhub -f /etc/jupyterhub/jupyterhub_config.py --debug` it raised below:

[D 2016-10-05 19:38:38.105 JupyterHub application:577] Loaded config file: /etc/jupyterhub/jupyterhub_config.py
[I 2016-10-05 19:38:38.108 JupyterHub a

[2016-10-05 16:26] #795 closed

[2016-10-05 17:44] jai11 commented on #790
But I can see ... Any solution for this.

[2016-10-05 17:46] jai11 commented on #790
In you way .. can you please describe a simple spawner which will run notebook , terminal as static user say test user.

[2016-10-05 18:29] jai11 commented on #735
@minrk  Can we do something for already authenticated connections , once user have logged out.

Any key in config for that to check if user have logged out so time out the session.

[2016-10-05 18:55] minrk commented on #735
There is no mechanism, presently. The only available action is restarting the single-user server.

[2016-10-05 19:10] minrk commented on #790
@jai11 can you show a screenshot of this? What's the URL of the server when you see this, and what's the URL of the server that started the processes that you see but shouldn't? When you click on a termian

I can't think of a way for it to be possible for the running tab to list any processes not started by that server, because it doesn't look at any processes or files to produce the list, only an

[2016-10-05 19:52] jai11 commented on #735
The restart will be a manual process right ?

[2016-10-06 10:44] pcarazo opened #798 "SSL: [CERTIFICATE_VERIFY_FAILED]"
Hello,

we are having problems to stablish properly the certificates.
The server uses a proxy to redirect the virtual machine to the defined IP 224.
We still don't have a domain, so we are using the Server's IP to create the SSL certs with OpenSSL.
The certs are defined in Apache and JupyterHub, but it gives the following error when we try to authenticate:

[code]

If you need more info let me kno

[2016-10-06 10:54] jai11 commented on #735
@minrk can we decrease auto logout time , if yes how can we?

[2016-10-06 16:23] iagomez opened #800 "R plots not showing up"
I'll prefix this description by saying thank you! The works you guys have done is awesome!

This is most likely just a question, but after days on google I have not been able to figure it out. The question is simple, graphs generated with R code are not being displayed in the notebook

**This is my setup**
* OS: RHEL 7
* python --version: Python 3.5.2 :: Anaconda 4.1.1 (64-bit)
* jupyterhub --vers

[2016-10-06 16:39] willingc commented on #800
@iagomez You are very welcome :smile: Thank you for sending a very kind and thoughtful issue report!

Let's see if we can get this sorted out for you. Pinging @takluyver @minrk since I haven't seen this behavior and perhaps they have some ideas on the root cause.

[2016-10-06 17:00] iagomez commented on #800
Thanks @willingc!

Here is also my `R.Version()` in case it helps:

[code]

I compared the output of `options()` in both notebooks and they are identical.

[2016-10-06 17:03] takluyver commented on #800
Is your IRkernel installation up to date.

Pinging @flying-sheep too - another plotting issue :-(

[2016-10-06 17:55] iagomez commented on #800
I just updated the irkernel and now it really broke :(

[code]

Running R code in `jupyter notebook` still works, but running any code (`cat("Hello world")`) from jupyterhub results in the following banner:
![image](https://cloud.githubusercontent.com/assets/2080150/19163239/3621a0a2-8bc9-11e6-9392-87ca7c387559.png)

And these messages now show up in the console:
[code]

I can see that the process

[2016-10-06 18:05] minrk commented on #798
What Authenticator are you using? It looks like your OAuth service is using untrusted certs? If you can't use a trusted cert (If you have a domain, certs are free with letsencrypt), then when you connect to the untrusted server you need to disable ssl verification. Wherever your auth is making that connection, you'll need to pass a flag to disable ssl verification.

[2016-10-06 18:20] ianabc commented on #800
I think this might be https://github.com/jupyter/docker-stacks/issues/210

[2016-10-06 18:41] willingc commented on #800
Perhaps installing from conda-forge might be a good option:

[code]

where `-c conda-forge` just indicates to pull the package from conda-forge instead of Anaconda.

[2016-10-06 19:35] ianabc commented on #800
@iagomez I just realized that you didn't say you were running from docker-stacks. As @willingc says you might have better luck with conda-forge or you can try pinning the r-base version to "r-base=3.3.1 1" that seems to have fixed it in the docker images (https://github.com/jupyter/docker-stacks/commit/54552d36cf0a4b06b6466b6ad4fbb167161e7a29).

[2016-10-06 19:50] iagomez commented on #800
@ianabc Right, I'm not running from docker-stacks.
I'm going to try those 2 options as soon as I can connect to my server again and I'll let you know (not on the network right now).

[2016-10-07 08:17] minrk commented on #796
I think username normalization is not being applied consistently. I'll have to double-check. Are you running master or 0.6.1?

[2016-10-07 09:13] #569 closed

[2016-10-07 11:16] pcarazo commented on #798
Thanks for answering!

With SudoSpawner it works fine, but we'd like to use shibboleth which is giving us headaches so far.
We still don't have a domain so we used the IP as "domain" for the certs.

About the ssl verification, I tried running jupyterhub with using the flag "--no-ssl", but then it can't connect with the kernels. It says "connecting to kernel" all the time.
Did you mean that? Anyway

[2016-10-07 13:11] minrk commented on #798
The SSL verification that's failing is not connections to the Hub, it's the Authenticator connecting to your external shibboleth server. This guy:

[code]

That's where you need to disable certificate validation. From [the docs](http://www.tornadoweb.org/en/stable/httpclient.html?highlight=validate_cert#request-objects), you want to set `validate_cert=False` in the request object here if you know

[2016-10-07 13:50] willingc commented on #800
@iagomez Well, in a bit of further investigation, conda-forge does not appear to have the r kernel :(

I did go ahead and try this install instruction from Anaconda:

[code]

On OS X, this installs the following:

<img width="566" alt="screen shot 2016-10-07 at 06 49 49" src="https://cloud.githubusercontent.com/assets/2680980/19192215/637e165c-8c5a-11e6-9b93-b03cc1a3229d.png">

[2016-10-07 17:11] ianabc commented on #800
Just for reference, this seems to be the right issue in anaconda: https://github.com/ContinuumIO/anaconda-issues/issues/1063

Following along with some of the they do in that issue, you can check which version of r-base you're running with `conda list r-base`. The build is in the third column and 3.3.1 build 3 seems to be broken, which you can confirm by running `R -e 'capabilities()'`
[code]
Look

[2016-10-07 18:34] iagomez commented on #800
![image](https://lifeconfusions.files.wordpress.com/2014/09/super-excited.gif)

Installing `r-base=3.3.1 1` fixed it. I don't think seen a barplot has ever made me happier.
Sorry I posted the question in the wrong project. With so many layers it's hard to figure out where to ask.

Thank you so much for your help @everyone. I really appreciate your time and effort!

Have a great weekend!

[2016-10-07 18:34] iagomez commented on #800
I'm closing this issue now. Thanks again!

[2016-10-07 18:34] #800 closed

[2016-10-07 19:19] takluyver commented on #800
Thanks @iagomez , glad you got it working.

[2016-10-07 21:16] willingc commented on #800
Excellent! Great help @ianabc :-)

[2016-10-09 12:36] pylotpro opened #803 "Is there a way to use Django in an Ipython Notebook? How?"
Hi, my group are trying to learn Python and Django and need use jupyterhub, someone know the way to use Django in the notebooks?
thanks in advance,

[2016-10-09 16:32] willingc commented on #803
Hi @pylotpro,

That's great that you and your group are learning Python and Django. As you know, learning Python with the notebooks is helpful.

I'm confused as to why you would wish to run Django in a notebook.

I would highly recommend using the [Django Girls Tutorial](https://djangogirls.org/resources/) and the [Django docs tutorial](https://docs.djangoproject.com/en/1.10/intro/) to learn Djang

[2016-10-09 20:44] pylotpro commented on #803
Hi @willingc,
Thanks for your quick response, yes for Django think is better user Django Girls Tutorial && Django docs tutorial.

I searched all afternoon and finally found the tool you need:
[jupyterhub-deploy-teaching](https://github.com/jupyterhub/jupyterhub-deploy-teaching)

But need step by step installation guide, I have a clean VPS and tried this and don't successes..
[jupyterhub+nbgrader](

[2016-10-09 21:22] willingc commented on #803
Hi @pylotpro,

My recommendation would be to do the [JupyterHub tutorial](https://github.com/jupyterhub/jupyterhub-tutorial). It coordinates with a talk that Min did at PyData London. It includes oauthenticator, security and using a proxy. You will learn how to deploy JupyterHub.

We're updating some things for the JupyterHub teaching deployment based on some updates for the Ansible scripts that t

[2016-10-10 12:55] pcarazo commented on #798
After setting that flag, these errors appear:

[code]

[2016-10-10 12:57] minrk commented on #798
That looks like your OAuth server isn't sending a JSON response, but your client is decoding it without checking whether it exists. Is your `shibd.py` available online somewhere?

[2016-10-10 13:11] pcarazo commented on #798
Here it is:

[code]

[2016-10-10 13:12] minrk commented on #798
When you get the response, you'll want to check for error codes, etc. in the response. Given that it's not valid JSON, there is probably an error.

[2016-10-10 17:45] willingc commented on #300
Closing this issue as it's been inactive for several months. Please feel free to open a new issue at the [jupyter/help repo](https://github.com/jupyter/help) or reopen this issue. Thanks! :sunflower:

[2016-10-10 17:45] #300 closed

[2016-10-10 17:47] willingc commented on #446
Since we have reference deployments now, I'm going to go ahead and close this.

[2016-10-10 17:47] #446 closed

[2016-10-10 17:48] willingc commented on #403
Closing this issue as it's been inactive for several months. Please feel free to open a new issue at the [jupyter/help repo](https://github.com/jupyter/help) or reopen this issue. Thanks! :sunflower:

[2016-10-10 17:48] #403 closed

[2016-10-10 17:50] willingc commented on #449
I'm retagging this issue as an enhancement request.

[2016-10-10 17:51] willingc commented on #437
@ryanlovett

Closing this issue as it's been inactive for several months. Please feel free to open a new issue at the [jupyter/help repo](https://github.com/jupyter/help) or reopen this issue. Thanks! :sunflower:

[2016-10-10 17:51] #437 closed

[2016-10-10 17:55] willingc commented on #546
Hi @rawrgulmuffins,

Closing this issue as it's been inactive for several months. Please feel free to open a new issue at the [jupyter/help repo](https://github.com/jupyter/help) or reopen this issue. Thanks! :sunflower:

[2016-10-10 17:55] #546 closed

[2016-10-10 17:57] willingc commented on #486
@minrk, @vbraun,

Closing this issue as it's been inactive for several months. Please feel free to open a new issue or reopen this issue. Thanks! :sunflower:

[2016-10-10 17:57] #486 closed

[2016-10-10 18:00] willingc commented on #579
Closing this issue as it's been inactive for several months. Please feel free to open a new issue at the [jupyter/help repo](https://github.com/jupyter/help) or reopen this issue. Thanks! :sunflower:

[2016-10-10 18:00] #579 closed

[2016-10-10 18:07] willingc commented on #677
Hi @aidaph,

I hope you are doing well and that you have resolved this.

Closing this issue as it's been inactive for several months. Please feel free to open a new issue at the [jupyter/help repo](https://github.com/jupyter/help) or reopen this issue. Thanks! :sunflower:

[2016-10-10 18:07] #677 closed

[2016-10-10 18:11] willingc commented on #587
@robnagler @minrk Should this be kept open?

[2016-10-11 08:55] minrk commented on #587
I never did answer the last question about queues. I don't know of one, though. The [everware](http://everware.xyz) folks are providing user-selectable images based on GitHub repos (like binder for JupyterHub). #302 already covers the main feature proposal of switching to a web hook for registration.

[2016-10-11 14:22] robnagler commented on #587
I'm fine closing this. I'll create a new issue when we are ready to do
something about this.

[2016-10-11 15:36] willingc commented on #587
Thanks @minrk and @robnagler :sunny:

[2016-10-11 15:36] #587 closed

[2016-10-11 18:26] techzilla opened #806 "Initial Login, Home directory creation"
Is their any reason the initial user dir creation doesn't work?  It appears you must login the box via SSH, the system would then autocreate your home directory, then you can get jupyterhub to issue the user a notebook.

[2016-10-11 22:32] willingc commented on #806
Hi @techzilla,

I'm not quite sure from your description what "initial user dir creation" means. Please provide a bit more context on what you have set up: os, versions, etc. You may also run `jupyterhub --debug` for additional information when running JupyterHub. Thanks.

[2016-10-11 23:56] willingc commented on #794
Hi @armaanreza,

Here's some troubleshooting information about 500 errors and JupyterHub: https://jupyterhub.readthedocs.io/en/latest/troubleshooting.html#error-after-spawning-my-single-user-server

[2016-10-12 00:01] willingc commented on #792
Hi @hani1814,

In issue https://github.com/jupyterhub/jupyterhub/issues/681, @steverweber did quite a bit of work this summer on kerberos. You may wish to follow the progress https://github.com/jupyterhub/jupyterhub/issues/681#issuecomment-251697186

You may also ask on the jupyter mailing list for others that may have implemented something similar to what you are looking for. Thanks!

[2016-10-12 00:02] willingc commented on #791
Hi @lordloh,

Closing this issue since it appears to be resolved. Please feel free to leave an issue at [jupyter/help](https://github.com/jupyter/help) or leave a comment requesting this issue be reopened if needed. Thanks to all!

[2016-10-12 00:02] #791 closed

[2016-10-12 02:24] armaanreza commented on #794
Hi @willingc,

Thanks a lot for the link.

[2016-10-12 08:54] akshar-raaj commented on #291
Worked for me too! Thanks @mattwg and @jhamrick

[2016-10-12 14:11] pocin opened #808 "Conda packages information error"
Hi devs,
It looks like I managed to get jupyterhub up and running. I can log in using system accounts, create notebooks and run code.
However when I click conda tab, I get the following error.
![invalid_conda_envs](https://cloud.githubusercontent.com/assets/8642344/19312928/dd88a942-9094-11e6-934f-4962113480b3.png).

I think I changed something in the config because when I first logged in after fr

[2016-10-12 14:20] minrk commented on #808
The conda tab is not part of JupyterHub or any Jupyter project, but a plugin provided as part of Anaconda. I believe this is a bug in the `nb_conda_kernels` package, and can be fixed with an update:

    conda upgrade nb_conda_kernels

You will have to restart your notebook server to see the results.

[2016-10-12 14:21] #796 closed

[2016-10-12 16:11] yuvipanda commented on #343
https://github.com/jupyterhub/systemdspawner is released now \o/

[2016-10-12 16:14] Fleckenteufel opened #809 "Stop Server freezes jupyterhub"
If I use the "Stop My Server" button to stop the jupyter notebook server, the entire jupyterhub (also for the other users) becomes unresponsive. When I try to restart the server, I get the following error message:

[code]

The way to get it running again is as suggested [here](http://stackoverflow.com/questions/35183829/jupyterhub-error-503-proxy-target-missing) to kill the proxy process manually.

[2016-10-12 16:40] yuvipanda commented on #809
Hello!

Can you provide us the contents of your jupyterhub_config.py file? And also possibly the complete output of `ps auxf` *while* jupyterhub is hanging? And the logs from jupyterhub when you hit 'stop my server'? Thanks!

[2016-10-12 16:45] Fleckenteufel opened #810 "Password not passed on to PAM when opening session"
I try to open a PAM session on login at jupyterhub. I want to use this for automatically mounting a user folder with the user credentials entered on login. The PAM session gets successfully opened, as I see in the logs, but pam_mount states that it doesn't have the password (it tries to retrieve it interactively). Consequently the mounting fails. Here an excerpt of the `auth.log`:

[code]

If I lo

[2016-10-12 18:08] pocin commented on #808
Thanks @minrk! I am already at the newest version and it did not help. However I will move this discusion to ![relevant places](https://github.com/Anaconda-Platform/nb_conda/).

[2016-10-12 18:08] #808 closed

[2016-10-12 22:36] nnashok commented on #752
Is there any progress on this? I've almost decided to use Kubernetes with JupyterHub. Having a supported spawner would be great.

[2016-10-12 22:46] danielfrg commented on #752
Sorry that I was out for a while I would like to see progress here.

pykube is nice to connect to the API but it doesn't provide an object creation like the swagger objects do.

I still feel that some code that translates from python objects to json representation with some validation is very useful but like I mentioned before this might just be me that I have used this type of tools (like protobu

[2016-10-12 22:57] yuvipanda commented on #752
I too agree on pykube being awkward middle ground where it is a bit worst
of both worlds...

On Wed, Oct 12, 2016 at 3:46 PM, Daniel Rodriguez <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2016-10-13 02:34] yuvipanda commented on #752
I'm going to set aside Saturday to play around with the swagger generated code for the k8s api. Hopefully, that'll give me enough information to either accept that they're useful in this case, or stronger points on why we shouldn't use them. Either way, let's try to get this resolved by end of next week?

I'd also like others to chime in :) If other members of the community have strong feelings on

[2016-10-13 05:45] willingc opened #812 "Generate config file with a path produces error"
`jupyterhub --generate-config -f /etc/jupyterhub/jupyterhub_config.py` produces the following error.

<img width="753" alt="screen shot 2016-10-12 at 22 34 56" src="https://cloud.githubusercontent.com/assets/2680980/19337689/2d05ef52-90cc-11e6-9700-b81deb7071c5.png">

Looking at the tests, it seems as if we are only testing the filename not the path+filename.

The docstring seems to indicate that

[2016-10-13 06:06] Fleckenteufel commented on #809
This is my effective jupyterhub_config.py file:

[code]

The jupyterhub logs are as follows:

[code]

For the output of `ps auxf` there are a lot of other processes running that I don't want to all post here. But what I think is important for this issue:

[code]

The jupyterhub process seems to have ended.

I realized that the same issue also appears if I want to stop my jupyterhub service (I crea

[2016-10-13 07:10] willingc commented on #810
Hi @Fleckenteufel, Is this the same deployment as in #809?

[2016-10-13 08:08] Fleckenteufel commented on #810
Yes. It is identically the same system.

[2016-10-13 08:25] Fleckenteufel commented on #809
Maybe this is interesting: I get a Segmentation Fault as well, if I try to close a session with `pamtester`:

[code]

However, doing opening and closing in one run, it works:

[code]

I don't know if I just used pamtester wrong, or if this is related to what happens in jupyterhub.

[2016-10-13 09:19] pcarazo commented on #798
I've gotten the string which is being decoded.
In the hub that is working we get properly the body (json) and user. But in this one we get the following, and I don't understand why:

[code]

I've checked and JS is enabled in the browsers, and I've updated JS as well in the machine.

[2016-10-13 11:14] minrk commented on #752
I'm not generally a fan of generated client APIs, and I don't love the idea of maintaining our own Kubernetes API wrapper (even if it is generated). Is there really nobody in the world using Kubernetes from Python?

[2016-10-13 11:20] Fleckenteufel commented on #305
On my system `jupyter --path` says that I can put config files into `/usr/local/etc/jupyter`, which would be applied globally for every instance of jupyter. In there I created a folder `nbconfig` and can put there the usual config files where I specify the extensions to be loaded. For example in `/usr/local/etc/jupyter/nbconfig/notebook.json`:

[code]

And in `/usr/local/etc/jupyter/nbconfig/tree.

[2016-10-13 11:23] minrk commented on #812
Does `/etc/jupyterhub` exist? This is an error you get when trying to create a file in a directory that is not present.

[2016-10-13 14:27] willingc commented on #812
Ahh...got it. Works when directory is present. Opened a PR to emit a more helpful error message.

[2016-10-13 14:30] minrk commented on #760
Can you install and run curl or wget in the container? Or run ping in the container? I'm trying to establish whether the container can connect to the Hub. This is usually due to having the wrong value for hub_ip. You can try other values, as well.

[2016-10-13 14:35] willingc commented on #752
Perhaps work with Eldarion folks (who typically are very nice) to improve pykube, if possible, as Eldarion will likely continue to maintain pykube since their biz depends on it.

[2016-10-13 15:41] Lawiet opened #814 "Jupyterhub cant initialize R in Jupyter"
Good day!

I tried initialize jupyter with jupyterhub in SuSE 11 but trow this exeption
![image](https://cloud.githubusercontent.com/assets/11633133/19355779/8da04d22-9139-11e6-881c-0786ffee33d0.png)

I researched the error is generated by not initialize X11 but he put the "xvfb" command and remains the same

[2016-10-13 15:46] Loulybob commented on #760
I can run ping and wget but not curl. Ping works for both the external ip and the docker0 ip. wget hangs when trying to connect the external ip and the docker0 address over the port I'm using. I'm changing hub_ip between my docker0 and eth0 addresses but I can't think of any other ip addresses I can use other than these two as 127.0.0.1 doesn't work period (web browser refuses to connect). I don't

[2016-10-13 15:52] danielfrg commented on #752
Same here.

There is alternatives and I have tested some of them but none of them is really complete or up to date (`v1beta` api for deployments) for example: https://github.com/mnubo/kubernetes-py

There is also some pkgs in pypi that have the swagger generated code: https://pypi.python.org/pypi/python-k8sclient. I don't know whats the source for that library but I could maintain something simila

[2016-10-13 23:16] slacmshankar commented on #219
One more Apache configuration as an example; I'm using an existing httpd-2.4.6-40 instance and placing this within /jupyterhub, i.e `c.JupyterHub.base_url = '/jupyterhub'` The order of the Location and LocationMatch seemed to be crucial; otherwise,  I'd get a various websocket related failures (HTTP 400's) with sessions/kernels etc. Note this is the opposite of what others had experienced. So if y

[2016-10-14 09:10] ricdea opened #816 "jupyterhub.sqlite chunks my username in to chars"
I'm trying to set up jupyterhub on centos 7 but when running the jupyterhub command in the terminal, I get an error message like this:

[code]

On deleting the jupyterhub.sqlite instance, and rerunning, I'd always get a similar error, but with a different character from my username.

Here's the contents of the Users table:
[code]

All the users it has created are just single characters from my use

[2016-10-14 11:40] minrk commented on #814
Hm, it is a bit strange that X11 is being loaded immediately. Is this happening *immediately*, or is it happening only when you run certain commands? The most likely thing I can think of is loading a library that expects X, e.g. `import matplotlib.pyplot`. If it's matplotlib, you may need to do:

    %matplotlib inline

before importing matplotlib, to ensure that a GUI backend that needs windows i

[2016-10-14 11:46] minrk commented on #760
What OS/distro and docker version? What do you get from `conda list` or `pip list` on the host?

`hub_ip` tells the hub what IP to listen on. `hub_ip_connect` is only to be used if the ip containers should use to connect is different from `hub_ip` (e.g. fancy virtual network things, or NAT going on, or `hub_ip = '0.0.0.0'`, which is 'all interfaces' when binding, but doesn't tell you how to connec

[2016-10-14 11:48] minrk commented on #760
Are you running your browser on the same machine as the Hub? If so, can you try visiting `http://<hub_ip>:8081/hub/api/`? You should get a reasonable HTTP 403 error page.

[2016-10-14 11:52] minrk commented on #816
This is most likely caused by a typo in a config file, such as:

[code]

which is equivalent to:

[code]

when you want:

[code]

(same goes for whitelist)

[2016-10-14 12:09] Lawiet commented on #814
This Jupyter with jupyter
![image](https://cloud.githubusercontent.com/assets/11633133/19386911/1601be48-91e5-11e6-8b19-da47825944b4.png)

and this in R

![image](https://cloud.githubusercontent.com/assets/11633133/19386987/62495e5a-91e5-11e6-9d83-dc9a66a5295a.png)

[2016-10-14 12:20] minrk commented on #814
Oops, I missed the R part. @takluyver do you know how to avoid R trying to connect to an X display?

[2016-10-14 12:37] takluyver commented on #814
*Sigh*, that's been a recurring problem. The plotting device can work in different ways, some of which need an X display and some of which don't. Unfortunately, R sometimes seems to lie about its capabilities, leading us to believe it can do things that it can't. @flying-sheep understands this stuff better than me.

[2016-10-14 13:33] ricdea commented on #816
Thanks. That worked.

[2016-10-14 13:33] #816 closed

[2016-10-14 13:58] flying-sheep commented on #814
anaconda ships a broken R ATM. downgrading to 3.3.1-1 works. ContinuumIO/anaconda-issues#1063

[2016-10-14 14:12] takluyver commented on #814
Thanks Philipp :-)

[2016-10-14 14:14] Lawiet commented on #814
@flying-sheep this version is running but throw error

![image](https://cloud.githubusercontent.com/assets/11633133/19390250/410a1634-91f5-11e6-9341-9d5b40941767.png)

In Suse 11.4 i have not found how to install the package cairo

![image](https://cloud.githubusercontent.com/assets/11633133/19390651/01bd4ee0-91f7-11e6-9438-f05d42ed8cd6.png)

[2016-10-14 14:40] Lawiet commented on #814
Thank the solution:
Install
conda install --quiet -c r r=3.3.1
conda install --quiet -c r r-cairo

but that action uninstall the package ROracle

[2016-10-14 15:41] flying-sheep commented on #814
3.3.1 isnt necessarilay 3.3.1-1!

[2016-10-14 15:57] tamasgal commented on #394
Any news on that? We are currently also looking for a solution to make publicly viewable notebooks...

[2016-10-14 17:39] ianabc commented on #219
@slacmshankar that _almost_ works for me. I get the initial connection but whenever I try to restart a running kernel it fails and I see connection failed messages in the console.
[code]
Could you try restarting a running kernel on your instance and see if you get the same behaviour?

[2016-10-14 22:38] slacmshankar commented on #219
Apologies; noob here. How do I "restart a running kernel on your instance"?

[2016-10-14 23:08] ianabc commented on #219
Hi @slacmshankar me too! I just mean select Kernel->Restart from the menu system (screenshot attached).
![screen shot 2016-10-14 at 4 03 59 pm](https://cloud.githubusercontent.com/assets/1831640/19405042/2e0fd036-9228-11e6-937d-13daab7f36c8.png)
When I do that from Chrome it doesn't reconnect to the running kernel and I get a bunch of error messages in the console.

I think I've got the problem na

[2016-10-14 23:16] slacmshankar commented on #219
Aah; confirmed! On Google chrome, I get the same behavior
`WebSocket connection to '...' failed: One or more reserved bits are on: reserved1 = 0, reserved2 = 1, reserved3 = 1`

Works just fine in Firefox; no problems there.

[2016-10-14 23:40] ianabc commented on #219
Thanks @slacmshankar I've opened another issue at https://github.com/jupyter/notebook/issues/1835 I think that might be where the root of the problem is (notebook) and this issue is closed. I'll try to play with it this weekend and see if I can make any progress.

[2016-10-18 08:30] vhp1360 commented on #794
Hello experts,
i encountered a problem.
i could run jupyterhub with `jupyterhub -f jupyterhub_config.py` login page would come , loggin done without any problem.
but when i run as service with below script
[code]

Failed to start your server. Please contact admin.

would appears.
there are some log in debug mode in terminal

Oct 18 11:53:52 cloud dbus[1405]: [system] Activating via systemd: servic

[2016-10-19 08:01] yuvipanda commented on #752
I spent more time looking through the generated code, and I continue to be unconvinced we should include that. However, I'd also like it to be flexibile, so we can use it to generate the JSON objects in the future if we need to. So here's what I'm going to do:

1. Cleanup https://github.com/yuvipanda/jupyterhub-kubernetes-spawner to separate code that generates the objects from the code that makes

[2016-10-19 08:01] yuvipanda commented on #752
@nnashok I don't think you need to wait for this to settle before using it - I think both the spawners right now are already being used (mine is in use at Wikimedia rn), and am pretty sure it will not be too hard to migrate off that / upgrade from that eventually. Feel free to start using either one :)

[2016-10-19 08:43] willingc commented on #752
@yuvipanda I'm at Grace Hopper this week but happy to review docs and iterate with you.

[2016-10-19 15:54] willingc commented on #814
Thanks @flying-sheep and others for helping with @Lawiet's R issue. I'm going to go ahead and close this issue as I think it's **resolved by R version 3.3.1-1**.

[2016-10-19 15:54] #814 closed

[2016-10-20 06:44] yuvipanda commented on #752
@willingc awesome! I'm currently working on docs to setup a local dev environment that enables rapid development, will push it when done and poke you :)

[2016-10-20 23:24] yuvipanda commented on #752
You can see the code improvements I'm making in the https://github.com/yuvipanda/jupyterhub-kubernetes-spawner/tree/fixup branch.

[2016-10-21 00:25] angelapper commented on #323
same problem, when I want to setup jupyterhub on centos, did we get a solution?

[2016-10-21 00:28] sirgogo commented on #323
I gave up, switched to Intel Python which has a conda install that works. Alternatively, you might try `adduser` instead of `useradd`, since I've read there are some subtleties.

[2016-10-21 07:51] yuvipanda opened #819 "Surprising behavior when no state is kept in spawner"
In https://github.com/jupyterhub/jupyterhub/blob/master/jupyterhub/app.py#L1061, we assume that if a user's spawner has no saved state, the server doesn't exist. This isn't necessarily the case for all spawners - the kubernetes spawner right now doesn't actually need to store any state (since it can derive all the state it needs from configuration + username), and this leads to super confusing beh

[2016-10-21 10:33] willingc opened #820 "Remove IPython from doc"
In the first paragraph, there is ~~IPython~~. Please remove.

http://jupyterhub.readthedocs.io/en/latest/howitworks.html

[2016-10-21 10:35] willingc opened #821 "Remove "Writing a Custom Authenticator" title"
In http://jupyterhub.readthedocs.io/en/latest/authenticators.html, the heading exists with no content. Please remove.

[2016-10-21 10:37] willingc opened #822 "Remove "Writing a custom spawner" heading"
In http://jupyterhub.readthedocs.io/en/latest/spawners.html#writing-a-custom-spawner, the heading exists but there is no content. Please remove the heading.

[2016-10-21 10:40] willingc opened #823 "Add a brief sentence to Writing Services"
In http://jupyterhub.readthedocs.io/en/latest/services.html, we have the user unfriendly, `TODO`, as content. Please replace with a more thoughtful sentence.

[2016-10-21 10:54] willingc commented on #821
Correction: Add a sentence and a link to tutorial http://jupyterhub-tutorial.readthedocs.io/en/latest/authenticators.html

[2016-10-21 10:55] willingc commented on #822
Correction: Add a sentence and a link to the tutorial http://jupyterhub-tutorial.readthedocs.io/en/latest/spawners.html

[2016-10-21 14:21] minrk commented on #819
In every Spawner that exists so far, I think. I can remove this, but I'll need to be careful, because it puts existing Spawners into a new undefined condition. As it stands, `poll` will never be called if a Spawner has been through neither `load_state` nor `start`. Removing the assumption that Spawners have state means that `poll` must be able to be the first method called, before the first call t

[2016-10-21 20:10] yuvipanda opened #825 "jupyterhub update-db fails"
When I run it, I get:

[code]

I didn't capture the full stack trace though.

[2016-10-22 08:37] yuvipanda commented on #752
A significant chunk of my refactoring work is done, and I'm maintaining a PR with TODO items at https://github.com/yuvipanda/jupyterhub-kubernetes-spawner/pull/9 :) I'll spend some time early next week:
1. writing a lot more docs (I've already written a good chunk of inline docs)
2. Adding first class support for persistent volume claims (there's already good support for volumes), esp. alongside d

[2016-10-22 08:38] yuvipanda commented on #752
(@minrk @willingc @danielfrg feel free to comment on the PR!)

[2016-10-23 07:02] vhp1360 commented on #796
sorry for late,
unfortunately could not understand what did you write, but as you see in last line , python generate

message as there was not 'test' user. i created 'Test' user.

[2016-10-23 07:04] vhp1360 commented on #794
Hi @willingc,
could you please assist me?

[2016-10-23 12:34] willingc commented on #794
Hi @vhp1360,

Thanks for including the log info.

Copying @yuvipanda and @mirnrk as they may have some insights.

@vhp1360, There is also a [systemdspawner](https://github.com/jupyterhub/systemdspawner) that may meet your needs.

[2016-10-23 14:54] vhp1360 commented on #794
Hi @willingc ,
thanks for your quick reply,
i tried that but the same result.
i guessed the main issue is

[2016-10-23 17:49] willingc commented on #794
@vhp1360 Check that you have set up the shadow password correctly: https://github.com/jupyterhub/jupyterhub/wiki/Using-sudo-to-run-JupyterHub-without-root-privileges#linux

Are you using version 0.3 or 0.2 of the sudospawner?

[2016-10-24 02:36] yuvipanda commented on #794
@vhp1360 I just pushed a new version of systemd spawner (0.9.7) that defaults to not using sudo. Can you try that?

Can you also tell me what distro you are using?

[2016-10-24 06:00] vhp1360 commented on #794
Hi all,
first sorry for my English, because it isn't my native lang.
@willingc ,regarding _shadow_ ,I did it but when i did not get my expected i restore that.
  actually i have question: i installed it as superuser and when i run it in Terminal with `/usr/bin/jupyterhub -f jupyterhub_config.py` command, it works well,so why when i ran it as service i faced error while i did both of them as root?

[2016-10-24 06:24] yuvipanda commented on #794
@vhp1360 No need to apologize for your english - you are communicating clearly :)

Can you paste the contents of your jupyterhub_config.py, as well as the error you get with newer jupyterhub-systemdspawner?

[2016-10-24 06:43] vhp1360 commented on #794
@yuvipanda ,
sorry man , you are write, it works now properly.
actually there are a new seLinux issues, i should handle them.
now i permissive it and it seems worked.
still i have a bit question: why we need to grant /etc/shadow read access to for example jupyterhub group, while when we run jupyterhub in command without this access?

any way many Thanks.

[2016-10-24 06:59] yuvipanda commented on #794
Awesome! Glad to hear systemdspawner is working for you :) I do not believe you need to do anything with /etc/shadow for systemdspawner though - I think sudospawner might need it, but I haven't used it myself.

I want to hear your seLinux issues too! I'm very interested in integrating SELinux support into systemd, so letting me know what you're doing with it will be very useful :) Thanks!

[2016-10-24 09:30] vhp1360 commented on #794
@yuvipanda , regarding _*shadow*_ you are right again :-),
regarding seLinux:
module Mymodule 1.0;

require {
	type unconfined_t;
	type chkpwd_exec_t;
	type systemd_systemctl_exec_t;
	class file entrypoint;
}

#============= unconfined_t ==============

#!!!! This avc is allowed in the current policy
allow unconfined_t chkpwd_exec_t:file entrypoint;
allow unconfined_t systemd_systemctl_exec_t:file

[2016-10-24 13:03] willingc commented on #794
@vhp1360 I'm glad the systemdspawner works Thanks @yuvipanda.

The sudospawner is the one that needs the /etc/shadow settings as this spawner is the most complicated to set up. It's great that we now have a systemdspawner to simplify the process.

[2016-10-24 13:44] vhp1360 commented on #794
@willingc  shall we keep this issue open and waiting to @yuvipanda replies regarding seLinux issue?

[2016-10-24 14:05] willingc commented on #794
@vhp1360 Sure thing! Reopening now.

[2016-10-24 14:11] willingc commented on #794
@vhp1360 Thanks for being so helpful with log info. A small tip for the future: Code blocks will display more compactly when preceded and followed by ``` instead of > since it will display in a monospace font.

For example,

[code]

[2016-10-24 17:05] yuvipanda commented on #794
@vhp1360 that's useful! I'll refer back to this when I start doing SELinux stuff! Thanks :)

[2016-10-24 17:05] #794 closed

[2016-10-24 17:48] yuvipanda commented on #794
@armaanreza did you get your issue fixed as well?

[2016-10-25 01:22] yuvipanda commented on #343
@ellisonbg do you think this issue can be closed now?

[2016-10-25 03:05] eburgueno commented on #664
Hello, I was running into this issue recently, which is similar to #424. I couldn't get it to work until I found this coverage.

One thing I noticed is that all of the test cases above assume that userA server is not running. In my tests, redirection *only* works when userA server is not running.

is this the intended/expected behaviour? would it be possible to make the URL redirection work even i

[2016-10-25 06:21] #822 closed

[2016-10-25 06:53] vhp1360 commented on #794
yes, it's totally OK!
I'm appreciate if you inform me when you pass seLinux issue.

thanks.

[2016-10-25 11:33] minrk commented on #825
What JupyterHub version is this? The `jupyterhub/alembic.ini` path doesn't make sense with master, because master writes a temporary .ini at call-time.

[2016-10-25 11:43] minrk commented on #820
closed by #828

[2016-10-25 11:43] #820 closed

[2016-10-25 11:48] minrk commented on #664
@eburgueno are you running from master? I believe the case of both logged in and not is fixed in master (0.7), but there are still issues in 0.6.1. I'm working on release notes and docs for 0.7 now.

[2016-10-25 18:35] yuvipanda commented on #794
Awesome! Glad to hear systemdspawner is working for you :) I do not believe
you need to do anything with /etc/shadow for systemdspawner though - I
think sudospawner might need it, but I haven't used it myself.

I want to hear your seLinux issues too! I'm very interested in integrating
SELinux support into systemd, so letting me know what you're doing with it
will be very useful :) Thanks!

On Sun,

[2016-10-25 19:38] eburgueno commented on #664
@minrk I was using both the master branch and 0.6.1. If userA has a server running, redirection won't work on either version.

[2016-10-26 09:16] #823 closed

[2016-10-26 12:14] minrk commented on #664
@eburgueno thanks, I'll make sure that exact case is tested, and track down the bug. Just to be clear, the case is:

- userA is logged in, server running
- userB is logged in, server running
- userB tries to visit `/user/userA/foo/bar`

correct?

[2016-10-26 14:17] mpekalski commented on #327
I get the similar error. I try to run JupyterHub, with DockerSpawner, using SystemUser. As for now just for tests I run JupyterHub wih ` sudo jupyterhub -f jupyterhub_config.py  --no-ssl`

For me it looks like a side effect of failing to launch docker by the spawner. I do not know yet why the docker does not get spawned.  Anyway, below is the full log before the error occurs. What I try to do sinc

[2016-10-26 17:11] zoltan-fedor opened #833 "Jupyterhub Proxy segfault on CentOS 7 when using SSL"
I was happily running JupyterHub on a CentOS 7 server for a while and suddenly after a server reboot it didn't start up anymore, so started investigating.

It turns out, that the JupyterHub Proxy kept restarting after poping a kernel segfault error:
`Oct 26 16:47:23 jupyterhub kernel: [  411.045850] traps: node[1507] general protection ip:2b1e33a1deb0 sp:7ffeb2b53150 error:0 in libcrypto.so.1.0.1e

[2016-10-26 18:15] willingc opened #834 "Remove or edit unreachable code block"
@minrk It looks like `_check_user_model` has a few code lines that don't seem to be reachable. Should we remove the lines after the return statement? https://github.com/jupyterhub/jupyterhub/blob/master/jupyterhub/apihandlers/base.py#L144

[2016-10-26 20:23] Scrypy commented on #821
Looking to solve this one. The `spawners.md` doc still needs a period. Should I fix both files and then do one commit for each one of them in a single pull request? Something like:
`git add docs/source/spawners.md`
`git commit -m "Updated spawners docs"`
`git add docs/source/authenticators.md`
`git commit -m "Updated authenticators docs"`
Or just one commit for both of them?

[2016-10-26 21:06] eburgueno commented on #664
Here's the coverage for that case:
* userA is logged in, server running. userB is logged in, server running
  * userB tries to visit `/user/userA/foo/bar`: URL does not redirect.
  * userB tries to visit `/user/userA/tree/foo/bar`: URL redirects to `/user/userB/tree`.
  * userB tries to visit `/user/userA/notebooks/foo/bar`: URL redirects to `/user/userB/tree`

[2016-10-26 21:12] willingc commented on #821
@Scrypy Which ever you feel most confident with is fine with me. The method that you have written here is fine. Thanks.

[2016-10-26 21:25] #834 closed

[2016-10-26 22:08] 0x00b1 opened #836 "Redirect loop after starting server"
My JupyterHub installation uses GitHub authentication. It works well for a dozen users, however, for one user, myself, I enter a redirect loop when starting the server. It’s completely bizarre. The only difference between my user and the other users is that my username starts with a digit. Any ideas?

[2016-10-26 22:09] 0x00b1 commented on #836
If it matters, I’m able to access the admin page without issue.

[2016-10-26 22:28] Scrypy commented on #821
I just realized @kwkerstein started a PR before me on this issue. Sorry about that!

[2016-10-26 22:44] #821 closed

[2016-10-26 22:56] willingc commented on #821
@kwkerstein If you want to pair on a different issue, please let me know.

[2016-10-27 09:34] minrk commented on #836
Do you see anything in the logs? What Spawner are you using?

[2016-10-27 09:36] minrk commented on #833
It might be that you need to rebuild/reinstall whatever was linking openssl after upgrading openssl under it (perhaps nodejs itself?).

[2016-10-27 13:16] 0x00b1 commented on #836
@minrk I don't see anything unusual in the logs:

[code]

We are using the default spawner.

[2016-10-27 13:23] ocefpaf commented on #444
I am teaching a course in Brazil, where many have non-ascii characters in their path, and some of the students are suffering from this. I did not test https://github.com/jupyterhub/jupyterhub/issues/444#issuecomment-222372466 solution myself because I do not have a Windows machine but even if that works my students are not tech savy nor-Python programers, so asking them to fix this by themselves i

[2016-10-27 15:33] #819 closed

[2016-10-27 15:47] willingc commented on #836
@minrk Mentioning this unicode issue here since it may relate: https://github.com/jupyterhub/jupyterhub/issues/444#issuecomment-256639192

[2016-10-27 17:22] ianabc commented on #833
I see something very similar to this on one of my machines. I haven't been able to reproduce it anywhere else, but on that one machine I've ditched the nodejs packages from EPEL and jumped to using. As a workaround I pulled a tarball of nodejs 4.x from https://nodejs.org/dist/latest-v4.x/, unpacked it in /opt, then symlinked node and npm into /usr/bin.

This is a really ugly workaround, but I coul

[2016-10-27 17:59] zoltan-fedor commented on #833
Thanks @ianabc
It is interesting that you too had this happening on one of your machines but not on the others. I too has nodejs from EPEL, but really do not want to go down the route of having a locally compiled version on nodejs.
I think I am just going to stay on http for now (it is an internal service, so I can afford it for a while) and later switch to having an nginx in front of JupyterHub w

[2016-10-27 18:16] ianabc commented on #833
I keep my eye on those EPEL packages and openssl hoping for an update which will fix it, I've tried to back out of the binaries from the nodejs tarball a couple of times, but no success so far! The machine it's on is busy which makes debugging the problem a real pain!

[2016-10-27 18:20] zoltan-fedor commented on #833
Thanks.
I have the same problem - the machine is busy, so I don't really want to go on a wild goose chase recompiling stuff hoping that I will stumble on the right thing. Rather stay on http only for now, look for new EPEL packages and if they don't come or don't solve it in the next few weeks, then I will just go with putting NGinx in front with SSL termination.
In case if you come across with th

[2016-10-27 18:25] ianabc commented on #833
Will do! BTW the node packages include binaries for x86_64 so you don't need to recompile anything, the main problems is remembering that I've put them in there when it comes time to try the some new EPEL packages :-)

[2016-10-27 19:18] williamstein commented on #401
Still a problem in sage-7.4 (but the fault of sage not jupyterhub).  Also we have an open ticket where we have exactly the same problem in SageMathCloud:  https://github.com/sagemathinc/smc/issues/159

[2016-10-27 19:52] willingc commented on #401
Thanks for the update @williamstein and the link to the ticket.

@minrk I'm going to reopen, label "out of project scope" to signify this depends on external work, and create a milestone for items that are worthwhile to check monthly until resolved. We can rework this if you have a better alternative.

[2016-10-27 20:00] willingc commented on #833
@ianabc Thanks for clarifying the issue and solution until EPEL has linked nodejs and OpenSSL suitably. @zoltan-fedor Please keep us in the loop if you see the EPEL update come out.

I'm going to label this issue "Out of Scope" as it depends on the EPEL update and set the milestone to review the status at the end of November. @minrk

[2016-10-27 20:51] willingc commented on #825
Hmm...it may be that the initial creation of the alembic.ini at call-time is using a different path than upgrade-db with `alembic_ini`.

[2016-10-27 21:14] yuvipanda commented on #825
For this one, I think I was running JupyterHub from pypi initially, and
then did a 'pip install -e ~/code/jupyterhub' to get master...

On Thu, Oct 27, 2016 at 1:51 PM, Carol Willing <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2016-10-28 06:39] kartoch commented on #281
The port is not always 4040.  From the [Spark 2.0.1 "Monitoring and Instrumentation" documentation](http://spark.apache.org/docs/2.0.1/monitoring.html):

One of the way to deal with it would be to set the property spark.ui.port to a random value in a specific range when the kernel start.

[2016-10-28 13:55] minrk commented on #836
I think #838 should fix it. The hint is that your username is `0x00b1`, but the log suggests that your server is getting the username `177`. That's because `--user=0x00b1` parses 0x00b1 as an integer.

[2016-10-28 14:00] minrk commented on #281
Allowing kernels to register proxy routes in general is as insecure as passing them CONFIGPROXY_AUTH_TOKEN.

JupyterHub 0.7 does add the notion of services, which *Hub Admins* can use to add additional routes to the service. Is this sufficient, or do you need a new route for every user and/or individual kernel?

[2016-10-28 15:06] kartoch commented on #281
There is one `SparkContext` by notebook as it represents the connection to a Spark cluster and the spark context is created when the notebook is allocated, BUT several notebooks of the same user can run in the same time (each one with its own SparkContext).

I would take the approach one notebook is one new route.

However, just for the record,  I'm rather sceptic this feature has any interest (at

[2016-10-28 20:14] willingc opened #839 "Add some documentation for NFS"
From discussion on the gitter channel, it would be great to add a guide or tips for using NFS and file persistence. Please leave your suggestions in as much detail as possible in this issue. Thanks!

From gitter:

[code]

[2016-10-29 01:41] Carreau commented on #444
I'm unsure if there is really anything we can do.  Are your students using Python 2 ? Or 3 ? Most of unicode problems usually get solved when using Python 3.

[2016-10-29 13:45] kartoch commented on #281
Diving into [jupyter docker stacks](https://github.com/jupyter/docker-stacks/), It seems the problem is more complicated as the `SparkContext`. For instance, this is a python code example from the [all-pyspark-notebook README](https://github.com/jupyter/docker-stacks/tree/master/pyspark-notebook):

[code]

The SparkContext is created after kernel initialization. So the only possibility at the pres

[2016-10-31 11:14] minrk commented on #281
I can sketch out an example of a service that enables this.

The service would:

0. have admin permissions, and access to the proxy
0. provide an API
0. authenticate users with their JPY_API_TOKEN
0. restrict users to creating routes under their `/user/:name/...` prefix

There are significant security implications of granting users the ability to do this, though, so be aware of that. I'd almost ra

[2016-10-31 19:58] mrinmoyprasad commented on #686
Thanks for your answer! I was able to deploy JupyterHub using Docker Spawner (for single user servers) and jupyterhub running as a docker container. I am fairly new to application development but I will give EC2/EMR Spawner a shot in the next few weeks.

I read the spawner documentation and I have the following questions:

1. a Python API for starting a notebook server on EC2 (called via Spawner.s

[2016-10-31 22:25] mrinmoyprasad opened #841 "Functional Changes: Copy Folder"
Hi,

I need some help understanding the front end for JupyterHub. I would like to add 'Copy Folder' button that will copy an entire folder (with its contents) on the same user notebook directory. I am running JupyterHub as a container and I am using Dockerspawner for spawning single user notebook servers.

I tried to change a html file in /share/jupyter/hub/ by building the image for JupyterHub. B

[2016-11-01 06:26] djvulee commented on #394
Yes, I also want this feature, is there any news?

[2016-11-01 09:42] minrk commented on #686
It's all up to your Spawner to start the notebook server. To the Hub, your Spawner is a black box that starts a notebook server, and returns an ip and port telling the Hub where the notebook server is already running. You will likely want to use `.get_env()` and `.get_args()` to retrieve the environment variables and arguments used to launch the server.

It's a good idea to check on the actual pro

[2016-11-01 09:44] minrk commented on #841
This wouldn't be a JupyterHub feature. Once you are looking at your notebook server, JupyterHub is no longer involved (almost), it's all the single-user notebook server at https://github.com/jupyter/notebook. That's where you will want to do you work. You will also need to add server-side functionality to support copying folders in the ContentsManager, which is the class representing file manageme

[2016-11-01 16:26] #812 closed

[2016-11-01 21:05] #836 closed

[2016-11-01 21:32] willingc opened #843 "Add more info on security to docs"
Per discussion on gitter, it would be helpful to add documentation and/or admonition to answer:

@parente's question:

@minrk's response:

[2016-11-02 10:18] mangelov95 commented on #839
I managed to get NFS mount working when using Jupyterhub with Docker Swarm and `dockerspawner.SystemUserSpawner` by:

- Mounting the NFS directory on the host virtual machine, on which was the Docker host
- Setting the `SystemUserSpawner.host_homedir_format_string` option in `jupyterhub_config.py` to point to the mounted directory.  That way when the notebook image is started it will initialise an

[2016-11-02 18:19] yuvipanda opened #845 "Add info on db backends and how to use them to docs"
someone was asking about this on Gitter today. This info is scattered in the sqlalchemy docs and rest of the web (for example, you must set pool_recycle for mysql). Let's collect it in a doc!

[2016-11-02 18:21] yuvipanda commented on #806
https://github.com/wikimedia/operations-puppet/blob/production/modules/jupyterhub/files/jupyterhub_config.py#L57 is what we use at wikimedia's private installation for something similar.

[2016-11-03 21:44] minrk commented on #845
+ 💯

[2016-11-04 14:47] steverweber commented on #681
sorry about the delay I'll be resolving some of the last issues and posting something soon.

[2016-11-05 16:35] yuvipanda commented on #752
@danielfrg I've now merged my refactoring and moved it to the org, at https://github.com/jupyterhub/kubespawner. I got all of the same features you had right now, and am currently working on StorageClass + PVC support for easier persistent storage for single user notebooks.

[2016-11-05 17:19] #752 closed

[2016-11-05 19:48] willingc commented on #752
Thanks @danielfrg and @yuvipanda. Looking forward to future iterations :smile:

[2016-11-06 02:46] parente opened #846 "Make JUPYTERHUB_URL available to services"
In https://github.com/jupyter/nbviewer/pull/639, I'd like to redirect unauthenticated users to the hub login page when they try to access a service. At present, the public facing URL is not made available to services in an env var (unless I missed it.)

[2016-11-06 02:53] willingc commented on #846
Is this what you are looking for:

https://github.com/jupyterhub/jupyterhub/blob/master/jupyterhub/services/auth.py#L96

or specifically an env var?

[2016-11-06 03:11] parente commented on #846
Hmm, maybe. How does that traitlet get set properly for a service to use?

[2016-11-06 03:15] parente commented on #846
Duh. Nevermind. The login path is all that is needed when a user is visiting the service via the hub-proxied path. I was testing a service at its unproxied, direct URL and wondering how I could get it to route to hub login. Buts that's a degenerate case.

[2016-11-06 03:15] #846 closed

[2016-11-07 15:15] rbiswas4 opened #847 "Environment setup before starting the kernel"
We are trying to use the JupyterHub setup on nersc, but we need to setup our own code (LSST stack) by running a couple of setup scripts (which work on the NERSC machines) before starting an ipython/jupyter notebook, so that our package is setup. How can we achieve this?

[2016-11-07 16:04] stratosgear commented on #751
So is this really the way to access Jupyterhub? From localhost:32768? (Yes, that's the port `docker ps` gives me when I follow the above procedure)

[2016-11-07 18:16] mjbright commented on #751
If you specify -p 8000 then Docker will assign an external port for you (32768 in your case).

If you specify, for example -p 8000:8000, then you can access using localhost:8000

[2016-11-07 21:29] stratosgear commented on #751
Thanks for taking the time to reply. It works as you specified.

[2016-11-07 23:57] yuvipanda opened #848 "Allow alternate implementations of proxy at the JupyterHub level"
Currently, implementing an alternate proxy requires the following things to happen:

1. Mirror the [Swagger Spec](https://github.com/jupyterhub/configurable-http-proxy/blob/master/doc/rest-api.yml) in the new proxy
2. Mirror the commandline params of CHP (so JupyterHub can start the proxy when it is managing it).

This also requires that the new proxy keeps up with all the changes to CHP, which is

[2016-11-08 00:10] yuvipanda opened #849 "Add support for writing EnvironmentFile for service API discovery"
JupyterHub services require a bunch of environment variables to be able to communicate back with the Hub API. When the hub manages the services, it passes these in via environment variables. For externally managed services, this is a little more difficult - and requires some amount of external secret management.

If we instead have JupyterHub write out an [EnvironmentFile](https://www.freedesktop.

[2016-11-08 00:14] yuvipanda opened #850 "Read last activity timestamps from single user servers, not proxy"
We should read the last activity timestamps from the single user servers' https://github.com/jupyter/notebook/pull/1827 and not from the proxy. This allows the proxy to not keep state that needs to be replicated across multiple instances.

[2016-11-08 00:47] yuvipanda opened #851 "Setup a pylintrc for CI checks"
Setting a pylintrc that does error checks rather than style checks would be really useful. I've been doing it for kubespawner and it's really nice and helped me find a bunch of bugs.

Only style enforcement I might like is docstring enforcement :D

[2016-11-08 14:23] Loulybob commented on #760
I eventually figured out what was wrong because I found out I couldn't make ANY server (tried a simple python server). Asked my boss about it and it turned out that the machine I was given to test on had a firewall up and no one told me. If anyone in the future has similar problems - check that you don't have a firewall blocking all the ports JupyterHub is trying to use ;)

Thanks for all your hel

[2016-11-08 15:47] otzy opened #853 "can not spawn server if logged in via Google OAuth"
Hi, thanks for the great software.

I faced a small issue trying to start server after being authenticated via Google OAuth.
Apparently jupyterhub needs user's home directory and since it does not exist, exception is thrown.

So I had to add new user to OS with the the same name as email address at google. Now I'm able to start server but for every jupyter user I have to add OS user.

This the err

[2016-11-08 17:18] yuvipanda commented on #847
Hello!

What spawner are you using? You can probably use `c.Spawner.cmd` to do what you want. This is the command that is run by JupyterHub spawners. You can override that to be another command that you provision which does whatever setup you want and then calls the jupyterhub-singleuser command (which is the default). This will all be run as the user who is being spawned.

[2016-11-08 17:33] yuvipanda opened #854 "Proposal: Discovery of resource limits in singleuser servers"
We have several spawners that now offer setting resource limits (CPU, RAM, etc) on single user servers. However, there's no easy way for the user to discover what these limits are programatically. This is important for extensions like https://github.com/yuvipanda/nbresuse/ too, which can't really tell what the resource limits are.

I'd like to propose that we have a standard way for spawners to ex

[2016-11-08 17:39] yuvipanda commented on #854
https://github.com/jupyterhub/jupyterhub/issues/343 is vaguely related.

[2016-11-08 18:36] yuvipanda commented on #343
Going to close this :) Re-open if people want to implement this without systemd.

[2016-11-08 18:36] #343 closed

[2016-11-08 18:37] yuvipanda commented on #850
Whoops, same as #502

[2016-11-08 18:37] #850 closed

[2016-11-08 18:53] yuvipanda commented on #854
https://github.com/jupyterhub/systemdspawner/pull/12 is the sample implementation for systemd spawner.

[2016-11-08 18:59] yuvipanda commented on #854
https://github.com/yuvipanda/nbresuse/pull/3 for the notebook extension. Users can also simply look at the env variable to figure out what their limits are.

[2016-11-08 19:05] yuvipanda commented on #848
API for this class could be:

[code]

That's it, I guess? Do we need to support arbitrary payloads to be associated with each route?

[2016-11-08 19:07] yuvipanda commented on #845
For MySQL, I know you need to use the pymysql sqlalchemy provider (the other one, MySQLdb, isn't available for py3). You also need to set pool_recycle to some value depending on your mysql setup (60 - 300 is a decent sane guess) - mysql kills connections serverside if they've been idle for a while, and the connection from the hub will be idle for longer than most. This will lead to frustrating 'th

[2016-11-08 20:22] minrk commented on #854
Along with this, do you think we should expect a mechanism for returning current usage?

[2016-11-08 20:25] yuvipanda commented on #854
That seems like a larger issue to me, since there are so many kinds of 'resources' that can have 'usage' (but not limits). We could probably adopt something like the Prometheus metrics format (https://prometheus.io/docs/instrumenting/exposition_formats/) and standardize on names that jupyterhub looks for? If JupyterHub even wants to expose those somewhere.

[2016-11-08 20:30] yuvipanda commented on #854
One of the reasons I want to tackle tracking separately is that there are already nice ways of doing this separate from JupterHub (we use prometheus, `systemd-cgtop` works for systemd, etc). But there's no other way of discovering this limit info...

[2016-11-08 20:31] minrk commented on #854
Sure. Just the first thing I think of when we surface an API for limits is wanting to view the current status of usage of those limits.

But +1 on the principle, if you want to start your PRs.

[2016-11-08 20:34] yuvipanda commented on #854
Yeah, I can open a separate PR / proposal for current status after. I'm worried about duplicating that work between JupyterHub vs other systems that do this (Prometheus / Graphite / etc). We can scope that nicely tho, to make that not happen.

[2016-11-08 20:49] rwarren commented on #343
Can this be used without a full systemd system?  Seems like no, since the requirements say "Systemd Spawner requires you to use a Linux Distro that ships with at least systemd v211", but... does it *really* need a fully-fledged systemd?  For example, [rkt](https://github.com/coreos/rkt) makes containerization pretty easy, and it uses the systemd spawner (systemd-nspawn) without the need for a base

[2016-11-08 22:35] yuvipanda commented on #343
Hey @rwarren! Can you explain what you mean by wanting to use the systemdspawner without restricting to systems with systemd? What would be a systemd setup that doesn't support systemctl / systemd-run? rkt too requires a recent version of systemd if you want something supervising your containers...

[2016-11-08 23:36] MarkAWard commented on #429
The solution that @evanlinde provided worked for me

For any one coming here to solve a similar issue, I also ran in to the problem that a .ipynb_checkpoints/ had already been created by one of the users. I had to chown to my group and chmod 770 for that directory to allow other users access.

[2016-11-09 00:20] yuvipanda commented on #854
https://github.com/jupyterhub/jupyterhub/pull/855 adds the convention to docs.

[2016-11-09 07:40] parente opened #856 "pam_start triggers kerberos cache to be created with suffix uid=0"
Mostly a note to self for the morning ...

The pam_start() call in `PAMAuthenticator#pre_spawn_start` does cause `kinit` to run on a host configured with Kerberos backed PAM auth. However, because the UID of Hub user at the time this call is made is 0 (root) when using the default spawner, the Kerberos ticket cache ends up being written to a file like so:

[code]

where `alice` is the proper owner

[2016-11-09 16:56] parente commented on #856
I'm going to see how the sudospawner behaves as well before taking any action on changes in the default spawner.

[2016-11-09 17:13] parente commented on #792
I'm trying to put together an educational docker setup with KDC, JupyterHub host, and (hopefully, a bit later on) YARN/Spark master containers to see what problems are encountered end-to-end with JupyterHub and Kerberos. I'll post a link here once there's an initial repo with the sample. #856 is one issue I've found so far.

[2016-11-09 23:14] yuvipanda commented on #856
@parente I'm also curious to see if you've looked at the systemdspawner and how that interacts with this

[2016-11-10 01:06] parente commented on #856
I have not. I talked to @minrk  and @willingc this morning about creating a new repo jupyterhub/jupyterhub-example-kerberos where I plan to push the initial configs for the default and sudospawners. We can build that out with more configs to see how they behave (+ the Spark bit once we have auth and ticketing working correctly at least).

I'll try to seed the repo with what I've got so far this ev

[2016-11-10 06:17] parente commented on #856
With sudospawner and the hub running as a local `jupyter` user, the result is worse:

[code]

The caches are now owned by the `jupyter` user instead of the true two users I logged in as, and the UID suffix on the files is now what looks like a temporary pam generated string. It's interesting that the behavior changed at all from the default spawner case since I'm still using `PAMAuthenticator`.

G

[2016-11-10 14:13] rbiswas4 commented on #847
Hi,

Sorry, I was not clear. I was not using a `spawner`  explicitly, I was simply trying to point the browser at  `nersc.jupyter.gov` which already spawns a server internally (I think). I would be happy to spawn something myself, if that helps.

[2016-11-10 14:32] rwarren commented on #343
@yuvipanda: I just mean that rkt definitely doesn't require a systemd-based system, but does use systemd's spawner.  See this comment from the rkt team (and the whole issue itself, where I got rkt working on an init system):

https://github.com/coreos/rkt/issues/2296#issuecomment-218733630

I'm not sure about your "if you want something supervising your containers" bit. That's another issue.

[2016-11-10 14:36] rwarren commented on #343
FWIW, that entire linked rkt issue/expt that I linked came about after experimenting with rkt for the purpose of running Jupyter notebook kernels with isolation. ie: making a `rktspawner` or somesuch.

That project is on hold at the moment but, after the investigation, my end feeling was that it would just be better/easier/thinner to make a spawner that uses kernel cgroups and namespaces without t

[2016-11-10 17:19] yuvipanda commented on #343
It will be awesome to have a spawner that uses cgroups and namespaces
directly for places that do not have systemd. Feel free to make one and
we'll support you in ways we can! Looking forward to it :)

On Thu, Nov 10, 2016 at 6:36 AM, rwarren <notifications@github.com> wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2016-11-10 17:27] parente commented on #856
I pushed what I have so far to https://github.com/jupyerhub/jupyterhub-example-kerberos with an initial list of goals that I'd like the example to cover in the README. Happy to iterate with anyone interested over there. We can return to this issue or others in the Hub once we have a better grasp on what's really a bug vs a configuration issue vs what requires new auth/spawner behavior.

[2016-11-10 18:23] yuvipanda opened #857 "Proposal: Resource usage discovery of the single-user notebook servers"
Once #854 is implemented, it'll be nice to have a way to discover how much resources each single-user notebook server is using. There are plenty of other tools that make this possible already (Prometheus, Graphite/Diamond, Ganglia, etc), but it'll be nice to have a way to expose this in a standardized way that is accessible both to the JupyterHub admin interface and other sysadmin tools.

In that

[2016-11-10 18:24] yuvipanda commented on #857
I think the place for this to go is in the notebook repo, but JupyterHub would be the motivating use case. Things like nbresuse can also use this natively.

[2016-11-10 18:25] yuvipanda commented on #857
If we do this, we'll also need to figure out our statsd story, to make sure it isn't too complicated for people to understand when to use statsd vs prometheus.

[2016-11-10 18:44] yuvipanda commented on #857
Note that there are [bridges](https://github.com/prometheus/client_python#bridges) that directly push to graphite and what not, so this doesn't lock people into using prometheus.

[2016-11-10 21:50] minrk commented on #857
I think there's a relatively clear separation, at list right now, in that usage (and last activity) is a current state query, whereas statsd is being used for event notifications.

I agree that this is a logical proposal for the base notebook, but if we want we can prototype it here in the singleuser wrapper and push it upstream after we are happy with it.

[2016-11-10 21:52] minrk commented on #857
If this is a fetch operation, I don't *quite* get the benefit of prometheus over JSON via the existing REST API. What's the gain, there? It would be more consistent to fit with the rest of the API.

[2016-11-10 21:57] minrk commented on #856
@parente should pam_start be moving to LocalProcessSpawner.start after setuid happens, rather than in the Authenticator?

[2016-11-11 02:15] parente commented on #856
Could be.

I wanted to look into why sudospawner is generating credential caches with what the wrong ownership and a pseudorandom UID suffix first (even with `c.PAMAuthenticator.open_sessions = False`) before making any changes.

[2016-11-11 02:36] parente commented on #856
The `pamela.authenticate` call appears to be what's triggering the creation of the cred cache, not the open/close.

https://github.com/minrk/pamela/blob/master/pamela.py#L274

[2016-11-11 15:54] parente commented on #856
[code]

creates a correctly named and permissioned ccache, but smells funny because of the gid/uid switch BEFORE auth. I started unrolling what `authenticate` does to do a start, auth, set cred, open session, end (all in one transaction) based on notes in a couple places about the ccache being improperly constructed when the ops are done out of order or in different transactions (e.g., under cavea

[2016-11-11 17:15] minrk opened #862 "Release 0.7b1"
- [x] Upgrade Docs prior to Release

    - [x] Change log
    - [x] New features documented
    - [x] Update the contributor list - thank you page

- [x] Upgrade and test Reference Deployments

- [ ] Release software

    - [ ] Make sure 0 issues in milestone
    - [ ] Follow release process steps
    - [ ] Send builds to PyPI (Warehouse) and Conda Forge

- [ ] Blog post and/or release note

- [ ]

[2016-11-11 19:21] yuvipanda commented on #848
We decided to add an opaque JSONable dict that must be associated with each route.

[2016-11-11 23:22] yuvipanda commented on #854
I'm going to keep this open until we merge the k8s / systemdspawner / dockerspawner patches.

[2016-11-12 17:58] yuvipanda commented on #851
I'd like to have something like https://github.com/ipython/ipynb/blob/master/.pylintrc in here. It would require that we fix all the errors listed, which mostly means writing a ton of docstrings. I might take a stab at it.

[2016-11-12 18:41] minrk commented on #723
Shall we call this addressed by #767?

[2016-11-12 19:21] parente commented on #843
@willingc is it worth my sending a PR adding a small note about the DB contents to the Web Security in JupyterHub &rarr; Extra notes section or Getting Started &rarr; Security as they exist today? Or are you working on an overhaul that makes a PR moot?

[2016-11-12 19:32] willingc commented on #843
@parente If you want to open a PR that would be great, we'll be merging #865 in a minute.

[2016-11-12 19:36] parente commented on #843
On it.

[2016-11-12 19:38] #723 closed

[2016-11-12 20:04] #843 closed

[2016-11-12 20:51] minrk commented on #862
Draft announcement to send to mailing list, etc.:

We have just released the first beta of JupyterHub 0.7. Please take it for a spin:

    pip install --upgrade --pre jupyterhub

Main new features:

- A Services API for JupyterHub to manage adding additional processes with API access to the Hub, including running additional web services behind the Hub's proxy. See [the docs]() for more details.
-

[2016-11-12 22:20] minrk commented on #847
Do you mean before starting a *single* notebook, or before starting your whole notebook server?

Depending on what the commands are and how early they need to run, perhaps the simplest thing to do is to put a Python script in `~/.ipython/profile_default/startup/init_lsst.py`, which will be executed by IPython early in its setup, but after initializing IPython.

If it needs to be shell commands exe

[2016-11-13 01:00] willingc commented on #862
Looks good on the announcement. Thanks @minrk.

[2016-11-14 02:36] parente commented on #856
When using the PAMAuthenticator and the LocalProcessSpawner, the kerberos cred cache receives the correct permissions, correct filename, and persists when:

1. I change the pamela library to use `PAM_ESTABLISH_CRED` instead of `PAM_REINITIALIZE_CRED`, and
2. configure `pam_krb5` auth to `retain_after_close`

I've implemented this over in jupyterhub/jupyterhub-example-kerberos for the time being af

[2016-11-15 03:14] yuvipanda commented on #854
k8s spawner is merged.

[2016-11-15 06:46] yuvipanda commented on #854
(I set milestone to 0.7 since this code already made it into the beta)

[2016-11-15 11:38] ZelphirKaltstahl opened #870 "Nosetests not working in Anaconda Env"
**How to reproduce the issue**

Prepare an env:

1. create a conda env `conda create --name jupyterhub python=3.5`
2. activate that conda env: `source activate jupyterhub`
3. install nodejs and npm into the conda env with: `conda install -c javascript nodejs` (installs both)

Get the code:

1. clone the jupyterhub repository

Install reqs:

1. install requirements with: `pip install -r dev-require

[2016-11-15 12:05] minrk commented on #870
Are you trying to run JupyterHub's own tests? If so, we use pytest, not nosetests, so you would do:

    py.test jupyterhub/tests

to run the jupyterhub tests.

[2016-11-15 13:17] ZelphirKaltstahl commented on #870
Ah I was under the impression, that you use nosetest like the jupyter notebook. Thanks, that helps!

[2016-11-15 14:38] willingc commented on #870
Thanks @minrk. I've added https://github.com/jupyterhub/jupyterhub/pull/871 to clarify that we use pytest in the README.

I'm glad that you got your question answered @ZelphirKaltstahl. Feel free to close the issue once you have run the pytest tests.

[2016-11-15 17:06] ZelphirKaltstahl commented on #870
I've run the pytest command and it works. I am only a bit worried now because many tests fail or give error. It seems my setup is either not complete or there are really many tests failing. Are the tests supposed to be all passing in the latest release? (If so, is there another complete setup guide for development?)

[2016-11-15 17:19] willingc commented on #870
@ZelphirKaltstahl Let's continue discussion in this issue.

[2016-11-15 17:31] willingc commented on #870
Using a Python3 install from python.org and then running to set up the developer environment:

[code]

Here's the output from running `py.test jupyterhub/tests`:

[code]

I'll give it a try using Anaconda. In the meantime, the above is the process to run using python3 and pip.

[2016-11-15 17:38] ZelphirKaltstahl commented on #870
I'll try tomorrow on my dev machine and give feedback on how it went, thanks! Many tests in api fail for example, but right now I cannot add the result.

[2016-11-15 17:39] willingc commented on #870
Thanks @ZelphirKaltstahl. Please feel free to ping me @willingc with the feedback. :sunny:

[2016-11-15 19:39] minrk commented on #870
Thanks, both! If lots are failing, there's a good chance something is amiss, such as an unavailable port. You can tell it to be extra verbose and stop at the first failure with:

    py.test -vsx jupyterhub/tests

[2016-11-15 22:03] amuthuku commented on #795
I am facing same problem.. thinking of using fresh jupyterhub_oreo file

[2016-11-15 23:23] willingc commented on #870
@ZelphirKaltstahl @minrk This is the process that I used to get the tests running on Anaconda.

[code]

After this 110 tests passed and 1 warned on `__init__` usage.

If you get errors saying that the socket is in use, you may need to stop the process that is using the socket. In my case earlier, a prior node http-configurable-proxy was running. I found the PID using `ps -ax` and then killed the p

[2016-11-16 12:24] minrk commented on #856
Sounds sensible to me

[2016-11-16 13:33] ZelphirKaltstahl commented on #870
@minrk The hint with the port maybe being already used was useful: I already had a jupyterhub running, which made _all_ api tests fail and many more.

Running the commands posted in @willingc 's last post, I get the same result, all tests running fine:

	======================================================== test session starts =========================================================
	platform

[2016-11-16 13:37] ZelphirKaltstahl commented on #870
Running the tests a second time I get a failure though:

	============================================================== FAILURES ==============================================================
	__________________________________________________________ test_spawn_form ___________________________________________________________

	app = <jupyterhub.tests.mocking.MockHub object at 0x7f3364fe4160>, io

[2016-11-16 14:26] minrk commented on #857
From in-person discussion: prometheus is a bit like statsd in reverse. A central service is told about 'endpoints' and can fetch data from them as desired. By using prometheus, we shouldn't need to write additional translators for JSON to whatever. We can still make this and any other data available via our existing REST API, as desired.

[2016-11-16 16:46] willingc commented on #870
Hi @ZelphirKaltstahl, Thanks for sharing the test results. I'm glad you got the tests running. We'll take a look at `test_spawn_form`.

@minrk perhaps an issue with mocking the spawner.

[2016-11-16 17:43] yuvipanda commented on #854
dockerspawner is done too.

[2016-11-16 19:00] willingc commented on #870
I haven't been able to reproduce the test failure. @ZelphirKaltstahl, if you are able, please send along (or pastebin) the entire test results.

@minrk Should we look at how we are doing cleanup after a spawn test. Results from `ps -ax`. Each time the tests are run it leaves behind a process.

[code]

[2016-11-16 21:21] parente commented on #856
Thanks. I took timeout but getting back to it soon.

[2016-11-17 04:59] parente commented on #856
I think I have a complete accounting of what's going on now. I setup a container with the default pam_krb5 (Kerberos) configuration to auth against a Kerberos Key Distribution Center (KDC) in another container. I modified the authenticate function in pamela.py slightly to print the state of the PAM context. Then I ran the pamela CLI as shown below. I annotated the output with comments of what's ha

[2016-11-17 06:24] yuvipanda opened #873 "c.Spawner.mem_limit is not being converted into bytes"
- Where applicable, please fill out the details below to help us troubleshoot
  the issue that you are facing. Please be as thorough as you are able to
  provide details on the issue.

**How to reproduce the issue**

1. Use systemdspawner
2. Set `c.Spawner.mem_limit = '2G'`
3. Spawn notebook

**What you expected to happen**

Notebook should have environment variable that's in bytes, 2 * 1024 * 102

[2016-11-17 06:26] yuvipanda commented on #873
This is running with this patch applied: https://github.com/jupyterhub/systemdspawner/pull/12, so systemdspawner's own mem_limit isn't in use.

[2016-11-17 06:34] yuvipanda commented on #873
ok, looks like this was a problem with pip and virtualenv. I already had systemdspawner installed from master, and *then* did a `pip install -e`. This apparently confused pip enough to cause me all these problems.

Cleanly uninstalling systemdspawner (twice) and doing a proper dev install fixes it.

Moral of the story is that you should not be working when you are too tired to be.

Thanks for the

[2016-11-17 06:34] #873 closed

[2016-11-17 06:37] yuvipanda commented on #854
systemdspawner is done too. @willingc @minrk any other spawners that enforce resource limits I should try to patch? Or is this good to close now?

[2016-11-17 10:16] minrk commented on #870
Hm, it's possible there's something amiss in the tests that's sensitive to performance. If so, this would likely be a bug in the tests, and not JupyterHub itself.

[2016-11-17 10:28] minrk commented on #856
Awesome, thanks @parente! I'm also not quite sure what changes we should make. Is it okay for check-auth and the spawner session to be separate transactions, but keep a transaction open for the lifetime of the Spawner? That is:

- auth: start/authenticate/end
- pre_spawn_start: pam_start, open_session
- post_spawn_stop: close_session, pam_end

It might require some tweaks to pamela to keep transac

[2016-11-17 10:30] Analect opened #874 "DELETE /api/users/{name}/server ... stops server, but then restarts new one automatically"
**How to reproduce the issue**
Run up a JupyterHub using the latest 0.7b1 release, as per this pending [pull request](https://github.com/jupyterhub/jupyterhub-deploy-docker/pull/27). I'm using it in conjunction with JupyterLab.  I manually added tokens for a number of users into the jupyter_config.py file, as per [here](https://github.com/jupyterhub/jupyterhub/blob/master/docs/source/rest.md#addin

[2016-11-17 14:19] parente commented on #856
For pam_krb5 at least, as soon as the transaction that does the auth ends, the env var pointing to the ticket cache is reset and the ticket cache gets cleaned up. Another ticket cache is not regenerated when open_session is called. You run into this case https://github.com/rra/pam-krb5/blob/6a46b475da73de32cc7c22dc8dfe62166087837f/setcred.c#L269.

So you can keep the transaction open through the l

[2016-11-17 18:14] minrk commented on #856
Hm, that's tough, because auth and spawn really aren't tied together in that way in JupyterHub (multiple browsers need to be able to login). Perhaps the specific Kerberos flow should warrant a dedicated Authenticator that further restricts the order of events (i.e. forcing login on spawn, etc.) beyond regular PAM. For instance, it could use options_form to require re-entering their password as par

[2016-11-17 19:03] zeronicyber commented on #795
1. Delete the jupyterhub.sqlite file and have it blank.. (vi jupyterhub.sqlite -> wq!)
2. Run the configurablae http proxy scripts
3. Invoke jupyetrhub now.

Problem is , you might have copied or retained existing jupyterhub.sqlite file that has user entry which is not available in new environment. Hence when you start with blank sqlite , will build the user list and state of hub...  Let me know i

[2016-11-18 01:38] parente commented on #856
Maybe, though I am able to achieve the desired effect of getting a proper, persistent cred cache using the existing PAMAuthentication and LocalSpawner over in jupyterhub-examples-kerberos just by configuring pam_krb5 slightly differently. So again, I'm not sure changing JHub or writing a custom auth+spawner is really warranted yet. We'll know more once I get sudospawner working in the example repo

[2016-11-18 02:51] MikeDacre opened #875 "Dead Kernel: ImportError: No module named 'IPython.paths'"
I am getting this error when creating a new Jupyter session in JupyterHub:

![image](https://cloud.githubusercontent.com/assets/77714/20416690/5504981a-acf5-11e6-971b-b9232c356a08.png)

The `jupyterhub` console output is:

[code]

I have found this issue reported elsewhere, but I can't find a resolution. The kernel dies immediately upon opening a new notebook.

This is an issue with my environment

[2016-11-18 03:58] willingc commented on #875
Hi @MikeDacre,

Let's try uninstaling `ipykernel` and `pyzmq` and then reinstall them. Please try

[code]

I hope that helps.

[2016-11-18 04:31] MikeDacre commented on #875
Hi @willingc,

Thanks for the message, I tried that but it didn't work. Instead I cleaned out my home directory, which it really needed anyway, and that fixed the problem. It is strange though, do you have any idea what could cause that in my home directory? `.local` and `.jupyter` were already deleted. Maybe `.ipython`?

Thanks for your help,

Mike

[2016-11-18 04:45] willingc commented on #875
Hi @MikeDacre,

It's possible that there was something in the `.conda` or another directory. Hard to know. I'm glad you got it working. Please let us know how your work on JupyterHub goes. Thanks. Feel free to close the issue when you are ready to do so. - Carol

[2016-11-18 04:50] MikeDacre commented on #875
OK, closing now, I will keep fiddling, if I can nail down what caused the problem I will post here. Thanks for all your help.

[2016-11-18 04:50] #875 closed

[2016-11-18 10:31] minrk commented on #856
Good point, and this is turning into a very useful reference, so thanks for recording everything!

I'm mainly thinking about being able to attack this from both sides: It's great that you've figured out how to configure kerberos to work well with JupyterHub's events, but I'd also like to have an answer for people for whom changing their kerberos config to accommodate JupyterHub isn't an option, ev

[2016-11-18 10:34] minrk commented on #874
This is the key line:

The user apparently still has open windows on their existing server. In this case, a terminal page. Requesting a page from the server when it's not running triggers a new spawn. This is not optional at the moment, but it could be.

[2016-11-18 11:02] dsoares commented on #856
I don't known enough PAM to properly discuss the issue here, but i had a similar problem like this:

I must use `pam_mount` to mount the user's HOME. Using the default `pamela`, `pam_mount` could not succeed in the session phase because it did not have a valid session. The solution i got a year ago was to clone `pamela`, [open a session](https://github.com/dsoares/pampylho/blob/master/pampylho.py#

[2016-11-18 11:59] Analect commented on #874
OK. That's good to know.

A. If you run up a JupyterLab ... and open a few *.ipynbs ... and a few terminals ... then then select Close All from the menu.  The terminals will remain.

![image](https://cloud.githubusercontent.com/assets/4063815/20428686/4dcdc912-ad82-11e6-8ed6-521cf9200e47.png)

B. If you then go back to the admin page and hit 'stop server' ... as you said, because the terminals did

[2016-11-18 12:13] Analect commented on #874
Just as a follow-up to the above .. .when I eventually close the empty JupyterLab browser window, the automatic re-spawning resolves itself.  But it seems to suggest that for whatever reason .. that terminal pinging back to the hub was alive in there somewhere .. .but not visible as an entity in any of the windows ... and not showing up under the 'terminal sessions' area.

[2016-11-18 12:31] minrk commented on #874
That is likely a bug in the JupyterLab terminals not cleaning up after themselves.

[2016-11-18 12:40] minrk commented on #856
@dsoares thanks! If there are changes you think should be made to pamela, feel free to open an Issue/PR.

[2016-11-18 14:23] Analect commented on #874
Should I open and issue there ... and point back to here?

[2016-11-18 14:55] minrk commented on #874
That would be great!

[2016-11-18 15:21] willingc commented on #874
Thanks @Analect!

[2016-11-18 16:57] #874 closed

[2016-11-21 16:14] parente commented on #856
The sudospawner is more problematic because the ticket cache first gets created with the permissions of the user owning the hub process (say, `jupyter`), and then has to be chown'ed to the uid:gid of the user that is authenticating. The chown is done by the `setcreds` function in `pam_krb5`, which means the `jupyter` user needs chown permissions at authentication time via some mechanism (e.g., set

[2016-11-21 17:24] parente opened #877 "alembic.ini template missing from 0.7.0b1 package"
Alembic template is not included in the 0.7.0b1 pypi package.

**How to reproduce the issue**

[code]

**Share what version of JupyterHub you are using**

0.7.0b1

[2016-11-21 18:43] parente opened #878 "notebooks_dir ~ expands incorrectly"
**How to reproduce the issue**

Configure jupyterhub 0.7.0b1 with:

[code]

Try to login. Notebook server startup logs:

[code]

**What you expected to happen**

Path should be expanded properly.

**What actually happens**

Path is expanded but also gets the ~ part tacked back on.

**Share what version of JupyterHub you are using**

0.7.0b1

I put a print in the jupyterhub-singleuser script and co

[2016-11-21 20:08] yuvipanda commented on #877
Similar to #825

[2016-11-21 21:20] yuvipanda commented on #752
As an update, https://github.com/kubernetes-incubator/client-python is in the kubernetes-incubator. I'll keep an eye on it to see if it graduates.

[2016-11-21 21:42] danielfrg commented on #752
Nice, I see that they are using the swagger generated code. There have always been a couple of these around github but its awesome to see one officially supported.

[2016-11-21 21:50] yuvipanda commented on #752
/me nods. If there's an officially maintained one that has 'upstream
support' I'll be happy to switch over to that :)

On Mon, Nov 21, 2016 at 1:42 PM, Daniel Rodriguez <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2016-11-21 22:14] parente commented on #877
Doh. Missed that somehow. Yes, looks like the same bug.

[2016-11-21 22:44] willingc commented on #877
@yuvipanda @parente I'm wondering if this is a workflow documentation issue for JupyterHub instead of a bug. If you create an alembic environment (http://alembic.zzzcomputing.com/en/latest/tutorial.html#creating-an-environment), using:

-  `alembic init alembic`

Then generate an alembic.ini does the error still occur.

[2016-11-22 01:15] zbyte64 opened #879 "Docker environment throws 500 because it cant find `notebook` module"
**How to reproduce the issue**
Run the jupyterhub docker image:

`docker run -P -d --name jupyterhub -v $PWD:/srv/jupyterhub -t jupyterhub/jupyterhub`

Create a user as stated in the readme:

[code]

Go to the local jupyterhub in the browser and login.

**What you expected to happen**

Upon successful login we should see a jupyter notebook.

**What actually happens**

We get a 500 error:

[code]

[2016-11-22 09:13] FabHan opened #880 "Port exposed by Docker not reachable"
I have asked this on [StackOverflow](http://stackoverflow.com/questions/40733151/port-exposed-by-docker-not-reachable) but this could be a better channel.

**How to reproduce the issue**
Build an image based on this Dockerfile
[code]
then run `docker run -t tmp`

**What you expected to happen**
`127.0.0.1:8000` is accessible from outside the container

**What actually happens**
`127.0.0.1:8000` is

[2016-11-22 13:32] parente commented on #880
Hi @FabHan. Even though you `EXPOSE` port 8000 in your Dockerfile, you still need to map it to an external port at runtime with a command like `docker run -p 8000:8000 -t tmp`.

The `EXPOSE` in the Dockerfile only enables you to use the shorthand `docker run -t -P tmp` where the capital P tells docker to automatically map all exposed ports to external ports.

[2016-11-22 15:21] minrk commented on #877
It's a bug in setup.py. The alembic.ini in the repo should be included in the package_data. Should be fixed by #882

[2016-11-22 15:27] minrk commented on #879
The `jupyterhub/jupyterhub` image only has the dependencies to run JupyterHub, not single-user servers. If you want to run single-user servers in the same container as the Hub, you will need to add the notebook package. Traditionally, the jupyterhub container is used in conjunction with a Spawner that puts single-user servers in other containers, such as DockerSpawner.

[2016-11-22 16:10] #825 closed

[2016-11-22 16:10] #877 closed

[2016-11-22 16:34] willingc commented on #878
Note to self: I'm thinking this may have something to do with changes in https://github.com/jupyterhub/jupyterhub/pull/748

[2016-11-22 19:08] lengau opened #883 "Listen on a UNIX-domain socket"
I'd like to set up JupyterHub to be able to listen on a given UNIX-domain socket, so I can proxy jupyterhub behind nginx. Right now, it seems the only way in the configuration to listen is on a TCP socket. Any chance we could get the ability to make a UNIX domain socket instead?

[2016-11-23 09:37] ZelphirKaltstahl commented on #870
@willingc I cannot reproduce it myself anymore. Might have been, that I did the `pip install -r dev-requirements.txt -e .` from another location (with the same code?) and then the pytests had path issues. But that is only a guess.

I have a question though. Why does Jupyterhub need to be installed before it can be tested? Is there some part, which gets compiled by `pip install -r dev-requirements.

[2016-11-23 10:59] ZelphirKaltstahl commented on #870
@willingc I had a strange test failure again. When I ran the tests again after the following failure, they ran just fine.

	============================= test session starts ==============================
	platform linux -- Python 3.5.2, pytest-3.0.4, py-1.4.31, pluggy-0.4.0
	rootdir: /home/user/development/jupyterhub, inifile:
	plugins: cov-2.4.0
	collected 110 items

	jupyterhub/tests/test_api.p

[2016-11-23 11:18] pcarazo opened #884 "Question: integration of the scripts from Jupyterhub in Github"
Hello!

First of all sorry for the question, since it is not actually an issue, but I didn't find other way:

I am wondering if there is any way of saving the scripts you run into the notebooks, in Github, so that you can develop your scripts and keep a control of versions and update them easily.

Thanks

[2016-11-23 19:26] minrk commented on #883
I'm honestly not sure. [configurable-http-proxy](https://github.com/jupyterhub/configurable-http-proxy) is the frontmost piece of JupyterHub, so that's the place where it would need unix socket support. It is perhaps unlikely that we will be able to get *all* of the pieces listening only on unix sockets.

I should say that you don't *need* unix sockets to put it behind nginx - it's pretty common p

[2016-11-23 19:43] lengau commented on #883
I do already have it running behind nginx, but I'd rather have things on UNIX sockets if at all possible.

node-http-proxy is able to listen on UNIX sockets (so I'd imagine configurable-http-proxy can as well), but I couldn't figure out a way to configure jupyterhub to use this functionality. It would probably require a change in the settings module to be able to do so (it may be as simple as givi

[2016-11-23 19:53] minrk commented on #884
There's no direct GitHub integration, but you can definitely use git and GitHub in JupyterHub. You can open a terminal from the dashboard (New > Terminal) and use git from there, and push/pull files to/from GitHub.

[2016-11-24 12:15] dsoares commented on #810
I have a running jupyterhub instance that also uses PAM and pam_mount to mount the user's home (also CIFS) on login. The user's home can only be mounted using the user's credentials.

I could not get it to work with `pamela` so i wrote `pampylho`. That's basically a fork of `pamela`, but opens a session before calling `pam_end()` in the `auth` phase. Then, i extended `PAMAuthentication` to use `pa

[2016-11-24 12:31] Fleckenteufel commented on #810
Thank you! This sounds good. I will give it a try and report, as soon as I find the time.

[2016-11-24 13:58] hokiegeek2 opened #885 "Generated jupyterhub_config.py has whitelist error"
Hi Everyone,

Minor issue with jupyterhub_config.py that is generated by jupyterhub command. The string is as follows:
#c.Authenticator.whitelist = set('')

This causes all user logins to fail. When I changed it to the following--which is on the Getting Started page--the whitelist worked as expected:
c.Authenticator.whitelist = {''}

Again, minor issue, but it may trip up Python newbies. :)

--Joh

[2016-11-25 09:18] minrk commented on #883
There are *a lot* of ports to deal with if you want absolutely everything to be on bsd sockets, and there isn't configuration for most of it. The only part of this that does exist at the moment is the communication between the notebook server and its kernels, which you can set with:

[code]

But the Hub, the notebook server itself, and CHP don't have options to listen on BSD sockets at this point.

[2016-11-25 09:41] minrk commented on #885
How did you run the config generation? This is what I get:

[code]

which is correct.

[2016-11-28 11:46] hani1814 opened #888 "Restrict admin groups to an AD group"
Hi,

is it possible to restrict the admin to an AD group rather than list them in the config file such as

c.Authenticator.admin_users = {'mal', 'zoe'}

ideally something along the line = c.Authenticator.admin_users = AD_group_myaccess

Thank you

[2016-11-28 21:35] willingc commented on #885
Hi @hokiegeek2,

Thanks for the issue report. I'm getting the same results as @minrk for Python 3.5 (as a reminder JupyterHub runs on Python3). Out of curiousity, how did you install JupyterHub? Perhaps there was already a config file in your environment.

I'm going to go ahead and close this issue since we can't replicate it. If you have additional information, I would be happy to look into it.

[2016-11-29 22:42] rachmaninovquartet opened #889 "Toree Integration causes issues with Ambari rack awareness scripts"
Hi,

I've setup jupyterhub in a Hortonworks cluster. Everything works fine, until I add the Apache Toree kernel. As soon as I start a notebook, with that, it prints to the logs something like this once per second:

[code]

It is calling the Ambari generated rack awareness scripts, which have /usr/bin/env python at the top of them. Using jupyterhub, this needs to be python 3. Unfortunately, the scr

[2016-11-30 02:47] mariusvniekerk commented on #889
So that is caused by your

`/etc/hadoop/conf/topology_script.py` being run with the python environment used by jupyterhub (which is python3) and that script not being python 2/3 compatible.

If you modify script to use `print(rack)` instead you should be fine.

[2016-11-30 02:54] mariusvniekerk commented on #889
So the one workaround that you try that would not involve modifying the ambari generated files would be to have is to have the script you run to launch the toree kernel alter the `$PATH` so that a python2 kernel will be found by `/usr/bin/env python`.

You'll very likely run into the same issue if you have other python 3 kernels that get run, which activate a python3 conda environment/virtualenv.

[2016-11-30 16:24] rachmaninovquartet commented on #889
@mariusvniekerk Do you have any documentation, you would suggest looking into for this "to have the script you run to launch the toree kernel alter the $PATH so that a python2 kernel will be found by /usr/bin/env python"
That sounds like a strong solution.

[2016-12-01 04:03] parente commented on #878
One diff I noticed while debugging, the command line quoting has subtly changed:

0.6.1

[code]

vs

0.7.0b1

[code]

[2016-12-01 04:07] parente commented on #878
Shell quoting changed in https://github.com/jupyterhub/jupyterhub/commit/7da7f7e07467780d7e0a9a40d89fd7c861324352

[2016-12-01 04:15] parente commented on #878
If I change my notebook config for 0.6.1 to simulate the extra double quotes found in 0.7:

[code]

then I can reproduce the bug with the 0.6 code base:

[code]

So I'm certain the new quoting is causing it.

I've traced the `--notebook_dir="~/notebooks"` value all the way through to jupyterhub-singleuser's main where I can see it's still not expanded to the incorrect value. `jupyterhub.singleuser

[2016-12-01 04:27] parente commented on #878
https://github.com/jupyter/notebook/blob/e6fb7e65e94f6dd94fc5aba0cbe4bd3065e19623/notebook/notebookapp.py#L910

[code]

Without the extra quotes, something (the shell probably) implicitly did ~ expansion in 0.6. But now the value reaches the abspath call here unexpanded, and winds up just getting prefixed with the cwd. In fact, I can hit this problem with notebook 4.2 with:

[code]

Looks like we

[2016-12-01 11:27] minrk opened #891 "Support token auth in single-user servers"
The default LoginHandler will support token auth in 4.3: https://github.com/jupyter/notebook/pull/1831 . Since JupyterHub replaces the LoginHandler, token auth won't work with JupyterHub without modifications. We should add support for the Authorization header in the single-user server so that JupyterHub tokens can be used to access single-user servers via the Authorization header.

This will also

[2016-12-01 17:05] minrk commented on #888
There isn't currently a way to query the Authenticator for admin users. The admin flag is stored directly in the Hub database at the moment. We could consider adding such functionality, if needed.

[2016-12-01 17:32] minrk commented on #878
@parente I think you're exactly right that we need to do an expanduser somewhere. Putting it in the single-user server seems like the right place.

[2016-12-01 21:07] minrk commented on #878
#890 calls expanduser in single-user server. Perhaps that should work.

[2016-12-02 03:53] #878 closed

[2016-12-03 14:10] willingc commented on #862
Closing since release is out :cake:

[2016-12-03 14:10] #862 closed

[2016-12-04 12:18] hokiegeek2 commented on #885
Hey Everyone,

I apologize for the delay in following up on this. @minrk Yes, the config generation results in this format. However, when I manually set the users in this data structure:
c.Authenticator.whitelist = set('hokiegeek2')
I get this message:
[W 2016-12-03 23:25:36.672 JupyterHub auth:138] User 'hokiegeek2' not in whitelist.

When I switch to this, the whitelist filter works correctly:
c

[2016-12-04 16:12] willingc commented on #885
Thanks for the update @hokiegeek2.

@minrk Do we want to edit the comment about whitelist and/or add a note in the docs?

[2016-12-05 08:50] minrk commented on #885
`set('hokiegeek2')`, like `list('hokiegeek2')`, treats the string as a collection and transforms each item (character) in the string to an item in the set, so what you get is `{'h', 'o', 'k', 'i', ...`} instead of `{'hokiegeek1'}`. If you wanted to create that single-item set with the `set()` constructor, you would do `set(['hokiegeek1'])`.

I've opened #885 to give a more informative message when

[2016-12-05 15:33] ponomarevsy commented on #742
Hi, minrk! I have just downloaded the latest version of Jupyterhub (0.7.0). I have high hopes that the redirection issue will be resolved, but I got some new errors when running the new jupyterhub:
[code]
This looks like a database issue to me. My has NOT changed much since last time, please see above. Thank you in advance!

[2016-12-05 17:16] #885 closed

[2016-12-05 17:17] willingc commented on #885
Thanks @minrk :cookie:

[2016-12-05 21:37] denfromufa commented on #7
MSFT (@smortaz) may provide support, if there is enough demand for this feature:

https://news.ycombinator.com/item?id=13109546

[2016-12-05 22:55] minrk commented on #742
@ponomarevsy please run `jupyterhub upgrade-db` to upgrade the Hub database. That should be in your error message, I'll have to figure out why it is not.

[2016-12-06 10:00] Analect commented on #891
@minrk ... is there anything I might be able to help with here, in order to be able to get the notebook API working against user servers running under Jupyterhub?

[2016-12-06 13:32] minrk commented on #891
If you'd like to make a PR, that would be great! The first thing to do is get the token auth from [here](https://github.com/jupyter/notebook/blob/4.x/notebook/auth/login.py#L100) and include the token checking (Authorization header and possibly `?token` parameter) in the single-user auth [here](https://github.com/jupyterhub/jupyterhub/blob/0.7.0/jupyterhub/services/auth.py#L192). It will need to c

[2016-12-06 14:18] ponomarevsy commented on #742
That fixed the database errors but I am back to redirect loops:
[code]
Connecting to the proxied public URL http://127.0.0.1:20202/ gives
[code]

[2016-12-06 20:47] hani1814 commented on #888
Yes please - this would be very useful to make it enterprise strong

[2016-12-07 06:30] Analect commented on #891
@minrk .... not unwilling to help ... but I'm not sure my python skills are up to that!

[2016-12-07 11:25] minrk commented on #742
It is unlikely that you need to set the hub_ip or hub_api_ip. These are internal, and should only be the default (localhost) unless you are distributing your cluster across multiple servers. You should never connect directly to any port other than `c.JupyterHub.port`, the public port of the application (this is the reason you see this message:

because connecting directly to the Hub bypassing the

[2016-12-07 11:27] minrk commented on #891
If you'd like, I can help you through it if you want to start a PR and ask questions (feel free to open a PR early and ask for help!). If you think it's too much, don't worry; we can take care of it, too.

[2016-12-07 15:41] Analect commented on #891
@minrk ... I'm being a bit lame, I realise ... but I expect you are able to implement this more expeditiously than I could manage!

[2016-12-07 22:10] mconigliaro opened #897 "Unable to install R kernel via web UI on JupyterHub 0.7.0"
When I click on the "Conda" tab and try to install an R kernel, JupyterHub runs the following command, which fails:

[code]

I believe this isn't working because the r channel isn't being specified (i.e. `--channel r`). If I change the command slightly (`conda create -y --json -n r -c r r-base r-essentials`) and run it on the command line rather than through the web UI, it seems to work.

[2016-12-07 22:25] mconigliaro opened #898 "You must log out and log back in to use new kernels installed via the web UI"
Like the title says, after installing a new kernel via the 0.7.0 web UI, you must log out and log back in before it will let you create new notebooks with the new kernel.

[2016-12-07 22:44] minrk commented on #891
Not at all! Feel free to tackle a problem you are more comfortable with. We got this covered. And don't hesitate to ask for help.

[2016-12-08 14:16] ponomarevsy commented on #742
Hi Min!

This is how I define ports in jupyterhub_config.py:
[code]
Now, I start jupyterhub:
[code]
I open Chrome and type: "http://W.X.Y.Z:20202"
This gives me: "The W.X.Y.Z page isn’t working
W.X.Y.Z didn’t send any data.
ERR_EMPTY_RESPONSE"

Now I type "http://W.X.Y.Z:10101"
This redirects me to "http://W.X.Y.Z:10101/hub/login", asking me to login.
After login I get: "The W.X.Y.Z page isn’t wor

[2016-12-08 18:34] mconigliaro opened #899 "Unable to use R kernel in 0.7.0"
After creating an R environment on the command line (#897), it appears under the Conda tab, but clicking on it returns a "Not Found" error. Also, my R kernels don't show up in any of the notebook kernel lists (#898 didn't help in this case).

[2016-12-08 19:13] willingc commented on #899
Hi @mconigliaro.

Sorry for the delayed response. @minrk and I have been traveling. I see issues #897 and #898 are related to this one. Let's consolidate the discussion here to help resolve getting R kernel behave as you expect.

First, I want to make sure that we understand a bit more about your deployment.

- Was JupyterHub installed using conda/Anaconda as a new deployment or did you upgrade an

[2016-12-08 19:15] willingc commented on #897
Troubleshooting discussion on #899.

[2016-12-08 19:19] mconigliaro commented on #899
- This is a brand new deployment. After installing Conda 4.2.0, we ran `pip install jupyterhub`
- [SudoSpawner](https://github.com/jupyterhub/sudospawner)
- `jupyter troubleshoot`:
[code]
- `jupyter kernelspec list`:
[code]

[2016-12-08 19:21] kafonek opened #900 "ConfigProxy crashes with EMFILE error"
I am seeing my ConfigProxy crash and not recover after upgrading to Jupyterhub 0.7.0 and configurable-http-proxy 1.3.1.  Unfortunately I cannot copy/paste the entire output log because the logs are on a separate network, but here is the general trace-back:

JupyterHub is running behind an nginx which is handling authentication and reverse proxying, I have a custom authenticator class that is just

[2016-12-08 22:20] willingc commented on #899
Thanks for the additional info @mconigliaro.

I did verify that I was able to run R with JupyterHub 0.7 when using pip not a conda environment. I will test conda and your process in the morning. Here's the step that I took for R on JupyterHub 0.7.

1. Install JupyterHub from pip.

2. Installed R from here  http://archive.linux.duke.edu/cran/

3. Installed R studio https://www.rstudio.com/products/

[2016-12-09 10:32] remidebette commented on #219
Dear everyone,

Thank you for the usefull discussion.
The .conf file of @slacmshankar made the jupyterhub work for me.

But after I upgraded to jupyterhub 0.7 then suddently apache does not redirect.
 "Not Found

The requested URL /jupyterhub was not found on this server."

Would you have any idea of how to update the .conf file?

Thank you

[2016-12-09 12:15] minrk commented on #900
@kafonek what version of nodejs (`node --version`)? The uncaught exception is in the code to show you a custom error page, and fixed by https://github.com/jupyterhub/configurable-http-proxy/pull/91, but the original error is file descriptor exhaustion, and appears to be sensitive to the underlying version of nodejs. If you are using nodejs < 4, you might try upgrading.

[2016-12-09 13:26] msvolenski commented on #563
I have had this same issue on macOS. The proposed solution did work, the kernel started when running the notebook on Firefox instead of Chrome, without any additional changes, so it really appears to be a proxy issue.
However, my questions are:

- Why does the kernel connect properly (in other browsers, besides Firefox) when running `jupyter notebook`, but not when running `jupyterhub`?
- Is there

[2016-12-09 13:29] minrk commented on #897
Continuing discussion of nb_conda_kernels extensions in #899

[2016-12-09 13:29] #897 closed

[2016-12-09 13:29] minrk commented on #898
continuing discussion of the nb_conda_kernels extension in #899

[2016-12-09 13:29] #898 closed

[2016-12-09 13:32] minrk commented on #899
It sounds like you are using Anaconda, and Anaconda's extensions to Jupyter, which give you things like a GUI for installing kernels, and loading kernels from conda envs, which bypass the need to install the kernelspecs in locations that will be found by things like `jupyter kernelspec list`. These aren't part of Jupyter or JupyterHub (I know it's unclear which things come from where). If restarti

[2016-12-09 13:36] kafonek commented on #900
@minrk, node --version gives me v0.10.36.

We seem to be able to reproduce the error by just attempting to open many different notebooks at the same time.  Is there a work-around I can put in temporarily that will identify when configurable-http-proxy has hit this Uncaught exception and restart the proxy?

Thanks for all of your work!

[2016-12-09 14:11] kafonek commented on #900
@minrk, after upgrading to node 6.4.4, we have been so far unable to crash our proxy even when we open up many notebooks and files at once, which would always crash the proxy before.  Thanks for all of your work!

If you want to close this ticket with a note that upgrading node seems to fix the problem, that would be fine by me.  Leaving it open for now in case you wanted to add anything into conf

[2016-12-09 14:26] minrk commented on #900
Yup, 0.10 is still what ships with some common Linux distros, and the issue appears to be fixed in node 0.11. It has to do with node-http-proxy not reusing connections, so it can run out of file descriptors pretty easily under load. configurable-http-proxy 2.0 will not support node < 4, FWIW.

cf https://github.com/nodejitsu/node-http-proxy/issues/570

[2016-12-09 14:32] minrk opened #901 "Cleaning up API tokens on stop isn't always safe"
0.7 deletes a single-user server's API token when the server stops. For DockerSpawner with `remove_containers=False`, this isn't okay, because the server has the first API token baked in and it can't be changed. The symptom being that any time the single-user server resumes after the first spawn, it will fail to check cookies because its API token is no longer valid.

Spawners need a way to commun

[2016-12-09 14:41] minrk commented on #742
Interesting. So port 10101 is behaving exactly as expected/intended, but 20202 isn't. The only thing that looks suspicious is that it seems port 20202 is only listening on tcp6, not tcp4. I'm not sure what could cause that, because it should be listening on all interfaces by default, though I could be misinterpreting the netstat output. Try setting `c.JupyterHub.ip = 'W.X.Y.Z' to force a particula

[2016-12-09 15:32] ponomarevsy commented on #742
Thanks, Min! I have also noticed the tcp6 binding. I have added this line to my config file:
[code]
Now when I start Jupyterhub I see this line:
[code]
But navigating to page "http://W.X.Y.Z:20202/" produces the same output as before:
[code]
The tcp6 bind is now gone, though:
[code]

[2016-12-09 15:37] minrk commented on #742
That's really weird. Can you run with `c.JupyterHub.port = 10101`, since we know that port got through?

What do you get for `node --version`? If it's less than 4, it's a good idea to install a more recent version of nodejs and then reinstall `configurable-http-proxy` with an updated version.

[2016-12-09 16:12] ponomarevsy commented on #742
I have swapped ports, and now I am observing the opposite of what I had before, i.e. I can access the 20202 port (private), but NOT the 10101 port (public). From that I conclude that the proxy is not working as it should (public port never works!)... Very strange!
[code]
$ node --version
v4.5.0
$ configurable-http-proxy --version
1.3.0
$ jupyterhub --version
0.7.0

[2016-12-09 16:27] willingc commented on #742
Version 1.3.1 is the latest version for configurable-http-proxy. Perhaps upgrading to the latest would resolve this.

[2016-12-09 16:40] ponomarevsy commented on #742
Thanks, Carol! I just did the upgrade:
[code]
Sadly, restarting Jupyterhub did NOT solve the issue. I am really out of ideas at this point...

[2016-12-09 16:49] mconigliaro commented on #899
Yeah, I literally just installed Anaconda, then I followed the instructions in the JupyterHub README. Is there some other doc I should be using?

[2016-12-09 17:27] willingc commented on #742
Are you still seeing the same issue as https://github.com/jupyterhub/jupyterhub/issues/742#issuecomment-266052509 or different behavior?

[2016-12-09 17:41] ponomarevsy commented on #742
Yes, Carol, the same private/public port behavior.

[2016-12-09 19:01] willingc commented on #742
Can you check if the port to '20202' is open on any all devices and that it is not closed on any system or blocked by a firewall? Thanks.

[2016-12-09 19:04] willingc commented on #742
Also deleting all of the cookies between tests would be helpful too.

[2016-12-09 20:13] ponomarevsy commented on #742
I can telnet to the ports when jupyterhub is running:
[code]
And I've tried cleaning cookies in Chrome, Safari and Firefox web browsers with the same outcome.

[2016-12-09 22:54] jbkalmbach commented on #847
Hi @minrk I am picking up on this for @rbiswas4 and whenever I try to get this to run the kernel says it is loading and then says it is ready, but as soon as I try to run something I get a dead kernel. Any idea why?

[2016-12-13 09:49] jaketbouma opened #903 "jupyterhub github oauth behind internet proxy"
Hi there

We have a squid internet proxy blocking our internet access.  The usual configuration is to set the environment variables `https_proxy`, `http_proxy` and `no_proxy` accordingly.
Jupyterhub with local authentication is working correctly.

Using `GithubOAuthenticator` gets through the first steps:
 - user redirected to github to log in
 - user sends code to `/hub/oauth_callback?code=<code>

[2016-12-13 16:49] Fleckenteufel commented on #810
I tried the authentication with pampylho. Therefore I just installed pampylho from git
`pip3.5 install git+https://github.com/dsoares/pampylho.git`
and replaced `import pamela` by `import pampylho as pamela` in `.../jupyterhub/auth.py`.

After restarting the server this works like a charm. Thanks @dsoares for sharing. I think it would be nice if these changes would be merged to pamela.

Btw. this

[2016-12-13 16:59] zoltan-fedor commented on #833
I've just tested it with the latest nodejs package from EPEL (nodejs-6.9.1-4.el7.x86_64) which came out a few days ago.
Unfortunately the issue is still there.

Will try again when newer packages come out and let you know when it finally gets fixed in the EPEL nodejs package.

[2016-12-13 17:31] willingc commented on #833
Thanks @zoltan-fedor. Please keep us posted with EPEL. cc/@minrk

[2016-12-13 17:34] willingc commented on #810
@minrk I'm going to pass this along to you re: pamela. Thanks.

[2016-12-13 19:55] ponomarevsy commented on #742
Dear Jupyterhub developers! My colleague was able to run jupyterhub on his Ubuntu 16 virtual machine, without redirection issues. At this point it looks like we may have Bright Cluster Management (bcm) or RedHat 7 firewall interfering with the jupyterhub service. Would it be possible to have a video conference via WebEx/Lync session to debug the issue we have? Thank you in advance.

[2016-12-14 08:35] jacknlliu commented on #772
I got this error from the [jupyterhub docker image](https://hub.docker.com/r/jupyterhub/jupyterhub/), and I followed the [instruction](https://github.com/jupyterhub/jupyterhub#docker) .

I want to know if anyone really tested this docker image usage with step by step.

[2016-12-14 10:17] minrk commented on #899
I think R needs a little help.

The first issue is that Anaconda doesn't add the R channel by default, which is reported here: https://github.com/Anaconda-Platform/nb_conda/issues/29

You can add the R channel to your defaults with:

    conda config --add channels r

The second issue may be a known limitation of nb_conda_kernels, I'm not sure. When you say " let you create new notebooks with the

[2016-12-14 14:16] minrk commented on #847
Thanks for picking it up! Can you see the logs for the single-user server? If the first execution dies right away, it's likely that there's a low-level error that wouldn't propagate all the way to the client.

[2016-12-14 17:17] barrachri commented on #766
Hello !

can we set a kind of roadmap ?

I plan to submit a PR decoupling the User and Server models inside orm.py

`_server_id = Column(Integer, ForeignKey('servers.id', ondelete="SET NULL"))`
`server = relationship(Server, primaryjoin=_server_id == Server.id)`

To mantain a compatibility with one-server-per-user _server_id in the new version can be a property where you get the first (and only) s

[2016-12-14 23:03] willingc commented on #766
@barrachri You can find the current JupyterHub roadmap here: https://github.com/jupyter/roadmap/blob/master/jupyterhub.md

@minrk Thoughts on the proposed change?

[2016-12-14 23:37] jbkalmbach commented on #847
Hi @minrk it was actually some of what was going on behind the scenes at NERSC that wouldn't let us execute the commands in the shell script we wanted. We got in touch with them and sorted it out and now your steps from November 12 work perfectly. Thanks for your help!

[2016-12-15 10:46] minrk commented on #766
@barrachri sounds great! I don't think we need to keep `_server_id`, I think only `server` is needed as a property mapping to the first server (if any, None otherwise), and we can drop `_server_id`. The user last_activity should stay as it is. We will need to *add* a last_activity field to servers, but we will probably still want a value on the user itself (this is affected by API requests, etc.

[2016-12-15 10:47] minrk commented on #847
Great to hear! Closing then.

[2016-12-15 10:47] #847 closed

[2016-12-15 11:51] barrachri commented on #766
what about mapping last_activity (inside the user) to last_activity of _server_id ?

Also having multi-servers makes sense, but it makes even more sense to have multi-configuration for the servers.
Regarding docker we have this value inside jupyterconfig_hub.py: c.DockerSpawner.container_image = os.environ['DOCKER_NOTEBOOK_IMAGE']

I think would be great to add a parameter to the API to choose whi

[2016-12-15 13:29] hokiegeek2 opened #904 "Login Redirect fails--network proxy issues?"
Hi Everyone,

I am working with the 0.6.1 version, specifically the Docker image. I've been able to extend the image, deploy to my local cluster @home and on AWS and everything works correctly.

When I build a new image--that does not extend the official jupyterhub image--on CentOS 7 and with a direct install of 0.6.1 from the jupyterhub github repo--where I am deploying to a customer network, I a

[2016-12-15 15:46] hokiegeek2 commented on #904
Okay, figured it out, it was a self-signed cert issue.

[2016-12-15 15:46] #904 closed

[2016-12-15 19:59] mconigliaro commented on #899
@minrk So #898 is behavior I've seen after installing every new kernel via the "Conda" tab. You have to log out and log back in before the new kernel will show up in any of the kernel lists. I've never seen R in the kernel lists though, even after logging out and logging back in.

[2016-12-15 21:22] mconigliaro commented on #898
Never mind. I just realized that refreshing the page makes the kernels show up. I guess it didn't occur to me that clicking on the different tabs *wasn't* reloading the page.

[2016-12-16 03:21] willingc commented on #898
No problem @mconigliaro. I'm glad that you did get it to work. 👍

[2016-12-16 11:04] hannesdgts2 commented on #535
The direct "mount" (<code>-v /etc/passwd:/etc/passwd -v /etc/shadow:/etc/shadow</code>) of the authentication files only works if you have a non-changing set of users. If you like to perform a <code>useradd</code> or <code>passwd</code> without needing to restart the jupyterhub docker container, i propose the following workaround:
1. mount the whole /etc/ foldert into the container, e.g. <code>-v

[2016-12-16 11:08] hannesdgithub commented on #535
The direct "mount" (<code>-v /etc/passwd:/etc/passwd -v /etc/shadow:/etc/shadow</code>) of the authentication files only works if you have a non-changing set of users. If you like to perform a <code>useradd</code> or <code>passwd</code> without needing to restart the jupyterhub docker container, i propose the following workaround:
1. mount the whole /etc/ foldert into the container, e.g. <code>-v

[2016-12-16 19:42] jdavidheiser opened #905 "Dockerspawner with Github Oauth breaks in 0.7.0 (works in 0.6.1)"
I set dockerspawner with the oauth example provided in the repository, using the pre-built singleuser image (`docker pull jupyter/singleuser`), and everything works when using jupyterhub 0.6.1.  However, if I switch to 0.7.0, the following break:

* logging out - it just redirects back to `/hub/home#` without logging out
* shutting down a server, then trying to launch it again - can no longer conn

[2016-12-17 02:10] thornhale opened #906 "Cannot get Jupyterhub to work within Docker Image: Econn Error"
Configuation:
We are trying to get Jupyterhub 0.7.0 to run from within a docker image (see link):
https://hub.docker.com/r/jupyter/jupyterhub/

After initial PAM authentication 3 errors, we decided to use the host PAM authentication system and used the following command to get Jupyterhub to run:

docker run  -p 8000:8000 -v /etc/pam.d:/etc/pam.d -v /etc/passwd:/etc/passwd -v /etc/shadow:/etc/shado

[2016-12-18 16:32] jjaraalm opened #908 "Fix docs on services"
The docs for services say that you can set a key 'env' with a dict in order to update the environment variables for services. In fact, the key should be 'environment' not 'env'.

[2016-12-19 09:02] minrk commented on #908
Thanks, would you like to make a PR with the fix?

[2016-12-19 09:39] minrk commented on #905
Indeed, this is #901. We need a way to tell JupyterHub that it shouldn't cleanup API tokens when stopping servers. In the meantime, if you set `DockerSpawner.remove_containers = True`, stopping a server will cleanup the container, and the next start will get a new token and connect successfully.

[2016-12-19 10:15] minrk commented on #906
That suggests that maybe the Hub process is going away, or otherwise getting stuck in a weird way. I haven't mounted PAM files into a docker container, but perhaps this is not quite enough. You might try running with `--debug` to get more information.

[2016-12-19 10:17] minrk commented on #905
#910 plus https://github.com/jupyterhub/dockerspawner/pull/131 should fix this.

[2016-12-19 13:02] minrk commented on #903
@jaketbouma from the SO question, can you run:

[code]

in your `jupyterhub_config.py`?

[2016-12-19 18:14] thornhale commented on #906
We are only mounting PAM files in a docker container to avoid the PAM authentication errors because we were not able to resolve those PAM authentication errors encountered earlier. Doing so it seems led us down a different path of difficulties. My colleague will try that later and report back here.

[2016-12-19 18:28] #908 closed

[2016-12-20 11:20] beeva-gerardovazquez commented on #889
Hi,
I have found the same behaviour trying to run pyspark as kernel or loading it from a python2 kernel.
pyspark on console works fine

Regards

[2016-12-20 16:29] #901 closed

[2016-12-20 16:29] #905 closed

[2016-12-20 16:34] rachmaninovquartet commented on #889
I did find a fix, but will have to look up exactly what I changed. I
believe I used a custom file and updated an HDFS conf or two, in order to
keep it from getting overwritten. I'll try to look it up later today.

On Tuesday, December 20, 2016, beeva-gerardovazquez <
notifications@github.com> wrote:

[2016-12-20 22:31] rachmaninovquartet commented on #889
@beeva-gerardovazquez
I updated hdfs core-site.xml to include the value "/etc/hadoop/conf/custom_topology_script.py" for "net.topology.script.file.name". I copied /etc/hadoop/conf/topology_script.py and replaced the python path at the top of the file with one hard coded to my ambari's python and saved it as "/etc/hadoop/conf/custom_topology_script.py"

[2016-12-21 07:27] beeva-gerardovazquez commented on #889
@rachmaninovquartet Thanks! I found another workaround, setting the path to add python2 in spark-env.sh as /opt/anaconda/bin/python2.7 with:
export PATH=/opt/anaconda2/bin:$PATH

[2016-12-21 09:08] beeva-gerardovazquez opened #913 "pyspark run in worker with python3 causing issues with ambari awareness script (related #889)"
**How to reproduce the issue**

Hadoop Cluster deployed with HDP 2.5 - installed spark and spark2
Installed inside anaconda2 env

{
 "display_name": "pyspark",
 "language": "python",
 "argv": [
  "/opt/anaconda2/bin/python2.7",
  "-m",
  "ipykernel",
  "-f",
  "{connection_file}"
 ],
 "env": {
  "SPARK_HOME": "/usr/hdp/current/spark-client/",
  "PYTHONPATH": "/usr/hdp/current/spark-client/python:/

[2016-12-21 11:31] minrk commented on #913
Is this in a terminal in JupyterHub? Kernelspecs only affect Jupyter kernels, not other terminal programs. You may want to set those environment variables for your user in general, in addition to just the single kernel, which will only affect notebooks.

[2016-12-21 11:51] minrk commented on #766
This is already supported via the `options_form` configuration, and used by spawners such as ProfileSpawner and WrapperSpawner. The same can be done on DockerSpawner, if a list of container images is given. Allowing *any* image is likely not something that DockerSpawner should do by default.

[2016-12-21 11:57] minrk commented on #772
@jacknlliu The `jupyterhub/jupyterhub` image contains only the Hub itself, with no configuration. In general, one needs to make a derivative image, with at least a `jupyterhub_config.py` setting up an Authenticator and/or Spawner.

[2016-12-21 11:58] beeva-gerardovazquez commented on #913
I'm staring manually jupyterhub from a conda environment
When the pyspark kernel starts the output is written into the console, is where I found that traces.

[2016-12-21 12:08] minrk commented on #219
@remidebette can you include your JupyterHub configuration? I suspect a base_url is getting duplicated (hence `/jupyter/hub/jupyter/`), but it's not quite obvious where this is happening.

[2016-12-21 12:11] minrk commented on #563
@msvolenski what are the ip and port used when it works and when it doesn't? Is one `127.0.0.1` and the other `localhost`? If so, that might be the key. We have seen AV/proxy tools that block one but not the other *in both directions*, so there doesn't appear to be a single, perfect solution.

[2016-12-21 12:49] minrk commented on #7
Cool, thanks @denfromufa! FWIW, a custom Authenticator and custom Spawner could work on Windows. The main things that are out of scope are support for Windows in the *default* Authenticator (PAM) and Spawner (LocalProcess via setuid). If you ran JupyterHub with GitHub auth and DockerSpawner, for instance, it may well work on Windows, with either no, or very little modifications.

[2016-12-21 15:01] minrk commented on #913
Hm, can you show the environment variables in the subprocess? It sounds like there's something that is hardcoded to use `python` instead of `PYSPARK_PYTHON`.

[2016-12-21 18:58] willingc commented on #889
@rachmaninovquartet @beeva-gerardovazquez @mariusvniekerk It looks like this issue can be closed now. Correct?

If anyone would like to write a brief summary for the troubleshooting FAQ in the docs, we would welcome a PR. Please ping me if you are interested in doing so.

[2016-12-21 19:40] rachmaninovquartet commented on #889
@willingc I'd say it's fine to close. We have two options for fixing.

[2016-12-21 19:40] #889 closed

[2016-12-21 19:48] rachmaninovquartet commented on #889
@willingc I'd be happy to add to the docs, but I'm not sure how to ping you

[2016-12-21 19:51] willingc commented on #889
@rachmaninovquartet Just @ mention me like you just did if you have any questions on adding to the docs either here or on a WIP PR. Thanks! :cake:

[2016-12-21 20:29] goulou commented on #219
In my setup, none of the above solutions seemed to work... This might be due to the fact that Apache runs in SSL mode.
However, the following solution works perfectly, and seems cleaner :

[code]
It uses HTTP headers instead of the URL, so should be more generic.

[2016-12-21 21:22] damianavila commented on #899
It takes a little bit to catch the new environment and create the corresponding kernelspec because of a caching mechanism: https://github.com/Anaconda-Platform/nb_conda_kernels/blob/master/nb_conda_kernels/manager.py#L42-L65, refreshing do the trick faster...

What do you mean with that? If you try to create an R environment using the conda tab, what experience do you get? What are the kernels do

[2016-12-21 21:30] mconigliaro commented on #899
@damianavila #897 explains what happens when I try to create an R kernel in the Conda tab. The only thing I see in the webui is this:

[code]

But I was able to figure out what was going on by looking at the logs.

[2016-12-21 21:46] damianavila commented on #899
So the missing r channel, I guess...

[2016-12-22 00:03] thornhale commented on #906
My colleague tried running Jupyterhub with the debug option.

Unfortunately, no further information is returned. I ended up following your JupyterHub tutorial which you gave in London this year. Maybe not as elegant as Jupyter in a Docker container, but at this point, we were able to get JupyterHub to run in our virtual network using your tutorial. Thank you for that!

Trying to make this service

[2016-12-22 02:13] younseunghyun commented on #323
there is no any progress for this issue? I encountered this issue with Centos7.

Jupyterhub emit error PAM Error 7 when second user trying to login.

[2016-12-22 02:24] younseunghyun commented on #323
Hi, I solve this issue by setting this

`c.PAMAuthenticator.open_sessions = False`

[2016-12-22 07:22] beeva-gerardovazquez commented on #913
For the process running in the jupyterhub server.

# ps w 30860
  PID TTY      STAT   TIME COMMAND
30860 ?        Ssl    0:57 /opt/anaconda2/bin/python2.7 -m ipykernel -f /home/api-ingestion/.local/share/jupyter/runtime/kernel-67559645-c646-478d-93d5-180e4c7a9dd5.json

# strings -a /proc/30860/environ
PYTHONPATH=/usr/hdp/current/spark-client/python:/usr/hdp/current/spark-client/python/build:/usr/h

[2016-12-22 08:44] jacknlliu commented on #772
@minrk I followed the [configuration instruction](http://jupyterhub-tutorial.readthedocs.io/en/latest/timeline.html#configuring-jupyterhub), but the docker image still got the error, why not provide a basic default configuration to proof the docker image/jupyterhub could work just like [jupyter-notebook](https://github.com/jupyter/docker-stacks/tree/master/minimal-notebook)?

[2016-12-22 11:36] mariusvniekerk commented on #913
So this is an issue caused by your yarn topology.py file not being compatible with python 3.

Ambari has been known to lay down non python 3 compatible things.

You can avoid it by

Fixing the Topology.py.
Prepending your path so that python results in py2

[2016-12-22 16:50] beeva-gerardovazquez commented on #913
@mariusvniekerk yes, as seen in #889

Idea was to add the issue with more info as is not only related to Toree but will jump in any ambari deployed cluster trying to run pyspark from jupyterhub. And great if anyone finds another workaround :)

[2016-12-29 00:38] yizhexu opened #917 "Jupyterhub Daemon encounters 500 error"
Hello! I encountered a jupyterhub 500 internal server error after trying to configure it run as start in centos 7.

I followed the instruction here: https://goo.gl/Y0GMpd after installing jupyterhub through pip3 install.

**How to reproduce the issue**
1. Generate config
`sudo jupyterhub --generate-config -f /etc/jupyterhub/jupyterhub_config.py`
changed c.JupyterHub.hub_ip = '192.168.xx.xxx'
Also

[2016-12-31 08:04] hustlijian commented on #278
check all the directory to` $(which jupyterhub-singleuser)` to see ,if has read permission。
eg: `/opt/rh/rh-python34/root/bin`
you need to check `/opt/`, `/opt/rh`, `/opt/rh/rh-python34/`, `/opt/rh/rh-python34/root`, `/opt/rh/rh-python34/root/bin`

[2017-01-02 13:52] minrk commented on #905
JupyterHub 0.7.1 and DockerSpawner 0.6 should fix this, which should both be out in the next day or two.

[2017-01-02 15:42] minrk commented on #917
Something's wrong, because using sudospawner should mean that the Hub is *not* running as root, but if I understood your description correctly, you are running JupyterHub as root.

What do you get for `which -a sudospawner`? And `sudo which -a sudospawner`? What are the permissions on the `sudospawner` executable that you find?

[2017-01-02 16:39] pacosoplas commented on #917
I am trying start jupyterhub as not root user, but when I type user y pass and click on Sign in button i receive this error.

I did everything from this page: https://github.com/jupyterhub/jupyterhub/wiki/Using-sudo-to-run-JupyterHub-without-root-privileges

[E 2017-01-02 16:43:07.215 JupyterHub user:245] Unhandled error starting u029550's server: substring not found
[E 2017-01-02 16:43:07.228 Jup

[2017-01-02 17:27] yizhexu commented on #917
@minrk Thanks for your response. I got the following
[code]

[2017-01-03 09:01] minrk commented on #917
@yizhexu it's a bit odd to have one in `/bin`. I would have expected these to go in `/usr/local/bin`. How did you install sudospawner?

which executable did you give sudo permissions to? It must be the exact full path of the `sudospawner` executable that will be run. Other sudospawner executables will not have the necessary elevated permissions.

[2017-01-03 16:23] yxqd opened #918 "Proxy fails every minute with exit code -11"
This issue may or may not be related to #327

After jupyterhub is started, the configurable-http-proxy keeps exiting every other minute:

[code]

I cannot find a good way to capture the error log from the proxy to understand the cause of the exits. I have tried

* set debug_proxy to True in /etc/jupyterhub/jupyterhub.py
* add --debug to the cmd launching jupyterhub:
  ```sudo -u jupyterlocal /usr/

[2017-01-03 16:47] minrk commented on #918
@yxqd can you run without redirecting the output anywhere and share what you see in the terminal?

[2017-01-03 17:03] yxqd commented on #918
Thanks @minrk. Here is a typical output
[code]

[2017-01-03 20:09] yizhexu commented on #917
@minrk Thank you for your response. sudospawner and jupyterhub are in `/bin` was because I created a link manually. I have them removed and still get the same 500 error. The actual sudospawner path is in `/usr/local/bin` because I installed it with `sudo pip3 install git+https://github.com/jupyter/sudospawner`.

One thing that I don't understand is you said

If you want to do `systemctl start jupy

[2017-01-04 09:22] minrk commented on #917
@yizhexu Yes, that jupyterhub service example does run the Hub as root. The point I'm trying to reach is that if you are running the Hub as root, there is no reason to use the sudospawner. sudospawner is only useful when you are running the Hub as a restricted user, because it adds extra steps to gain *specific* elevated permissions, rather than assuming root permissions. If you are already runnin

[2017-01-04 17:21] mattdesl commented on #292
I was banging my head against a wall trying to fix this — it seems like Safari is the only browser that doesn't accept a self-signed untrusted certificate for secure WebSockets.

I fixed the cert like so:

- Make sure you're using SHA256 generating the self-signed key
- Make sure your CommonName is set to the same host (i.e. IP) you are running — you can use the command `-subj /CN=192.168.1.54`
-

[2017-01-05 15:36] ellisonbg opened #921 "Add example of starting a single user server as a service"
Hi! Thanks for using JupyterHub.

If you are reporting an issue with JupyterHub:

- Please use the [GitHub issue](https://github.com/jupyterhub/jupyterhub/issues)
  search feature to check if your issue has been asked already. If it has,
  please add your comments to the existing issue.

- Where applicable, please fill out the details below to help us troubleshoot
  the issue that you are facing.

[2017-01-05 15:55] willingc commented on #921
@ellisonbg Great suggestion for the example. The current examples are found here: https://github.com/jupyterhub/jupyterhub/tree/master/examples

Good question re: leaving managed services running. @minrk?

[2017-01-05 16:23] ellisonbg commented on #921
I think the  main questions I have are these...

Right now the spawner uses the following code block to pass command line options to the singleuserserver:

[code]

Which of these will need to be passed when the single user server is run as a service and how will it get them?

Part of the confusion is that managed services get passed the following env vars:

[code]

But it looks like the single use

[2017-01-05 16:51] minrk commented on #921
Great idea! I'll write up the example, and probably make a separate PR to make it easier, after I see what's needed.

Possibly all of them, I'll have to check. As for how they get there, those needed will need to be part of the service definition, e.g.

[code]

It's possible that several of these have sensible defaults, in which case you only need to specify them if the defaults are not correct.

[2017-01-05 16:57] ellisonbg commented on #921
Awesome! I am working on some other stuff now, but @mention me in any PRs
and I can test. I think this could dramatically simply formgrade as well.

On Thu, Jan 5, 2017 at 9:51 AM, Min RK <notifications@github.com> wrote:

--
Brian E. Granger
Associate Professor of Physics and Data Science
Cal Poly State University, San Luis Obispo
@ellisonbg on Twitter and GitHub
bgranger@calpoly.edu and ellisonb

[2017-01-05 18:19] willingc commented on #921
Great! Thanks Min. I'm around for the rest of today and tomorrow to review and document whatever. Still working on vagrant for testing.

[2017-01-06 01:58] bwkeller opened #923 "Nonexistent user in c.Authenticator.whitelist causes crash even after change"
Hello,

I seem to have encountered a little bug.  I'm running Jupyterhub 0.6.1, and I discovered that if a user is added to c.Authenticator.whitelist in the jupyterhub config file, the server will crash on start with the following error:

[code]

Now, that is of course sensible behavior.  However, if that user is removed from the whitelist in the config file, jupyterhub will no still be unable to

[2017-01-06 13:09] minrk commented on #923
Indeed it could! Users are added to the database from the whitelist, but users not in the whitelist that have been added previously remain in the database, though they won't be allowed to login. You can delete these users from the admin page, or you can clear the `jupyterhub.sqlite` database and start fresh.

[2017-01-06 16:11] willingc commented on #921
@ellisonbg #924 should address this now.

[2017-01-06 16:18] bwkeller commented on #923
Oh man, I see that this is explained in the docs too.  Should have done some more reading before I opened this issue.  Sorry all.

[2017-01-06 16:18] #923 closed

[2017-01-06 16:35] willingc commented on #923
@bwkeller No problem. Thanks for bringing the question up as I think the docs could actually be clearer on this topic.

[2017-01-08 14:14] barrachri commented on #631
Consider also using NFS or something similar (https://github.com/jupyterhub/jupyterhub/issues/839)

[2017-01-08 15:05] kartoch commented on #281
Just a random note: the same problem is present if we want to access the web interface of 'dask.distributed', a full-python alternative to spark/hadoop. Description of the web interface and the ports used is detailed here: http://distributed.readthedocs.io/en/latest/web.html

[2017-01-09 11:35] minrk commented on #923
Also a mitigation: JupyterHub 0.7 demotes this error from a crash to a logged error, so it should be less of an impediment.

[2017-01-09 15:32] Amerterasu opened #929 "Setting default url to home directory"
I understand that there is a way to configure the default url in the config file, but this involves something along the line of adding "/tree/home/{username}". However I've encountered a situation where the username is not the same as the one in path to home. Is there a way to instead do a "/tree/{homedir}" or something along the line of getting the home directory for a user? Thanks!

[2017-01-09 16:12] minrk commented on #918
@yxqd that looks like the CHP install and/or nodejs is broken. What version of nodejs and configurable-http-proxy are you using, and how did you install them?

[2017-01-10 13:40] ermakovpetr opened #930 "Failed to find proxy ['configurable-http-proxy']"
➜  npm install -g configurable-http-proxy

➜  /usr/local/python35/bin/jupyterhub --version

➜  /usr/local/python35/bin/python --version

➜ /usr/local/python35/bin/jupyterhub --ip=0.0.0.0 --port=80 --no-ssl

➜  rpm --query centos-release

:(

[2017-01-10 13:49] ermakovpetr commented on #930
:)

[2017-01-10 13:49] #930 closed

[2017-01-10 16:21] #917 closed

[2017-01-11 03:14] willingc commented on #929
Hi @Amerterasu,

[This section](https://jupyterhub.readthedocs.io/en/latest/troubleshooting.html#i-want-access-to-the-whole-filesystem-but-still-default-users-to-their-home-directory) in the docs demonstrates setting `c.Spawner.notebook_dir` and `c.Spawner.default_url`. Here's also a link to the docstrings for the Spawner settings for `notebook_dir` and `default_url` https://github.com/jupyterhub/

[2017-01-11 03:20] willingc commented on #906
Hi @thornhale and @minrk,

Should we continue to leave this issue open? I'm wondering if the recent JupyterHub 0.7.2 would have the same behavior or if it would resolve the issue. Please let me know your thoughts about the status of the issue.

Thanks!

[2017-01-11 03:27] willingc commented on #900
Thanks @kafonek @minrk. Closing with the following resolution.

---
## Resolution

Some Linux system install still use an old version of node (such as 0.10). Upgrading the node package to a more recent version such as 6.4.4 will resolve the issue of the crashing proxy. As a note, configurable-http-proxy 2.0 will not support node < 4.

[2017-01-11 03:27] #900 closed

[2017-01-11 03:31] willingc commented on #516
Update: there are currently 3 reference deployments as checked in the original issue.

I'm going to close since I believe that new reference deployments will be released as needed or contributed by the community. @yuvipanda @minrk feel free to reopen if desired.

[2017-01-11 03:31] #516 closed

[2017-01-11 03:33] willingc commented on #899
Hi @mconigliaro,

Do you have any objection to me closing this issue? Or are you still having issues with R?

As an FYI, we recently released JupyterHub 0.7.2 as well.

[2017-01-11 03:34] willingc commented on #884
Closing this issue as resolved.

[2017-01-11 03:34] #884 closed

[2017-01-11 03:37] willingc commented on #883
Hi @minrk @lengau,

I'm going to go ahead and close this issue as currently out of the project scope. Please feel free to reopen if you believe that I have closed this in error. Thanks!

[2017-01-11 03:37] #883 closed

[2017-01-11 03:38] willingc commented on #879
Closing this issue as resolved after PR #915.

[2017-01-11 03:38] #879 closed

[2017-01-11 03:42] willingc commented on #870
I'm going to go ahead and close this issue as resolved. The original issue was filed using JupyterHub release 0.7b1. We recently released 0.7.2. If you see these errors or others in the future, please let us know. Thanks!

[2017-01-11 03:42] #870 closed

[2017-01-11 03:44] willingc commented on #856
@parente Do you want to leave this issue open or close it here and iterate on it in the kerberos example repo?

[2017-01-11 03:46] willingc commented on #854
@minrk Do you want to close this as completed with 0.7? It doesn't appear to me that there is additional work for 0.8. Thanks.

[2017-01-11 03:49] willingc commented on #853
@otzy Sorry that we didn't answer this sooner. I'm hoping that you received an answer to your question on one of our other communication channels such as Gitter or the Jupyter mailing list. Please let us know if you still have questions. I'm very sorry for the delay.

[2017-01-11 03:57] willingc commented on #809
Hi @Fleckenteufel,

I'm going to close this issue since it's been a few months with no activity. You mentioned in your last message that you were able to get things working. Thanks and please feel free to request this to be reopened if there are still outstanding questions :-)

[2017-01-11 03:57] #809 closed

[2017-01-11 04:00] willingc commented on #792
There is now a https://github.com/jupyterhub/jupyterhub-example-kerberos repo. Thanks @parente. I'm going to close this issue.

[2017-01-11 04:00] #792 closed

[2017-01-11 04:01] willingc commented on #750
I'm closing this issue since there has been no activity in several months and it looks like the initial question has been answered. Thanks!

[2017-01-11 04:01] #750 closed

[2017-01-11 04:52] yuvipanda commented on #854
Yup, all done!

[2017-01-11 04:52] #854 closed

[2017-01-11 09:05] otzy commented on #853
@willingc actually I found the work around, as I mentioned in my comment.
This is simply a wish to have jupyterhub users not dependent on OS users.

[2017-01-11 14:46] minrk commented on #906
I think it's unlikely that the patch releases since 0.7 would fix whatever the cause here might be, but I still don't know what the root cause is. My *guess* is that it's outside JupyterHub, and a matter of configuration the many moving parts in docker, etc.

[2017-01-11 14:54] minrk commented on #853
It's up to the Spawner to decide how to start the single-user servers, including picking the user to run as. For the local (default) case, local users are used. For containerized servers (e.g. DockerSpawner), local users aren't needed.

A Spawner can choose to run all single-user servers as the same user. I don't believe any public deployments do this, but a small subclass would work:

[code]

Alt

[2017-01-11 15:32] willingc commented on #906
I'm going to close this issue as a configuration case that would be difficult to troubleshoot without direct access to the original config. We'll have this documented discussion available via issue search if the same error is seen in the future. Thanks @thornhale and @minrk.

[2017-01-11 15:32] #906 closed

[2017-01-11 15:36] Habulinec opened #932 "LocalAuthenticator.create_system_users not working"
Hi all,

I have an issue with the LocalAuthenticator.create_system_users.
According the [documentation](http://jupyterhub.readthedocs.io/en/latest/config-examples.html) (at least as far as I've understood), the parameter c.LocalAuthenticator.create_system_users should create the OS user in case the user doesn't exist, correct?

We are using the LDAPAuthenticator, which is working, but if the user

[2017-01-11 15:49] minrk commented on #932
Does `adduser username` result in creating a working user who can be inspected at the terminal?

[2017-01-11 16:00] Habulinec commented on #932
Of course:
[code]

[2017-01-11 16:01] willingc commented on #932
@minrk It doesn't appear that the add user is handled in the LDAP_Authenticator https://github.com/jupyterhub/ldapauthenticator/blob/master/ldapauthenticator/ldapauthenticator.py#L124.

I may be wrong, but doesn't `ldapadd` need to be used for adding the new user to the LDAP directory. See item 11 here: http://www.openldap.org/doc/admin24/quickstart.html

[2017-01-11 16:07] thornhale commented on #906
Hi Carol,

We found that our firewall blocks any websocket connection attempts. We are working with the security team to create a new rule and hope that this will fix the issue. I will keep you updated.

Anthony

On 1/10/2017 7:20 PM, Carol Willing wrote:

Hi @thornhale<https://github.com/thornhale> and @minrk<https://github.com/minrk>,

Should we continue to leave this issue open? I'm wondering i

[2017-01-11 16:09] Habulinec commented on #932
@willingc I don't think I need to add a new LDAP user. My LDAP user is present. It's the local user on the linux OS level, who's missing. Once I create the OS user with adduser, everything works fine - with the LDAP credentials.

[2017-01-11 16:09] minrk commented on #932
@Habulinec once you've done that, can you do in Python:

[code]

[2017-01-11 16:09] willingc commented on #906
Hi @thornhale,

Thanks! Please feel free to ping us as needed here or on the Gitter channel. :sunny:

[2017-01-11 16:12] willingc commented on #932
@Habulinec Ah... got it. Thanks. Let's see what @mirnk comes up with :-)

[2017-01-11 16:13] minrk commented on #932
I think I see the issue. The `create_system_user` isn't getting triggered because the LDAPAuthenticator doesn't check for this.

I think the ldapauthenticator package needs to include a `LocalLDAPAuthenticator` for the case where:

1. LDAP is the authenticator, and
2. PAM is *not* set up to talk to LDAP

which is not yet implemented, it looks like.

[2017-01-11 16:17] willingc commented on #932
Now that I'm looking at the issues for the LDAPAuthenticator, it looks like there is also an open issue for create user there https://github.com/jupyterhub/ldapauthenticator/issues/29.

[2017-01-11 16:21] Habulinec commented on #932
@minrk

Correct. I forgot to mention that. I was trying to persuade our server guys to implement the ldap pam option for the OS level as well, but that didn't happen yet.

End of story - enabling the LDAP in PAM on the OS level would most probably solve my issue, right?

[2017-01-11 20:23] otzy commented on #853
thanks a lot, I'll try that

[2017-01-11 20:23] #853 closed

[2017-01-11 20:34] Amerterasu commented on #929
Hi thanks for the link and it does work, but in the link you gave me for the `c.Spawner.notebook_dir` the description says that '~' gets expanded to the home directory. Is there a similar feature for the `c.Spawner.default_url` ? I know you can set the default url to home by doing '/home/{username}' , but as my first post explained, what if there are a set of users where the home directories are n

[2017-01-12 17:25] #899 closed

[2017-01-13 02:13] barrachri commented on #766
Thanks @minrk.

I am checking the JupyterHub API, for example POST /users/{name}/server to create a new server

I see it doesn't accept any parameter and that it doesn't return nothing.

That said I would like to prepare a PR with:

1. accepting a json body with the same use of options_form
2. return some info about the server
3. add the possibility to create multiple servers
4. if the token is re

[2017-01-13 03:09] barrachri commented on #891
Question:

Jupyter notebooks offered through JupyterHub are already "secured" using the hub for the login and the cookie.

What is the point to add this support ?

is not easier to set

`c.NotebookApp.token = ''`

`c.NotebookApp.password = ''`

?

[2017-01-13 09:44] minrk commented on #766
@barrachri great! I think the doc might be a bit out of date, because the REST API *does* support user_options as the JSON body.

1. This is already supported. Make a POST with json body, and it will be interpreted as `user_options`. We may need to change this if we need to expose new options, pushing user_options down a level in the data structure.
2. A JSON response is a great idea. It's empty n

[2017-01-13 11:29] barrachri commented on #766
Point n. 4 is more if you want to use the JupyterHub API instead of the UI to give access to the user's servers.

If you want for example to create a new server and give access to that server to the user how can you do this without using the login form ?

[2017-01-13 12:28] minrk commented on #766
- `POST /user/:name/server` starts the server
- `POST /user/:name/admin-access` sets the cookie for admin-access to the user's server

We'll need to reconsider some of these endpoints when there are multiple servers, as `admin-access` will need to be per-server, not per-user, which used to be the same thing.

[2017-01-13 13:43] minrk commented on #891
[This comment above](https://github.com/jupyterhub/jupyterhub/issues/891#issuecomment-265150188) is the main thing to implement. Everything's in place in that JupyterHub has tokens, and an API for asking the Hub who a token corresponds to (`GET /authorizations/token/:token`). What's needed is for the HubAuthenticated wrapper to look for tokens in the Authorization header and url parameters, in add

[2017-01-13 13:50] barrachri commented on #766
I tried 'POST /user/:name/admin-access'

But it doesn't work with the services and it seems more a browser endpoint instead of a REST API.
Also I don't receive any response.

[2017-01-13 14:39] minrk commented on #766
Admin access means setting a cookie that the single-user server will see, so in that sense it is mainly useful in browsers. But it is part of the REST API, and used as such:

[code]

The response is:

1. 200 OK (access granted)
2. setting the cookie needed to access the server

[2017-01-13 17:01] barrachri commented on #766
@minrk thanks for the patience, I was using Postman and there is not output there :/

[2017-01-14 18:26] rcompton commented on #227
@minrk could you clarify

?
Do you mean I add an `argv` field to kernel.json?

[2017-01-14 18:44] ellisonbg opened #934 "Improve logging information for services"
**How to reproduce the issue**

Configure a managed service, but forget to include the `command` argument (or other important ones, such as the URL)/

**What you expected to happen**

It would be nice is JupyterHub gave more information in the logging to indicate that a managed service had started or not and warned the admin if he service appears to not be working as expected. One option would be

[2017-01-14 19:08] willingc commented on #934
@ellisonbg Good suggestion 👍

[2017-01-14 19:52] ellisonbg opened #935 "cwd isn't set for a managed service if user is set"
Hi! Thanks for using JupyterHub.

If you are reporting an issue with JupyterHub:

**How to reproduce the issue**

Configure a managed service with both the `cwd` and `user` options.

**What you expected to happen**

The managed service should be started by the configured `user` in the `cwd`.

**What actually happens**

The `cwd` is passed to Popen (I have verified that) but it is lost when the pro

[2017-01-14 20:10] ellisonbg commented on #935
Looks like the `LocalProcessSpawner` is setting the `cwd` to the user's home dir:

https://github.com/jupyterhub/jupyterhub/blob/master/jupyterhub/spawner.py#L669

[2017-01-15 13:26] barrachri commented on #766
Some questions:

Is user_options generally sent down to the spawner as a dict ?
What do we want to use for server name in  `/user/:name/server/:name` ? the id ?

Right now the cookies are built is this way: name(user.server.cookie_name): value(user.cookie_id)
At the end you have something like jupyter-hub-token-christianbarra: 39489sfjkdhfdhjhj4h3j4h3j4j

do we want to keep the same ?

[2017-01-16 09:31] minrk commented on #227
@rcompton yes, I mean editing the `argv` field in the kernel.json. It probably looks like this:

[code]

After you create `/path/to/your/script`, it will look like this:

[code]

[2017-01-16 13:26] minrk commented on #766
Follow-up from gitter:

user_options is set as the `.user_options` attribute on the Spawner. It is up to the spawner to interpret these options.

It should probably be specified by the request that creates it (i.e. names are required). If names are not required, we could use counters by default - 1, 2, 3, etc. or simple random hex IDs.

We will probably want to keep setting cookies for `/user/:nam

[2017-01-16 14:37] minrk commented on #934
#939 should add more logging to startup, as well as some health checks, both at startup and periodically

[2017-01-16 14:39] #935 closed

[2017-01-17 03:21] camilo-nunez opened #940 "Error 500 with Kernel over Nginx"
Hi! I try to run a api with nginx and a subdomain. At first, I had problems not recognizing the kernel, but a use the [config](https://gist.github.com/zonca/08c413a37401bdc9d2a7f65a7af44462) file of [Zonca](https://gist.github.com/zonca) and it worked. However, at the time of running a kernel on a notebook (2.7 or 3), the state of this is only in the mode "Connecting to kernel". Also, when i see t

[2017-01-17 18:06] barrachri commented on #766
for server :name we can use
`uuid.uuid4()` and then `base64.urlsafe_b64encode(uuid)`

For the cookie you said it is better to use one cookie per user.

[2017-01-17 23:22] barrachri opened #941 "API /user/{name} ambiguous"
Both PATCH and POST method accept this json body:

{
  "name":  "nameOFtheuser",
  "admin": true
}

The hub will use the {name} inside the URL but if you try to call the endpoint with a PATCH method and different names (body and url) you will get

 sqlalchemy.exc.InvalidRequestError: This Session's transaction has been rolled back due to a previous exception during flush.]

I think it would better

[2017-01-18 03:58] #940 closed

[2017-01-18 05:35] willingc commented on #940
Hi @camilo-nunez,

Did you get this resolved? If so, what was the issue? It might help the next person. Thanks!

[2017-01-18 13:13] camilo-nunez commented on #940
Hi ! Yes i resolved it. The fastest solution I found was to disable SSL in the Nginx configuration and Jupyterhub file.

This is the nginx.conf result:
[code]

And the jupyterhub_config.py:

[code]

[2017-01-18 21:05] camilo-nunez opened #943 "Can't generate "Authorized JavaScript origins" with "/hub/oauth_callback""
Hi ! I have a problem when i try to generated the  "Authorized JavaScript origins" with "/hub/oauth_callback". At the moment to use the url `http[s]://[your-host]/hub/oauth_callback` this return error 404.

(I installed oauthenticator with pip and pip3)

This is the log of Jupyterhub:
[code]

And this my jupyterhub_config.py:
[code]

Thanks !

[2017-01-18 21:27] willingc commented on #943
Is this a typo or do you need to uncomment these lines?

[code]

In my configuration using GitHub OAuth, I have the following set:

[code]

[2017-01-18 23:30] minrk commented on #941
PATCH must accept the name, because that's how users are renamed. The name field looks to be ignored in POST, but it would be okay to add a failure if it's defined.

I think the rollback error here might be misleading, and could point to a different issue.

[2017-01-19 01:33] barrachri commented on #941
https://github.com/jupyterhub/jupyterhub/pull/944

[2017-01-19 02:19] #934 closed

[2017-01-19 05:36] jameswq opened #945 "how to link jupter of anaconda between emacs"
hi , i dont know how to link jupyter of anaconda with emacs 25,thanks advanced.

[2017-01-19 08:17] mraky commented on #394
yesyesyes ;)  this feature is very important...  users should have posibility to share notebook - but in controled manner... i.e accessible under name

anyone found any workaround for this ?

[2017-01-19 15:23] willingc commented on #945
Hi @jameswq,

Looking at the question, are you having trouble installing Jupyter Notebook using Anaconda? If you could provide more detail on your question, I can help guide you to the best place to ask your question. Thanks!

[2017-01-19 19:32] rsinha25 opened #946 "Config file doesn't load"
Hi ,

I have written a config file for jupyter, and I would like it to be loaded when notebook is spawned through hub, but that isn't working for me. I have created a conda env, installed hub and lab in it through pip. Using Mac with Chrome. Hub spawns notebook but doesn't load the config which essentially does a couple of things along with redirecting to /lab. I have supplied the config file for

[2017-01-19 20:38] #941 closed

[2017-01-19 20:53] sudipto84goswami opened #947 "Using SASGSUB in SAS Kernel"
Hi Team,

Just wanted to check on the following things if possible : -

1. Can we invoke SASGSUB utility from Jupyterhub. We do have SAS Kernel in our setup. Need the details on doing this.

2. We are having a clustered SAS Computational nodes. So as per current configuration we allow users to explicitly select the available node and submit there processes. Is there any process we can remove this

[2017-01-20 00:29] willingc commented on #947
Hi @sudipto84goswami,

Good questions. We do not have a configuration that supports this out of the box. You would likely have to write something custom and/or extend one of the existing spawners, perhaps batchspawner.

This [recent issue](https://github.com/sassoftware/sas_kernel/issues/27) from [SAS kernel repo](https://github.com/sassoftware/sas_kernel) indicates that this is not yet implemente

[2017-01-20 00:50] willingc opened #948 "Add info about environment variables in configuration docs"
Based on a discussion on UC-Berkeley slack, it might be helpful to better document ways of setting environment variables. Response from @minrk follows:

[code]

Additional conversation:

[code]

[2017-01-20 01:37] minrk commented on #946
What Spawner are you using? Can you add `--debug` to the args and show the output of the command?

[2017-01-20 01:39] minrk commented on #947
I'm not familiar with SAS and I don't fully understand how this is working, but the Spawner determines how notebook servers are started, and you could write a custom Spawner that changes how resources are allocated to use the SAS nodes.

[2017-01-20 02:35] sudipto84goswami commented on #947
Thanks Benjamin for looking in my question.

We have configured the saspy cfg with the connection information for our 5 computational SAS nodes. The saspy cfg resides at the Jupyter server and we have done both way key exchanges from SAS and Jupyter nodes. So when we open the notebook for SAS kernel and submit any of the SAS processes, it explicitly asks us to select on which SAS node the request

[2017-01-20 17:19] kingaj12 opened #951 "Jupyterhub not sending user login page, but old connections are working"
I am running jupyterhub on Ubuntu 14.04.

Jupyterhub successfully opens a notebook session when I use firefox where my old session cookie is probably stored.

But if I use a browser without a stored session cookie, jupyterhub does not send the user login page.

Here is the output from jupyterhub troubleshooting:

[W 2017-01-20 11:13:16.025 JupyterHub app:304]
    Generating CONFIGPROXY_AUTH_TOKEN.

[2017-01-20 17:19] willingc opened #952 "Determine why codecov tool is incorrectly reporting coverage"
The past few days, codecov tool is reporting coverage ~55% instead of the more recent ~85%. Will investigate if codecov tool has new settings causing this spurious drop.

[2017-01-20 22:52] #952 closed

[2017-01-21 01:36] DeepHorizons opened #954 "HubAuth does not work with service tokens"
It is currently not possible to authenticate a service using the HubAuth class.
When attempting to use a service token to authenticate a service via `/api/authorizations/token/{token}`,
 it returns a 404.

**How to reproduce the issue**
Take a service token and make a request to `/api/authorizations/token/{token}` using the token and the proper authorization header.

**What you expected to happen*

[2017-01-22 09:05] barrachri opened #957 "Using Nginx instead of http-proxy"
Sometimes when you deploy JupyterHub you use Nginx in front of everything.

Is there the possibility to use Nginx instead of http-proxy ?

Nginx + Lua + Redis should almost do the same job.

[2017-01-22 19:42] ryanlovett commented on #957
https://github.com/yuvipanda/jupyterhub-nginx-chp/

It works well.

[2017-01-23 05:15] shusson commented on #379
Tested and working with 7.2

jupyter_notebook_config.py:
[code]

jupyterhub_config.py:
[code]

[2017-01-25 22:27] #943 closed

[2017-01-26 04:29] ellisonbg opened #962 "Improve documentation about talking to API"
Hi! Thanks for using JupyterHub.

I found it was a little bit non-obvious on how use call the rest API. Some things I ran into following along at:

http://jupyterhub.readthedocs.io/en/latest/rest.html

* The documentation says to create a token using `jupyterhub token username`, but that didn't work. The missing piece is that I had to point it to my config file using `--config`.
* There was an exa

[2017-01-26 08:55] #891 closed

[2017-01-26 09:07] willingc commented on #891
Thanks @minrk.

[2017-01-26 17:11] willingc commented on #957
@barrachri Should this be closed now?

[2017-01-26 17:15] mrinmoyprasad opened #963 "Unreadable Notebook NotJSONError"
Hi!

I tried searching for this issue here https://github.com/jupyter/notebook/issues but could not find one. Since I am getting this error for almost all the users using JupyterHub-spawned single user notebook servers, I considered logging this issue here.

Notebook Version on Single User Notebook Server: 4.1.1
Python Version on Single User Notebook Server: Python 3.5.2 :: Continuum Analytics, In

[2017-01-26 17:18] willingc commented on #963
Hi @mrinmoyprasad,

You are using an older development of JupyterHub. I recommend updating to the stable version 0.7.2. Also check that you are using the current dockerspawner release. I hope that helps.

[2017-01-26 17:27] mrinmoyprasad commented on #963
Hi @willingc ,

Thank you for your quick reply! Can you point me to the more recent version of "JupyterHub" and "SingeUserServer for DockerSpawner" images?

Thanks
Mrinmoy

[2017-01-26 21:36] DeepHorizons opened #964 "Ability to perform an action on behalf of a user"
There should exist a way to talk to a service pretending to be a user. This would enable two things:

1. Chaining services together, where all the responses would be as if the user was making it directly.
2. Have other parts of JupyterHub make requests to services and have any data filtering done on the service end rather than where the request was made.

This should be able to be done even if we

[2017-01-26 22:16] willingc commented on #963
The process for upgrades of JupyterHub is [here](https://jupyterhub.readthedocs.io/en/latest/upgrading.html#). The DockerSpawner is found [here](https://github.com/jupyterhub/dockerspawner). And single user server images can be found in the [docker-stacks repo](https://github.com/jupyter/docker-stacks).

[2017-01-27 09:31] minrk commented on #962
Indeed, `jupyterhub token` needs to be run in a place that will find your `jupyterhub.sqlite`, which generally means the same context as your normal jupyterhub startup. It can also only be run *after* your first launch of JupyterHub.

It may not be clear that the 'Adding tokens to the config file' is also a way to create tokens without calling `jupyterhub token`, which I think I would like to depr

[2017-01-27 09:34] minrk commented on #957
Yup, this is doable now.

[2017-01-27 09:34] #957 closed

[2017-01-27 15:32] minrk commented on #963
NotJSONError generally means that a file is not JSON when it's being opened. Can you show the full error message? Can you share one of the notebooks that fails to be opened?

[2017-01-27 15:33] minrk commented on #954
#966 should implement service support in HubAuth

[2017-01-27 15:43] minrk commented on #964
It's technically possible for a service to use the same token and/or cookie that it received to authenticate any further requests that it sends. I'm not sure stealing credentials like that is a good practice, though.

I think the only really decent way of supporting things like this is using proper OAuth in the Hub, where the service can ask for permission to take actions on behalf of the user.

C

[2017-01-27 21:02] dmvieira commented on #853
I did a project for simple integration: https://github.com/globocom/jupyterhub_oauth_spawner

[2017-01-27 22:04] DeepHorizons commented on #964
My specific use case is that I am making a spawner that will present a list of docker images that a user can choose to spawn into. Images are dynamically added using a service and viewing the list of available images can be filtered by user or by group. The spawner will grab the list and create the form for them. Ideally the list should already be filtered when the spawner gets it.

Another exampl

[2017-01-30 14:54] m4ce commented on #394
I would also love to see this feature implemented. We have resorted to commit the notebooks into bitbucket and use the [iPython notebook plugin](https://marketplace.atlassian.com/plugins/com.atlassian.bitbucket.server.plugin.bitbucket-ipynb-plugin/server/overview) to render them.

👍

[2017-01-30 16:13] willingc commented on #394
Hi @mc4ce and others,

You may be interested in following the work being done in the HubShare project https://github.com/jupyterhub/hubshare

[2017-01-30 16:59] bdelwood opened #967 "Cannot sign out when using Google OAuth"
Torubleshoot:

I am using the LocalGoogleOAuth, and authorization works fine. I have my gmail mapped to a local user. However, signing out does not work. Looking at the console when signing out, jupyterhub uses PAM to correctly sign out of the user, but then redirects the browser to the login page, which then automatically redirects to Google, and since the token is still valid, logs me right back

[2017-02-01 09:26] remidebette commented on #219
@minrk Sorry about the long delay.

Here are the uncommented parts of the configuration file I use:
(see my former comment for the apache reverse proxy code)

[code]

Others are just user and admin configuration
Jupyter 0.7, apache 2.4.18, php 7.0.13-0ubuntu0.16.10.1, Ubuntu 16.10

Remi

[2017-02-01 12:11] #954 closed

[2017-02-01 14:39] willingc commented on #962
I will pair with @rnetro on this issue as it complements other work being done by Reese. 🏍

[2017-02-01 19:37] ellisonbg commented on #962
I should have clarified, the main usage case I am running into right now is
this:

* I have a running jupyterhub server that is being used non-stop by users.
* I can't restart jupyterhub
* But I need to talk to the API to modify the groups/users in ways I can't
otherwise.
* Editing the config file isn't an option because I can't restart jupyterhub

A slightly different approach would be to offer a

[2017-02-01 19:38] ellisonbg commented on #962
A @willingc thanks for reaching out to Reese!

On Wed, Feb 1, 2017 at 11:36 AM, Brian Granger <ellisonbg@gmail.com> wrote:

--
Brian E. Granger
Associate Professor of Physics and Data Science
Cal Poly State University, San Luis Obispo
@ellisonbg on Twitter and GitHub
bgranger@calpoly.edu and ellisonbg@gmail.com

[2017-02-02 13:51] evandam opened #968 "File/Folder Permissions with Groups"
I am running into an issue where Jupyterhub doesn't seem to be able to recognize permissions through AD/Vintela groups. Since these groups are not local, they do not appear in /etc/group, so I'm not sure if that's what Jupyterhub attempts to read from to determine permissions.

I'm running Jupyterhub from RHEL 6.8, and reproducing the issue with the following:
[code]
I have confirmed that I am in

[2017-02-02 16:10] willingc commented on #968
Hi @evandam,

I'm not familiar with how AD/Vintela works for permissions/authentication. Since as you say the groups are not local, I suspect that some additional customization or configuration may be needed. You may be able to use something similar to the [shared notebook service examples](https://github.com/jupyterhub/jupyterhub/blob/master/examples/service-notebook/README.md) in this repo.

@mi

[2017-02-02 16:40] willingc commented on #967
@minrk Do you have any idea why the logout doesn't seem to be happening? It's working fine with GitHubOAuth on my instance. Are there additional steps needed for the GoogleOAuth?

[2017-02-02 16:42] willingc commented on #967
Hi @bdelwood,

Hmm...I haven't seen this with logout before. Yet, I'm sure that we'll figure it out. Which version of JupyterHub `jupyterhub --version` are you using?

[2017-02-02 17:27] evandam commented on #968
Thanks for the quick reply! As far as I can tell, the fact that they are AD/Vintela groups is transparent and they all still appear with the `groups` command.
The shared notebook seems worth looking into, but I would like users to be able to explore any files they should have access to if that makes sense.

[2017-02-02 17:42] willingc commented on #968
@evandam Can you clarify what you mean here? Thanks.

[2017-02-02 17:52] evandam commented on #968
Hi @willingc,

Outside of a Jupyter Notebook (in the file explorer view, ex: `localhost:8000/user/<user>/tree`), I'm trying to navigate to different directories. I have the below config set that lands a user in their home directory by default, but they can navigate all the way to the top of the file system.
[code]
When I click the "home" icon now, it brings me to the root of the file system, which

[2017-02-02 21:41] joefromct commented on #430
Do most folks circumvent the need for virtualenv's by installing  pip packages globally so all kernel users have access?

That is a bad idea still.... right?

To me this sounds like it would provide users package install access and still not mess up the global site-packages, unless i'm missing something.

[2017-02-03 00:15] bdelwood commented on #967
0..8.0.dev
Didn't realize I had the dev version.

[2017-02-03 01:44] willingc commented on #968
Hi @evandam,

Thanks for the explanation. Let's see if we can get this working for you. I would suggest modifying the `default_url` to the one below. [Reference](https://jupyterhub.readthedocs.io/en/latest/troubleshooting.html#i-want-access-to-the-whole-filesystem-but-still-default-users-to-their-home-directory)

[code]

If that doesn't fully resolve it, feel free to continue asking questions here

[2017-02-03 11:56] minrk commented on #967
This affects all OAuthenticators, I think (I just tested GitHub, and see the same thing).

I think this is rough sequence of events:

1. first authentication sends you through Google OAuth
2. on completed authentication, a cookie is used thereafter to authenticate with the Hub
3. Logout clears the cookie, but does not revoke the OAuth permission with Google
4. on next visit, we get the following s

[2017-02-03 11:58] minrk commented on #967
#969 should do it.

[2017-02-03 13:18] evandam commented on #968
Hi @willingc,

That's what I had been using initially, but I get a 404 error when I sign in and click "My Server," which attempts to go to `localhost:8000/user/<USER>/home/<USER>`. I found that adding /tree resolved the issue, though.

[2017-02-03 16:17] #967 closed

[2017-02-03 16:20] willingc commented on #967
@bdelwood I've just merged @minrk's fix into master. Please let us know if you have any issues now.

[2017-02-03 16:24] bdelwood commented on #967
@willingc Fix works great.

[2017-02-03 21:25] willingc commented on #967
Thanks for letting us know @bdelwood. @minrk is awesome.

[2017-02-05 02:58] willingc commented on #932
@Habulinec Were you able to resolve your configuration issue with your server support team?

[2017-02-05 03:08] willingc commented on #17
A development note: Sharing is currently being discussed in the jupyterhub/hubshare repo https://github.com/jupyterhub/hubshare/issues/14

@minrk and others Do you mind if we close this issue on this repo and move discussions to hubshare?

[2017-02-05 03:12] willingc commented on #367
There have been several months since this issue has been mentioned. We've released JupyterHub 0.7. I'm going to go ahead and close this. We can reopen or create a new issue should further issues arise.

[2017-02-05 03:12] #367 closed

[2017-02-05 03:38] willingc commented on #833
Status note: Checked EPEL and nodejs on https://lists.fedoraproject.org to see if there has been a more recent release than the one referenced above. Not yet.

[2017-02-05 03:41] willingc commented on #553
In Progress. See PR #938.

[2017-02-06 09:07] minrk commented on #17
Sure, I think that's appropriate

[2017-02-06 09:59] minrk commented on #962
While the REST API is small, writing a small Python API to make it easier to talk to would be great. I think we could have this as `jupyterhub.client`.

Here's a start:

[code]

[2017-02-06 10:24] Habulinec commented on #932
@willingc Sadly not. :-/ I'm busy with something else and haven't got the time to make sure the server is LDAP enabled.

Btw. how does it look with the implementation of the inclusion of the LocalLDAPAuthenticator into the ldapauthenticator? :)

[2017-02-06 10:38] minrk commented on #430
@joefromct using a global, shared env (whether it's a system install or an actual env) is common and isn't a bad idea for admin-controlled environments. If you want to give users total control, creating user-owned envs is a good idea, whether that's a virtualenv or a docker container, etc. It all depends on what permissions the users should have, which varies quite a bit.

[2017-02-06 13:15] willingc commented on #17
Closing this issue. Please continue discussion on sharing to https://github.com/jupyterhub/hubshare/issues/14

[2017-02-06 13:15] #17 closed

[2017-02-06 15:21] scottx611x opened #970 "[Question] Jupyterhub leveraging a "Serverless" architecture?"
Hi all, I'm a part of an upcoming hackathon in a month and had the lofty idea of somehow making Jupyterhub work nicely with a tool called [Zappa](https://github.com/Miserlou/Zappa).

In short, this would allow for extremely cheap Jupyterhub hosting with high horizontal scalability.

There are obviously some limitations with this approach, with a small list of ones known by me being:
- Zappa requir

[2017-02-06 15:26] barrachri commented on #970
AWS Lambda has (or had) huge limitations....

5 minutes, max duration of the function
You can just fit 50MB of zipped packages.

From my opinion (because I tried) it doesn't make any sense to have jupyter there.

[2017-02-06 15:39] scottx611x commented on #970
@barrachri Thanks for the quick response.

I believe that this Zappa tool got around the 50MB limit by having some setting to just upload a small handler to Lambda and load your actual project from S3 at runtime.

The 5 minute runtime is definitely a valid concern, but for my lab's use case I don't envision many people needing more than 5 minutes to run their Python code.

If theres any chance at

[2017-02-06 15:43] barrachri commented on #970
Hey @scottx611x hacking is always cool ! :D

I have some experience with AWS Lambda cause I tried to deploy machine learning model using it.

Related to jupyterhub you also have the proxy that runs with the Hub.

[2017-02-06 15:49] scottx611x commented on #970
@barrachri  Indeed it is :) I'm going to do a bunch of reading in the next month. Where heres a will theres a way right?

If you wouldn't mind keeping this open for a months time in case anyone else has opinions or ideas that would be awesome, thanks!

[2017-02-07 12:57] minrk commented on #970
JupyterHub's architecture doesn't seem like it will be a good fit for a 'serverless' architecture, mainly because it's based on tornado async instead of wsgi (tornado can play nice with wsgi, *as long as you don't use async*). Wrapping a heavily async tornado app in wsgi seems like a difficult task to accomplish well. Anything is possible, though.

That said, all of JupyterHub's 'state' does resid

[2017-02-07 14:15] scottx611x commented on #970
@minrk Thanks! I really appreciate the insight. I figured there would be some hurdles here, but didn't realize they'd be so tall.

[2017-02-07 22:22] ellisonbg commented on #962
:-)

On Mon, Feb 6, 2017 at 1:59 AM, Min RK <notifications@github.com> wrote:

--
Brian E. Granger
Associate Professor of Physics and Data Science
Cal Poly State University, San Luis Obispo
@ellisonbg on Twitter and GitHub
bgranger@calpoly.edu and ellisonbg@gmail.com

[2017-02-08 00:24] willingc commented on #962
Hi @rnetro, Check out what @minrk shared above. Take a look, and we can review this later this week.

@minrk :-)

[2017-02-08 04:34] SimplicityGuy commented on #394
@willingc hubshare looks promising... however the docs clearly state that it doesn't work yet.

Is hubshare the way Jupyter plans to support sharing notebooks? What's the timeline for that project?

[2017-02-08 15:49] minrk commented on #394
Yes, HubShare is one planned way to share notebooks with JupyterHub (not counting real-time collaboration). There are already many deployments that have implemented sharing in one way or another, such as mounting a filesystem with its own sharing semantics (e.g. ownCloud) or extensions for publishing to S3. I hope to have a working version of HubShare by the end of this Spring.

[2017-02-08 15:58] apetresc opened #972 "Crash in singleuser.py: 'change' is a dict rather than an object"
**How to reproduce the issue**
I'm installing JupyterHub with the following relevant versions:

[code]

And a `jupyterhub_config.py` similar to this one (just with credentials, etc, removed):
[code]
(This is all running in a Docker container, if it matters, which I don't think it does).

I then log in with a valid GitHub user.

**What you expected to happen**
My server to start up.

**What actuall

[2017-02-08 16:03] apetresc commented on #972
It just occurred to me that this might be caused by my hard dependency on `traitlets==4.2.1`; maybe the `@observe` annotation changed its API between `4.2.1` and `4.3.0`? I am rebuilding the Docker image with `traitlets==4.3.1` and I'll see if that resolves it!

[2017-02-08 21:24] #972 closed

[2017-02-08 22:05] willingc opened #977 "Add getting an API token via the UI to documentation"
Add documentation about getting an API token via the JupyterHub user interface. See #971 and #976 for details.

[2017-02-09 00:42] malej commented on #294
@kkumer @kashyapchhatbar  @jimgoo -- I'm running into the same issue as you've had here. What is your `jupyterhub_config.py` contain and where did you place these? Interestingly enough, without touching anything in the `.jupyter` directory my basic `jupyter notebook` now fails to connect with SSL error (I've had no issues with `jupyter notebook` itself before installing jupyterhub).

![screen shot

[2017-02-09 04:22] willingc commented on #970
@minrk and others, I'm going to go ahead and close this question as resolved.

[2017-02-09 04:22] #970 closed

[2017-02-09 04:24] willingc commented on #968
Hi @evandam, If you post a debug log with the error that would help us troubleshoot this. Thanks!