[2016-06-02 13:07] alexanderhaensch commented on #600
I was trying to rebuild python but its still happens, with py2.7 and py3.4.
I think it happens while opening the /dev/pts file

[2016-06-02 13:12] alexanderhaensch commented on #600
strace gives me:

ioctl(16, TIOCSPTLCK, [0])              = 0
ioctl(16, SNDCTL_TMR_TIMEBASE or SNDRV_TIMER_IOCTL_NEXT_DEVICE or TCGETS, {B38400 opost isig icanon echo ...}) = 0
ioctl(16, TIOCGPTN, [10])               = 0
stat("/dev/pts/10", {st_mode=S_IFCHR|0620, st_rdev=makedev(136, 10), ...}) = 0
open("/dev/pts/10", O_RDWR|O_NOCTTY)    = 17
--- SIGSEGV {si_signo=SIGSEGV, si_code=SEGV_MAPERR, si_

[2016-06-02 13:18] minrk commented on #600
I'm not sure what library is initiating the calls, but the root of the problem is likely in how Python itself or one of its C dependencies is built.

[2016-06-03 20:04] stevenmanton commented on #292
I just ran into this, too. Any chance this situation can be detected and a useful error message and resolution process displayed? Thanks for the solution!

[2016-06-04 15:04] minrk commented on #292
We should be able to at least detect the case:

- ssl is used
- browser = safari
- websocket connection fails

I'm not sure if we can ask the browser if the certificate is untrusted, but that should get us close enough.

[2016-06-06 08:21] andreapago commented on #278
Hi,
I am experiencing the same issue as above.

if I issue the command

`./pip3 uninstall futures`
    `Cannot uninstall requirement futures, not installed
`

I don't have the future in the site-packages but it is in other locations

`/usr/lib64/python3.4/concurrent/futures`
`/opt/rh/rh-python34/root/usr/lib64/python3.4/concurrent/futures
`

Any idea?

Thanks in advance

[2016-06-06 08:33] minrk commented on #278
@andreapago your concurrent.futures look appropriate and correct. Are you seeing the same SyntaxError? If so, what is the file where the exception occurs? Are you perhaps using `PYTHONPATH`? If so, what is it's value?

[2016-06-06 08:39] andreapago commented on #278
Hi @minrk

thanks for your reply.
I am seeing the following:
`[E 2016-06-06 08:33:21.460 JupyterHub user:237] Unhandled error starting andrea's server: [Errno 13] Permission denied`
`[E 2016-06-06 08:33:21.481 JupyterHub web:1524] Uncaught exception POST /hub/login?next= (127.0.0.1)`
   ` HTTPServerRequest(protocol='http', host='127.0.0.1:8000', method='POST', uri='/hub/login?next=', version='HTTP

[2016-06-06 09:38] minrk commented on #278
Ah, that's a different error. That looks like your Hub doesn't have permission to become the user. Are you running the Hub as root?

[2016-06-06 09:41] andreapago commented on #278
Yes I run the hub as a root.

[2016-06-06 09:46] minrk commented on #278
Are you running SELinux?

[2016-06-06 09:50] andreapago commented on #278
My understanding is yes (I was not aware of that) given the following:

 sestatus
SELinux status:                 enabled
SELinuxfs mount:                /sys/fs/selinux
SELinux root directory:         /etc/selinux
Loaded policy name:             targeted
Current mode:                   enforcing
Mode from config file:          enforcing
Policy MLS status:              enabled
Policy deny_unknown

[2016-06-06 09:50] andreapago commented on #278
Thanks for help :-)

[2016-06-06 10:06] minrk commented on #278
It's a specific piece of the PAMAuthenticator that runs afoul of SELinux. You can disable that with:

[code]

and see if that's enough to fix the problem.

[2016-06-06 10:22] andreapago commented on #278
Unfortunately not.
I have put that line in the jupyterhub config file, restarted the hub, but I get the same error... Any other tricks?

[2016-06-06 10:41] minrk commented on #278
Can you check the permissions on `$(which jupyterhub-singleuser)`?

[2016-06-06 10:58] andreapago commented on #278
here are the permission on the file
-rwxr-xr-x.  1 root root  9901 Jun  6 07:37 jupyterhub-singleuser

[2016-06-06 11:03] minrk commented on #278
And what's the location of the executable?

[2016-06-06 11:41] andreapago commented on #278
it is in
`/opt/rh/rh-python34/root/bin`

[2016-06-06 11:47] minrk commented on #278
And can all users read that directory? e.g. `sudo -u [someone] /opt/rh/rh-python34/root/bin/jupyterhub-singleuser -h`?

[2016-06-06 12:00] andreapago commented on #278
Yes, my other user in the OS succesfully executes the command, and looking at the files in that directory all files except the following can be read and executed by any user
[code]

[2016-06-06 12:07] minrk commented on #278
Hm, if those permissions are all correct, perhaps it is SELinux policy preventing some action. I'm not sure what it would be, I've never used a system with SELinux, but they seem to regularly need extra work to allow JupyterHub to do what it needs to do.

[2016-06-06 12:11] andreapago commented on #278
I see....I will try to disable it and let you know any new info...thanks for your help

[2016-06-06 12:24] andreapago commented on #278
I have disabled the SELinux
Configure ```SELINUX=disabled``` in the ```/etc/selinux/config ```
Rebooted the machine
Same error as before...

[2016-06-06 12:31] willingc commented on #535
I'm going to close this issue since @daviddiazvico has provided a way to mount using the host's PAM authorization.

[2016-06-06 12:31] #535 closed

[2016-06-06 12:34] minrk commented on #278
There are three operations that spawning the single user server does:

1. switch to the given user with setuid
2. cd to the user's home directory
3. start `jupyterhub-singleuser`

One of these operations is failing. Either the Hub cannot become the user (unlikely if SELinux is disabled), the user cannot read a directory, either their home or the directory where the Hub runs, or the user cannot rea

[2016-06-06 12:36] willingc commented on #581
I'm going to close this issue. I'm also going to label this as "reference" to help future users with a similar question.

[2016-06-06 12:36] #581 closed

[2016-06-06 12:42] willingc commented on #575
Closing since it appears that this is resolved.

[2016-06-06 12:42] #575 closed

[2016-06-06 12:42] #574 closed

[2016-06-06 12:43] #573 closed

[2016-06-06 12:46] willingc commented on #566
Closing this issue as resolved. Labeling the issue with "Reference" since this solution may help other users.

[2016-06-06 12:46] #566 closed

[2016-06-06 12:48] willingc commented on #565
I'm going to close this issue @cenveoanalyst since it looks as if @minrk and @parente have shared some pointers as well as information about dashboards. Thanks everyone!

[2016-06-06 12:48] #565 closed

[2016-06-06 12:51] andreapago commented on #278
If I manually try those operation opening another console with the non root user and I run
`jupytherhub-singleuser`, I get the following:
[code]
Does it give any other clue?

[2016-06-06 12:57] minrk commented on #278
Afraid not, that's the normal behavior when you try to launch the single-user script without the proper context that JupyterHub provides. Perhaps it has something to do with the user's home directory?

[2016-06-06 12:58] willingc commented on #564
@maxgrenderjones Thanks for sharing this with others. I'm going to close this as an issue but I will label it as "reference". Nicely done.

[2016-06-06 12:58] #564 closed

[2016-06-06 13:04] willingc commented on #563
Closing this issue. If additional help is needed, please comment and we can reopen the issue. Thanks!

[2016-06-06 13:04] #563 closed

[2016-06-06 13:04] willingc commented on #562
In progress.

[2016-06-06 13:07] willingc commented on #536
Closing this issue as it's been inactive for over one month. Please feel free to open a new issue at the [jupyter/help repo](https://github.com/jupyter/help) or comment to reopen this issue. Thanks! :sunflower:

[2016-06-06 13:07] #536 closed

[2016-06-06 13:07] andreapago commented on #278
could that be that the underlying Python 2.7 installation (installed by default) that if the user invokes a python command it is issued with that "old" version and not the 3.4 that I installed manually...I don't see that in relationship with the user privileges but was just thinking out loud...

[2016-06-06 13:41] willingc commented on #488
Closing this issue as it's been inactive for over one month. Please feel free to open a new issue at the [jupyter/help repo](https://github.com/jupyter/help) or reopen this issue. Thanks! :sunflower:

[2016-06-06 13:41] #488 closed

[2016-06-06 13:51] willingc commented on #471
@minrk Is this an issue that still should be open or has PAM session code been updated enough to close this?

[2016-06-06 13:53] willingc commented on #470
I'm closing this issue as resolved. I'm also labeling as "reference" to help future users. Thanks everyone!

[2016-06-06 13:53] #470 closed

[2016-06-06 13:54] willingc commented on #469
Closing this issue as it's been inactive for several months. Please feel free to open a new issue at the [jupyter/help repo](https://github.com/jupyter/help) or add a comment to reopen this issue. Thanks! :sunflower:

[2016-06-06 13:54] #469 closed

[2016-06-06 13:55] willingc commented on #462
Closing this issue as it's been inactive for several months. Please feel free to open a new issue at the [jupyter/help repo](https://github.com/jupyter/help) or leave a comment to reopen this issue. Thanks! :sunflower:

[2016-06-06 13:55] #462 closed

[2016-06-06 13:58] willingc commented on #459
@yuvipanda Can this be closed? Hope you are doing well 😄

[2016-06-06 14:02] willingc commented on #444
I am closing this issue as it looks as if this issue is resolved. I'm labelling it as "reference" since it may help users in the future. Thanks to everyone!

[2016-06-06 14:02] #444 closed

[2016-06-06 14:08] willingc commented on #429
Closing this issue since it appears to be resolved. Please feel free to leave an issue at [jupyter/help](https://github.com/jupyter/help) or leave a comment requesting this issue be reopened. Thanks to all!

[2016-06-06 14:08] #429 closed

[2016-06-06 14:12] willingc commented on #408
Closing this issue as it's been inactive for several months. Please feel free to open a new issue at the [jupyter/help repo](https://github.com/jupyter/help) or leave a comment requesting to reopen this issue. Thanks! :sunflower:

[2016-06-06 14:12] #408 closed

[2016-06-06 14:14] willingc commented on #401
Closing this issue since it appears to be resolved. Please feel free to leave an issue at [jupyter/help](https://github.com/jupyter/help) or leave a comment requesting this issue be reopened. Thanks to all!

[2016-06-06 14:16] willingc commented on #398
Closing this issue as it's been inactive for several months. Please feel free to open a new issue at the [jupyter/help repo](https://github.com/jupyter/help) or leave a comment to reopen this issue. Thanks! :sunflower:

[2016-06-06 14:16] #398 closed

[2016-06-06 14:20] willingc commented on #328
Closing this issue as it's been inactive for several months. Please feel free to open a new issue at the [jupyter/help repo](https://github.com/jupyter/help) or reopen this issue. Thanks! :sunflower:

[2016-06-06 14:20] #328 closed

[2016-06-06 14:21] willingc commented on #213
Closing this issue since it appears to be resolved. Please feel free to leave an issue at [jupyter/help](https://github.com/jupyter/help) or leave a comment requesting this issue be reopened. Thanks to all!

[2016-06-06 14:21] #213 closed

[2016-06-06 18:45] minrk commented on #471
This is still an issue. I've added an option to skip the session stuff entirely, but there isn't a way to have session open/close work correctly with this.

[2016-06-06 19:01] #459 closed

[2016-06-06 19:01] minrk commented on #459
Yup, I think we've got enough to call this good. There's always room for improvement.

Thanks for staying on top of these, @willingc!

[2016-06-07 02:58] willingc commented on #356
@chanansh A user can move a notebook to the user's account on the hub. It is not currently a one-click process. Publishing the notebook can be achieved using other services like tmpnb, a web page (i.e. github pages or static site), or the Binder project.

[2016-06-07 02:58] #356 closed

[2016-06-07 03:00] willingc commented on #345
Closing this issue since it appears to be resolved based on @yuvipanda's report. Please feel free to leave an issue at [jupyter/help](https://github.com/jupyter/help) or leave a comment requesting this issue be reopened. Thanks to all!

[2016-06-07 03:00] #345 closed

[2016-06-07 03:05] willingc commented on #337
Closing this issue since it appears to be resolved by @yuvipanda's combination. Please feel free to leave an issue at [jupyter/help](https://github.com/jupyter/help) or leave a comment requesting this issue be reopened. Thanks to all!

[2016-06-07 03:05] #337 closed

[2016-06-07 03:08] willingc commented on #331
Closing this issue as it's been inactive for several months. Please feel free to open a new issue at the [jupyter/help repo](https://github.com/jupyter/help) or reopen this issue. Thanks! :sunflower:

[2016-06-07 03:08] #331 closed

[2016-06-07 03:12] iamed18 commented on #509
Finally tried a stab at this.

https://github.com/jupyterhub/jupyterhub/pull/602

[2016-06-07 03:13] willingc commented on #327
It's been a few months since this has been discussed. I'm tagging this "needs: more user information". If you see this behavior, please provide details. Thanks!

[2016-06-07 03:14] willingc commented on #326
Closing this issue as it's been inactive for several months. Please feel free to open a new issue at the [jupyter/help repo](https://github.com/jupyter/help) or reopen this issue. Thanks! :sunflower:

[2016-06-07 03:14] #326 closed

[2016-06-07 03:16] willingc commented on #321
Closing this issue since it appears to be resolved. Please feel free to leave an issue at [jupyter/help](https://github.com/jupyter/help) or leave a comment requesting this issue be reopened. Thanks to all!

[2016-06-07 03:16] #321 closed

[2016-06-07 03:21] willingc commented on #509
Thanks for the PR @iamed18 👍

[2016-06-07 03:22] willingc commented on #316
Closing this issue since it appears to be resolved. Please feel free to leave an issue at [jupyter/help](https://github.com/jupyter/help) or leave a comment requesting this issue be reopened. Thanks to all!

[2016-06-07 03:22] #316 closed

[2016-06-07 03:28] willingc commented on #302
@minrk Leaving this issue open since it seems there is still work to be done. Correct?

[2016-06-07 03:29] #301 closed

[2016-06-07 03:31] willingc commented on #294
Closing this issue since it appears to be resolved. Please feel free to leave an issue at [jupyter/help](https://github.com/jupyter/help) or leave a comment requesting this issue be reopened. Thanks to all!

[2016-06-07 03:31] #294 closed

[2016-06-07 03:32] willingc commented on #282
Closing this issue as it's been inactive for several months. Please feel free to open a new issue at the [jupyter/help repo](https://github.com/jupyter/help) or reopen this issue. Thanks! :sunflower:

[2016-06-07 03:32] #282 closed

[2016-06-07 03:52] willingc commented on #273
Closing this issue as it's been inactive for several months. Please feel free to open a new issue at the [jupyter/help repo](https://github.com/jupyter/help) or reopen this issue. Thanks! :sunflower:

[2016-06-07 03:52] #273 closed

[2016-06-07 03:59] willingc commented on #252
@minrk I'm going to close this since this is pretty old and many enhancements have been made in the last year.

[2016-06-07 03:59] #252 closed

[2016-06-07 04:00] willingc commented on #239
Hi all! I'm closing this issue as it's been inactive for a year. Please feel free to open a new issue at the [jupyter/help repo](https://github.com/jupyter/help) or comment here if you would like me to reopen this issue. Thanks! :sunflower:

[2016-06-07 04:00] #239 closed

[2016-06-07 04:03] willingc commented on #212
Closing this issue since it is resolved through user configuration. Please feel free to leave a new issue at [jupyter/help](https://github.com/jupyter/help) or leave additional questions here. Thanks to all!

[2016-06-07 04:03] #212 closed

[2016-06-07 04:07] willingc commented on #137
Hi all, I'm going to close this issue since it's over a year old. If this behavior is still being observed, please comment here and I will be happy to reopen. Thanks!

[2016-06-07 04:07] #137 closed

[2016-06-07 04:11] willingc commented on #109
Good information by @yuvipanda, @ssanderson, and others related to this issue. As the issue is more than a year old and I'm not seeing a specific next action, I'm going to close this and mark it as "reference" so it will be discoverable and possibly included in future documentation. Thanks!

[2016-06-07 04:11] #109 closed

[2016-06-07 04:13] willingc commented on #98
Closing this issue as it's been inactive for several months. Please feel free to open a new issue at the [jupyter/help repo](https://github.com/jupyter/help) or reopen this issue. Thanks! :sunflower:

[2016-06-07 04:13] #98 closed

[2016-06-07 04:15] willingc commented on #76
Closing this issue since it appears to be resolved. I'm marking this as "reference" since others may benefit from @kotfic's comments. Thanks to all!

[2016-06-07 04:15] #76 closed

[2016-06-07 04:17] willingc commented on #71
Closing this issue since it appears to be resolved. I'm marking this as "reference" so the information is discoverable and may be included in future documentation. Nice work @dsblank. Thanks to all!

[2016-06-07 04:17] #71 closed

[2016-06-07 04:23] willingc commented on #562
Triaged all of the open issues. Closed 42 issues. 53 remaining issues.

[2016-06-07 04:23] #562 closed

[2016-06-07 07:34] minrk commented on #302
yes

[2016-06-07 07:50] andreapago commented on #278
@minrk
Hey Minrk, I solved the issue: I have first changed the permission of the files that the hub was complaining about for the lack of rights, set the SELinux to disabled (also applied this for the SELinux https://github.com/jupyterhub/jupyterhub/wiki/Using-sudo-to-run-JupyterHub-without-root-privileges), and finally set the `c.Spawner.cmd = ` to my location of the single user jupyter.
Now it w

[2016-06-07 09:02] minrk commented on #562
That's awesome, thanks @willingc! 🍰

[2016-06-07 16:43] minrk opened #603 "add auth-by-group to HubAuth"
we have groups now, we should add config for HubAuth to allow access to members of a group

[2016-06-08 16:29] vroetman commented on #422
I don't think ProxyPass works with Location ~ (LocationMatch).
I did this, and it seems to work for the most part, but if I restart numerous times, it sometimes loses the connection to the websocket.

    ProxyPassMatch "^/jupyterhub/user/([^/]+)/api/kernels/([^/]+)/channels(.*)$" \
        ws://localhost:8888/jupyterhub/user/$1/api/kernels/$2/channels$3
    ProxyPassMatch "^/jupyterhub/user/([^/]

[2016-06-10 02:01] janmtl commented on #323
+1 I'm getting the exact same problem as described here. Tried commenting out everything in the `/etc/pam.d/login` file and saw no effects.

I note that I also get the following error
[code]

[2016-06-10 14:52] akaihola opened #605 "Traceback after changing hub prefix"
I changed the hub prefix in my configuration for JupyterHub 0.6.1 from `'/'` to

    c.JupyterHub.hub_prefix = '/base/hub/'

and started JupyterHub. I got this:
[code]

[2016-06-10 14:54] akaihola commented on #605
Seems to be fixed in master though.

[2016-06-10 14:54] #605 closed

[2016-06-14 10:17] LMtx opened #610 "PySpark kernel for Jupyterhub creates file “???????e?” in working directory"
On CentOS 6 I use JupyterHUB 0.6.1 with PySpark kernel (Spark 1.5.0 + Python 2.7).

When I start PySpark kernel JupyterHUB creates file named "????????????????????????????????????????????????????????????????????????????????????????????????????????????????????e?" in my working directory.

Mirror server with JupyterHUB 0.5.0 does not have this issue.

Please see details on http://stackoverflow.com/q

[2016-06-15 20:40] Carreau opened #611 "Docs: Broken link"
http://jupyterhub.readthedocs.io/en/latest/howitworks.html

`More info on custom Spawners.` at the end is broken.

[2016-06-16 11:22] minrk commented on #610
Duplicate issue opened at ipython/ipython/issues/9613

[2016-06-16 11:22] #610 closed

[2016-06-16 13:51] Arya766 opened #614 "Is there any way to share my notebook interactively with someone? And add someone's notebook to mine?"
Is there any way to share my notebook interactively with someone?

And add someone's notebook to mine?

(I doubt should I have opened two issues.)

[2016-06-16 15:28] #611 closed

[2016-06-20 17:23] willingc opened #615 "Review new Docker release for orchestration/swarm"
The intro of Docker 1.12 adds:
- docker swarm init
- docker swarm join

It handles sensible defaults for security by default.

We should investigate how this may simplify docker-spawner.

In other DockerCon release news: there is now a beta.docker.com for Docker for AWS and Docker for Azure.

[2016-06-21 22:07] willingc commented on #594
@ObadaM I hope that you were able to get this up and running with Min's feedback. Do you have additional questions or should this issue be closed?

[2016-06-21 22:12] willingc commented on #592
Link to Theano docs and settings for LD_LIBRARY_PATH: http://deeplearning.net/software/theano/install.html?highlight=ld_library_path#using-the-gpu

[2016-06-21 22:19] willingc commented on #592
A question and answer should be added to the `troubleshooting.md` file in the `docs/source` directory.

- Point out that when the CUDA driver is needed for using the GPU the environment variable `LD_LIBRARY_PATH` should be set to the `cuda/lib` or `cuda/lib64` path.
- Additional information is available in the Theano docs
- You can also give Ben's additions to `jupyterhub_config_global.py` as an e

[2016-06-22 07:48] ObadaM commented on #594
@willingc Please close the issue, Thanks!

[2016-06-22 13:51] willingc commented on #614
Hi @Arya766,

Currently, you may share a copy of notebook (`.ipynb`) file with other individuals. Two individuals can not currently interactively edit a notebook at the same time. It is possible to collaborate on a notebook file asynchronously by placing the notebook under version control in GitHub.

If you would like to add someone's notebook to your notebook, you would have to copy the cell cont

[2016-06-22 13:51] #614 closed

[2016-06-22 13:56] willingc commented on #278
@andreapago That's great that you solved the issue. Thanks for passing along your solution as well.

@minrk I'm going to label this issue as `reference` for possible future documentation and close the open issue.

[2016-06-22 13:56] #278 closed

[2016-06-22 13:59] willingc commented on #327
Since it's been 15 days since the last activity on this issue, I'm going to close the issue. Please feel free to ask for it to be reopened if additional information becomes available.

[2016-06-22 13:59] #327 closed

[2016-06-22 14:04] willingc commented on #576
Passing along info about the Docker for AWS beta (https://blog.docker.com/2016/06/azure-aws-beta/) as an FYI. Although the original question talks about Ansible and credentials, the Docker for AWS beta sounds from the DockerCon talk that it will have reasonable security defaults included.

[2016-06-22 14:06] willingc commented on #332
@minrk Has CERN released their auth code for Shibboleth yet?

[2016-06-22 14:13] willingc commented on #139
I'm going to close this issue and label it as `reference` since the next actions are captured in other projects.

[2016-06-22 14:13] #139 closed

[2016-06-22 14:45] robnagler opened #616 "python3 now required for juptyerhub-singleuser"
267994b191fc72fbbaec00b1ad41627e6539fdae added the requirement that scripts/juptyerhub-singleuser must be installed with python3, because it now depends on jupyterhub. For now, I'm using previous commit, but that's incompatible with jupyter/notebook@master so I'm going back a few commits there. You may want to label a couple of branches to help people like me out. :)

Perhaps the code required for

[2016-06-22 16:51] lminer commented on #19
If I get disconnected from jupyterhub while it's running some computation, it would be great to be able to see the output when I reconnect later.

[2016-06-22 21:19] robnagler opened #617 "JupyterHub fails to start Jupyter in container with error in self.proxy.delete_user(user)"
I get this when trying to start my server via DockerSpawner after running `docker rm -f jupyter-robnagler`:

[code]

The logs show something like this, where the last blocks are repeated over and over:

[code]

[2016-06-22 21:23] kitsirota commented on #438
+1 I am really struggling with this also.  For some reason our environment spawns 120 executors for every user.   It would be great if users could specify how many executors they needed on a per-notebook-basis.

[2016-06-22 22:06] willingc commented on #412
Adding @kafonek's post from gitter. Thanks @kafonek.

![screen shot 2016-06-22 at 3 00 20 pm](https://cloud.githubusercontent.com/assets/2680980/16285430/ea0f6f46-388a-11e6-8c73-17066f85932d.png)

[2016-06-23 02:45] willingc commented on #616
Thanks @robnagler for bringing up this use case. I'm going to defer to @minrk on what is possible to help your situation.

[2016-06-23 03:32] willingc commented on #617
@robnagler After running the `docker rm` command, are you restarting the configurable-http-proxy as well as the hub? https://jupyterhub.readthedocs.io/en/latest/getting-started.html#proxy-authentication-token

@minrk Other thoughts?

[2016-06-23 07:29] leeding opened #618 "Someone can login jupyterhub, someone cannot login"
**user "dingli" can login jupyterhub on his machine, and redirect to user page, here is the debug log:**
[code]

**user "anlintan" cannot login jupyterhub on his machine, password is correct, it just redirect to the login page, here is the debug log:**
[code]

[2016-06-23 08:12] minrk commented on #616
The main reason that single-user requires Python 3 is that the authentication code (HubAuth) is now part of JupyterHub, and can be used to authenticate any service with JupyterHub (e.g. nbgrader), not just the single-user server. I'm reticent to make it a separate package because it won't be independent - there would be only one version for both, released in lock-step, and it makes coordinated cha

[2016-06-23 08:25] minrk commented on #617
@robnagler what version of CHP (`configurable-http-proxy --version`) and commit of this repo? It's strange that DELETE is logged so many times. Can you show the bit before all those DELETEs start showing up?

[2016-06-23 21:00] davis68 opened #619 "Config option `log_file` not recognized"
Oddly, JupyterHub now raises the warning for me:

    [W 2016-06-23 15:56:46.334 JupyterHub configurable:169] Config option `log_file` not recognized by `JupyterHub`.  Did you mean one of: `config_file, extra_log_file, logo_file`?

Has this been deprecated or is something unseemly going on?  Version 0.6.1

[2016-06-23 23:01] mconigliaro commented on #594
I had the same error. The key was that I could only run the sudospawner command with the full path:

    sudo -u rhea sudo -n -u $USER /opt/anaconda3/bin/sudospawner --help

The problem was that `/opt/anaconda3/bin` was not in `/etc/sudoers`'s `safe_path`, so I just made a symlink:

    ln -s /opt/anaconda3/bin/sudospawner /usr/local/bin

Then the command worked as expected:

    sudo -u rhea sudo

[2016-06-23 23:37] willingc commented on #594
@mconigliaro thanks for the info on how you solved the issue. 👍

Going to relabel this as a documentation issue to add @mconigliaro's solution into the FAQ section of the JupyterHub docs. Thanks @ObadaM for the update too.

[2016-06-24 11:06] minrk commented on #332
@dpiparo any update on the Shibboleth JupyterHub code being public?

[2016-06-24 13:23] willingc commented on #619
@davis68 Thanks for the question.

@minrk Is this due to a IPython traitlets change or something in JupyterHub?

[2016-06-24 13:49] minrk commented on #619
I don't believe log_file has been an option in the past. There was a recent improvement in traitlets.config where you get a warning if invalid config is going to be ignored, which it would do silently before, so I'm guessing this never had any effect, and now it's telling you why.

The best way to send log to a file is by redirecting output of the process, because that will capture subprocess outp

[2016-06-24 14:13] minrk commented on #618
@leeding what version of JupyterHub? Can anlintan try logging in with a fresh incognito and/or private browsing session to check if there's stale cookie info getting in the way?

[2016-06-24 14:56] davis68 commented on #619
Interesting.  True that I've not had to use it in the past.  It's referenced in [getting-started.md](https://github.com/jupyterhub/jupyterhub/blob/master/docs/source/getting-started.md) and may be generated in the default `jupyterhub_config.py` (would double-check that).  I'll just drop it in mine then.

[2016-06-24 15:18] minrk commented on #619
@davis68 thanks for pointing that out, I've updated the doc in #622 to something that actually does what it claims to.

[2016-06-24 15:52] #619 closed

[2016-06-24 15:53] willingc commented on #619
@davis68 Thanks again 👍  I've merged @minrk's doc update.

[2016-06-27 12:44] wwwald commented on #305
I've been following the above advice and have nbextensions working now for all users on our JupyterHub server, but it took me quite some additional tinkering with file permissions concerning `notebook_secret` files, `nbconfig` directories and so on. I don't think I have an optimal setup, but I haven't found any "reference" for this.
Is there some kind of "good practice" guideline available, to mak

[2016-06-27 14:39] rserbitar opened #623 "Jupyterhub hangs"
Sometimes, Jupyterhub is unresponsive and I get error patterns like this:

[code]

After some time it works again. I have absolutely no idea whats going on.

Probably the same like: #239

[2016-06-27 15:50] willingc commented on #623
@rserbitar Let's see if we can't figure out what's going on. The 503 errors indicate that the socket has timed out or the connection to the server is limited. What version of JupyterHub and Configurable-HTTP-Proxy are you using?

I'm pinging @minrk for additional troubleshooting steps.

[2016-06-27 16:16] minrk commented on #623
What version of JupyterHub and notebook do you have? What spawner are you using? It looks like the default, but just to be sure.

It looks like it is rk's server that's unresponsive, and the Hub itself is behaving okay. Can you find the last log statements from rk's server (grep the log for `' rk '`)? I'm guessing that relaunching rk's server from the Hub control panel would do it, but I'm not sur

[2016-06-27 18:42] Carreau commented on #305
You likely shouldn't tinker with `notebook_secret` as this one should **not**  be systemwide.

We are still working on documentation, if you can describe what you did, we could try to correct what's good/bad and included it in our docs.

[2016-06-28 07:39] rserbitar commented on #623
Both rk and sh servers were unresponsible (sh 15:31, rk 15:33).

I am using:
* jupyterhub 0.6.1
* configurable-http-proxy 3.5.2
* notebook 4.1
My spanwner looks like this

[code]

The problem solves itself after a couple of minutes but is nonetheless annoying.
I will try to produce some more logfiles once the error comes again (does not happen daily, but regularly).
Thanks for the help.

[2016-06-28 14:38] scanon opened #624 "Best method to store associated session data"
Greetings,

We are trying out some alternate auth methods.  We would like to be able to store some associated data with a session.  Is there a clean, extensible way to do this?

[2016-06-28 15:16] minrk commented on #623
It seems like it's the single-user servers themselves that are having the issue. Are the unresponsive for the same time window, or is one unresponsive and then another, etc.?

You can add debug-logging to the single-user servers as well, which might help bring things to light:

[code]

[2016-06-29 08:42] minrk commented on #624
The Authenticator can pass information to the user's context via [Authenticator.pre_spawn_start](http://jupyterhub.readthedocs.io/en/latest/api/auth.html#jupyterhub.auth.Authenticator.pre_spawn_start) and [Authenticator.post_spawn_stop](http://jupyterhub.readthedocs.io/en/latest/api/auth.html#jupyterhub.auth.Authenticator.post_spawn_stop).

[2016-06-29 14:55] robnagler commented on #617
Sorry for the delay. Here's the full log for the time around the DELETEs: [jupyterhub-2016-06-22.log.gz](https://github.com/jupyterhub/jupyterhub/files/339513/jupyterhub-2016-06-22.log.gz)

[2016-06-29 16:36] willingc commented on #617
Thanks @robnagler for sending the log. We'll take a look at it and get some thoughts back to you.

[2016-06-30 10:32] rserbitar commented on #623
I already have

`c.Spawner.debug = True`

does not seem to yield more information.

The problem persists and is occurring a couple of times per day, quite annoying.
I agree it must be the single user server.

[2016-06-30 12:47] minrk commented on #623
Can you share a complete log?

[2016-07-01 06:30] geoffroy-destaintot opened #625 "Jupyterhub fails on user login, permission denied error"
Hello,

I'm trying to install jupyterhub on debian 8.2.
I would like to be able to create the create_system_users, so I suppose that jupyterhub must be installed as root (for adduser to work).

Being root, I installed a conda env, and installed jupyterhub:
[code]

I already have a user on my system called gonzag and I register him as admin_user (in conf file).

I start jupyterhub as root.

The log

[2016-07-01 12:25] minrk commented on #625
It looks like you have installed JupyterHub into `/root/`. Your users need read+execute access to where `jupyterhub-singleuser` is installed, which is not generally the default for `/root/`. Try installing conda to a system-wide location, such as `/opt/conda`, and make sure users have read-access to this location, e.g. by doing:

    sudo -u yourname /path/to/conda/bin/jupyterhub-singleuser -h

[2016-07-01 17:22] benrobinson1976 opened #628 "500 error creating users on EC2 instance"
Hello- I am following the instructions from https://github.com/jupyterhub/jupyterhub/wiki/Deploying-JupyterHub-on-AWS to create an EC2 instance with GitHub Oauth. Like some others I am running into the 500 error when spawning a single-user instance after authenticating. Here is the error:

[code]

The <myIP> above appears to be a different subnet from the IP of the EC2 host (internal). Perhaps tha

[2016-07-01 17:23] benrobinson1976 commented on #628
This is also not a static instance

[2016-07-02 00:46] gwincr11 opened #629 "Custom Authenticator, Docker and Env variables"
Hello,

I am building a custom authenticator that will use python environment variables in side the docker environment.

I have built my authenticator and tested it against a local version of Jupyterhub, everything works as expected. I am able to get my env variable in the script. However when I use it inside the docker container it does not work, the env variables come back as empty.

Heres is pa

[2016-07-04 19:27] geoffroy-destaintot commented on #625
thank your for your precious help, it works now !

[2016-07-04 19:27] #625 closed

[2016-07-05 08:03] minrk commented on #628
I'm guessing the assignment directory doesn't exist. The notebook servers must start in directories that exist. Does the user you are logging as already exist on the system?

[2016-07-05 08:32] minrk commented on #629
I'm not sure what could be wrong. I built your Dockerfile, and I do see all of the environment variables defined in the JupyterHub process. How are you checking them?

[2016-07-05 13:40] benrobinson1976 commented on #628
Thanks for the reply - yes the user (benrobinson1976) was created on the system, I thought due to c.Authenticator.create_system_users = True in the config. It might be more helpful to include another error:
[code]

After this I created the user and assignments directory manually and then got the error described previously.

[2016-07-05 16:07] gwincr11 commented on #629
The link that is provided as the login is blank.

[2016-07-05 16:44] minrk commented on #628
Is JupyterHub running as root?

[2016-07-05 16:49] benrobinson1976 commented on #628
No- the first time I started was running as sudo, but the above errors were all from running as the ubuntu user (no sudo). Do all the users need to be in the same group as user that runs jupyterhub?

[2016-07-05 16:51] minrk commented on #628
To create system users, the Hub must be root. To use real users on the system, either the Hub must be root, or a lot of sudo configuration is needed to grant the Hub user access to run notebook servers as different users, and you must use the [sudospawner](https://github.com/jupyterhub/sudospawner).

[2016-07-05 20:32] benrobinson1976 commented on #628
Ok thanks, I'm still looking into the various options for a multi user system. Starting as root fixed the above problem.

[2016-07-05 20:32] #628 closed

[2016-07-06 00:40] willingc commented on #629
@minrk I wonder if localhost is causing an issue between these two statements (I seem to recall on some OS localhost, 127.0.0.1 and 0.0.0.0 did not play nicely together):

``HOST = os.environ.get('HOST', 'localhost:3000')`` in custom authenticator script

``ENV HOST=0.0.0.0:3000`` in the Dockerfile

[2016-07-06 11:35] kwotuveang3k4bk opened #630 "Python kernel not represented in external environment"
I have to bit, it is a quite complex software and maybe not the best way of doing to, but maybe you can help me.

I run the following:
[code]

In short I print the environment variables once directly and once via os.system(python). Obviously the first environment has the preferences of my kernel, the second has the environment jupyterhub is running in. Now I was wondering if there is any way simil

[2016-07-06 12:09] minrk commented on #630
with `Popen(command, shell=True)` a shell environment is created for running the process.

[2016-07-06 17:58] akansal1 opened #631 "Share notebooks between users"
Hi,

Thanks for creating this project, I have hosted a jupyterhub on a server and have two users configured currently, I would like to know, is it possible to share notebooks between multiple users or groups ?

I am not able to figure out, how to go about it

Till now I manage syncing of notebooks between users through google drive sync, but it would be great if, I can achieve it using hub

Thnx

[2016-07-07 13:43] willingc opened #632 "Add reminder about periodic updates to docs"
From the gitter channel:

- Remind admins to periodically check for updates to nodejs and configurable-http-proxy and apply as needed.
- Add resource: Qualsys' SSL analyzer tool https://www.ssllabs.com/ssltest/analyze.html

[2016-07-07 17:06] willingc opened #633 "Add clarification to docs re: cull_idle_servers.py"
From feedback on gitter channel:

Clarify that this only needs to be run by the admin once for the hub not for each notebook server.

[code]

entrypoint URL will also have /hub/ in it. For example ``--url=http://127.0.0.1:8000/jupyterhub/hub/

[2016-07-08 07:07] jorditg commented on #367
@quanghoc did you solved the problem? I'm stuck in the same. Not able to get it working with reverse proxy over localhost.

[2016-07-08 07:16] quanghoc commented on #367
@jorditg I gave up because there are more than one websockets to deal with.

[2016-07-11 10:55] rs2 opened #636 "No pwd module on Windows; replace getpwnam with a mock call"
See https://github.com/jupyterhub/jupyterhub/blob/master/jupyterhub/spawner.py#L375

[2016-07-11 22:59] gwincr11 commented on #629
Thanks for taking a look. I got the link to work, Woot, I had to rebuild without cache for some reason. However the callback url is always just https:///hub/oauth_callback

My auth code looks like this:

[code]

I even went as far as hardcoding the redirect_uri instead of using a variable. I also completely deleted the authenticate function and their was no difference. I know that jupyter hub is u

[2016-07-11 22:59] gwincr11 commented on #629
as an aside, how can I get logging to show up on the docker version?

[2016-07-12 02:28] fazil-osman commented on #438
Ran into this issue with my notebooks on Cloudera. After banging my head a few times I eventually found the following solution:

-> pyspark --total-executor-cores 2 --executor-memory 1G

My problem was initially that all 24x cores were allocated to a single session leaving nothing free to additional running notebooks. I know its not exactly what y'all are looking for but thought it may help.

[2016-07-12 16:09] kitsirota commented on #631
+1  We are also running into this problem, shared notebooks would be a HUGE help for us.

Currently, I have a symlinked "shared_notebooks" directory in users' home directories.  This only works if users open the notebook in the shared space, download it and then re-upload it into their home dir.

[2016-07-12 19:01] jgsogo opened #637 "Unable to connect to kernels (websockets related error)"
I've been reading a lot of issues, groups, questions and answers,... but I'm not able to get jupyterhub to work in my server; neither starting it as sudo on port 80, nor using nginx, spawner,...

### Nginx
Right now I have a nginx with the following configuration:

[code]

### Jupyterhub config
This is my jupyterhub config file:

[code]
And I'm running it using the following command:

[code]

----

[2016-07-12 19:16] jgsogo commented on #637
I've got some more login (this is not always shown):

[code]

It seems that the kernel is being created (json data is returned), but the error happens when promoting the websocket connection.

[2016-07-12 20:15] gwincr11 commented on #629
So I dropped die() into my authenticate method, it never gets hit. Is there somewhere before this happens that I need to define the callback url?

[2016-07-12 21:46] minrk commented on #636
Thanks for the report! JupyterHub does not support Windows, so this import is OK.

[2016-07-12 21:46] #636 closed

[2016-07-13 11:19] harishcj opened #638 "500 : Internal Server Error"
one of the users when he tries to login to jupyetrhub, he gets the error message - '500 : Internal Server Error'. Other users are able to login to jupyterhub without any issues. Please help!!

[2016-07-13 16:02] andf1 commented on #638
Fellow deployment engineer here. I ran into a bunch of 500s myself deploying JupyterHub; here's what I'd recommend looking into:

- Does the user's home directory exist? I ran into a race condition where our user account + home directory creation scripts took long enough to execute that JupyterHub deemed the process to spawn the user kernel timedout. If the user 500s their first login, do they suc

[2016-07-13 17:00] #629 closed

[2016-07-13 17:00] gwincr11 commented on #629
Found the culprit. Thanks!

[2016-07-13 19:20] willingc commented on #629
@gwincr11 Just out of curiousity (and possibly to help others), what was the culprit? I might be able to clarify in the docs. Thanks.

[2016-07-13 19:40] gwincr11 commented on #629
Oh it was super particular to my setup. I have a docker-compose file that was reseting the env variables in a way I was not suspecting.

[2016-07-13 19:41] willingc commented on #629
Thanks for the info @gwincr11 and I'm glad that you worked out the issue 👍

[2016-07-13 22:56] zxzjim commented on #248
same issue here, occurs when the code going through large loops and printing too much.
I'm using OSX El Capitan and Chrome. Python 2.7 Anaconda setup.

[2016-07-14 07:53] harishcj commented on #638
Hi andf1, thanks for the reply.

1. users home directory exists. user was able to login before. he restarted his session and ever since he is unable to login.
2. user's home directory has proper permissions. he has a valid shell defined.
3. user can ssh to the box
4. user is under the quota
5. he is using the right password and he is able to login to other applications using the same password.

[2016-07-14 10:19] lbiemans commented on #219
Had the same issue but thanks to @franga2000 this is solved. I had to enable proxy, proxy_http, headers and proxy_wstunnel.

[2016-07-14 16:06] harishcj commented on #638
looks like the user has stopped his jupyter server, how can we start it ?

[2016-07-14 19:34] danielballan opened #641 "Deleting a user account and then restarting hub triggers a JSON parsing error"
I'll report back later with a more detailed report (after scipy) but I wanted to leave this here:

With jupyterhub + sudospawner, if a user:

1. A user logs in to the hub and starts a server
2. That user deletes their account
3. The hub is later restarted

then

1. the warning "jupyter : unknown user: <username>" is logged
2. the hub startup process dies on a JSON-parsing error

[2016-07-15 08:22] jai11 opened #642 "How can I run jupyterhub as daemon using non root user"
Here I want to run jupyterhub as non root user without sudo spawner. Either by daemon/service or any other way without any spawner.

Please let me know if you have any way to run jupyterhub as less privileged user.

Please let me know the exact steps if you have.

[2016-07-15 10:39] martinclaus commented on #594
@willingc @mconigliaro I think a better solution to the problem if the `sudospawner` script is not in the path is to specify its absolute path in the jupyter config, i.e. start the jupyterhub with
[code]
or add
[code]
to your `jupyterhub_config.py`.

[2016-07-15 10:52] willingc commented on #594
Thanks @martinclaus. Great suggestion.

Note to contributor or myself to add @martinclaus' suggested approach to the docs.

[2016-07-15 11:05] matteoipri commented on #638
Which spawner are you running? I get that message sometimes using the DockerSpawner when I upgrade JuoyterHub or single user Jupyter Notebook image but don't delete the old user container.

[2016-07-15 11:07] harishcj commented on #638
how will i check which spawner the user is using ? i am the admin and the issue is with a user. he has shutdown his jupyter/notebook server it looks like. is there a way that i can bring them up as a root user from the server?

[2016-07-15 11:13] matteoipri commented on #638
You can check which spawner you are using looking at the `jupyterhub_config.py` and look for the strings that looks like this `c.JupyterHub.spawner_class = 'dockerspawner.DockerSpawner'`.
The user can just log out and log back in to respwan its own server. The user can even restart the server without logging out and in, by going to his/her control panel with the button in the top right corner of t

[2016-07-15 11:22] harishcj commented on #638
c.JupyterHub.spawner_class = <class 'jupyterhub.spawner.LocalProcessSpawner'>.
when the user logs in, he just gets an error message 500:internal server error. there are no other buttons on the page. please see the attachment
![jupy](https://cloud.githubusercontent.com/assets/16937146/16872760/7c6fbe58-4aac-11e6-9d64-0a1daa40b3e2.png)

[2016-07-15 11:31] matteoipri commented on #638
I guess, but am not sure, you're using the default PAM system user spawner.
Can you show me your full url of the above screenshot?
What do you see if you go to the page `https://example.com/hub/home`?
If you log in as admin, what do you see here `https://example.com/hub/admin`?

[2016-07-15 11:42] harishcj commented on #638
the URL that we are using is given below. it works for everyone except for the affected user
![jup login](https://cloud.githubusercontent.com/assets/16937146/16873168/164392f0-4aaf-11e6-8934-174e42b8f1c0.png)

What do you see if you go to the page https://example.com/hub/home?

![jup home](https://cloud.githubusercontent.com/assets/16937146/16873185/2b1c0568-4aaf-11e6-978b-c84578ea6d14.png)

If yo

[2016-07-15 11:44] matteoipri commented on #638
You should go to `/hub/home/` after logging in as the affected user. Try again.
More over, it seems you did not log in as an admin when you went to `/hub/admin/`.

[2016-07-15 11:51] harishcj commented on #638
when i go to /hub/home as affected user, it goes back to login page where it asks for credentials again.
i have logged in as admin when i tried /hub/admin. the user mentioned that he shutdown some server after he logged in to jupyterhub(could be jupyter/notebook server). is there any way we can bring it up. when he logs in now, he only gets an error message, there are no other buttons. i am the ad

[2016-07-15 13:05] matteoipri commented on #638
I really don't know what it could be. Maybe the log can help diagnose what's happening. When I encountered things like this, I deleted the cookie secret and the user database, but maybe this is not advisable in your case.

[2016-07-15 13:11] mpekalski opened #643 "Proxy redirects static|images|js|css to /hub/..."
I get a lot of 404, after redirects (302), and in the result the notebook does not work. The initial JupyterHub page works, I can also login using my system credentials. What I see in the log is basically

[code]

When I go to directly the address (http://127.0.0.1:32778) the proxy should redirect me to everything works fine.
`14:40:48.503 - debug: [ConfigProxy] PROXY WEB /user/marcin to http://12

[2016-07-15 14:49] mpekalski commented on #643
I also tried different docker image, systemuser as described https://recordnotfound.com/dockerspawner-jupyterhub-119183, but I got exactly the same problem.

[2016-07-15 16:07] mpekalski commented on #643
I tried downgrading JupyterHub to 0.6.0 or 0.5.0 and it did not help.

[2016-07-15 23:28] mpekalski commented on #643
I tired building docker from https://github.com/jupyterhub/dockerspawner/tree/master/singleuser, but still the same problem. I tried explicitly providing env JPY_HUB_PREFIX = hub or /hub/ but it did not work either.

[2016-07-18 03:22] datapolitan opened #645 "Correct spelling error in SSL message"
When starting JupyterHub without SSL configured properly and `--no-ssl` flag isn't used, the error message printed (from `start_proxy()`, defined in `app.py`) misspells the name of the project:

[code]

`app.py`:lines 1021-1023

[2016-07-18 12:20] harishcj commented on #638
where can i find the user's cookie secret and the user's database ? there is nothing under his home directory.

[2016-07-18 15:30] harishcj commented on #638
restarting jupyterhub service on the server using the command - sudo jupyterhub solved this issue.

[2016-07-18 15:30] #638 closed

[2016-07-18 20:44] SruthiBhavanam opened #647 "Deleting user who has a running server is creating a warning message"
From the jupyterhub admin page, the delete user button is working only if the user has no server running,

If admin tries to delete the user who has a server running, It is printing the following warning message and not actually deleting the user.

Result :API request failed (400): usertest's server is in the process of stopping, please wait.

[2016-07-18 21:20] tpacker commented on #394
I would love the ability to share notebooks with a URL

[2016-07-19 05:05] #645 closed

[2016-07-19 05:16] minrk commented on #642
If you want to run JupyterHub, you must use either:

1. run Hub as root
2. run sudospawner
3. use a different Spawner that doesn't need privileges to launch notebook servers

One such Spawner is DockerSpawner, if docker is configured to allow access to a less privileged user. I'm not sure what you mean by "without any spawner" since JupyterHub must always use a Spawner.

[2016-07-19 05:20] minrk commented on #641
Thanks for recording this. Sounds like PAMAuth needs to add a check if users exist that fires during startup, rather than the warning.

It's not super surprising that deleting a user on the System without telling JupyterHub leaves things a bit confused.

[2016-07-19 21:16] sudipto84goswami opened #648 "Install from a source without pip and condainstall"
Hi Team,

My server are behind internet. Is there any way, I can download the tar ball for the Jupyterhub source and install it in my environment,

If so, can you please share the details.

[2016-07-20 11:24] hnykda commented on #394
This is probably the only feature which is stopping us from using JupyterHub.

[2016-07-20 19:39] edsu commented on #291
@ian-contiamo thank you so much for the extra detail about removing any existing docker containers!

[2016-07-21 00:01] warrenson commented on #422
I am having the same issue when changing the kernel in a running notebook to a __bash__ kernel. Changing to a __python3__ kernel works fine.

Both apache config solutions, with and without using LocationMatch, have the same symptoms which @mogthesprog initially reported.

Again, when refreshing the notebook page the bash kernel connected successfully.

So perhaps my issue is specific to the [bash

[2016-07-21 04:22] sirgogo commented on #323
same boat here with latest [minoconda3 docker](https://github.com/ContinuumIO/docker-images/tree/master/miniconda3).

made an admin account with:
`useradd admin -p pass123 -g sudo`

but get authenticatino error when I try to login via web interface:
`[W 2016-07-21 04:17:34.808 JupyterHub auth:386] PAM Authentication failed (admin@::ffff:172.17.0.1): [PAM Error 7] Authentication failure`

running a

[2016-07-21 06:31] jai11 commented on #642
Thanks , sorry for late reply .. was doing some more testing. i meant that I don't want to use any public spawner over here . I have my own customized spawner. But yes I am still testing the stuff.

[2016-07-22 01:22] ronaldfenner opened #649 "LD_LIBRARY_PATH not being carried into spawned notebooks"
I'm using a scl for python3.3 on cent os 6 and I can start jupyterhub but when it goes to spawn a process for the logged in user I get a message about python not finding libpython3.3m.so.1.0.
It looks like the LD_LIBRARY_PATH that specifies where to find the installation of python 3.3 isn't carrying into what ever process is being spawned.

If I symlink the library into /usr/lib64 it then works.

[2016-07-22 01:40] ronaldfenner commented on #649
For those that come across this, there is a whitelist of env vars in the generated configuration. I came across it as I was looking through it and that fixes the issue about not finding the library when the whitelist is enabled and the LD_LIBRARY_PATH was added to it.

[2016-07-22 01:40] #649 closed

[2016-07-22 05:55] willingc commented on #643
@mpekalski I'm sorry for the delay in responding. Our core team was at SciPy conference and are in process of returning home.

I appreciate the details that you provided here. I'm wondering if the security or default SSL support is configured properly for your deployment. Here's a link to the section in our documentation on [Security, SSL, and the Proxy authentication token](http://jupyterhub.read

[2016-07-22 09:23] minrk commented on #643
Can you share your jupyterhub_config.py and conda/pip list output for the Hub? Can you also show the full command being executed in the container (`ps aux`)? This suggests that the single-user server is not getting its `--base-url` set correctly because the static URL should be `/user/username/static`, not `/static/`.

[2016-07-22 09:58] mpekalski commented on #643
I run JupyterHub just by typing jupyterhub. At the moment for test/poc I build it without ssl support.

What jupyter* is running on my VM
[code]

JupyterHub's **pip**
[code]

That is all I have got uncommented in **jupyterhub_config.py**

[code]

Jupyter container's **ps aux**
[code]

Jupyter container's /usr/local/bin/**start-notebook.sh**
[code]

Jupyter container's **environment** variables
[co

[2016-07-22 10:43] minrk commented on #643
Aha! You should actually use the `jupyter/all-spark-singleuser` image instead of `all-spark-notebook` to run the singleuser launch script.

[2016-07-22 11:15] mpekalski commented on #643
I guess that was causing the proxy issue. Now after logging in to the hub it shows:

`500 : Internal Server Error`

but that is because notebook cannot communicate with the hub. It is easily solvable by setting the hub's ip number in the **jupyterhub_config.py**

`c.JupyterHub.hup_ip = ....`

Thanks again for helping me out!

[2016-07-22 13:52] willingc commented on #643
@mpekalski I'm glad that you have it working. Thanks @minrk for spotting the root cause.

I'm going to close this issue, but please feel free to reopen if needed.

[2016-07-22 13:52] #643 closed

[2016-07-22 13:59] minrk commented on #643
I opened #651 to give a better error when the single-user server can't connect to the Hub, pointing directly to `hub_ip` config. I'm not sure what the best way to catch the wrong entrypoint error would be, though.

[2016-07-22 14:29] willingc commented on #643
Thanks @minrk for #651. Perhaps adding a help message in the Dockerspawner https://github.com/jupyterhub/dockerspawner/blob/master/dockerspawner/dockerspawner.py#L76 would help with the  entrypoint error. It wouldn't catch it but could guide users to selecting a single user image.

[2016-07-22 16:16] ATidmore commented on #438
@fazil-osman setting "total-executor-cores" is an interesting approach. I have an Azure HDI Spark cluster with 190 GB of total memory. If I look at the current YARN utlization, there are a few things running but plenty of memory and vCores remaining. No matter what I set "total-executor-cores" to (2,4,6..) I get an error that "not enough memory is available to create the Spark context."

I'm using

[2016-07-22 17:08] willingc opened #652 "Add jhamrick's talk info re: REST api to docs"
@jhamrick Great content on using the API.

[2016-07-22 17:22] willingc opened #653 "Add Ryan Lovett's reproducibility and integration talk info to docs."
Learning curve. Keep track of dependencies and versions.

[2016-07-22 17:24] willingc commented on #653
Also Interact tool written by student.

[2016-07-22 17:31] willingc commented on #653
statsd

[2016-07-22 18:02] willingc opened #654 "Review documentation or add docs re: default_url"
Check if ``Enable default_url to pass in to notebook server`` #457 is adequately documented.

Full filesystem navigation.

[2016-07-22 18:08] minrk commented on #654
The answer is probably no. A FAQ entry for "I want access to the whole filesystem, but still default users to their home directory" that sets:

[code]

is a good idea.

[2016-07-22 18:11] willingc commented on #654
Sounds good. Thanks @minrk

[2016-07-24 01:11] mbmilligan commented on #624
@scanon I'm looking into this too right now. Talking with @minrk the other day he says the `auth_state` field in the `User` object is also a good place to do this. It has an associated column in the ORM so it can be persisted across sessions, but that doesn't happen automatically right now; your authenticator will have to do that itself.

[2016-07-24 01:23] mbmilligan commented on #648
You could do that, but then you'd also need to get all the relevant dependencies onto your server too. The easiest thing to do would be to use pip on some machine that **does** have internet access to download jupyterhub and its dependencies, then move the downloaded files to your server and install them there. This is described [in the pip manual](https://pip.pypa.io/en/latest/user_guide/#install

[2016-07-25 08:45] minrk commented on #642
Then it's up to you to make sure your custom spawner doesn't need to run as root. There's nothing inherent in JupyterHub that requires it to be root. In the default configuration, there are two activities that JupyterHub has that may require root permissions:

1. using the PAM service for the default Authenticator. This doesn't require root, but it does require permission to access the PAM service

[2016-07-25 12:21] matteoipri commented on #631
Using DockerSpawner, in the jupyterhub_config.py file you can add options to achieve something like read-only sharing.

[code]

Obviously you have to adjust the paths and play with them a little.
I think of these like a workaround, but I wouldn't know where to start to handle things like race conditions and two users editing at the same time like Google Docs.

[2016-07-25 13:25] xmehaut opened #657 "Simplying install and configuration"
Hello,

I would suggest to symplify the installation and configuration of jupyterhub through for instance a question/answer workflow (scaffolding) because it is difficult for non expert to make jupyterhub working easily.... I fo instance struggle with a "500: internal error" whn trying to run jupyterhub for a user and I can't find the way to make the tool working :-( (even after reading many forum

[2016-07-25 14:35] willingc opened #658 "Fix or remove requires.io badge in README"
@minrk I spent about 20 minutes trying to get the requires.io badge working. requires.io is a bit underdocumented and not available in the GitHub Services section of settings.

Thoughts?

[2016-07-25 14:40] minrk commented on #658
I say remove it.

[2016-07-25 14:43] willingc commented on #658
Will do.

[2016-07-25 15:35] willingc opened #661 "Add installation instructions to FAQ when no internet access is present"
From mailing list:

**Response by Min**
conda and pip can both be used without a network connection. You can make your own repository (directory) of conda packages and/or wheels, and then install from there instead of the internet.

For instance, with pip and npmbox:

    pip wheel jupyterhub
    npmbox configurable-http-proxy

[2016-07-26 04:17] sudipto84goswami opened #663 "Multiple Node Environment for Jupyterhub"
I am having two hosts over which I am planning to build up an environment with Jupyterhub running on 2 nodes. Out of this, one node will be a docker server and the other to be base jupyerhub server. The main idea behind configuring this, is to establish a load balancing mechanism as well as clustering. Based on average load on the server, the user will be routed to a dedicated host for routing.

C

[2016-07-26 10:02] #658 closed

[2016-07-26 17:23] jstrength opened #664 "Have login redirect, redirect back to original uri after login."
Hello,
This is more of a feature request rather than an issue, but it would be cool if when you are not logged in and you click a linked that requires a login that it redirects you back to that original link after you've logged in.

[2016-07-27 02:14] GISDev01 commented on #657
I do agree that there's a few things that could be improved on simplifying things, but it is actually pretty complicated under the hood, after all.

We might be able to help you out a bit better if you're able to give more information on your current configuration and what you've done so far. Are you able to post the whole error traceback?

[2016-07-27 02:20] GISDev01 commented on #642
@jai11 Which OS are you using? I actually had some trouble getting an /etc/init.d/ service up and running on Ubuntu 14.04, where it would use a service account with limited sudo rights (per the docs on how to run it as non-Sudo and using the SudoSpawner). I'd be interested in hearing if you figured this out.

[2016-07-27 07:26] xmehaut commented on #657
Thanks for your help

To give the context, i created an ansible playbook to industrialize the
installation of anaconda3 and 2 and jupyterhub too.

The install seems to work well, and Jupyterhub is able to be launched...
But once I try to connect with vm user (created with adduser), I've got the
following trace stack :
any clue?

regards

==================
09:22:33.491 - info: [ConfigProxy] Proxy

[2016-07-27 07:30] xmehaut commented on #657
(...)
maybe to help...Once I unterrupt jupyter (ctrl C :) ), I've the following
msg :

..
[W 2016-07-27 09:28:47.685 JupyterHub auth:390] Failed to close PAM session
for 8: [PAM Error 10] User not known to the underlying authentication module
[W 2016-07-27 09:28:48.186 JupyterHub auth:390] Failed to close PAM session
for l: [PAM Error 10] User not known to the underlying authentication module
[W 2

[2016-07-27 15:01] minrk commented on #664
That is in fact already the intended behavior, and what I see when I test it out. Can you give an example where this doesn't happen?

[2016-07-27 15:05] minrk commented on #657
PermissionError is often caused by JupyterHub being installed in an env where the individual users don't have access. You need to make sure that the `jupyterhub-singleuser` script that users execute is accessible and executable by all your users. It's common for people to install JupyterHub in an env they own, which is by default only readable by them. If you do this, you must make the env world-r

[2016-07-27 18:02] Amerterasu commented on #647
Can you specify more about what exactly is running on that user's server? I tried replicating this myself, but did  not get any warnings and the user was successfully deleted.

[2016-07-27 22:24] jstrength commented on #664
Say someone sends me a link to localhost/user/me/notebooks/somenb.ipynb and I click it when I am not logged in, it will take me to the login screen. After I login it takes me to localhost/usr/me/tree instead of the link I originally clicked on.

[2016-07-28 00:53] vilhelmen opened #665 "Proxy does not stay open after exiting hub"
Not sure if it's my setup (CentOS 7, JupyterHub 6.1), but when shutting down the hub (via SIGINT), the proxy is always terminated, regardless what the value of c.JupyterHub.cleanup_proxy is. However, if you shut the hub down through the web interface, the proxy will stay up if you uncheck the box for it.

I poked through the code and verified that cleanup_proxy was false in both cases, so I'm not

[2016-07-28 08:48] minrk commented on #664
okay, thanks. That case is allegedly covered in the tests, so I'll have to investigate what's going wrong. What version of JupyterHub are you using?

[2016-07-28 08:49] minrk commented on #665
@vilhelmen adding preexec sounds like the right thing to do. Do you want to send a PR?

[2016-07-28 10:11] dvigneshwer opened #666 "Error while running cull_idle_servers.py"
[code]
I had created an environmental variable for ./log_activity and ran the code, got the error above.

[code]

Also tried `export JPY_API_TOKEN=jupyterhub token` got the same error.

[2016-07-28 13:24] minrk commented on #666
It needs to be

    export JPY_API_TOKEN=`jupyterhub token`

not

    export JPY_API_TOKEN=jupyterhub token

That is, JPY_API_TOKEN should be the token itself, which is the *output* of the `jupyterhub token` command.

[2016-07-28 16:36] jstrength commented on #664
I'm currently running version 0.6.1
I have the --no-ssl flag on, but besides that I think everything is default.

[2016-07-28 18:03] vilhelmen commented on #665
Can do!

[2016-07-28 21:07] #509 closed

[2016-07-28 22:20] SruthiBhavanam commented on #647
Only jupyterhub-singleuser is running on the server.No jobs are launched.

Attached are the images of the error and the final state where the user is not deleted.

<img width="974" alt="screen shot 2016-07-28 at 3 14 16 pm" src="https://cloud.githubusercontent.com/assets/20524648/17231437/ba88d358-54d6-11e6-8a07-f985b172fdd4.png">
<img width="601" alt="screen shot 2016-07-28 at 3 15 01 pm" src="ht

[2016-07-29 07:17] guoxiangyang12 commented on #665
when i want to re-login after logout,there will be a mistake "[PAM Error 7] Authentication failure  ",why?

[2016-07-29 07:19] guoxiangyang12 opened #670 "PAM ERROR"
when i want to re-login after logout,there will be a mistake "[PAM Error 7] Authentication failure ",why?

[2016-07-29 09:44] dvigneshwer commented on #666
Above I just copy pasted the output from `printenv | grep JPY`

While creating the environmental variable I had followed `export JPY_API_TOKEN="jupyterhub token" `

[2016-07-29 12:48] minrk commented on #666
`"` is not the same as \`. The backtick chacter (\`) means "run this command and return its output," whereas the quotation mark means "use this string exactly."

You can achieve the same result by running the `jupyterhub token` command by hand, and then copying and pasting the result into JPY_API_TOKEN:

[code]

This is equivalent to

[code]

but not equivalent to

[code]

[2016-08-01 00:50] vilhelmen opened #672 "API responses may not conform to Swagger spec"
Either the API responses are not conforming to swagger specs, or the Bravado library is just being overzealous with type checking. When querying the user list (all I've tested so far), Bravado raises and complains that the null returned for the server field isn't a valid string. Looks like the null is transformed to None, which isn't a string.
[code]
I'm not very familiar with any of this, so ther

[2016-08-01 09:04] #665 closed

[2016-08-01 09:44] simtos opened #673 "automatic logout not working as desired"
Hi,

I installed jupyterhub and set logout parameter as a 1minute. If i login and dont do any activity for a minute and then click on Control Panel then I get logout. But when I click on existing .ipynb file or New button etc it does not get automatically logout and also am able to save my notebook.
Is automatic logout only works with Control Panel??
Please find attached the config file.
[jupyterh

[2016-08-01 09:52] simtos opened #674 "Remove user not working from Admin Panel"
Hi,

I created new user in Linux and set password for it. I logged into jupyterhub with admin user and tried to add user from admin panel. I could successfully add it. When I tried to remove user by click on delete its giving error (API request failed (404): error). There is nothing logged in jupyterhub logs even ran service with DEBUG option.
This look to be an issue. Attached is the jupyterhub c

[2016-08-01 15:08] minrk commented on #673
The single-user server caches the Hub's cookie responses for five minutes by default, so that would be a lower limit for the cookie invalidation to take place. Do you see cookies being invalidated after more like 10 minutes?

[2016-08-01 15:14] minrk commented on #674
Can you post the surrounding debug logs as well? The config file you mentioned does not appear to be attached.

[2016-08-01 15:56] Amerterasu opened #676 "Unix Group Identifier"
Is there a way to allow admins to be specified by their unix group? Perhaps naming groups in the orm as the GID? Or adding an attribute to admins that identify the unix group they're associated with.
@anderbubble

[2016-08-01 19:22] vilhelmen commented on #672
I've been looking over the [spec](http://swagger.io/specification/#definitionsObject) for the last few days, and I don't think there's a nullable/optional type for results.

I've never used a generated API either, but I thought it was a pretty neat idea and got excited that there was one for JH since I didn't see a python client. I've been avoiding requests and trying to use libraries in the hope

[2016-08-02 05:27] simtos commented on #674
Thank you for the quick response. PFA the log file and the config file. I have configured the jupyterhub as a service like below
============================================
[Unit]
Description=Jupyterhub
After=network-online.target

[Service]
User=jupyterhubusr
ExecStart=/usr/bin/jupyterhub --config /etc/jupyterhub/jupyterhub.py --JupyterHub.spawner_class=sudospawner.SudoSpawner --no-ssl --log-lev

[2016-08-02 06:40] simtos commented on #673
Hi, Thank you for the details. I set timeout parameter to 6min but it didnt work then I set to 12mins then also it didnt work..
I tried setting this parameter in the jupyterhub service command and also in jupyterhub config file with value as 12mins.. It is working now for more than 10mins.
PFB the jupyterhub service command as below:
===========================================
[Unit]
Description=J

[2016-08-02 09:46] minrk commented on #673
Answers:

I'm not sure how you are testing, but since the SU server caches the most recent reply for five minutes, you should test that it logs you out after your timeout plus five minutes. So if you have set the timeout to 6 minutes, it could take 11 minutes before the SU server starts rejecting requests from a given cookie, etc.

You don't. Setting it in either place is sufficient, but config is

[2016-08-02 09:49] simtos commented on #673
Thank you Min RK.

[2016-08-03 02:17] jtyberg commented on #569
I'm hitting this with a custom spawner.  I witness the too many redirects once logged in and I first try to launch my server.  I've included my logs below.

I'm on JupyterHub 0.6.1.

* I hit my `/users/jtyberg` endpoint.
* My spawner `poll` method returns an empty string because the container does not exist.
* My spawner `start` method gets invoked and starts the container.
* My spawner `poll` met

[2016-08-03 02:58] ch41rmn commented on #664
I have run into this problem, and have figured out a reproducible case:

- Have at least 2 users (userA, userB) in JupyterHub
- Log in as userA, in control panel, make sure userB's server is stopped
- URL `/user/userB/foo/bar` redirects to `/user/userA/foo/bar`
- URL `/user/userB/tree/foo/bar` redirects to `/user/userA/tree/foo/bar`
- URL `/user/userB/notebooks/foo/bar` redirects to `/user/userA/n

[2016-08-03 04:12] ch41rmn commented on #664
On `master`:

- Have at least 2 users (userA, userB) in JupyterHub
- userA logged in, userB server is stopped
    - URL `/user/userB/foo/bar` redirects to `/user/userA/foo/bar`
    - URL `/user/userB/tree/foo/bar` redirects to `/user/userA/tree/foo/bar`
    - URL `/user/userB/notebooks/foo/bar` redirects to `/user/userA/notebooks/foo/bar`
- userA logged in, userB server is running
    - URL `/user

[2016-08-03 07:48] simtos commented on #674
Hi Min RK, do you see any issues with configuration, please suggest how we can get this working.. there is nothing logged about this error in  logs :(

[2016-08-03 09:23] minrk commented on #664
@ch41rmn thanks for the detailed coverage! I think we can write a test case for each one, if we don't have them already.

In master, what does `/user/userB/foo/bar` do instead of redirecting?

[2016-08-03 11:08] aidaph opened #677 "Uncaught exception GET /hub/oauth_callback"
Hi,

I'm having problems while authenticating from JupyterHub with an shibboleth IDP server.
I have another JupyterHub server which just works fine, but I can't figure out the problem... This server prints out the user once you are authenticated, but it doesn't in the one I'm having problems with, and gives error after a while.

This is the error message, it stays 20 seconds waiting and finally gi

[2016-08-03 11:40] minrk commented on #677
That suggests that the Hub cannot establish a connection to the oauth server. Are you sure the hosts and ports are correct there? Can you make a manual connection to the same URL?

[2016-08-03 11:42] minrk commented on #674
The log doesn't show the 404, which means that it's not including the logs from the actual time of the request. Can you double check that you included these logs? JupyterHub with `--debug` logs every request with its response status, so there will be a 404 in the logs.

[2016-08-03 12:13] aidaph commented on #677
Thanks for answering!

I've executed the following command (did you mean this by manual connection?):
curl localhost:8000/oauth_callback

And the result is the same, it gives the exact same errors on JupyterHub.

[2016-08-03 12:35] sudipto84goswami commented on #663
Can you please share your thoughts on this. We need to adopt this in our organisation as there are many users who will be using this. We need to define a multinode environment with clustering, scalability and load balancing features.

[2016-08-03 19:39] #637 closed

[2016-08-04 07:36] dvigneshwer commented on #666
I generated the token and thanks for the clarification on backtick chacter (`)

For example:

`JPY_API_TOKEN=76aaea18e2d34acf9e7a370a06a19566`
- I generated it by setting c.Authenticator.admin_users = {'root'}

Its working, thanks

[2016-08-04 07:36] #666 closed

[2016-08-04 09:35] patricxu opened #679 "custom PYTHONPATH in docker container in singleuser mode"
I am using a spawner to create a container for the single user in docker. I have add the PYTHONPATH env to ~/.bashrc and it works when I do this:
docker exec -it <container_id> python
`import sys`
`sys.path`
It outputs the lib path that I set with PYTHONPATH env.
However, when I use jupyter notebook from web, the lib path is not included.
I don't know why is that. If the lib path is configurable f

[2016-08-04 10:04] minrk commented on #679
I don't believe .bashrc is sourced normally when launching a docker container with a given command. You may want to change the command in your docker container to launch a script with a login shell, then `exec jupyterhub-singleuser ...`.

Alternately, you can put the `export PYTHONPATH` in the launch script itself.

[2016-08-04 10:04] minrk commented on #677
Sorry, I meant connecting directly to the OAuth server - the action that the Hub is taking that is failing.

[2016-08-04 10:07] minrk commented on #663
We don't need to have this same conversation both on GitHub and on the mailing list. I am closing this in favor of the same conversation [already ongoing on the mailing list](https://groups.google.com/d/msg/jupyter/IBjkeMVLlGE/XDxzQS5uBQAJ).

[2016-08-04 10:07] #663 closed

[2016-08-04 10:25] patricxu commented on #679
![ubuntu 64 -2016-08-04-18-12-28](https://cloud.githubusercontent.com/assets/9252137/17398471/980d8c80-5a6f-11e6-818f-8563ca829584.png)
![default](https://cloud.githubusercontent.com/assets/9252137/17398605/31318fce-5a70-11e6-94ce-2b408f0543ba.png)

Hi Minrk,

The environment variable does take effect. It's weird the sys.path are not the same.  All I want is to add the my own path "/.iwind" to the

[2016-08-04 11:01] minrk commented on #679
Can you show PYTHONPATH in `%env` output in the notebook?

[2016-08-04 14:08] dvigneshwer opened #680 "Killing notebook after a particular timeout for each users"
**Aim :** To kill or shutdown the idle notebooks after a particular time for each users

The cull service uses the api to get the user active and checks for a particular timeout in a for loop, is it possible to edit the script to get all the details of the running notebook and apply a particular time out for them.

In that case what is the api to get the running notebooks like we can see the runni

[2016-08-05 05:44] patricxu commented on #679
These are what I got from web access.

CLICOLOR='1'
CONDA_DIR='/opt/conda'
DEBIAN_FRONTEND='noninteractive'
GIT_PAGER='cat'
HOME='/home/jovyan'
HOSTNAME='6d3459a8eb03'
IFS='
'
JPY_BASE_URL='/user/qxu'
JPY_COOKIE_NAME='jupyter-hub-token-qxu'
JPY_HUB_API_URL='http://192.168.40.141:8081/hub/api'
JPY_HUB_PREFIX='/hub/'
JPY_PARENT_PID='5'
JPY_USER='qxu'
LANG='en_US.UTF-8'
LANGUAGE='en_US.UTF-8'
LC_ALL=

[2016-08-05 07:15] minrk commented on #679
That's because the notebook isn't started by a full bash terminal session, so `.bashrc` doesn't affect the notebook environment. When you do `exec -it bash`, it does start a bash session, so `.bashrc` is sourced. This is what I was alluding to above - you can change the CMD for the image to run a full bash shell and `exec jupyterhub-singleuser` in order to inherit configuration in .bashrc, or more

[2016-08-05 08:32] minrk commented on #680
You can get the running notebooks for a particular user via `/api/sessions` on each user's notebook server, but no timing information is stored so you will have to track that yourself to make your own measurements of idleness.

[2016-08-05 10:13] patricxu commented on #679
Thanks! I found this
# Environment variables to load for the Spawner.
#
# Value could be a string or a callable. If it is a callable, it will be called
# with one parameter, which will be the instance of the spawner in use. It
# should quickly (without doing much blocking operations) return a string that
# will be used as the value for the environment variable.
# c.Spawner.environment = {}

It wor

[2016-08-05 10:13] #679 closed

[2016-08-05 11:22] dvigneshwer commented on #680
@minrk I need little more details, let me brief you through what all I tried.

I had used postman for checking the working of jupyterhub api,

From the cull service python code,
[code]
Based on above code reference I tried,

Generated the jupyterhub token,
![image](https://cloud.githubusercontent.com/assets/5075497/17434953/22789c82-5b2b-11e6-879d-57e03dd56fbc.png)

`GET https://IP_ADDR:8000/api/u

[2016-08-08 01:12] steverweber opened #681 "kerberos support in container"
Almost have kerberos support working in docker containers.

But got stuck.. looking for the correct code to logout and kill a user session if the spawned docker image ends.

here is some of the jupyterhub.config
[code]

the docker container runs the following script...

The script adds the users krb ticket and auto renews.. if it cant be renewed anymore it then exits the process.... The SystemUser

[2016-08-08 03:34] zjeagleeye opened #682 "how to redesign jupyterhub frontend?"
Hello everyone, I'm a new coming boy. I want to redesign jupyterhub frontend. However, I don't know how to do it from scratch. There's no detailed description from Jupyterhub documentation.

Thank you for help

[2016-08-08 05:20] dvigneshwer commented on #680
@minrk Can you please help me out ?

[2016-08-08 08:50] minrk commented on #681
LogoutHandlers clear cookies for the current request. If you invoke them not as part of a request, they will not have anything to clear.

If anything, the only way to force a user to be logged out is to clear all access tokens that correspond to that user:

[code]

[2016-08-08 08:51] minrk commented on #682
JupyterHub doesn't really support theming, but if you modify the templates and LESS in `share/jupyter/hub` you can change how it looks.

[2016-08-08 08:57] minrk commented on #680
Q1: the URL would be `https://public-host/user/name/api/sessions`. Also, your JupyterHub API token will not grant you access to this API at this point, though this is something I can add to the single-user server.

Q2: this information is not tracked by the single-user server. I don't think you can measure idleness on an individual server basis without connecting websockets to each kernel. and tra

[2016-08-08 10:06] dvigneshwer commented on #680
@minrk  thanks for the reply.

So I can't run the api's for Q1 and Q3 unless the change is made in single-user server.

Q2 So I thought whenever you login and open a new notebook I can see log messages in the jupyterHub logs, I thought may be we can use that but it does not track kernel level info.

Can you share few code and doc links through which I can understand working of single user server p

[2016-08-08 13:38] steverweber commented on #681
Thanks @minrk  I think this cleared up my thoughts, however still stuck.

I'm having issues when i try to import orm from inside the Spawner...
Perhaps some of the other objects passed to the spawner could be used? (db,hub,user,authenticator,api_token)

I only asked because I have been at this for a few hours and basically no progress.
[code]

[2016-08-08 14:45] minrk commented on #681
You would want `from jupyterhub import orm`. The `from .` is relative, like paths on the filesystem, so for modules already in `jupyterhub` they can spell the same thing as `from .`, but modules outside jupyterhub must give the 'absolute' import.

The query should be exactly as I typed it - it really needs to be the orm.APIToken class, not an APIToken *instance* or in fact the string of a given to

[2016-08-08 14:46] steverweber commented on #681
thanks! i'll give it a go

[2016-08-08 17:33] steverweber commented on #681
still not there yet..
after the container dies the jupyterhub seems to be removing the APITokens... but the user does not seem to need to use the login page after refreshing the web-browser...

perhaps also need to clear some server side cookie cache?

[code]

[2016-08-08 17:48] steverweber commented on #680
perhaps you could do this as a spawner, something kinda like...

jupyterhub.conf
[code]

sorry if im no help... kinda working on something similar.

[2016-08-08 17:54] cruegge opened #683 "PAM-configured TMPDIR not respected"
I'm using `pam_tmpdir` to set up the `TMPDIR` environment variable. However, the setting does not end up in the running Jupyter instances or kernels, even when putting it into `env_keep`. This is in particular a problem with the IHaskell kernel, which for some graphics operations writes temporary files to `TMPDIR`, causing collisions between users when falling back to the default `/tmp`.

I manage

[2016-08-09 11:44] minrk commented on #681
Silly me, I forgot that the cookies don't use the API tokens, so that bit doesn't affect browser sessions. To immediately invalidate all user cookies, change the user's cookie id:

[code]

Sorry about that.

[2016-08-09 17:37] steverweber commented on #681
Thanks so-much, works well!

does
[code]

also cause new api_token?

should I still keep
[code]
?

Thanks!!!

[2016-08-09 18:27] alexjlam opened #684 "Unable to display Tkinter GUI on non-server computer"
Hello everyone

I want to be able to use the Tkinter to create a GUI for browsing and selecting folders within a Notebook on JupyterHub. If I login to my JupyterHub on a separate computer that's not running the server, and I try to use my Tkinter GUI code in the Notebook, I get the following error.

`TclError: no display name and no $DISPLAY environment variable tkinter`

I know this is coming fro

[2016-08-10 09:17] minrk commented on #681
Probably drop the API token clearing. Each launch of the notebook server does get a new API token.

[2016-08-10 13:57] updiversity opened #685 "error: unknown option `--error-target'"
Hi,

i did recently an update of jupyterhub. Now i have installed version 0.6.1

Unfortunately, when I run with or without certificates, the proxy does not start successfully. I have this error message:

[code]

I tried to upgrade configurable-http-proxy, via this command:

`npm install -g configurable-http-proxy
`

but it did not solve the problem neither...

Can somebody help me on this issue ?

[2016-08-11 13:20] minrk commented on #684
JupyterHub doesn't and can't do any window forwarding (this is not generally available). If you do have full access, you can forward X with an ssh session:

    ssh -X host

then your DISPLAY variable will likely want to be a differen value from `:0` (e.g. `:1`). You can see the `DISPLAY` variable in the ssh session for the value.

I've never tried forwarding X from commands not started inside the

[2016-08-11 13:23] minrk commented on #685
What is `configurable-http-proxy --version`? This argument was added in CHP 1.0, I believe.

[2016-08-11 13:23] minrk commented on #685
You might also check `which -a configurable-http-proxy` in case there's more than one hanging around.

[2016-08-11 14:18] mrinmoyprasad opened #686 "How do I spawn Amazon EC2/EMR instances running single-user-notebook servers using Custom Spawner?"
Hi,

I am trying to launch a dedicated AWS EC2/EMR Instance for each user that logs in and authenticates itself on Jupyterhub that I have installed on EC2. How do I spaw notebook servers on EC2 instances?

[2016-08-12 04:35] ksze opened #687 "`KeyError("User %k does not not exist.")` when Unix user has been deleted."
JupyterHub version: 0.6.1
OS: Debian Jessie

We had followed this wiki to setup JupyterHub to run as a service on Debian Jessie, using the init.d script instead of a systemd service unit file: https://github.com/jupyterhub/jupyterhub/wiki/Run-jupyterhub-as-a-system-service

However, we are running into the exact same problem as this guy: https://serverfault.com/questions/794938/jupyterhub-error-on

[2016-08-12 09:52] willingc commented on #687
@ksze Thanks for the issue report.

Pinging @minrk.

[2016-08-12 12:47] pcarazo commented on #677
I think that yes, and there is visibility between the IDP server and Hub&Oauth server (JupyterHub and Oauth server are on the same machine).

It works fine if I change the authentication system to sudospawner in the jupyterhub_config.py file:

`# The base URL of the entire application
c.JupyterHub.base_url = ''
#c.JupyterHub.base_url= '/hub'
c.Authenticator.create_system_users = True

c = get_conf

[2016-08-12 21:04] alexjlam commented on #684
Thanks for the reply. I actually figured out a workaround for this using ipywidgets instead of the Tkinter GUI.

[2016-08-13 01:35] willingc commented on #684
@alexjlam You are very welcome. We're happy that you were able to use ipywidgets to accomplish your task.

[2016-08-13 01:35] #684 closed

[2016-08-15 09:30] rs2 opened #688 "Getting error: "Permission failure checking authorization, I may need a new token""
See [demohub](https://demohub.jupyter.org/user/rs2/tree).

[2016-08-15 09:56] willingc commented on #688
@rs2 Your issue doesn't provide much detail. Based on what you have written, I would suggest that you look at this troubleshooting documentation: https://jupyterhub.readthedocs.io/en/latest/troubleshooting.html#error-after-spawning-my-single-user-server

Looking at your logs as recommended in the troubleshooting section of the documentation will provide helpful details too. Please feel free to pro

[2016-08-15 10:06] rs2 commented on #688
I'd love to provide more information, but the instance in question is hosted on [demohub](https://demohub.jupyter.org/). Is it not something where you have access to the logs? Over to you.

[2016-08-15 10:30] willingc commented on #688
@rs2 Quick question: what resource led you to demohub.jupyter.org?

I believe that demohub was used as part of an old workshop done by the team. @minrk, do you have the history on this? Is this for pubic use? FYI, I am seeing the same as @rs2.

[2016-08-15 12:08] minrk commented on #687
We should add a check in the startup for the removed users.

Deleting the jupyter.sqlite is usually fine, as long as the Hub and all servers are stopped, especially if you are just using the system to manage users. If you were managing Hub users via the admin interface, any changes made there not reflected in config files would be lost.

You can be less drastic by deleting just the problematic use

[2016-08-16 01:51] #682 closed

[2016-08-16 10:01] maxgrenderjones opened #690 "Add ability to launch jupyterlab from jupyterhub"
[jupyterlab](https://github.com/jupyter/jupyterlab) is now minimally usable. It would be great if there was a way of launching it from jupyterhub to enable experimentation in multi-user environements.

(Apologies if this is already possible, but I didn't see anything on google or the docs, and it wasn't obvious how you could change what `jupyterhub-singleuser` actually launches)

[2016-08-16 10:56] willingc commented on #690
@maxgrenderjones Thanks for the question. Although JupyterLab is not ready for running production tasks as it is still in alpha, experimentation is a very reasonable request :-)

You may find this helpful: https://github.com/jupyter/docker-stacks/wiki/Docker-Recipes#run-jupyter-lab

Also pinging @mirnk @parente for additional thoughts on using jupyterlab easily for experimentation on jupyterhub.

[2016-08-16 11:28] parente commented on #690
The docker-stacks images can now trivially spawn Jupyter lab in containers. Coupled with the fact that the stack images already support Jupyter Hub, it should all just work pretty easily if you're willing to use docker. (It's probably also possible without docker but I'm not as familiar with that path.)

I'm mobile. Will link when at a real keyboard.

[2016-08-16 12:14] maxgrenderjones commented on #690
I'm not using docker, so would need something different (I think I'd need a version of [SingleUserNotebookApp]
(https://github.com/jupyterhub/jupyterhub/blob/master/jupyterhub/singleuser.py)  that inherited from [LabApp](https://github.com/jupyter/jupyterlab/blob/master/jupyterlab/labapp.py), or maybe just a way of setting `default_url` within JupyterHub.

All of which is a long winded way of sayi

[2016-08-16 18:02] desilinguist commented on #394
Same here. We would really like to use JupyterHub but this is the blocker for now.

[2016-08-16 22:05] sudipto84goswami opened #691 "Installation of Table of Contents extension"
Hi Team,

I followed the installation of extensions through - https://github.com/ipython-contrib/jupyter_contrib_nbextensions.

My requirement is to us Table of Content extension in the Jupyterhub. After installation i restarted the hub, still the extensions are not getting loaded.

I already have the installation done. I am having the below two files also present under - .ipython/nbextensions/
to

[2016-08-17 00:25] kishorchintal opened #692 "How to set the port range for single user notebook server"
I would like to control the port ranges which jupyterhub can use to spawn the single user notebook server. Is it possible?

[2016-08-17 18:46] willingc commented on #691
Hi @sudipto84goswami,

Thanks for the question. Could you please provide us a bit more information about the versions that you are using?

[2016-08-17 21:03] sudipto84goswami commented on #691
Hi Carol,

You can mark this as closed. This is working now.

[2016-08-17 21:25] willingc commented on #691
Glad you got it working @sudipto84goswami.

[2016-08-17 21:25] #691 closed

[2016-08-18 12:40] TrigonaMinima opened #694 "JupyterHub not starting with self signed certificate."
JupyterHub is running if I specify the ```--no-ssl``` tag, but its not working when I specify the self signed certificate in the config. I generated the cert using:

    openssl req -x509 -newkey rsa:1024 -keyout jhub.key -out jhub.crt -days 365 -nodes

My config file is:

[code]
The browser just throws

I tried this on both Chrome and Firefox. I cant find the solution regarding this anywhere.

[2016-08-18 15:06] dvigneshwer opened #695 "Admin screen start server and stop server color does not change"
I was running cull service in the background, the notebook server start/stop button does not change color after the notebook server being culled ie It stay stop server only (Red color) even after being culled , it should bascially turn into start server (green color)

The admin screen returns a alert message "**API request failed (400): root's server is not running**"

![image](https://cloud.githu

[2016-08-18 15:52] SeanHealy33 opened #696 "adduser fails with default config"
OS: Amazon Linux AMI

When you attempt to create a user from the admin control panel. It fails returning a 400 error to the client

[code]

This appears to be caused by https://github.com/jupyterhub/jupyterhub/blob/f1bdf6247abe3f41d571ea94116cf64ec7ed45df/jupyterhub/auth.py#L286

As most of the flags in the command are not valid adduser flags in linux. http://linux.die.net/man/8/adduser

I found a

[2016-08-18 16:20] SeanHealy33 commented on #696
It appears on further checking that
`return ['adduser', '-q', '--gecos', '""', '--disabled-password']`

is a FreeBSD `adduser` command: http://www.freebsd.org/cgi/man.cgi?adduser(8)

considering the linux way is `adduser -m <username>`

[2016-08-19 22:35] willingc commented on #694
@TrigonaMinima Would you try setting the port to 443 in the config file? Hopefully that will solve your connection when using https. ``c.JupyterHub.port = 443``

[2016-08-20 00:01] sacmehta opened #698 "cannot connect to X server"
Whenever I create an empty notebook in JupyterHub, I get the following error (irrespective of the python version):

: cannot connect to X server

I logged into the server with ssh + X11 forwarding.
P.S.: I am starting the jupyterhub with --no-ssl command

[2016-08-20 20:04] TrigonaMinima commented on #694
@willingc It's still giving me the same response. Also, if it was going to run on port 443 then shouldn't it also run on port 8000? I am asking this because on linux to use any port less than 1024 you need to run the program as root otherwise it was giving me ```EACCES``` error. And, I don't want to use ```sudo``` to run JupyterHub. So, the problem is still unsolved.

One more thing I noticed was

[2016-08-21 15:27] willingc commented on #698
Duplicate of mailing list post: https://groups.google.com/forum/#!topic/jupyter/LyaKA5SF52s

@takluyver response on mailing list:
Is it possible that something when a kernel starts is loading matplotlib (or pylab)? IPython itself shouldn't need an X server, but some matplotlib backends might.

[2016-08-21 20:11] minrk commented on #694
@TrigonaMinima make sure you connect to `https://127.0.0.1:8000`, not `http://127.0.0.1:8000`. You will get an error similar to what you have reported if you make an HTTP request to an HTTPS server.

[2016-08-21 20:19] #687 closed

[2016-08-21 20:27] minrk commented on #696
I've tested and verified that the default command does indeed work on Debian and Ubuntu, so it's not a FreeBSD-specific command, and valid on tested Linux distros. What's the base distro for your AMI?

I haven't seen a command that does the right thing everywhere, which is why this command is configurable.

[2016-08-22 08:18] simtos commented on #674
I checked multiple times with debug log level. The 404 error only being shown on UI.. not getting logged to jupyterhub. This could be another issue.
Can you please tell what can be done here as nothing is logged related to this error

[2016-08-23 07:56] katsar0v opened #700 "Multiple jupyterhub servers with same users"
As I haven't seen this in the documentation, just wanted to ask is it possible to have x amount of jupyterhub servers working with the same users, if yes, what configuration could help me achieving this.

[2016-08-23 08:20] willingc commented on #698
## [Resolution from mailing list](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/jupyter/LyaKA5SF52s/qOHmERDTDQAJ)

@sacmehta:
We found the issue.

When we are running Jupyter notebook, DISPLAY variable was set, but when we running JupyterHub DISPLAY variable was empty and thus we were getting this error.

We checked the Display variable as:
[code]
Many thanks for your re

[2016-08-23 08:20] #698 closed

[2016-08-23 09:34] minrk commented on #690
You can set default_url in your spawner config:

[code]

which ought to be enough to send your users to lab by default.

[2016-08-23 09:39] minrk commented on #394
@rawrgulmuffins sorry for not responding. It depends on your needs how simple is appropriate. @dsblank has implemented a sharing service for [his deployment](https://github.com/dsblank/jupyter.brynmawr). I hope to have an official implementation by the end of the year (I had hoped by the end of this summer, but it's been a crazy busy summer).

[2016-08-23 09:53] dsblank commented on #394
Specifically this file:
https://github.com/dsblank/jupyter.brynmawr/blob/master/jupyterhub/publichandler.py

Combined with this nbextension to copy files to the public_html folder:
https://github.com/Calysto/notebook-extensions/tree/master/calysto/publish

These are hacky versions, quickly written to do the bare necessities, with hardcoded things.

But I agree: our jupyterhub deployment needs such

[2016-08-23 09:58] minrk commented on #700
Not at the moment, no. JupyterHub currently enforces one server per Hub user. If you created multiple Hub users per human, you could achieve this.

[2016-08-23 10:00] minrk commented on #674
If nothing is being logged, no request is being made to the Hub. Can you check the javascript console for a clue? You might also add the config:

[code]

to your jupyterhub_config.py to get extra debugging info out of the HTTP proxy

[2016-08-23 10:10] katsar0v commented on #700
My idea is rather having x amount of jupyterhub servers behind load balancer

[2016-08-23 10:41] minrk commented on #692
@kishorchintal yes, with a custom Spawner you can limit the port range. Can I ask why you want to do this, and what spawner you are using?

[2016-08-23 10:44] minrk commented on #700
Sorry, I misunderstood the question. Multiple Hubs behind a load-balancer may work, but it will work best if you route users deterministically to the same Hub.

[2016-08-23 10:46] minrk commented on #695
It's true that the admin page doesn't live-update, but I don't see this as a big problem. The user can refresh the page to get a fresh view if something has changed since the page was loaded.

[2016-08-23 12:12] dvigneshwer commented on #695
Yeah I agree that it does not cause any big problem just show api request failed notification as above in case server not running and the button is still green.

I raised this issue, even after cull service being stopped the particular notebook server is showing the green button.

Can we intergrate a web socket to these buttons and request api for the users status from which we can modify them in

[2016-08-23 12:15] katsar0v commented on #700
Yes that makes sense, but what if one of the hub behind the load balancer fails and another hub needs to continue its work? But this with routing sounds interesting, would be really helpful if you could give some more info

[2016-08-23 12:24] minrk commented on #700
If one hub fails, another should be able to pick up where it left off (in-memory state of running notebooks would be lost, of course). The only issue should be if two hubs are actively trying to manage the same user at the same time. If it moves from one Hub to another in a semi-permanent way (i.e. coinciding with starting a new single-user server), that should be fine.

[2016-08-23 12:48] katsar0v commented on #700
Yes, this should be the case, unfortunately a lot of error refusing happens, as well redirect loop + 500 internal server errors. Has someone already done this, as I am trying to get what @minrk commented working.

Do the hubs need to have the same cookie secret, as well what else is required for the flawless work of multiple jupyterhubs. Thanks in advance to anyone joining this discussion.

[2016-08-23 13:31] minrk commented on #695
I don't think we should add a websocket or live state monitoring to the admin page. That adds unnecessary load to the Hub, and I don't think it is worth the complexity, given how the current admin page works.

I have considered switching the admin page to use react, in which case this might become more feasible.

[2016-08-23 13:53] steverweber commented on #681
@minrk Hit one more little bug with this kerberos support.
Is there a way to stop and destroy a spawned container immediately when the user clicks logout?

I looked into a custom logout handler but not sur if that is the correct solution.

any pointers?
thanks!

[2016-08-23 14:10] steverweber opened #701 "doc - dead links"
some dead links in wiki under further-reading

https://github.com/jupyterhub/jupyterhub/blob/master/docs/source/getting-started.md#further-reading

[2016-08-23 14:38] katsar0v commented on #700
How about routing and fixing the refused connections errors

[2016-08-23 14:46] dvigneshwer commented on #695
okay keep me in loop with that repo, I am closing this issue now.

[2016-08-23 14:46] #695 closed

[2016-08-23 14:51] steverweber commented on #681
I think i might almost have it...
[code]

nost sure what code to use from the LogoutHandler to kill the container.

[2016-08-23 16:35] Amerterasu opened #702 "Home button"
Is there any way to configure the url that the mini home button (shown below)directs to rather than have it always direct to the Spawner notebook dir.
![home](https://cloud.githubusercontent.com/assets/5865258/17900637/30ea3d0c-691d-11e6-8f06-f9a5765764ee.png)

[2016-08-23 17:43] EdwardJKim commented on #422
I had the exact same issue as @mogthesprog described. It seems to be related to the [bug in Apache with secure websockets](https://bz.apache.org/bugzilla/show_bug.cgi?id=55320). The bug was fixed in 2.4.10, but I was running 2.4.6 on CentOS 7, so I rebuilt Apache from source. Dockerfile is [here](https://github.com/edwardjkim/httpd-docker) if anyone is interested. If you are running Apache 2.2, yo

[2016-08-23 18:16] willingc commented on #422
Thanks @EdwardJKim for passing along the information. :cake:

**Issue Resolution**
Options: 1) Run Apache 2.4.10 or higher. 2) Backport the patch to Apache 2.2. 3) Use Docker and Dockerfile.

[2016-08-23 18:16] #422 closed

[2016-08-23 18:46] TrigonaMinima commented on #694
@minrk thanks. That solved the problem. I was clicking on the url printed (```http://127.0.0.1:8000```) on the terminal after running ```jupyterhub``` command.

[2016-08-23 18:46] #694 closed

[2016-08-23 22:09] willingc commented on #701
@steverweber Thanks for taking the time to report the dead links. There's an active PR to refresh the documentation and this will be corrected in the PR. Thanks again :cookie:

[2016-08-23 22:09] #701 closed

[2016-08-23 22:34] rawrgulmuffins commented on #394
I think I'm going to attempt to tackle this next week then. If nothing else I can add a set of lessons learned to this issue.

[2016-08-24 08:59] katsar0v commented on #700
When having multiple jupyterhubs behind nginx in the same docker network, the following error occurs:

`[I 2016-08-24 08:48:05.953 JupyterHub orm:159] Adding user test to proxy /user/test => http://172.18.0.4:8888
[E 2016-08-24 08:48:05.958 JupyterHub web:1524] Uncaught exception POST /hub/login?next= (172.18.0.1)
    HTTPServerRequest(protocol='http', host='localhost:8000', method='POST', uri='/h

[2016-08-24 17:11] #681 closed

[2016-08-24 19:30] #702 closed

[2016-08-24 20:46] sofianeh commented on #690
I've added 'lab' to the c.Spawner.cmd property and it's now working:

[code]

[2016-08-25 13:13] katsar0v commented on #680
`c.SystemUserSpawnerWithTimeout.autotimeout = 1000`

sounds really interesting!

[2016-08-25 13:16] katsar0v commented on #700
The issue is resolved, the different hubs need to have different DB, while a common authenticator is possible.

[2016-08-25 13:16] #700 closed

[2016-08-25 14:26] kishorchintal commented on #692
@minrk I am using DockerSpawner.  Whenever I log in, it spawns the docker container for me but if I try to create a notebook it is not able to connect to the kernel (see below message). I am doing it in AWS and I suspect it is due to the security groups which does not allow tcp connection on those ports(for ex. port 32830, where I do not have connectivity).

"A connection to the notebook server co

[2016-08-25 15:06] willingc commented on #700
@katsar0v Thanks for following up. I glad that you resolved the issue. Thanks again for taking the time to pass along the resolution:

[2016-08-25 19:40] TheGodEmperor commented on #219
I notice this is old, but I've been trying to figure out how to have a server proxy to the server running JupyterHub.

Basically, one server is test-session that runs Jupyterhub and the other is the test-dev which will need to run so that if one did test-dev/notebook/ it'd link to the test-session:8888/notebooks/ link.

I've got a proxy for test-dev to test-session for other things that works (lik

[2016-08-25 22:04] denfromufa opened #703 "jupyterhub linux subsystem on windows 10 - permission denied"
[code]

[2016-08-25 22:10] denfromufa commented on #703
related? https://github.com/jupyterhub/jupyterhub/issues/178

[2016-08-26 01:29] ryanlovett commented on #219
Just adding another _works for me_ example. Apache 2.4.7 in Ubuntu 14.04 suffers from a websocket bug that prevents notebook sessions from working properly in this context.
[code]

[2016-08-26 04:14] kishorchintal commented on #692
@minrk I tried to read through the documentation. I found that Jupyter notebook server uses the ZeroMQ libraries and the kernel it starts when I ask it to create a Python2/3 notebook uses different sockets. I realized that it is able to talk to the docker container and saves the content of my notebook but it cannot run. This confirms that the security groups are not the problem here but the kernel

[2016-08-26 10:14] minrk commented on #692
The ports of the notebook servers are only needed to be accessible to the Hub itself, they do not need to be accessible to the outside world. In the case of a single server, these only need to be accessible on localhost / the docker virtual network. There is only one external port needed for all of JupyterHub.

The message you describe indicates a failure to establish a websocket connection, not a

[2016-08-26 11:31] hani1814 opened #704 "sudospawner failure - [PAM Error 14] cannot make/remove an entry"
Hi,

I've successfully installed jupyter hub and it works fine when launched from root.

I've then installed sudospawner (as in https://github.com/jupyterhub/jupyterhub/wiki/Using-sudo-to-run-JupyterHub-without-root-privileges) but now I get the following error when launching the hub:

[ConfigurationProxy] PROXY WEB /hub/login?next= to http://localhost:9998

Failed to create home directory

[jupyt

[2016-08-26 12:19] minrk commented on #704
Does it work if you add:

[code]

to your jupyterhub_config.py?

[2016-08-26 15:49] hani1814 commented on #704
Hi, I have added the above but it is throwing an error:

HDP1-230-2:/var/opt/teradata/anaconda3 # su jupytersrv
jupytersrv@XXUKHDP1-230-2:/var/opt/teradata/anaconda3> jupyterhub --JupyterHub.spawner_class=sudospawner.SudoSpawner --ssl-key mykey.pem --ssl-cert mycert.pem --debug
[D 2016-08-26 16:44:45.921 JupyterHub application:529] Looking for jupyterhub_config in None
[D 2016-08-26 16:44:45.921 J

[2016-08-26 15:49] #704 closed

[2016-08-26 17:15] mbmilligan commented on #219
@TheGodEmperor You should crib from one of the working examples in this thread. You definitely do need to proxy the main paths and the websockets separately. A couple more notes:

1. you spell the url "/notebook" in one place and "/notebooks" in another, check for misspellings in your config;
2. the Hub may need to be configured to listen to an external interface rather than localhost;
3. recent v

[2016-08-26 21:08] kishorchintal commented on #692
I see the below error when I try to create a notebook. Is there a configuration I need to do for web sockets to get past this problem?

`WebSocket connection to 'ws://<IP Address>:8000/user/tom/api/kernels/3ab582cd-9502-45c3-a993-e4e750771608/channels?session_id=B9DAC9AE905848DBBCABA21F014646C5' failed: HTTP Authentication failed; no valid credentials available`

[2016-08-27 09:35] minrk opened #706 "Add UI for forcefully logging out users"
We should add a few UI actions in the admin panel and/or CLI for revoking tokens/cookies. You can do this by hand right now with a script accessing the db, but that's not exactly a great experience.

- Changing `user.cookie_id` logs out all browser sessions for that user
- Revoking API tokens for a user:

[code]

[2016-08-28 16:20] katsar0v commented on #706
Off-topic: do notebook containers shut down when a user/session is inactive/logged out

[2016-08-28 16:23] katsar0v commented on #703
Try docker, I guess you won't use windows 10 on your production environment. Also System32 access requires admin I guess...

[2016-08-28 17:12] willingc commented on #706
@katsar0v

Yes, logged out.

[2016-08-28 18:16] Winterflower opened #708 "Improve 'Deploying JupyterHub on AWS' documentation"
Hi JupyterHub team!
I'm in the process of creating a JupyterHub for PyLadies London on an EC2 instance and I've hit a few snags with the 'Deploying JupyterHub on AWS' documentation. I'll keep track of the changes I'm making on the wiki in this issue.

_Current Issues_
- mention that JupyterHub may need to be started as sudo [complete]
- documentation takes the user through Docker installation, but

[2016-08-29 00:59] huwf opened #709 "Redirect Loop on login"
Hi all,

I have been trying to set up a Dockerfile for Jupyterhub for my own deployment, and have it using `SystemUserSpawner`.  I am going to be deploying on AWS swarm or similar in the future.  When I set it up a couple of months ago, I got it working fine, but for some reason when I checked it out onto another PC it gives me a redirect loop similar to #229.  I am accessing on port 8000 though,

[2016-08-29 06:51] DavidPowell commented on #703
I have successfully run jupyterhub on Ubuntu for Windows.

The only difference was that I did not use sudo. Probably the cause of the problem is that it tries to write the cookie secret to the local directory, which in your case is a protected windows location.

Have you tried running from a location where you do have write permission?

[2016-08-29 07:42] inkrement opened #710 "What's the password of users created in control panel?"
Notebook works like a charm, and I am able to create new users (seems like it uses adduser in the background). But what's the password of new created users? Do I have to open the terminal and set it manually with `passwd`? If this is the case, would it be possible to set a "default" password for each new user? I know this would be *very* unsecure, but I want to use it for teaching purposes and it

[2016-08-29 08:43] willingc commented on #703
@DavidPowell Would you have any interest in writing up a quick doc (or a bullet list of steps) on how you were able to configure and run jupyterhub on Ubuntu for Windows? It would be a helpful addition to the wiki for others.

[2016-08-29 09:56] minrk commented on #706
No, notebook containers are not shutdown until the user, admin, or external service like cull-idle shuts them down.

[2016-08-29 09:57] minrk commented on #708
Thanks for working on this!

[2016-08-29 11:01] minrk commented on #710
Adding users via the admin interface is mainly useful if you have an external authentication system, such as LDAP or OAuth. If it's a local system user and you are using PAM authenticator, then the user will have no password set until you call `passwd`.

The best way to add users if you are using normal system users is to use normal system user commands, such as `adduser`. If this is for a class,

[2016-08-29 11:24] minrk commented on #692
That is strange. If there's an additional proxy, it may not be proxying websocket connections correctly. Can you tell if there is a proxy in front of the Hub application (in front of the configurable-http-proxy instance)?

[2016-08-29 12:12] inkrement commented on #710
Thanks!

[2016-08-29 12:12] #710 closed

[2016-08-29 12:25] lbiemans commented on #219
What works for me is:

        ProxyPass / http://localhost:8000/
        ProxyPassReverse / http://localhost:8000/

        Header edit Origin HOSTNAME.uvt.nl localhost:8000
        RequestHeader edit Origin HOSTNAME.uvt.nl localhost:8000

        Header edit Referer HOSTNAME.uvt.nl localhost:8000
        RequestHeader edit Referer HOSTNAME.uvt.nl localhost:8000
        <Location ~ "/(user/[^/]+)

[2016-08-29 12:55] denfromufa commented on #703
@willingc I think this issue below needs to be re-opened, potentially there 3 ways to run jupyterhub on windows: win 10 linux subsystem, cygwin/mingw, and docker:

https://github.com/jupyterhub/jupyterhub/issues/7

[2016-08-29 14:16] willingc commented on #703
@denfromufa Thanks for the suggestion. I do believe that it would be best to leave the issue referenced closed. For both technical and sustainability reasons, there are currently no plans to support deployment of JupyterHub on a native Windows operating system.

The three ways that you mention are ways to run JupyterHub on Linux, though they can be accessed by a Windows system. If you wish to blog

[2016-08-29 14:53] DavidPowell commented on #703
@willingc getting to the login screen was pretty trivial, but now that I check carefully, I see that the kernel **doesn't run properly and has trouble restarting**.

I don't recall exactly what I did, but it was something like this:
* `sudo aptitude update`
* `sudo aptitude upgrade`
* Download and install miniconda for Linux, 64 bit, python 3
* `conda install jupyter`
* `conda config --add channel

[2016-08-29 16:05] willingc commented on #703
@DavidPowell Thanks for taking the time to write up your notes. No worries about the post; we're all hear to share tips and information ;-) A while back the networking support, especially sockets, in Ubuntu on Windows was still a WIP https://github.com/Microsoft/BashOnWindows/issues/134.

[2016-08-29 16:10] willingc commented on #703
Closing this issue as out of scope but tagging as reference re: Ubuntu on Windows.

cc/ @minrk

[2016-08-29 16:10] #703 closed

[2016-08-29 16:28] SeanHealy33 commented on #696
Sorry for the delay our AMI seems to be based off `centos 5`. But I'd misunderstood that these commands can have variance over multiple distros (I figured they were consistent though it makes sense they are not) so I'm happy to close this. I've also verified that the default works on debian 😄

[2016-08-29 17:47] fperez commented on #703
Agreed @willingc, thanks! If in the long run, the new ubuntu support in Windows (which is stilly *highly* experimental) becomes a rock-solid, daily-usage tool that integrates really well with the rest of Windows, we can revisit the question of native Windows support for JupyterHub.  I can imagine that becoming an accepted route for lots of server tools on Windows.

But we're probably at least a ye

[2016-08-29 18:32] kishorchintal commented on #692
The problem is resolved now. I was running it in no-ssl mode, once I applied the certificates, the kernel is able to connect.

[2016-08-29 18:38] willingc commented on #692
@kishorchintal We're glad you have gotten this resolved and the kernel is connecting. 👍

**Resolution:** Apply SSL certificate when error message displays `no valid credentials available`.

[2016-08-29 18:38] #692 closed

[2016-08-29 18:40] willingc commented on #696
@SeanHealy33 We're glad that you have this up and running. Thanks for the update verifying the default works on Debian. :sunny:

[2016-08-29 18:40] #696 closed

[2016-08-29 18:53] willingc commented on #561
Closing this issue since we now have a [jupyterhub tutorial](https://github.com/jupyterhub/jupyterhub-tutorial) and will continue to iterate on it as the project evolves.

Thanks @stefanoborini and @minrk. :cake:

[2016-08-29 18:53] #561 closed

[2016-08-29 18:58] willingc commented on #657
Closing this issue. There is a [JupyterHub tutorial](https://github.com/jupyterhub/jupyterhub-tutorial) which helps guide new users with deploying JupyterHub. @xmehaut, please feel free to ask additional questions if needed.

[2016-08-29 18:58] #657 closed

[2016-08-29 19:02] willingc commented on #708
@Winterflower 🌻 Thanks!

[2016-08-29 19:06] willingc commented on #672
Closing this issue and tagging it as "Reference".

Thanks @vilhelmen and @minrk.

[2016-08-29 19:06] #672 closed

[2016-08-29 19:43] willingc commented on #683
@cruegge I'm glad that you created a workaround using a custom spawner.

Pinging @gibiansky for additional thoughts related to temp directories and files when using IHaskell.

cc/ @minrk

[2016-08-29 19:53] willingc commented on #708
@Winterflower You may also find this information written by @jtyberg on our reference docker deployment helpful too.  https://github.com/jupyterhub/jupyterhub-deploy-docker/pull/1#issuecomment-210625602

[2016-08-29 20:01] willingc commented on #686
@mrinmoyprasad As this question is fairly general, I'm referring you to several resources that may help:

- [JupyterHub wiki document on AWS](https:/github.com/jupyterhub/jupyterhub/wiki/Deploying-JupyterHub-on-AWS)
- [JupyterHub reference deployment using Docker](https://github.com/jupyterhub/jupyterhub-deploy-docker)
- [JupyterHub tutorial](https://github.com/jupyterhub/jupyterhub-tutorial)

If

[2016-08-29 20:05] willingc commented on #677
@aidaph Do you still need assistance with this? Or did @minrk and @pcarazo's information resolve your issue?

[2016-08-29 20:21] #630 closed

[2016-08-29 20:26] willingc commented on #670
@guoxiangyang12 This appears to be a duplicate of https://github.com/jupyterhub/jupyterhub/issues/486.

[2016-08-29 20:26] #670 closed

[2016-08-29 20:29] willingc commented on #673
@simtos It looks as if @minrk helped you with this issue. Is there anything further that you need from us or would you like to close the issue? Thanks!

[2016-08-29 20:50] gibiansky commented on #683
I'm not really sure what I can offer here; as @cruegge indicated, IHaskell uses a temporary directory as a place to write graphics file (some libraries cannot just write a PNG directly to memory for example, only to disk, so IHaskell lets them write it to disk and then loads it to display to the user). To do so I use whatever temporary directory is available -- at the moment I believe it tries to

[2016-08-29 20:54] willingc commented on #683
Thanks @gibiansky for chiming in and for being open to doing so in the future too. :cookie: Thanks for the additional context re: graphics, writing, and display.

I'm going to leave this labeled as a JupyterHub enhancement.

[2016-08-29 20:57] willingc commented on #616
@robnagler I'm going to close this and tag it as reference. If you have additional questions on this, please do reopen. Thanks.

[2016-08-29 20:57] #616 closed

[2016-08-30 07:53] hani1814 opened #712 "sudospawner failure - [PAM Error 14] cannot make/remove an entry"
I've made a mistake by closing issue [https://github.com/jupyterhub/jupyterhub/issues/704](https://github.com/jupyterhub/jupyterhub/issues/704). a previous post which was throwing the above error. @minrk, I have implemented the change you have suggested against a jupyter version (anaconda install) which is a few months old.

I got the following error -  **Config option open_sessions not recognized

[2016-08-30 08:14] minrk commented on #683
@cruegge where exactly are you setting the tmpdir? It might be the lack of shell initialization in the single-user contexts that's preventing it from happening. `env_keep` only affects which environment variables in the Hub process should be inherited by the single-user servers, and presumably that should not be shared by all users in this case, right?

[2016-08-30 08:18] minrk commented on #703
The underlying issue appears to be that zeromq socket don't work yet in Ubuntu-on-Windows, but it's good to know that everything up to there is working. Thanks for digging in, @DavidPowell!

I believe this affects all Jupyter tools (and everything else) that talk zmq. It's possible that building zeromq yourself on the system, and then building pyzmq on that would result in something that works, bu

[2016-08-30 10:53] minrk commented on #686
Since I'm not aware of anyone having written an EC2 Spawner, you will need to write one. The place to start is perhaps the [Spawner documentation](https://jupyterhub.readthedocs.io/en/latest/spawners.html), and you can look at the [docker spawner](https://github.com/jupyterhub/dockerspawner/blob/master/dockerspawner/dockerspawner.py#L347) for an example. The gist of what you will need:

1. a Pytho

[2016-08-30 10:57] denfromufa commented on #703
@minrk according to this comment from Microsoft team member, TCP/UDP sockets should work on WSL. So can pyzmq be configured to use only tcp for jupyter(hub)?

https://github.com/Microsoft/BashOnWindows/issues/69#issuecomment-208574945

also people have much luck getting just ipython/jupyter on WSL since July 2016 with a patched zmq:

https://github.com/Microsoft/BashOnWindows/issues/185#issuecomme

[2016-08-30 11:18] minrk commented on #703
@denfromufa Jupyter only uses pyzmq with tcp connections by default. It never uses UDP.

[2016-08-30 12:57] andgan commented on #367
Hi, I still have the same problem, any solution?

[2016-08-30 13:56] willingc commented on #367
I've just reopened this issue about configuration of a reverse proxy for Apache.

cc/ @minrk

[2016-08-30 14:39] willingc commented on #367
### Checklist of tips from community members in #219

- [ ] Review working configurations in https://github.com/jupyterhub/jupyterhub/issues/219
- [ ] Review Apache version.
     * Apache 2.4 or higher
     * 2.2.x does not provide WebSocket support.
     * 2.2 on CentOS will work with wstunnel backport patches (See https://gist.github.com/vitkin/6661683).
- [ ] have you enabled `mod_proxy_wstunne

[2016-08-30 14:45] hani1814 opened #713 "Start jupyter notebook with more memory"
I am using jupyter notebook and hub. When I start a pyspark session, it is constrained to three containers and a small amount of memory.

How can I configure the jupyter pyspark kernel in notebook to start with more memory.

Can this be done in a notebook session / individual rather than a global default?

Thank you

[2016-08-30 14:47] hani1814 commented on #712
I've solved this issue. Basically master-sudoerspanner was installed in a directory not visible by jupyter hub which was causing the start-up issue.

[2016-08-30 14:47] #712 closed

[2016-08-30 20:07] kishorchintal commented on #692
Addition to Resolution: When you are behind a proxy customize the notebook server config file to include http_proxy and https_proxy

[2016-08-30 22:57] cruegge commented on #683
The temp directory is actually set up by the PAM stack using the [`pam_tmpdir`](https://launchpad.net/ubuntu/+source/pam-tmpdir) module. So it's not shell init and should in principle be available from the PAM session.

I did some digging around, and if I see it correctly, the hub would have to pull out environment variables from the PAM session and add them to the Jupyter instance right before sp

[2016-08-31 06:51] aidaph commented on #677
I'm still having the same issue, sorry.

[2016-08-31 09:52] minrk commented on #713
I believe these are influenced by environment variables. You can check the pyspark kernelspec `kernel.json` file, where you can specify additional environment variables to pass to the kernel.

[2016-08-31 10:00] hani1814 commented on #713
Yes that works but unfortunately it is applied to all the users. Can these be applied to individual users?

[2016-08-31 10:09] minrk commented on #713
To apply it for individual users, you would need to have a kernelspec for each user (i.e. copy the kernelspec to ~/.local/share/jupyter/kernels/), or set the environment variable in the notebook process instead (this would require relaunching the notebook server on change).

If there are only a few values that you want, you could have a few copies of the pyspark kernelspec with different values -

[2016-09-01 08:07] spalkovits opened #715 "Too many kernels"
Hello,

I am trying to prepare a Jupyterhub (in a docker container) with

* Python 3 as default kernel
* Python 2  additional kernel
* R as additional kernel

In principle the hub does what it should but I see something strange when opening new notebooks:

![strange behaviour 1](https://cloud.githubusercontent.com/assets/15083970/18159767/8e41cdb2-702a-11e6-9e9b-62efd9232289.png)

Although I have

[2016-09-01 09:32] minrk commented on #715
The conda env kernels are in addition to any kernels you already have installed in the normal way.

You should be able to see your kernels with:

    jupyter kernelspec list

If you see kernels there you would like to remove, you can do so:

    jupyter kernelspec remove ir

[2016-09-01 10:01] katsar0v opened #716 "Obtaining Jupyterhub API token"
Is there a way to dynamically obtain a jupyterhub token for an user, except typing a cli command?

[2016-09-01 10:41] spalkovits commented on #715
Hello,

when I do
[code]
in the container I get:

[code]

Here I also do not see the R kernel. Refering to the picture above I have two double entries:

1. Python 2 and Python [conda env:py2] and they are the same
2. Python [default] and Python [conda root]; again they are the same and it does not tell they are Python 3

Here is the relevant code (from my perspective) from my Dockerfile that produ

[2016-09-01 10:55] minrk commented on #716
You can do the same thing that the `jupyterhub token` command does in Python:

[code]

[2016-09-01 12:14] katsar0v commented on #716
Thank you

[2016-09-01 12:14] #716 closed

[2016-09-01 12:18] huwf commented on #709
Sorry guys, had the hub listening on `127.0.0.1` so containers couldn't find it.  I had to set `--net=host` on the Jupyterhub container so that it could see `docker0` and enable me to set the listening IP to something the containers could see.

[2016-09-01 12:18] #709 closed

[2016-09-01 15:37] hani1814 commented on #713
thank you for the tip.

-Jupyter  appears to ignore the content of ~/.local/share/jupyter/kernels/

-I created a copy of the kernel (from /usr/local/share/jupyter/kernels/pyspark) and called it pysparktest. The good news is that it appears in the drop down but pyspark fails as soon as parameters are added to it such as:

**"PYSPARK_SUBMIT_ARGS": "--master yarn --num_executors 8 --executor-memory 1

[2016-09-02 09:54] minrk commented on #713
What platform? What do you see in `jupyter kernelspec list` and `jupyter --paths`?

I think asking the pyspark-kernel authors the best way to pass arguments to their kernel is the thing to do. The issue doesn't appear to have to do with JupyterHub, and I've not used pyspark much, so I can't help much with configuring it.

[2016-09-02 17:08] damianavila commented on #715
I don't get how are you getting the nb_conda_kernels extension if you starting from miniconda... that's weird.

What is your `conda list` for the root and py2 environments?

You can always disable the extensions or remove it if you want the native behavior, but wondering how you got the extensions installed on your docker...

[2016-09-02 17:10] rgbkrk commented on #715
I noticed this over the last couple days after `conda install jupyter`. It automatically installs the `nb_conda_kernels` extension.

[2016-09-02 17:38] damianavila commented on #715
oooh... that's the thing... the jupyter meta install ipywidgets among others and ipywidgets is bundled with the other nbextensions... this is why it ends here.

If you want to keep ipywidgets but not the extensions, you can disable them with:

[code]

Alternative, you can remove them (or avoid installing the jupyter metapackage at all).
In that case, if you want ipywidgets without any of these nbe

[2016-09-02 22:02] rgbkrk commented on #715
That's complicated enough that I'll keep using `conda install jupyter`. I'm happy to have `nb_conda_kernels`, just pointing out that was why.

[2016-09-03 12:51] parente commented on #569
I'm also observing the same behavior as @jtyberg but sudospawner without modification. I'll report back when I have more info.

[2016-09-03 14:06] parente opened #720 "Notebook starts on one port, hub polls another?"
I'm using hub 0.6.1 and sudospawner off the tip of master (0.3.0.dev0). Unless I'm misreading the logs, I'm running into a case where spawner is assigning the notebook server a port but is polling a different port for liveliness. The result is that the notebook server gets killed after 30 seconds.

For example, in the log below, the notebook server appears to be coming up on the port passed to it

[2016-09-03 14:06] parente commented on #569
Maybe a different root cause. I'm opened #720 to avoid cluttering up this issue.

[2016-09-03 14:15] parente commented on #720
Bah. Found it: https://github.com/jupyterhub/sudospawner/commit/22b8b189af7d7b766d99f6be09f538541838acab

Another Lesson in Pinning My Dependencies!

tl;dr: The new sudospawner picks a random port and reports it back to the hub. Hub 0.6.1 expects the spawner to honor the assigned port.

[2016-09-03 14:15] #720 closed

[2016-09-05 07:09] spalkovits commented on #715
Hello,
I think that helps me. The doubled kernels do not interfere with the intended behavior, so I think I will leave it the way it is now.
Regards...

[2016-09-05 09:03] minrk commented on #720
@parente that commit doesn't change how ports are chosen. In both cases, `random_port()` is used to select the port, it's just a question of whether the value returned to the Hub goes in `self.port` or not. If you pin self.port to something with sudospawner, you can only have one user at a time on the entire Hub.

[2016-09-05 10:37] stefanoborini opened #721 "Possible race condition in Spawner stop?"
I am doing an overall audit of our own code, which is built using jupyterhub, and that is bringing me into the current jupyterhub spawners. I observed what I believe is a potential for race condition, but I am not 100% sure, hence this request for comments. I doubt it's critical, but it might produce unexpected rare behavior.

The method `LocalProcessSpawner.stop()` is abundant in yields. During t

[2016-09-05 11:00] minrk commented on #721
`start` should not be allowed to be called while stop is pending, due to the `.stop_pending` flag, which is meant to protect against exactly this sort of race condition. If it is possible to `.start()` during a `.stop()`, that would be a bug somewhere where `.stop_pending` is not being checked. Have you encountered a case where one or more of these races actually occur?

Similarly, a `start_pendin

[2016-09-05 14:53] parente commented on #720
Sorry I wasn't clear. I'm not pinning the port. I'm pinning my dependency on sudospawner 0.2.

[2016-09-05 14:59] stefanoborini commented on #721
@minrk Ah ok, so you prevent that at the level above, guaranteeing that the method is never called to begin with.

I haven't encountered any problem. I was just checking our own spawners and I found the code suspicious, but yes, I forgot you actually check for the flag on the user object.

[2016-09-05 22:57] yuvipanda opened #723 "Add docs on upgrading JupyterHub"
Especially when db fields are added / changed, upgrading requires manually. I think we use alembic for this, but we don't have any specific docs on how to do this.

We should have those docs!

[2016-09-05 23:47] yuvipanda commented on #516
Me and @aculich are now working on https://github.com/yuvipanda/jupyterhub-simplest-k8s which documents progressively more complex ways of running JupyterHub on kubernetes. Currently we only have stuff on GCE, will hopefully eventually expand to AWS and what not.

[2016-09-05 23:49] yuvipanda commented on #343
I've been thinking of this some more, and I think finding ways to make it work with https://www.freedesktop.org/software/systemd/man/systemd-run.html would be great. I'll try to take a look at some point.

[2016-09-06 04:46] eburgueno commented on #299
@mogthesprog heya, sorry to revive this old issue. Were you using this against PAM authentication or LDAP authentication?

[2016-09-06 07:25] minrk commented on #723
Indeed we should! Where I expect this error to occur (connecting to the db in the first place), there is [an informative error](https://github.com/jupyterhub/jupyterhub/blob/acb49adfea7d3923310e5bed02d55014632a654f/jupyterhub/app.py#L761) message pointing to:

    jupyterhub upgrade-db

I'm surprised by the recent debugging chat that an error occurred at such a later time.

It certainly should be

[2016-09-06 07:52] yuvipanda commented on #343
ooook, so I have a spawner that works to limit memory! https://github.com/yuvipanda/jupyterhub-systemd-spawner

I need to write docs and what not, but I think this can easily be used to limit filesystem access, memory usage, cpu usage, IO usage as well. I'll work on it some more the next few days.

[2016-09-06 08:16] minrk commented on #721
Yup, that should be set. There's always a chance that some checks are missed, but if you haven't found one, I'm inclined to close here as I *believe* these are protected against.

[2016-09-06 08:31] yuvipanda commented on #343
http://0pointer.de/blog/projects/resources.html  and https://www.freedesktop.org/software/systemd/man/systemd.exec.html# has more info on what all things you can control with systemd. Things that look useful for us:

1. CPU
2. Memory
3. IO
4. Isolate /tmp, so each user gets their own copy
5. Figuring out which paths are accessible, and in what fashion. We can use this to construct a very secure sa

[2016-09-06 09:26] minrk commented on #720
Is your config somewhere? I'd like to understand how the bind and connect ports differ, because that seems to be a bug somewhere. I don't see how that sudospawner change would affect anything about how ports are identified to the Hub. I will poke around and see if there's something I misunderstood/forgot.

[2016-09-06 09:30] minrk commented on #720
Oh, ha, that was quick. JupyterHub uses `self.port` to get the port in 0.7 (master), but `self.user.server.port` in 0.6, so the way I'm setting it in sudospawner won't take effect at the right time on 0.6. Should be fixed in jupyterhub/sudospawner#24

[2016-09-06 10:29] mogthesprog commented on #299
This was all done with PAM Authentication. What are you trying to do and what errors/behaviour are you seeing? Also what version of jupyterhub are you using? :)

[2016-09-06 11:17] minrk commented on #516
That's great!

[2016-09-06 11:49] hani1814 commented on #713
Hi,

As requested - pyspark1 is my test one

jupyter kernelspec list
Available kernels:
  python2     /var/opt/teradata/anaconda/lib/python2.7/site-packages/ipykernel/resources
  pyspark     /usr/local/share/jupyter/kernels/pyspark
  pyspark1    /usr/local/share/jupyter/kernels/pyspark1

jupyter --paths
config:
    /root/.jupyter
    /var/opt/teradata/anaconda/etc/jupyter
    /usr/local/etc/jupyte

[2016-09-06 11:54] hani1814 opened #724 "Proxy Stops working in Jupyter Hub"
Hi,

I am using jupyerhub with sudospawner (https://github.com/jupyterhub). All works well but after a few hours, it just stops working with the following error (taken around the time it stopped).

Looks like the proxy just stopped (exit code 7) and jupyter was not able to restart it.

Any idea what the issue may be?

[code]

[2016-09-06 12:44] minrk commented on #724
If the proxy fails to start, it should produce output. How are you capturing the output of jupyterhub? The best thing to do is to forward stdout/stderr to a log file. You can use Python logging to send it to a file, but this will only include the output of the Hub process itself, while we need the proxy's output to debug this issue.

[2016-09-06 13:16] hani1814 commented on #724
The proxy starts and runs for a while but then appears to die.

I am getting the above output from the jupyterhub.log file

any idea how to forward the stdout / stderr

[2016-09-06 13:22] minrk commented on #724
How are you starting JupyterHub, and how are you capturing the output?

The simplest way to capture JupyterHub and any subprocess output (the same is true for all processes) when started from a shell is:

[code]

If you are using a service tool like supervisor, there will be options for forwarding stdout/err to files.

[2016-09-06 17:45] willingc commented on #723
Great suggestion @yuvipanda 👍

Some topics to cover:

- Upgrading JupyterHub reference deployments
- Upgrading JupyterHub when no database changes are being made (i.e. no new fields)
- Upgrading JupyterHub when adding a new db field (sqllite vs. postgres...)
- Informative message to user as mentioned by @minrk prompting the user to run `jupyterhub upgrade-db` after upgrading jupyterhub.

[2016-09-06 22:39] eburgueno commented on #299
@mogthesprog We are running version `0.6.1` using the LDAP authenticator plugin with this config:

[code]

Based on [this code](https://github.com/jupyterhub/jupyterhub/blob/master/jupyterhub/spawner.py#L396), it seems to me that the spawner is not using the LDAP to retrieve the user groups. Rather, it's relying on the user groups reported by the OS. The only workaround is to allow LDAP users to a

[2016-09-07 03:48] zer0n opened #725 "Integration with JupyterLab"
Is it possible to configure JupyterHub and/or JupyterLab so that I can Lab within Hub?

[Same issue posted on Jupyter Lab](https://github.com/jupyter/jupyterlab/issues/850)

[2016-09-07 08:57] hani1814 commented on #724
I am starting the hub as follows

jupyterhub --JupyterHub.spawner_class=sudospawner.SudoSpawner --ssl-key mykey.pem --ssl-cert mycert.pem --debug&

and retrieving the log from jupyterhub.log

Restarted yesterday so a bit more info from the above log

[32m[I 2016-09-06 12:44:41.738 JupyterHub app:558](B[m Loading cookie_secret from /var/opt/teradata/anaconda3/jupyterhub_cookie_secret
[34m[D 201

[2016-09-07 09:53] jai11 commented on #642
Hi GISDev01 .. no I did not worked more on that ... as started jupyterhub as another user .. it was staright forward as per @minrk comment.

[2016-09-07 09:55] jai11 commented on #642
@minrk I need more info how I can run jupyterhub as root but simgle user server as other user.. in my case we can stick to a single user not the login users.

I can see dockerspawner do that . running single user server as cloud-user .. but I cant figure it how.. can you please help..

[2016-09-07 11:07] minrk commented on #642
@jai11 here is a spawner that spawns local processes always as the Hub user, rather than using setuid to become the system user:

[code]

[2016-09-07 11:37] minrk commented on #724
@hani1814 try the `&>> /var/log/jupyterhub.log` command above, and remove any `extra_log_file` config you may have in `jupyterhub_config.py`.

[2016-09-07 12:54] hani1814 commented on #724
tried the following (account has got write access), hub works, but the log file has a size of 0 for the last hour. Is this normal?

`jupyterhub --JupyterHub.spawner_class=sudospawner.SudoSpawner --ssl-key mykey.pem --ssl-cert mycert.pem --debug& >> jupyterhub.log`

[2016-09-07 12:58] jai11 commented on #642
@minrk

Actually i want that JH will run as root but spawner will run as my dedicated OS user .. not the users which are logged in from JH . I want to run spawner for all logged in users as my dedicated user for running spawner only

def set_user_setuid(username,notebookdir):
    """return a preexec_fn for setting the user (via setuid) of a spawned process"""
    user = pwd.getpwnam(username)

[2016-09-07 13:01] jai11 commented on #642
@minrk  say JH will run as 'root' and spawner will run as 'spawn' user irrespective of logged in users from JH.

So how I can set notebooks path to server.

[2016-09-07 13:25] dsblank commented on #724
No, that command is not right. In general it is:

command1 >> log_file 2>&1

For more info, see
http://stackoverflow.com/questions/7526971/how-to-redirect-both-stdout-and-stderr-to-a-file

On Wed, Sep 7, 2016 at 8:54 AM, hani1814 <notifications@github.com> wrote:

[2016-09-07 14:55] stefanoborini opened #726 "Deprecation of old spawners doesn't have a fallback"
The current code in `user.py` says:

    233                 # prior to 0.7, spawners had to store this info in user.server themselves.
    234                 # Handle < 0.7 behavior with a warning, assuming info was stored in db by the Spawner.
    235                 self.log.warning("DEPRECATION: Spawner.start should return (ip, port) in JupyterHub >= 0.7")

It's probably better to raise an ex

[2016-09-07 19:51] #721 closed

[2016-09-07 21:25] cmcneil opened #729 "Jupyterhub Proxy silently fails to connect."
Hello,
 I am running jupyterhub with
`jupyterhub --port 7777 --ssl-key /etc/letsencrypt/live/convox.org/privkey.pem --ssl-cert /etc/letsencrypt/live/convox.org/fullchain.pem`
 It returns no errors, and everything appears to work correctly as you can see below:

[code]

However, while I CAN connect to the server without the proxy on localhost (for example via `lynx localhost:8081`), I cannot connec

[2016-09-07 21:33] cmcneil commented on #729
Note also that everything was working perfectly for the last year or two on exactly this machine. I recently restarted the process after getting renewed SSL certs, and now I get this behavior :(

[2016-09-08 01:24] willingc commented on #729
@cmcneil Let's see if we can isolate what is happening with new let's encrypt cert, jupyterhub config, and proxy config.

- [ ] You mention that you have been running things for the past year or two. Please check that you are using a recent version jupyterhub and http-configurable-proxy.
- [ ] When you restarted jupyterhub, did you also restart the proxy? The [Proxy Authentication token](https://j

[2016-09-08 03:13] cmcneil commented on #729
DEEERRRRP. My http-configurable-proxy was current, but I updated jupyterhub, and this fixed the issue. So whatever it was, it's fixed now :)

[2016-09-08 03:13] #729 closed

[2016-09-08 03:53] willingc commented on #729
@cmcneil You are very welcome. I'm glad updating jupyterhub fixed it 👍

[2016-09-08 03:54] #715 closed

[2016-09-08 04:24] willingc commented on #688
Closing as demohub is for internal training use and is not supported for general public use.

[2016-09-08 04:24] #688 closed

[2016-09-08 04:25] willingc commented on #685
Closing issue due to inactivity. Please feel free to reopen if you have further information. Thanks!

[2016-09-08 04:25] #685 closed

[2016-09-08 04:27] willingc commented on #676
@Amerterasu I'm closing this issue as it looks like you have solved it. Thanks!

[2016-09-08 04:27] #676 closed

[2016-09-08 04:29] willingc commented on #677
@aidaph Feel free to share more specifics and error messages. The community may be able to help solve your configuration questions. Thanks!

[2016-09-08 04:33] #673 closed

[2016-09-08 04:34] willingc commented on #674
@simtos I'm closing this issue since it's been a couple of weeks. If you still need assistance, please feel free to reopen and share the information requested by @minrk. Thanks!

[2016-09-08 04:34] #674 closed

[2016-09-08 04:39] willingc commented on #648
@sudipto84goswami Issue #661 also provides information, similar to the info suggested by @mbmilligan, on how to install without network access. PR #730 adds this information to the JupyterHub documentation.

[2016-09-08 04:39] #648 closed

[2016-09-08 05:10] ianabc commented on #569
I think we've been seeing this as well, occasionally. In our case it seemed to happen when the user's container was slow to start up, or when it started but the singleuser process took a while to come up.

Improving the backing storage performance for docker seemed to help, but we still see it on occasion. I'll try to reproduce it more systematically.

[2016-09-08 07:43] willingc commented on #652
Closing as API doc and cull idle server example now are in the docs.

[2016-09-08 07:43] #652 closed

[2016-09-08 08:15] willingc commented on #623
I am closing this issue due to inactivity. If you wish to reopen this issue by sharing a complete log, we would happy to assist.

[2016-09-08 08:15] #623 closed

[2016-09-08 08:17] willingc commented on #618
I am closing this issue due to inactivity. If you wish to reopen this issue by sharing more information, we would happy to assist.

[2016-09-08 08:17] #618 closed

[2016-09-08 08:23] willingc commented on #617
@robnagler I'm sorry that we haven't responded back yet on this issue. Are you still seeing this behavior?

In the future, please do ping us in the issue if we fail to respond in a few days. Again, I'm sorry this fell off our radar.

cc @minrk

[2016-09-08 08:33] willingc commented on #615
Closing here and migrated issue to dockerspawner repo.

[2016-09-08 08:33] #615 closed

[2016-09-08 08:36] willingc commented on #427
I'm going to go ahead and close this issue as the docs and the jupyterhub-tutorial cover using SSL and Docker.

[2016-09-08 08:36] #427 closed

[2016-09-08 08:39] willingc commented on #532
I am closing this issue due to inactivity. If you wish to reopen this issue and share additional information, we would happy to assist.

[2016-09-08 08:39] #532 closed

[2016-09-08 08:43] willingc commented on #357
@minrk Should we close this now that #705 has been merged? :smile:

[2016-09-08 09:32] #357 closed

[2016-09-08 09:32] minrk commented on #357
yes, indeed

[2016-09-08 12:11] jai11 commented on #642
@minrk  I am able to solve it thanks

[2016-09-08 12:43] minrk commented on #725
Yes, it's possible. You need to install and enable the JupyterLab extension system-wide, then you can change the default URL to `/lab`. For instance:

[code]

The important thing is that jupyterlab is installed and enabled in the *single-user* environment. For system users, this means system-wide, as indicated above. For docker containers, it means inside the single-user docker image, etc.

In jup

[2016-09-08 12:45] minrk commented on #726
The deprecation should be correct because the 0.6 mechanism should indeed still work if ip, port are not returned. This is tested and confirmed to work in a few Spawners. What Spawner are you using where you see this failing?

[2016-09-08 12:50] #661 closed

[2016-09-08 12:51] #632 closed

[2016-09-08 12:51] #594 closed

[2016-09-08 13:05] stefanoborini commented on #726
@minrk we built our own spawners, so I was surprised when nothing worked anymore because our start didn't return the pair ;)

[2016-09-08 13:22] minrk commented on #726
Can you share them? This would be a bug if the old way doesn't work anymore, because I tested it with Spawners that store the ip/port the old way and they do work with 0.7, so I'm not sure what yours are doing differently.

[2016-09-08 13:59] willingc commented on #690
From @minrk in https://github.com/jupyterhub/jupyterhub/issues/725#issuecomment-245584865:

Yes, it's possible. You need to install and enable the JupyterLab extension system-wide, then you can change the default URL to `/lab`. For instance:

[code]

The important thing is that jupyterlab is installed and enabled in the *single-user* environment. For system users, this means system-wide, as indica

[2016-09-08 14:02] #725 closed

[2016-09-08 14:03] #690 closed

[2016-09-08 14:04] willingc commented on #725
@zer0n I'm closing this issue as a duplicate of #690. In addition to @minrk's response, you may find the discussion on #690 helpful too. Thanks for your interest in JupyterLab and JupyterHub :smile:

[2016-09-08 14:05] #654 closed

[2016-09-08 14:07] zer0n commented on #725
Fantastic. Thanks @minrk and @willingc .

[2016-09-08 14:15] stefanoborini commented on #726
@minrk  I had to change this line https://github.com/simphony/simphony-remote/blob/master/remoteappmanager/spawners.py#L179

[2016-09-08 14:16] stefanoborini commented on #726
@minrk it is possible we are misusing the Local spawner...

[2016-09-08 14:16] robnagler commented on #617
No worries. I can't say. JupyterHub is very stable (THANKS!) so we haven't had the restarts we had when first getting started. Feel free to close.

[2016-09-08 14:19] willingc commented on #617
Thanks @robnagler. Good to hear it's stable for you now too :smile:

[2016-09-08 14:19] #617 closed

[2016-09-08 14:48] minrk commented on #726
@stefanoborini aha! I see what happened. LocalProcessSpawner itself updated to the new mechanism, removing the old way because it knows it's no longer necessary. But *subclasses* of LocalProcessSpawner could implicitly rely on the base class's setting of the values in the db, which was removed.

If your subclass passed through the return value from `super().start()`, then it would work correctly i

[2016-09-08 14:56] minrk commented on #726
#734 should keep the 0.6 assumption working with a deprecation message.

[2016-09-08 14:57] #633 closed

[2016-09-08 18:11] jai11 opened #735 "Jupyter connection persist even after JH logout"

[2016-09-08 18:16] jai11 commented on #735
login to JH , open notebooks in two three tabs and also the terminal.

logout from single tab and execute command on terminal and run the notebook cells.

ideally they should not have the connection to the system once user is logged out.

[2016-09-08 21:35] willingc commented on #248
@minrk This issue seems related to notebook server vs JupyterHub specific. Should we close this here and add a link to refer to: https://github.com/jupyter/notebook/issues/1164?

[2016-09-08 21:42] willingc commented on #576
Closing issue.

**Resolution**
This information written by @jtyberg on our reference docker deployment provides information on deploying on EC2. jupyterhub/jupyterhub-deploy-docker#1 (comment)

Additional documentation will be added by https://github.com/jupyterhub/jupyterhub/issues/708  as well.

[2016-09-08 21:42] #576 closed

[2016-09-08 21:45] willingc commented on #642
Closing as resolved by @minrk's comments.

[2016-09-08 21:45] #642 closed

[2016-09-08 21:51] StephenElston commented on #248
I encountered this problem on notebook server only.

[2016-09-08 22:29] willingc commented on #713
@hani1814 I just came across this issue. FYI. I've added some documentation in a PR about configuring pySpark executors on YARN applications https://github.com/jupyterhub/jupyterhub/pull/737.

[2016-09-08 22:38] willingc commented on #713
@hani1814 This blog post may be useful to you as well http://thepowerofdata.io/configuring-jupyteripython-notebook-to-work-with-pyspark-1-4-0/

I'm going to close this issue as I agree with @minrk that consulting the pyspark devs/users would be helpful. Please do let us know what you find out from them since it may help future users. Thanks! :cookie:

[2016-09-08 22:38] #713 closed

[2016-09-08 22:59] #438 closed

[2016-09-09 11:37] #726 closed

[2016-09-09 13:08] minrk commented on #735
The single-user server caches the validity of cookies for a short time, I believe the default is five minutes. You can shorten this time by setting `c.SingleUserNotebookApp.cookie_cache_lifetime` to a smaller value (in seconds). However, I do not believe it will affect currently open websocket connections (terminal, kernel execution), only new connections. That is, for a notebook that is open when

[2016-09-09 23:45] jai11 commented on #735
@minrk I tried to set c.SingleUserNotebookApp.cookie_cache_lifetime and check. Got the logs for clearing the cache. But still connection persist and I can run the notebooks.

I think once logout at least webscoket connections should not get connect.

[2016-09-10 15:42] willingc commented on #248
Closing as a duplicate of  jupyter/notebook#1164

[2016-09-10 15:42] #248 closed

[2016-09-12 05:59] jai11 commented on #735
@minrk  I strongly believe it as defect , once user is logged out. It should not able to do any operations on opened notebook on other tabs.

[2016-09-12 08:14] minrk commented on #735
@jai11 you are seeing *new* websocket connections established after you see that the cookie cache has been cleared? Those connections will be logged. Can you share your log files where you see connections that should not have been allowed? As described above, *already established* websocket connections, such as those for an open terminal or notebook, will remain open as they are only authenticated

[2016-09-13 14:29] ponomarevsy opened #742 "jupyterhub redirect issue"
I am having issues with jupyterhub public port not working and the private port not being able to redirect the page to jupyter-single notebook after login.

If I define ports as:
###### Private port:

c.JupyterHub.hub_port = 8089
###### Public port:

c.JupyterHub.port = 8090

and open this url: http://127.0.0.1:8090/ on the node I get white screen "The connection was reset" but if I use the http:/

[2016-09-14 00:02] willingc commented on #742
@ponomarevsy Would you mind pasting your output into the issue message using ``` before and after the code block. It makes it easier to read and for us to help you troubleshoot. Alternatively a service like pastebin can be used to link to long pages of output.

[2016-09-14 00:35] ponomarevsy commented on #742
Thanks, Carol! Does that look better (please see above)?

[2016-09-14 03:49] willingc commented on #742
Looks good @ponomarevsy. Thanks.

[2016-09-14 14:10] minrk commented on #742
I really don't see anything wrong there, but the key is probably in the 'connection reset', because that means the proxy cannot see the Hub. Can you run it without selecting any custom ports?

Can you also check the output of:

    configurable-http-proxy --version
    jupyterhub --version

?

[2016-09-14 14:39] ponomarevsy commented on #742
Sadly, it does not let me run jupyterhub on the default port because it is already taken by a system's process: "Failed to bind hub to http://x.x.x.x:8081/hub/" and "OSError: [Errno 98] Address already in use"

# sudo netstat -antup | grep :8081
tcp        0      0 0.0.0.0:8081            0.0.0.0:*               LISTEN      12148/cmd

$ configurable-http-proxy --version
1.3.0
$ jupyterhub --versio

[2016-09-14 18:49] mrinmoyprasad opened #743 "Run a jupyter notebook on startup in a single user notebooks server on Jupyterhub?"
I have a jupyter notebook, which provides abstract implementation of SQL queries, for users to use in other cells.

I want the context of this notebook in other notebooks (user's work directory) when a user logs in to Jupyterhub. So users can directly use its context to fire their queries using methods of the python notebook I want to run on startup. Also, can I hide this notebook (place it somewh

[2016-09-14 19:03] bourguig opened #744 "Authenticator.admin_users set BUT no Admin interface available"
Hi ,
I'm pulling my hair with the **Authenticator.admin_users** parameter on the configuration file. Even when it's set as {'user1', 'user2'}, JupyterHub doesn't recognize the set, and the Admin Interface remains unavailable.
Thanks for reading, and any help/pointing is much appreciated.

[2016-09-14 19:13] bourguig opened #745 "root can't login on debian BUT other users can"
Hi everybody !
I discovered that **root** can't login to jupyterHub as any other users on a debian system.
Is this made by design or a misconfiguration that I made somewhere ?!
Thanks for some pointing !

[2016-09-14 20:48] spalkovits opened #746 "Kernel not found"
Hello,

I have to prepare a Jupyterhub for a lecture on the road on my MacBook within Docker. Everything works more or less but I get one issue that the right kernel cannot be found:

<img width="715" alt="Kernel not found" src="https://cloud.githubusercontent.com/assets/15083970/18529331/e9003e3a-7acc-11e6-8157-ed9211abb6d7.png">

I am not sure if this is an issue of the Jupyterhub or the noteboo

[2016-09-15 05:21] zer0n opened #747 "Persist user data when using GitHub Oauth + DockerContainer?"
1. How can I map `/home/user` in the container to `some_directory/user`
in the host server?
2. How to automatically create `some_directory/user` and run some init
script when a user first signs in?

[2016-09-15 09:08] minrk commented on #742
Try  with:

[code]

I think there might be something funky with the ports.

[2016-09-15 09:25] minrk commented on #743
IPython startup files, placed in `~/.ipython/profile_default/startup` will be executed. These can be Python scripts (.py) or IPython scripts (.ipy with `%magic` commands). Notebooks aren't supported as startup files, but if it really needs to be a notebook, you can use `%run /path/to/notebook.ipynb` in a `.ipy` startup file.

[2016-09-15 09:27] minrk commented on #744
What do you see in the logs? Can you run with `--debug`? Can you also include `pip3 list` or `conda list` for the environment?

[2016-09-15 10:33] bourguig commented on #744
Hi minrk, Thanks for your reply ;)
Installing jupterhub package using pip3 leaded me to the issue, but when I cloned it from github, the problem is gone and the **Authenticator.admin_users** is now set as expected.
Here are the result of `pip3 list` command:
`
backports-abc (0.4)
chardet (2.3.0)
colorama (0.3.2)
decorator (4.0.10)
entrypoints (0.2.2)
html5lib (0.999)
ipykernel (4.5.0)
ipython (5.1

[2016-09-15 10:55] minrk commented on #744
Where is your jupyterhub_config.py? The default place to look is in the CWD. If it's somewhere else, you will need:

    jupyterhub -f /path/to/jupyterhub_config.py

[2016-09-15 11:22] bourguig commented on #744
jupyterhub_config.py is effectively in the CWD, but your command semms to solve the problem definitly, even if I launch jupyterhub again without -f option.

Thank you very much the Admin Interface works like a charm now !

By the way,
What directory shall the CurrentWorkingDirectory be relative to, the one where the jupyterhub is launched (maybe as $PATH variable from $HOME), or where it's install

[2016-09-15 12:17] minrk commented on #744
current working directory is what you get when you type `pwd` in the shell when you are about to launch jupyterhub. In Python, this is `os.getcwd()`. You should see `jupyterhub_config.py` in the output of `ls`.

[2016-09-15 13:35] ponomarevsy commented on #742
Hmmm... I get the same symptoms. On public port 20202:

http://x.x.x.x:20202
"Safari Can't Open the Page
Safari can't open the page "x.x.x.x:20202" because the server unexpectedly dropped the connection. This sometimes occurs when the server is busy. Wait for a few minutes, and then try again."

On private port 10101: "http://x.x.x.x:10101" gets redirected to "http://x.x.x.x:10101/hub/home"
with "

[2016-09-15 13:46] minrk commented on #742
The redirect loop when connecting to the Hub directly is completely expected, so there's no issue there, as you shouldn't ever connect directly to the Hub. It is extremely bizarre that you can connect to the Hub and the proxy can't, though. I've never seen that before, and cannot explain it.

You could try running the Hub on a different IP:

[code]

to see if there's something funny going on on lo

[2016-09-15 13:48] minrk commented on #745
Is root in your user list? What are your user list and admin list? What do you see in the JupyterHub logs during startup?

[2016-09-15 13:49] minrk commented on #747
Continuing discussion in earlier thread [on the list](https://groups.google.com/forum/#!topic/jupyter/E_EW_kpYIks)

[2016-09-15 13:49] #747 closed

[2016-09-15 13:54] minrk commented on #746
This is an issue with the notebook that you wrote, caused by a bug in Anaconda's nb_conda_kernels that has since been fixed. Everything is behaving as intended, in that you don't have an exact match for the kernel used to create the notebook, so you are getting a dialog to pick from a list of available kernels. The notebook will work after this. The issue is that Anaconda's default Python kernel n

[2016-09-15 13:59] ponomarevsy commented on #742
Thanks for your feedback, Min. Actually, I am already running the hub on eth0 IP address, not the localhost. Debug proxy is turned on and "c.JupyterHub.extra_log_file" is now removed. I will get back to you with more details.

[2016-09-15 14:03] minrk commented on #742
If it's doing this on eth0, you might try switching it to 127, or another interface.

[2016-09-15 14:13] ponomarevsy commented on #742
Sadly, I have started from localhost then moved to the eth0 IP. I am getting the same behavior. Is it possible that someone is blocking the port. Not sure why the private port works, though. Sorry for all the trouble and appreciate your help.

[2016-09-15 14:16] hani1814 commented on #724
Hi,

The problem has been solved as we had a notebook running as well as jupyter hub. By stopping the notebook, jupyerhub has been running for over a week now.

Thank you

[2016-09-15 14:16] #724 closed

[2016-09-15 14:26] hani1814 opened #750 "Encryption at rest"
Hi,

We have a requirement to encrypt jupyter notebooks at rest so that only the owner of the workbook can open it in Jupyter. Does such a feature exist in Jupyter and if yes, I would appreciate if you can point me in the right direction.

Alternatively, if we can strip the output before a notebook is closed and or saved then the encryption could be relaxed,

Thank you

[2016-09-15 14:27] ponomarevsy commented on #742
One more, perhaps, important detail. I am using Anaconda2 (v4.0) environment and call Jupyterhub from inside that environment. Is it possible that this issue is related to permissions or not being able to pass system variables? Also, I did not create a specific jupyterhub account or anything of that sort. I am running jupyterhub as myself, i.e. a user.

[2016-09-15 14:29] minrk commented on #742
That really shouldn't be an issue. Once a port is open, it should be accessible. What user are you when you launch jupyterhub? And what Linux distro?

[2016-09-15 14:37] ponomarevsy commented on #742
I run it as myself,  i.e. not a super user or root. Jupyterhub executable is in ~/.conda/envs/jupyterhub2/bin/jupyterhub (my home folder).

$ lsb_release -a
LSB Version:   	:core-4.1-amd64:core-4.1-noarch
Distributor ID:	RedHatEnterpriseServer
Description:   	Red Hat Enterprise Linux Server release 7.0 (Maipo)
Release:       	7.0
Codename:      	Maipo

[2016-09-15 14:39] minrk commented on #750
Stripping output is definitely easier than encryption at rest. You can do this in a ContentsManager [pre-save hook](http://jupyter-notebook.readthedocs.io/en/latest/extending/savehooks.html#examples). The example in the docs clears output on save:

[code]

Put this in `jupyter_notebook_config.py` loaded by all your users, e.g. `/etc/jupyter/jupyter_notebook_config.py`:

To do encryption at rest, y

[2016-09-15 15:12] spalkovits commented on #746
OK, this helps me quite a bit. Where do I do the suggested kernel upgrading? On my local environment or on the Jupyterhub?

Thank you!

[2016-09-15 15:37] hani1814 commented on #750
Our HDFS cluster user directories have encryption at rest. Is it possible to store the notebooks in hadoop home directories?

[2016-09-15 15:39] mrinmoyprasad commented on #743
@minrk Thanks! This worked. I placed my notebook with .ipy extension and I am able to call object of that script from newly created notebooks.

[2016-09-15 15:39] #743 closed

[2016-09-15 15:52] #744 closed

[2016-09-15 19:05] bourguig commented on #744
Thanks a lot minrk.

[2016-09-15 19:54] bourguig commented on #745
Thanks for replying minrk,
i thought that jupyterhub is loading its user list automatically from the system (using PAM ...). I can see it's the case when I add a new user to the system and launch jupyterhub without specifying any configuration file using the -f option, even being outside the jupyterhub_config.py directory. The Hic is that there would be No Admin Interface Available, and Root Can't

[2016-09-15 20:49] ponomarevsy commented on #742
Hi Min,

Please see attached file, it's the log file from jupyterhub. I did not put it on discussion board because of the IPs.

Do you see anything unusual?

Is this part of the output correct (I may have removed it from the log but comes up every time I start Jupyterhub)?
It takes my username and splits it into characters creating 10 users:

           n admin
           v admin
           a admi

[2016-09-16 08:21] minrk commented on #745
`c.Authenticator.whitelist` is the set of users allowed to use the Hub. `c.Authenticator.admin_users` is the set of users allowed to *administer* the Hub. If you want root to be able to admin, it needs to be in admin_users.

You can use `c.PAMAuthenticator.group_whitelist` to use system groups to determine who should have access, rather than the user whitelist.

[2016-09-16 12:24] bourguig commented on #745
Thank you very much minrk
Could you please point me about the default behaviour of the Hub when none of the lists you mentioned above is set ?

[2016-09-16 14:11] minrk commented on #746
From the error message, it's the environment where the notebook was written that has outdated nb_conda_kernels.

[2016-09-16 14:17] spalkovits commented on #746
It works like you intended. Thank you!

[2016-09-16 14:17] #746 closed

[2016-09-17 10:12] smartinsightsfromdata opened #751 "jupyterhub docker does not seem to work"
I've just installed `Docker for MAC on my laptop.

I've tested the installation using NGINX and all worked with no problem.

I've installed the `official` docker for `jupyterhub` and launched  `jupyterhub` with the suggested command:
[code]
And I can see with `docker ps` the container up and running.

The problem is that when I get to `localhost:8000` I just get `Problem Loading page` or similar -

[2016-09-17 14:19] danielfrg opened #752 "Kubernetes Spawner"
I have been working a little bit in a Jupyter Hub Kubernetes Spawner (here: https://github.com/danielfrg/jupyterhub-kubernetes_spawner) and I was wondering if there is some interest on moving it to the main supported spawners on the Jupyter Hub organisation on GitHub.

I have been testing it this week and its been working perfectly but of course there is more work to do. I plan to maintain it and

[2016-09-17 15:35] #745 closed

[2016-09-17 15:37] bourguig opened #753 "What is the default behaviour when no user/group lists are set ?"
Hi,
How can we describe the default behaviour of JupyterHub when none of the lists: admin_users, white_list, and white_groupList is set ?

[2016-09-17 19:06] srujun commented on #751
When running the command without any ports published (like you did above), you can only view the Hub using `localhost:8000` from within your container. To publish the ports, add the `-P` flag like so `docker run -dP --name jupyterhub jupyterhub/jupyterhub jupyterhub --no-ssl`. And then 8000 on localhost will be mapped to 8000 within the container.

[2016-09-18 01:09] bourguig commented on #753
Hi everybody,
After some experimentation, I think that JupyterHub is re-creating system wide users as long as those make their first login on the Hub using their system wide credentials.

[2016-09-18 05:14] smartinsightsfromdata commented on #751
The suggested change did work. on the other had `docker ps` gives the following:
[code]
And the screen was accessible using `localhost:32769`.

As I was following the info on the main github page of the project, may I suggest to add the above docker command to the page?

Many thanks to @srujun !

[2016-09-18 05:14] #751 closed

[2016-09-18 05:39] zer0n opened #754 "[DockerSpawner] Failed to get port info"
I followed [this example](https://github.com/jupyterhub/dockerspawner/blob/master/examples/oauth/jupyterhub_config.py). I was able to get the Hub running and GitHub authentication working. However, I ran into this error when trying to start a single notebook server.

![image](https://cloud.githubusercontent.com/assets/3055719/18613016/c19bf876-7d23-11e6-9223-a95612c6c7b2.png)

[This line](https://

[2016-09-18 11:04] smartinsightsfromdata opened #755 "dockerfile build gives error on setup.py execution"
I am trying to build dockerfile (intending to modify it at a later stage).

Unfortunately executing `python setup.py js` gives an error just after `installing build dependencies with npm`

  This is the full trace:

[code]

[2016-09-18 14:11] nvenayak commented on #394
This could be really useful in my use case: gathering and sharing of scientific data between a lab group and then making notebooks public upon the work being accepted to a journal.

I was considering hacking together tmpnb with hub. Anything to be made public would be copied to the tmpnb server, which could then be handled with its spawner which can also deal with culling unsused instances.

Maybe

[2016-09-18 16:03] sean-abbott commented on #367
I get
"A connection to the notebook server could not be established. The notebook will continue trying to reconnect. Check your network connection or notebook server configuration."

When trying to connect to an existing notebook.  It says "connecting to kernel" in the upper right.

mod_proxy_wstunnel is enabled.

I can get to jupyter in general with the /api/kernels/ proxy pass stanza.

The locat

[2016-09-18 18:55] nvenayak opened #756 "Minimal example for adding custom authentication"
I'm trying to authenticate hub from a django app, I'm trying to use the following authentication method:

[code]

Here is the handler, which is fairly similar to the default handler
[code]

I get the following error, (I tried the same using the async client and yielding the response, similar to the oauth code with a similar result.

[code]

@rgbkrk @minrk any idea how to get more detailed stack tr

[2016-09-19 11:05] katsar0v opened #759 "Start server automatically after login (custom authenticator)"
I am using a custom-written oauthenticator with DockerSpawner and after login I always need to start the server. Is there a way to start it automatically after login?

[2016-09-19 13:56] Loulybob opened #760 "DockerSpawner socket hang up errors when spawning user servers"
I had DockerSpawner working on my local machine (more specifically SystemUserSpawner but DockerSpawner also worked) but when I've been trying to set up on my server I keep getting socket hang up errors even though my config is the same as the stuff that worked on my local machine apart from changing the ip addresses to point to the server's ip instead of my local machine's. I can get Jupyterhub wo

[2016-09-19 17:59] willingc opened #763 "Add workshop best practice to docs"
Add to docs:

**Best practice for using JupyterHub for a workshop (when users are not known ahead of time)**

1. Set up JupyterHub using OAuthenticator for GitHub authentication
2. Configure whitelist to be an empty list in` jupyterhub_config.py`
3. Configure admin list to have workshop leaders (i.e. admins) such as parente in the above example.

Users will need a GitHub account to login and be au

[2016-09-19 19:09] danielballan opened #764 "Create JupyterLab extension to show hub-related navigation links in lab."
I plan to work on this if no one else gets to it first. It looks like the lab extension system is settling into final form now.

[2016-09-19 19:10] willingc commented on #764
Please do! Thanks 👍

[2016-09-20 01:04] waldo1979 commented on #631
This works for me with "c.Dockerspawner.volumes" options. I'm using this as a starting point:
https://github.com/jupyterhub/jupyterhub-deploy-docker

I've created a docker volume "jupyterhub-sharednotebooks":
 38 c.DockerSpawner.volumes = { 'jupyterhub-user-{username}': notebook_dir,
 39     'jupyterhub-sharednotebooks': {
 40         'bind': '/home/jovyan/work/shared',
 41         'mode': 'rw' }

[2016-09-20 03:10] whitead opened #765 "Cull_Idle Instructions"
I'm having trouble using the [cull_idle example](https://github.com/jupyterhub/jupyterhub/tree/master/examples/cull-idle#configure-cull-idle-to-run-as-a-hub-managed-service) as a managed service. I added the [example config section](https://github.com/jupyterhub/jupyterhub/blob/master/examples/cull-idle/jupyterhub_config.py) to the bottom of my existing `jupyterhub_config.py` file:

[code]

I see

[2016-09-20 03:27] whitead commented on #760
I've been working a lot with the DockerSpawner lately and I've found that often the errors are in the container and won't show-up in the hub log. You can use `docker ps -a` to see your docker containers and then `docker logs [container-id]` to see the relevant logs. Do you see any errors there?

Another thing to check is the networking. Run `docker exec -u root -it [container-id] bash` to drop to

[2016-09-20 03:51] nvenayak commented on #756
Found a solution that should work. There's an issue with the cookies not being read properly but that is another problem:

[code]

[2016-09-20 03:51] #756 closed

[2016-09-20 04:02] willingc commented on #765
@whitead It looks as if the `base_url` is not set in `jupyterhub_config.py`. Try adding the following to your `jupyterhub_config.py`:
[code]

This section and the following in the JupyterHub docs on services provide a bit more information on the url and the information passed between the Hub and the service:
https://jupyterhub.readthedocs.io/en/latest/services.html#properties-of-a-service

This is

[2016-09-20 04:04] willingc commented on #764
@minrk FYI...just merged updated docs for [jupyterlab-extension-builder](https://github.com/jupyter/jupyterlab-extension-builder/blob/master/README.md)

[2016-09-20 04:57] danielfrg opened #766 "Question: Multiple singleuser servers"
Is there plans (or interest) to add support for multiple single-user servers per user? I kinda see it in the [roadmap project sharing](https://github.com/jupyter/roadmap#next--1-08) but not sure how is that planned on being implemented, from what I can guess is basically multiple users pushing to the same git repo that is managed by one service in JupyterHub.

Is there interest on refactoring the

[2016-09-20 08:29] Loulybob commented on #760
Accessing the log I get this error repeated a bunch of times (probably for all the times I've been trying to run it):
[code]
Nosying around, I get the same error when using the command `docker run jupyterhub/systemuser`, so I feel as though it's somthing to do with that. I do get this same error when doing `docker run jupyterhub/systemuser` on my local machine but it does not affect jupyterhub's a

[2016-09-20 10:01] willingc commented on #766
Thanks @danielfrg for your thoughts and questions about the roadmap. @minrk would be the best person to provide insights into planning for release 0.8+. :sunny:

[2016-09-20 10:27] willingc commented on #752
Thanks for letting us know about your work with Kubernetes. :smile:

@minrk Thoughts?

[2016-09-20 10:34] whitead commented on #765
Hi, thank you for the reply. From what I understand, that is default value. I tried setting it to different options (including `'/'`) though and there was no change. I should mention that the `NoneType` problem is the `self.server` which is an `orm.py` `Server` class.

[2016-09-20 11:11] willingc commented on #765
@whitead Since services are still under development for the upcoming release, it's possible that you have uncovered a bug. Thanks for the additional detail. We'll take a look at the underlying code. If possible, please run with `--debug` and share with us. Thanks.

cc @minrk

[2016-09-20 11:39] whitead commented on #765
Well the services look like they'll be great when ready! I am on latest git repositories for everything, including Dockerspawner (where I just did a PR by the way) and configurable-http-proxy.

Here's more of the surrounding logfile. I've omitted my whitelist of users:

[code]

[2016-09-20 12:27] whitead commented on #765
So I won't pretend to understand if this is right or wrong, but here's a patch that fixes my problem. I'm pretty sure the missing ```@gen.coroutine``` is a bug, but I'm not sure if just removing the api prefix is correct. The issue is that managed services don't get access to an `orm.server` (see `jupyterhub/app.py:1020`) so they can't ever have an api prefix set.

[code]

I'll just leave this ope

[2016-09-20 13:01] willingc commented on #765
@whitead Thanks! Definitely useful since you've identified a root cause. Yes, please leave it open for @minrk. I'm going to look at the managed services tests as well.

[2016-09-20 14:06] slavenas commented on #742
I am in a very similar situation to ponomarevsy.  I might start digging into the redirect code, but am hoping for some guidance.

[2016-09-20 14:32] willingc commented on #742
@slavenas If you could share your configuration, os, and debug logs, it would be helpful. Thanks 👍

[2016-09-20 14:36] danielballan commented on #641
It looks like #687 is the same problem. Closed by #689.

[2016-09-20 14:36] #641 closed

[2016-09-20 14:37] willingc commented on #641
Thanks for following up @danielballan. 🏄

[2016-09-20 16:54] whitead commented on #760
If you check the web browser console (F12/dev tools/inspect element), is there any more information?

[2016-09-20 17:05] ryanlovett commented on #752
@danielfrg Were you aware of https://github.com/yuvipanda/jupyterhub-kubernetes-spawner? If so, how do the two compare?

[2016-09-20 17:47] willingc commented on #752
cc @yuvipanda

Thanks @ryanlovett for passing along.

[2016-09-20 18:50] yuvipanda commented on #752
Hah, awesome! @danielfrg would you be interested in merging these two into one that we can then put in the official repo?

[2016-09-20 19:11] willingc commented on #723
Here's a pass at some ideas for upgrading doc. Possibly more questions than answers currently re: our support:

## Definitions
db type: sqlite, postgres, mysql, others???
db fields: individual fields in a database table

## Basic use cases
- [ ] Simple upgrade - no database fields changed; no db type change
- [ ] Field changes  - database fields added, deleted or changed by a new JHub release/func

[2016-09-20 19:26] danielfrg commented on #752
Yes, I am definitely ok with that.

I would say the big difference is how they are connecting to the Kubernetes API. For mine I generated a bunch of code from the official [Kubernetes swagger definition](https://github.com/kubernetes/kubernetes/blob/master/api/swagger-spec/v1.json) using [swagger codegen](https://github.com/swagger-api/swagger-codegen) and I use that generated code as a REST clien

[2016-09-20 19:32] yuvipanda commented on #752
I've been meaning to move to using https://github.com/yuvipanda/kubesession
for connecting to it. My experience with codegen from swagger for an API as
big as k8s hasn't been very positive, especially since we're only using a
tiny subset of it. How tied are you to using that?

On Tue, Sep 20, 2016 at 12:26 PM, Daniel Rodriguez <notifications@github.com

--
Yuvi Panda T
http://yuvi.in/blog

[2016-09-20 20:45] slavenas commented on #742
@willingc I am using ubuntu16.04 on an openstackVM

[2016-09-20 20:50] slavenas commented on #742
@willingc in ~/jupyterhub_config.py
[code]
plus my oauth inputs (oauth is working)

[2016-09-20 20:51] danielfrg commented on #752
Since the API is so big I haven't tested all of it but I have had zero issues with it so far.

We are indeed using a small part of their API but if thats the issue we could remove the generated files that are not used.

I am not tied to using it but I like it since I don't didn't have to write it or maintain as much as a hand written version.

[2016-09-20 20:58] slavenas commented on #742
After hitting 'MyServer' I get page isn't ... too many redirects in the browser and the following in the terminal where I ran
[code]
which produces:
[code]

[2016-09-20 21:16] yuvipanda commented on #752
kubesession is just a small wrapper around requests that only does authentication and parsing .kube/config / serviceaccount files, and nothing else. It's a very tiny piece, so not that much maint, and is much easier to understand (at least for me!) vs codegen from swagger. So you'd make API requests like how you'd normally use requests (or the tornado http client, which is what we should be using)

[2016-09-20 21:25] danielfrg commented on #765
I also tried it and found the same error and same solution but I think instead of removing that env it has to be set to `self.proxy_path`.

[code]

[2016-09-20 21:50] danielfrg commented on #765
I also think the spawned processes for services are not being terminated but that might just be me testing.

[2016-09-20 22:00] danielfrg commented on #752
Yes, thats the question.

I agree that I don't **love** the generated code but I think it gives me a level of security when I start forming the pod spec based those generated objects instead of me just adding fields to a dictionary. That security might be a little false but its something i can hold to.

Another solution could be to use the generated code to generate a valid json Kubernetes spec an

[2016-09-21 08:02] Loulybob commented on #760
Not from what I can see. There's nothing in the dev tools console and it is the same html as the login page. It seems like it wants to fetch an error but it's unhandled and so it just hangs and stays on the login page.

[2016-09-21 10:40] minrk commented on #765
Great, thanks! The missing `coroutine` isn't a bug because these methods have no `yield`s, and service spawning is not async, unlike single-user servers and Spawners in general. The bug is that URL envs are being set, even for services that don't have a URL. It should be fixed #768.

[2016-09-21 16:38] whitead commented on #765
Interesting. With my version of Tornado it won't allow me to yield a non-coroutine and gave an error on [this line](https://github.com/jupyterhub/jupyterhub/blob/master/jupyterhub/app.py#L1442). That's why I had to add the coroutine decorators.

[2016-09-21 23:19] SruthiBhavanam commented on #647
Amerterasu , Do you have any update on this?

[2016-09-22 00:39] zer0n commented on #754
@minrk, do you know what the issue is? Do you need any extra information to understand the problem? Thanks.

[2016-09-22 00:49] willingc commented on #754
@zer0n You might wish to take a look at the example configuration with DockerSpawner in the jupyterhub-deploy-docker repo https://github.com/jupyterhub/jupyterhub-deploy-docker/blob/master/jupyterhub_config.py

[2016-09-22 03:46] yuvipanda commented on #752
I've thought about this some more, and I still think we shouldn't use the generated code, for the following reasons:

1. It's a very leaky abstraction. Ultimately we'll have to reason about what JSON goes on the wire and how it reacts, so it's not like we can actually forget about it. Using generated code only means we've to worry about two things instead of one now.
2. Kubernetes' API is actually

[2016-09-22 03:50] yuvipanda commented on #752
I also have some deployments that progress from less to more complex in https://github.com/yuvipanda/jupyterhub-simplest-k8s, so we should probably also collaborate on that. I'm currently trying to finish up https://github.com/yuvipanda/jupyterhub-singlenode-deploy to a solid end point (along with the systemd spawner) before moving back to the k8s work. I'm also travelling for the next few weeks s

[2016-09-22 04:24] zer0n commented on #754
It seems like something was wrong with the Docker service. The problem is gone after I did the following
- Stop and remove all containers `docker rm $(docker ps -a -q)`
- Restart JupyterHub

Closing the issue now. However, if someone has insights to what caused Docker failing to [get the port info of a container](https://github.com/jupyterhub/dockerspawner/blob/master/dockerspawner/dockerspawner.p

[2016-09-22 04:24] #754 closed

[2016-09-22 04:31] willingc commented on #754
@zer0n I'm glad that you got it working. Which command were you using to start the docker containers?

[2016-09-22 04:34] zer0n commented on #754
@willingc I didn't start the containers manually. I used the JupyterHub interface to start the notebook server, which starts a container under the hood.

[2016-09-22 04:43] danielfrg commented on #752
I don't fully agree with some of the comments.

1. The generated code does generate one extra layer of abstraction in order to generated a valid kubernetes json but I believe this is something we would have to add in anyway, even if its a `templates.py` file that has a bunch of dictionaries

2. Yes the Kubernetes API is well defined and its via swagger thats another reason I chose to use the gener

[2016-09-22 04:45] willingc commented on #754
@zer0n Just to clarify when you started the Hub itself were you running it in a docker container as described here https://github.com/jupyterhub/jupyterhub#docker or were you running the Hub directly on a server/vm instead of a Docker container?

[2016-09-22 04:47] zer0n commented on #754
@willingc I ran the Hub directly on the server.

[2016-09-22 04:54] willingc commented on #754
@zer0n Great. Thanks. I'll give it a test tomorrow when I'm in the office. If I see the same behavior, I'll reopen. Please do reopen if the behavior happens again. :cake:

[2016-09-22 06:25] zer0n commented on #754
@willingc I think I have figured out the cause. Will update this comment in a few minutes/hours.

[2016-09-22 08:59] minrk commented on #752
Are there no acceptable kubernetes Python APIs that can be used? The Kubernetes docs recommend [pykube](https://github.com/kelproject/pykube).

[2016-09-22 09:57] #765 closed

[2016-09-22 10:04] minrk commented on #765
You're right that you can't yield a non-async method. That's a typo in start, fix incoming.

[2016-09-22 10:05] minrk commented on #765
#769 removes an incorrect yield.

[2016-09-22 10:38] Loulybob commented on #760
Since it seems to be a problem with the proxy, I've set c.JupyterHub.debug_proxy = True and I've been comparing my successful setup with my unsuccessful one.

When pressing the start my server button, my working machine logs this:

[code]
Along with proxying some static assets as well.

Meanwhile, my bugged machine logs this:
[code]
The only part I can see is different is the ordering. On my worki

[2016-09-22 12:04] minrk commented on #760
In general JuptyerHub doesn't capture the logs of spawners launched with docker or other tools. You probably want to check the logs of the container:

    docker logs jupyter-test

I expect you will see something there that indicates it's not starting correctly.

[2016-09-22 12:39] willingc commented on #760
Documentation note: check docs on logging for JHub and add there or in the FAQ/Troubleshooting section.

[2016-09-22 12:40] Loulybob commented on #760
The docker container logs look relatively benign to me, which is what is confusing me as docker is the problem since it works fine with the default spawner.

[code]
This is the exact same log that I find when I run with DockerSpawner on my local machine

[2016-09-22 13:00] minrk commented on #750
Notebooks are generally stored in home directories by default. You can specify `Spawner.notebook_dir = '/path/to/%U` (`%U` will be replaced by the username) to a different directory.

[2016-09-22 13:02] minrk commented on #753
When nothing is given, there will be no admins and all users who can authenticate on the system (i.e. all the unix users on the server with a password) will be allowed to start a server. The whitelist lets you limit this to a particular set of users, and the admin_users lets you specify who among them may use the admin interface (not necessary, unless you need to do things like inspect other users

[2016-09-22 13:13] minrk commented on #759
There isn't an option for always guaranteeing that spawning a server is triggered at login at the moment, but it could be added.

[2016-09-22 13:16] willingc commented on #753
TODO: Check if @minrk's response is in docs. Add if it is not.

[2016-09-22 13:21] minrk commented on #760
That looks like docker-networking. Make sure to set `c.JupyterHub.hub_ip` to an IP address that the containers can access. If the Hub is on the host, one option is the docker virtual interface (sometimes called `docker0`)

[2016-09-22 13:30] minrk commented on #742
@slavenas make sure that you are **not** connecting directly to the ip,port of the Hub, but only the public IP of the proxy (default: 8000). The redirects you see suggest a connection directly to the Hub. The Hub should only get requests to `/user/:name` if you have bypassed the proxy.

[2016-09-22 13:44] Loulybob commented on #760
I get the same error when I've set `c.JupyterHub.hub_ip` to the same IP as `docker0` and I can successfully ping both `docker0` and my server's actual IP from the spawned container.

[2016-09-22 13:59] minrk commented on #760
And you can verify that the "Host" in the logged headers is the hub_ip value that you set and are pinging manually?

[2016-09-22 14:18] katsar0v commented on #759
@minrk How can I implement this locally?

When loging in without a custom authenticator, servers usually start automatically, when using an Authenticator Class, this does not happen anymore.

[2016-09-22 14:35] Loulybob commented on #760
Yes. I just rechecked and `hup_ip` is 172.17.0.1 (docker ip), every reference to host in the docker log is to my 172.17.0.1 and that's the address I can ping.

[2016-09-22 15:10] minrk commented on #760
Can you connect to port 8081, e.g. `curl -v http://172.17.0.1:8081`?

[2016-09-22 15:36] Loulybob commented on #760
Yes, I can connect via port 8081

[code]

[2016-09-22 15:55] hani1814 opened #770 "Unhandled error starting server: [Errno 13] Permission denied"
I have created a new install of jupyter hub using anaconda3. I have successfully started the server and managed to login. It get the following error after my credentials are verified.

Started hub with
/opt/app/anaconda3/bin/jupyterhub --no-ssl --debug

`[D 2016-09-22 15:50:28.246 JupyterHub application:529] Looking for jupyterhub_config in None
[D 2016-09-22 15:50:28.246 JupyterHub application:54

[2016-09-23 07:41] hani1814 commented on #770
By coincidence I entered

 export PATH="/opt/app/anaconda3/bin:$PATH"

and it now works

[2016-09-23 13:21] bourguig commented on #753
Thank you very much @minrk

[2016-09-23 13:55] olyerickson opened #772 "500 : Internal Server Error (Spawner failed to start)"
Immediately after user login (we're using PAM) we see the following:
[code]

Based on the documentation, we don't know where even to begin to diagnose the problem. Looking for some basic, fine-grained advice...Thanks!

[2016-09-23 14:55] jai11 commented on #735
doing some r&d what you said .. will give you my feed back

[2016-09-23 14:58] willingc commented on #772
Hi @olyerickson,

This troubleshooting FAQ section may help http://jupyterhub.readthedocs.io/en/latest/troubleshooting.html#error-after-spawning-my-single-user-server

If you could provide some of the information logged when starting JupyterHub with `--debug` that would be helpful. Thanks!

[2016-09-23 15:11] willingc commented on #755
@smartinsightsfromdata One thing that you to do is upgrade the version of node/npm in the container as it is currently using an old version of node/npm.

It's tough to debug this without seeing the Dockerfile. Here are places with well tested Dockerfiles used with Jupyter and JupyterHub which may be helpful to you:

- https://github.com/jupyter/docker-stacks
- https://github.com/jupyterhub/jupyter

[2016-09-23 15:48] olyerickson commented on #772
Our sysadmin fixed by modifying the config file to point to shared places. Added a couple configuration sections to /etc/apache2/sites-enabled/000-default.conf for /jupyter, /hub and /user

[2016-09-23 15:48] #772 closed

[2016-09-23 15:50] willingc commented on #772
Great! Thanks for the update @olyerickson. Feel free to ping us with questions in the future, if needed.

[2016-09-23 16:11] olyerickson opened #773 "JupyterHub "sees" R and Py3 kernels but can't connect"
After launching the user's notebook server, Jupyter "sees" that the R and Python3 kernels are available (via the drop-down) but times out when trying to connect to the kernel.

[2016-09-23 18:09] willingc commented on #773
Which error are you seeing? 500? If you provide part of the debug log, that would be helpful.

I suspect that there are one of two things that may be causing this:

1. the `cookie_secret` key is not valid. This could happen if the hub was changed and restarted. http://jupyterhub.readthedocs.io/en/latest/getting-started.html#cookie-secret If the `cookie_secret` is changed on the hub, all the single

[2016-09-23 19:01] olyerickson commented on #773
We weren't seeing an error _per se_; we saw "Connecting to kernel" in the upper-right of the notebook, to the left of the kernel indicator and the kernel status.

Our sysadmin fixed it; he said, "The JavaScript was trying to connect to the server using Websockets. Had to add some configuration to allow that to happen. There were some widgets that needed to be installed and enabled as well...."

FW

[2016-09-23 19:01] #773 closed

[2016-09-23 20:26] willingc commented on #773
We recognize that there is a lot of variability in both the options that can be set for JupyterHub as well as the environments that it is deployed. We've recently added a few things to help the user:
- reference deployment repos for teaching, hpc, and docker
- tutorial repo that walks a user through deploying a "vanilla" jupyterhub system on bare metal
We are working on a flow chart to guide users

[2016-09-23 21:59] cindyburian opened #774 "error: [ConfigProxy] Uncaught Exception Error"
I'm trying to get jupyterhub running, and am getting this error when trying to start it:

[root@tyrion jupyterhub]# sudo -u swi /apps/prediction/thirdparty.el6/python-3.5.2/bin/jupyterhub
[I 2016-09-23 15:54:27.035 JupyterHub app:622] Loading cookie_secret from /apps/prediction/thirdparty.el6/jupyterhub/ssl/cookie_secret
[I 2016-09-23 15:54:27.100 JupyterHub app:785] Not using whitelist. Any authe

[2016-09-24 18:54] yuvipanda opened #775 "Proxy entries not cleaned up when single user servers are stopped"
I'm running the proxy and the hub separately in installs (this allows me to restart them independently). This leads to some issues when the hub is restarted but the proxy isn't.

1. Hub calls user.stop() on all currently running users
2. This stops all the running singleuser services, but doesn't actually remove entries from the proxy!
3. Hub comes back, correctly determins there are no singleuser

[2016-09-24 23:44] Amerterasu commented on #647
Sorry for the late response. I can't seem to find how this problem is caused. A core developer will probably know more about this.

[2016-09-25 12:38] #763 closed

[2016-09-25 12:43] minrk commented on #760
Then I really cannot explain why `curl` in the same container can make connections to the same ip, address than `requests` in that exact container cannot. That makes no sense to me.

[2016-09-25 13:07] minrk commented on #774
EACCES suggests that the user running the proxy does not have permission to listen on the privileged port 443. By default, you must be root to do this. You can grant node permission to do this without sudo [with setcap](https://gist.github.com/firstdoit/6389682):

    sudo setcap 'cap_net_bind_service=+ep' `which node`

[2016-09-25 13:08] minrk commented on #775
Agreed. It checks that all the routes for running containers are present, and fills them in if not, but it doesn't do the opposite - finding routes for *not* running users, and removing those.

[2016-09-25 13:09] minrk commented on #647
Can you stop the server and then delete the user?

[2016-09-25 13:18] willingc commented on #760
@minrk looking back at the logs [here](https://github.com/jupyterhub/jupyterhub/issues/760#issuecomment-248866609), I think that the second system does not have a suitable cookie_secret set while the first system does. Perhaps adding or changing the cookie_secret on the second system would resolve.

[2016-09-26 10:25] micha-f commented on #766
We are also interested in this. In our case we'd like to use the docker spawner to spawn multiple containers per user - with different settings per notebook. We'd be happy to contribute if there is an agreement on whether and how to implement support for multiple servers per user.

[2016-09-26 12:06] minrk commented on #766
This is definitely planned. Changing server from a singleton to a list in the ORM is not very complicated. The challenge is more in the UI and REST API. We would need:

1. UI for listing and managing servers, rather than a single stop/start buttons.
2. Same thing for the admin page (a little more complex, since it's much more information)
3. last_activity needs to be added as a server-level data p

[2016-09-26 13:50] parente commented on #766
We're also interested in this for giving users the ability to run classic notebook and new jupyter lab separately. (Running both out of the same server instance has some sideeffects like clicking the Jupyter logo always returning the user to /lab even when they were in a classic notebook). My stopgap is to bring up a second jupyterhub instance, but a single hub instance that can manage multiple se

[2016-09-26 20:31] yourinoelnelson commented on #317
[code]
When I run the launch.sh file included above ( I got it from the tutorial) I get the following error:

I am running Centos 7. For whatever reason that `source env` is causing an error, any idea why?

Thank you for your help.

[2016-09-26 21:51] mkgilbert opened #781 "nginx configuration $connection_upgrade variable"
Going through the nginx reverse proxy configuration using nginx version 1.10.1 (docs/source/config-examples.md), $connection_upgrade throws an error and won't allow nginx to start. If this is variable is changed to the string "upgrade", it starts without issue.

[2016-09-26 23:16] willingc commented on #781
@mkgilbert When you look at your nginx config file, do you see the following?

[code]

See item 6 in the nginx doc https://www.nginx.com/blog/websocket-nginx/

I suspect that this was omitted in the doc you reference as it was a partial listing of the config file focused more on HTTPS and SSL. We should loop back and include the entire file to the docs.

Please let me know if the above resolves yo